{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "accessapproval:v1",
  "name": "accessapproval",
  "canonicalName": "Access Approval",
  "version": "v1",
  "revision": "0",
  "title": "Access Approval API",
  "description": "An API for controlling access to data by Google personnel.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/access-approval/docs",
  "protocol": "rest",
  "rootUrl": "https://accessapproval.googleapis.com/",
  "mtlsRootUrl": "https://accessapproval.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://accessapproval.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListApprovalRequestsResponse": {
      "id": "ListApprovalRequestsResponse",
      "description": "Response to listing of ApprovalRequest objects.",
      "type": "object",
      "properties": {
        "approvalRequests": {
          "description": "Approval request details.",
          "type": "array",
          "items": {
            "$ref": "ApprovalRequest"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more.",
          "type": "string"
        }
      }
    },
    "ApprovalRequest": {
      "id": "ApprovalRequest",
      "description": "A request for the customer to approve access to a resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the request. Format is\n\"{projects|folders|organizations}\/{id}\/approvalRequests\/{approval_request_id}\".",
          "type": "string"
        },
        "requestedResourceName": {
          "description": "The resource for which approval is being requested. The format of the\nresource name is defined at\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names. The resource name here\nmay either be a \"full\" resource name (e.g.\n\"\/\/library.googleapis.com\/shelves\/shelf1\/books\/book2\") or a \"relative\"\nresource name (e.g. \"shelves\/shelf1\/books\/book2\") as described in the\nresource name specification.",
          "type": "string"
        },
        "requestedResourceProperties": {
          "description": "Properties related to the resource represented by requested_resource_name.",
          "$ref": "ResourceProperties"
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "requestedLocations": {
          "description": "The locations for which approval is being requested.",
          "$ref": "AccessLocations"
        },
        "requestTime": {
          "description": "The time at which approval was requested.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedExpiration": {
          "description": "The requested expiration for the approval. If the request is approved,\naccess will be granted from the time of approval until the expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "approve": {
          "description": "Access was approved.",
          "$ref": "ApproveDecision"
        },
        "dismiss": {
          "description": "The request was dismissed.",
          "$ref": "DismissDecision"
        }
      }
    },
    "ResourceProperties": {
      "id": "ResourceProperties",
      "description": "The properties associated with the resource of the request.",
      "type": "object",
      "properties": {
        "excludesDescendants": {
          "description": "Whether an approval will exclude the descendants of the resource being\nrequested.",
          "type": "boolean"
        }
      }
    },
    "AccessReason": {
      "id": "AccessReason",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of access justification.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to\naccess customer data. `detail` is of the form (\"#####\" is the issue ID):\n<ol>\n  <li>\"Feedback Report: #####\"<\/li>\n  <li>\"Case Number: #####\"<\/li>\n  <li>\"Case ID: #####\"<\/li>\n  <li>\"E-PIN Reference: #####\"<\/li>\n  <li>\"Google-#####\"<\/li>\n  <li>\"T-#####\"<\/li>\n<\/ol>",
            "The principal accessed customer data in order to diagnose or resolve a\nsuspected issue in services or a known outage. Often this access is used\nto confirm that customers are not affected by a suspected service issue\nor to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance\npurposes."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW"
          ]
        },
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        }
      }
    },
    "AccessLocations": {
      "id": "AccessLocations",
      "description": "Home office and physical location of the principal.",
      "type": "object",
      "properties": {
        "principalOfficeCountry": {
          "description": "The \"home office\" location of the principal. A two-letter country code\n(ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some\nlimited situations Google systems may refer refer to a region code instead\nof a country code.\nPossible Region Codes:\n<ol>\n  <li>ASI: Asia<\/li>\n  <li>EUR: Europe<\/li>\n  <li>OCE: Oceania<\/li>\n  <li>AFR: Africa<\/li>\n  <li>NAM: North America<\/li>\n  <li>SAM: South America<\/li>\n  <li>ANT: Antarctica<\/li>\n  <li>ANY: Any location<\/li>\n<\/ol>",
          "type": "string"
        },
        "principalPhysicalLocationCountry": {
          "description": "Physical location of the principal at the time of the access. A\ntwo-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or\na region code. In some limited situations Google systems may refer refer to\na region code instead of a country code.\nPossible Region Codes:\n<ol>\n  <li>ASI: Asia<\/li>\n  <li>EUR: Europe<\/li>\n  <li>OCE: Oceania<\/li>\n  <li>AFR: Africa<\/li>\n  <li>NAM: North America<\/li>\n  <li>SAM: South America<\/li>\n  <li>ANT: Antarctica<\/li>\n  <li>ANY: Any location<\/li>\n<\/ol>",
          "type": "string"
        }
      }
    },
    "ApproveDecision": {
      "id": "ApproveDecision",
      "description": "A decision that has been made to approve access to a resource.",
      "type": "object",
      "properties": {
        "approveTime": {
          "description": "The time at which approval was granted.",
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "The time at which the approval expires.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DismissDecision": {
      "id": "DismissDecision",
      "description": "A decision that has been made to dismiss an approval request.",
      "type": "object",
      "properties": {
        "dismissTime": {
          "description": "The time at which the approval request was dismissed.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ApproveApprovalRequestMessage": {
      "id": "ApproveApprovalRequestMessage",
      "description": "Request to approve an ApprovalRequest.",
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "The expiration time of this approval.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DismissApprovalRequestMessage": {
      "id": "DismissApprovalRequestMessage",
      "description": "Request to dismiss an approval request.",
      "type": "object",
      "properties": {
      }
    },
    "AccessApprovalSettings": {
      "id": "AccessApprovalSettings",
      "description": "Settings on a Project\/Folder\/Organization related to Access Approval.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the settings. Format is one of:\n<ol>\n  <li>\"projects\/{project_id}\/accessApprovalSettings\"<\/li>\n  <li>\"folders\/{folder_id}\/accessApprovalSettings\"<\/li>\n  <li>\"organizations\/{organization_id}\/accessApprovalSettings\"<\/li>\n<ol>",
          "type": "string"
        },
        "notificationEmails": {
          "description": "A list of email addresses to which notifications relating to approval\nrequests should be sent. Notifications relating to a resource will be sent\nto all emails in the settings of ancestor resources of that resource. A\nmaximum of 50 email addresses are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enrolledServices": {
          "description": "A list of Google Cloud Services for which the given resource has Access\nApproval enrolled. Access requests for the resource given by name against\nany of these services contained here will be required to have explicit\napproval. If name refers to an organization, enrollment can be done for\nindividual services. If name refers to a folder or project, enrollment can\nonly be done on an all or nothing basis.\n\nIf a cloud_product is repeated in this list, the first entry will be\nhonored and all following entries will be discarded. A maximum of 10\nenrolled services will be enforced, to be expanded as the set of supported\nservices is expanded.",
          "type": "array",
          "items": {
            "$ref": "EnrolledService"
          }
        },
        "enrolledAncestor": {
          "description": "Output only. This field is read only (not settable via\nUpdateAccessAccessApprovalSettings method). If the field is true, that\nindicates that at least one service is enrolled for Access Approval in one\nor more ancestors of the Project or Folder (this field will always be\nunset for the organization since organizations do not have ancestors).",
          "type": "boolean"
        }
      }
    },
    "EnrolledService": {
      "id": "EnrolledService",
      "description": "Represents the enrollment of a cloud resource into a specific service.",
      "type": "object",
      "properties": {
        "cloudProduct": {
          "description": "The product for which Access Approval will be enrolled. Allowed values are\nlisted below (case-sensitive):\n<ol>\n  <li>all<\/li>\n  <li>appengine.googleapis.com<\/li>\n  <li>bigquery.googleapis.com<\/li>\n  <li>bigtable.googleapis.com<\/li>\n  <li>cloudkms.googleapis.com<\/li>\n  <li>compute.googleapis.com<\/li>\n  <li>dataflow.googleapis.com<\/li>\n  <li>iam.googleapis.com<\/li>\n  <li>pubsub.googleapis.com<\/li>\n  <li>storage.googleapis.com<\/li>\n<ol>",
          "type": "string"
        },
        "enrollmentLevel": {
          "description": "The enrollment level of the service.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Service is enrolled in Access Approval for all requests"
          ],
          "type": "string",
          "enum": [
            "ENROLLMENT_LEVEL_UNSPECIFIED",
            "BLOCK_ALL"
          ]
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "getAccessApprovalSettings": {
          "id": "accessapproval.projects.getAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "location": "path",
              "required": true,
              "pattern": "^projects\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings associated with a project, folder, or organization."
        },
        "updateAccessApprovalSettings": {
          "id": "accessapproval.projects.updateAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The resource name of the settings. Format is one of:\n<ol>\n  <li>\"projects\/{project_id}\/accessApprovalSettings\"<\/li>\n  <li>\"folders\/{folder_id}\/accessApprovalSettings\"<\/li>\n  <li>\"organizations\/{organization_id}\/accessApprovalSettings\"<\/li>\n<ol>",
              "location": "path",
              "required": true,
              "pattern": "^projects\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of\nAccessApprovalSettings (notification_emails & enrolled_services) are\nsupported. For each field, if it is included, the currently stored value\nwill be entirely overwritten with the value of the field passed in this\nrequest.\n\nFor the `FieldMask` definition, see\nhttps:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask\nIf this field is left unset, only the notification_emails field will be\nupdated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the settings associated with a project, folder, or organization.\nSettings to update are determined by the value of field_mask."
        },
        "deleteAccessApprovalSettings": {
          "id": "accessapproval.projects.deleteAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to delete.",
              "location": "path",
              "required": true,
              "pattern": "^projects\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the settings associated with a project, folder, or organization.\nThis will have the effect of disabling Access Approval for the project,\nfolder, or organization, but only if all ancestors also have Access\nApproval disabled. If Access Approval is enabled at a higher level of the\nhierarchy, then Access Approval will still be enabled at this level as\nthe settings are inherited."
        }
      }
      ,
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "id": "accessapproval.projects.approvalRequests.list",
              "path": "v1/{+parent}/approvalRequests",
              "flatPath": "v1/projects/{projectsId}/approvalRequests",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The parent resource. This may be \"projects\/{project_id}\",\n\"folders\/{folder_id}\", or \"organizations\/{organization_id}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the\nfollowing values:\n<ol>\n  <li>[not set]: Requests that are pending or have active approvals.<\/li>\n  <li>ALL: All requests.<\/li>\n  <li>PENDING: Only pending requests.<\/li>\n  <li>ACTIVE: Only active (i.e. currently approved) requests.<\/li>\n  <li>DISMISSED: Only dismissed (including expired) requests.<\/li>\n<\/ol>",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization.\nApproval requests can be filtered by state (pending, active, dismissed).\nThe order is reverse chronological."
            },
            "get": {
              "id": "accessapproval.projects.approvalRequests.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
            },
            "approve": {
              "id": "accessapproval.projects.approvalRequests.approve",
              "path": "v1/{+name}:approve",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest.\n\nReturns NOT_FOUND if the request does not exist. Returns\nFAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "dismiss": {
              "id": "accessapproval.projects.approvalRequests.dismiss",
              "path": "v1/{+name}:dismiss",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest.\n\nNOTE: This does not deny access to the resource if another request has been\nmade and approved. It is equivalent in effect to ignoring the request\naltogether.\n\nReturns NOT_FOUND if the request does not exist.\n\nReturns FAILED_PRECONDITION if the request exists but is not in a pending\nstate."
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "getAccessApprovalSettings": {
          "id": "accessapproval.folders.getAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "location": "path",
              "required": true,
              "pattern": "^folders\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings associated with a project, folder, or organization."
        },
        "updateAccessApprovalSettings": {
          "id": "accessapproval.folders.updateAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The resource name of the settings. Format is one of:\n<ol>\n  <li>\"projects\/{project_id}\/accessApprovalSettings\"<\/li>\n  <li>\"folders\/{folder_id}\/accessApprovalSettings\"<\/li>\n  <li>\"organizations\/{organization_id}\/accessApprovalSettings\"<\/li>\n<ol>",
              "location": "path",
              "required": true,
              "pattern": "^folders\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of\nAccessApprovalSettings (notification_emails & enrolled_services) are\nsupported. For each field, if it is included, the currently stored value\nwill be entirely overwritten with the value of the field passed in this\nrequest.\n\nFor the `FieldMask` definition, see\nhttps:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask\nIf this field is left unset, only the notification_emails field will be\nupdated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the settings associated with a project, folder, or organization.\nSettings to update are determined by the value of field_mask."
        },
        "deleteAccessApprovalSettings": {
          "id": "accessapproval.folders.deleteAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to delete.",
              "location": "path",
              "required": true,
              "pattern": "^folders\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the settings associated with a project, folder, or organization.\nThis will have the effect of disabling Access Approval for the project,\nfolder, or organization, but only if all ancestors also have Access\nApproval disabled. If Access Approval is enabled at a higher level of the\nhierarchy, then Access Approval will still be enabled at this level as\nthe settings are inherited."
        }
      }
      ,
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "id": "accessapproval.folders.approvalRequests.list",
              "path": "v1/{+parent}/approvalRequests",
              "flatPath": "v1/folders/{foldersId}/approvalRequests",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The parent resource. This may be \"projects\/{project_id}\",\n\"folders\/{folder_id}\", or \"organizations\/{organization_id}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the\nfollowing values:\n<ol>\n  <li>[not set]: Requests that are pending or have active approvals.<\/li>\n  <li>ALL: All requests.<\/li>\n  <li>PENDING: Only pending requests.<\/li>\n  <li>ACTIVE: Only active (i.e. currently approved) requests.<\/li>\n  <li>DISMISSED: Only dismissed (including expired) requests.<\/li>\n<\/ol>",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization.\nApproval requests can be filtered by state (pending, active, dismissed).\nThe order is reverse chronological."
            },
            "get": {
              "id": "accessapproval.folders.approvalRequests.get",
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
            },
            "approve": {
              "id": "accessapproval.folders.approvalRequests.approve",
              "path": "v1/{+name}:approve",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest.\n\nReturns NOT_FOUND if the request does not exist. Returns\nFAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "dismiss": {
              "id": "accessapproval.folders.approvalRequests.dismiss",
              "path": "v1/{+name}:dismiss",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest.\n\nNOTE: This does not deny access to the resource if another request has been\nmade and approved. It is equivalent in effect to ignoring the request\naltogether.\n\nReturns NOT_FOUND if the request does not exist.\n\nReturns FAILED_PRECONDITION if the request exists but is not in a pending\nstate."
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getAccessApprovalSettings": {
          "id": "accessapproval.organizations.getAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "location": "path",
              "required": true,
              "pattern": "^organizations\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings associated with a project, folder, or organization."
        },
        "updateAccessApprovalSettings": {
          "id": "accessapproval.organizations.updateAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The resource name of the settings. Format is one of:\n<ol>\n  <li>\"projects\/{project_id}\/accessApprovalSettings\"<\/li>\n  <li>\"folders\/{folder_id}\/accessApprovalSettings\"<\/li>\n  <li>\"organizations\/{organization_id}\/accessApprovalSettings\"<\/li>\n<ol>",
              "location": "path",
              "required": true,
              "pattern": "^organizations\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of\nAccessApprovalSettings (notification_emails & enrolled_services) are\nsupported. For each field, if it is included, the currently stored value\nwill be entirely overwritten with the value of the field passed in this\nrequest.\n\nFor the `FieldMask` definition, see\nhttps:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask\nIf this field is left unset, only the notification_emails field will be\nupdated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the settings associated with a project, folder, or organization.\nSettings to update are determined by the value of field_mask."
        },
        "deleteAccessApprovalSettings": {
          "id": "accessapproval.organizations.deleteAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to delete.",
              "location": "path",
              "required": true,
              "pattern": "^organizations\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the settings associated with a project, folder, or organization.\nThis will have the effect of disabling Access Approval for the project,\nfolder, or organization, but only if all ancestors also have Access\nApproval disabled. If Access Approval is enabled at a higher level of the\nhierarchy, then Access Approval will still be enabled at this level as\nthe settings are inherited."
        }
      }
      ,
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "id": "accessapproval.organizations.approvalRequests.list",
              "path": "v1/{+parent}/approvalRequests",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The parent resource. This may be \"projects\/{project_id}\",\n\"folders\/{folder_id}\", or \"organizations\/{organization_id}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the\nfollowing values:\n<ol>\n  <li>[not set]: Requests that are pending or have active approvals.<\/li>\n  <li>ALL: All requests.<\/li>\n  <li>PENDING: Only pending requests.<\/li>\n  <li>ACTIVE: Only active (i.e. currently approved) requests.<\/li>\n  <li>DISMISSED: Only dismissed (including expired) requests.<\/li>\n<\/ol>",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization.\nApproval requests can be filtered by state (pending, active, dismissed).\nThe order is reverse chronological."
            },
            "get": {
              "id": "accessapproval.organizations.approvalRequests.get",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
            },
            "approve": {
              "id": "accessapproval.organizations.approvalRequests.approve",
              "path": "v1/{+name}:approve",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest.\n\nReturns NOT_FOUND if the request does not exist. Returns\nFAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "dismiss": {
              "id": "accessapproval.organizations.approvalRequests.dismiss",
              "path": "v1/{+name}:dismiss",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest.\n\nNOTE: This does not deny access to the resource if another request has been\nmade and approved. It is equivalent in effect to ignoring the request\naltogether.\n\nReturns NOT_FOUND if the request does not exist.\n\nReturns FAILED_PRECONDITION if the request exists but is not in a pending\nstate."
            }
          }
        }
      }
    }
  },
  "basePath": ""
}