{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "dlp:v2",
  "name": "dlp",
  "canonicalName": "DLP",
  "version": "v2",
  "revision": "0",
  "title": "Cloud Data Loss Prevention (DLP) API",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "protocol": "rest",
  "rootUrl": "https://dlp.googleapis.com/",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://dlp.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GooglePrivacyDlpV2InspectContentRequest": {
      "id": "GooglePrivacyDlpV2InspectContentRequest",
      "description": "Request to search for potentially sensitive info in a ContentItem.",
      "type": "object",
      "properties": {
        "inspectConfig": {
          "description": "Configuration for the inspector. What specified here will override\nthe template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in\ninspect_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "locationId": {
          "description": "The geographic location to process content inspection. Reserved for future\nextensions.\nWhen inspecting images location is restricted to 'global', 'us', 'asia',\nand 'europe'.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "id": "GooglePrivacyDlpV2InspectConfig",
      "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or listed at\nhttps:\/\/cloud.google.com\/dlp\/docs\/infotypes-reference.\n\nWhen no InfoTypes or CustomInfoTypes are specified in a request, the\nsystem may automatically choose what detectors to run. By default this may\nbe all types, but may change over time as detectors are updated.\n\nIf you need precise control and predictability as to what detectors are\nrun you should specify specific InfoTypes listed in the reference,\notherwise a default list will be used, which may change over time.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "minLikelihood": {
          "description": "Only returns findings equal or above this threshold. The default is\nPOSSIBLE.\nSee https:\/\/cloud.google.com\/dlp\/docs\/likelihood to learn more.",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "limits": {
          "description": "Configuration to control the number of findings returned.",
          "$ref": "GooglePrivacyDlpV2FindingLimits"
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is\nincluded in the response; see Finding.quote.",
          "type": "boolean"
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings.",
          "type": "boolean"
        },
        "customInfoTypes": {
          "description": "CustomInfoTypes provided by the user. See\nhttps:\/\/cloud.google.com\/dlp\/docs\/creating-custom-infotypes to learn more.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          }
        },
        "contentOptions": {
          "description": "List of options defining data content to scan.\nIf empty, text, images, and other content will be included.",
          "enumDescriptions": [
            "Includes entire content of a file or a data stream.",
            "Text content within the data, excluding any metadata.",
            "Images found in the data."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ]
          }
        },
        "ruleSet": {
          "description": "Set of rules to apply to the findings for this InspectConfig.\nExclusion rules, contained in the set are executed in the end, other\nrules are executed in the order they are specified for each info type.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          }
        }
      }
    },
    "GooglePrivacyDlpV2InfoType": {
      "id": "GooglePrivacyDlpV2InfoType",
      "description": "Type of information detected by the API.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the information type. Either a name of your choosing when\ncreating a CustomInfoType, or one of the names listed\nat https:\/\/cloud.google.com\/dlp\/docs\/infotypes-reference when specifying\na built-in type. InfoType names should conform to the pattern\n[a-zA-Z0-9_]{1,64}.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2FindingLimits": {
      "id": "GooglePrivacyDlpV2FindingLimits",
      "description": "Configuration to control the number of findings returned.",
      "type": "object",
      "properties": {
        "maxFindingsPerItem": {
          "description": "Max number of findings that will be returned for each item scanned.\nWhen set within `InspectJobConfig`,\nthe maximum returned is 2000 regardless if this is set higher.\nWhen set within `InspectContentRequest`, this field is ignored.",
          "type": "integer",
          "format": "int32"
        },
        "maxFindingsPerRequest": {
          "description": "Max number of findings that will be returned per request\/job.\nWhen set within `InspectContentRequest`, the maximum returned is 2000\nregardless if this is set higher.",
          "type": "integer",
          "format": "int32"
        },
        "maxFindingsPerInfoType": {
          "description": "Configuration of findings limit given for specified infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLimit"
          }
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeLimit": {
      "id": "GooglePrivacyDlpV2InfoTypeLimit",
      "description": "Max findings configuration per infoType, per content item or long\nrunning DlpJob.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Type of information the findings limit applies to. Only one limit per\ninfo_type should be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the limit against all info_types that\nare found but not specified in another InfoTypeLimit.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "maxFindings": {
          "description": "Max findings limit for the given infoType.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "id": "GooglePrivacyDlpV2CustomInfoType",
      "description": "Custom information type provided by the user. Used to find domain-specific\nsensitive information configurable to the data in question.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "CustomInfoType can either be a new infoType, or an extension of built-in\ninfoType, when the name matches one of existing infoTypes and that infoType\nis specified in `InspectContent.info_types` field. Specifying the latter\nadds findings to the one detected by the system. If built-in info type is\nnot specified in `InspectContent.info_types` list then the name is treated\nas a custom info type.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "likelihood": {
          "description": "Likelihood to return for this CustomInfoType. This base value can be\naltered by a detection rule if the finding meets the criteria specified by\nthe rule. Defaults to `VERY_LIKELY` if not specified.",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "dictionary": {
          "description": "A list of phrases to detect as a CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "regex": {
          "description": "Regular expression based CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "surrogateType": {
          "description": "Message for detecting output from deidentification transformations that\nsupport reversing.",
          "$ref": "GooglePrivacyDlpV2SurrogateType"
        },
        "storedType": {
          "description": "Load an existing `StoredInfoType` resource for use in\n`InspectDataSource`. Not currently supported in `InspectContent`.",
          "$ref": "GooglePrivacyDlpV2StoredType"
        },
        "detectionRules": {
          "description": "Set of detection rules to apply to all findings of this CustomInfoType.\nRules are applied in order that they are specified. Not supported for the\n`surrogate_type` CustomInfoType.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          }
        },
        "exclusionType": {
          "description": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding\nto be returned. It still can be used for rules matching.",
          "enumDescriptions": [
            "A finding of this custom info type will not be excluded from results.",
            "A finding of this custom info type will be excluded from final results,\nbut can still affect rule execution."
          ],
          "type": "string",
          "enum": [
            "EXCLUSION_TYPE_UNSPECIFIED",
            "EXCLUSION_TYPE_EXCLUDE"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2Dictionary": {
      "id": "GooglePrivacyDlpV2Dictionary",
      "description": "Custom information type based on a dictionary of words or phrases. This can\nbe used to match sensitive information specific to the data, such as a list\nof employee IDs or job titles.\n\nDictionary words are case-insensitive and all characters other than letters\nand digits in the unicode [Basic Multilingual\nPlane](https:\/\/en.wikipedia.org\/wiki\/Plane_%28Unicode%29#Basic_Multilingual_Plane)\nwill be replaced with whitespace when scanning for matches, so the\ndictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\",\n\"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters\nsurrounding any match must be of a different type than the adjacent\ncharacters within the word, so letters must be next to non-letters and\ndigits next to non-digits. For example, the dictionary word \"jen\" will\nmatch the first three letters of the text \"jen123\" but will return no\nmatches for \"jennifer\".\n\nDictionary words containing a large number of characters that are not\nletters or digits may result in unexpected findings because such characters\nare treated as whitespace. The\n[limits](https:\/\/cloud.google.com\/dlp\/limits) page contains details about\nthe size limits of dictionaries. For dictionaries that do not fit within\nthese constraints, consider using `LargeCustomDictionaryConfig` in the\n`StoredInfoType` API.",
      "type": "object",
      "properties": {
        "wordList": {
          "description": "List of words or phrases to search for.",
          "$ref": "GooglePrivacyDlpV2WordList"
        },
        "cloudStoragePath": {
          "description": "Newline-delimited file of words in Cloud Storage. Only a single file\nis accepted.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        }
      }
    },
    "GooglePrivacyDlpV2WordList": {
      "id": "GooglePrivacyDlpV2WordList",
      "description": "Message defining a list of words or phrases to search for in the data.",
      "type": "object",
      "properties": {
        "words": {
          "description": "Words or phrases defining the dictionary. The dictionary must contain\nat least one phrase and every phrase must contain at least 2 characters\nthat are letters or digits. [required]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "id": "GooglePrivacyDlpV2CloudStoragePath",
      "description": "Message representing a single file or path in Cloud Storage.",
      "type": "object",
      "properties": {
        "path": {
          "description": "A url representing a file or path (no wildcards) in Cloud Storage.\nExample: gs:\/\/[BUCKET_NAME]\/dictionary.txt",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Regex": {
      "id": "GooglePrivacyDlpV2Regex",
      "description": "Message defining a custom regular expression.",
      "type": "object",
      "properties": {
        "pattern": {
          "description": "Pattern defining the regular expression. Its syntax\n(https:\/\/github.com\/google\/re2\/wiki\/Syntax) can be found under the\ngoogle\/re2 repository on GitHub.",
          "type": "string"
        },
        "groupIndexes": {
          "description": "The index of the submatch to extract as findings. When not\nspecified, the entire match is returned. No more than 3 may be included.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "id": "GooglePrivacyDlpV2SurrogateType",
      "description": "Message for detecting output from deidentification transformations\nsuch as\n[`CryptoReplaceFfxFpeConfig`](\/dlp\/docs\/reference\/rest\/v2\/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig).\nThese types of transformations are\nthose that perform pseudonymization, thereby producing a \"surrogate\" as\noutput. This should be used in conjunction with a field on the\ntransformation such as `surrogate_info_type`. This CustomInfoType does\nnot support the use of `detection_rules`.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2StoredType": {
      "id": "GooglePrivacyDlpV2StoredType",
      "description": "A reference to a StoredInfoType to use with scanning.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the requested `StoredInfoType`, for example\n`organizations\/433245324\/storedInfoTypes\/432452342` or\n`projects\/project-id\/storedInfoTypes\/432452342`.",
          "type": "string"
        },
        "createTime": {
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for\ninspection was created. Output-only field, populated by the system.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "id": "GooglePrivacyDlpV2DetectionRule",
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a\n`CustomInfoType` to alter behavior under certain circumstances, depending\non the specific details of the rule. Not supported for the `surrogate_type`\ncustom infoType.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      }
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "id": "GooglePrivacyDlpV2HotwordRule",
      "description": "The rule that adjusts the likelihood of findings within a certain\nproximity of hotwords.",
      "type": "object",
      "properties": {
        "hotwordRegex": {
          "description": "Regular expression pattern defining what qualifies as a hotword.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "proximity": {
          "description": "Proximity of the finding within which the entire hotword must reside.\nThe total length of the window cannot exceed 1000 characters. Note that\nthe finding itself will be included in the window, so that hotwords may\nbe used to match substrings of the finding itself. For example, the\ncertainty of a phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" could be\nadjusted upwards if the area code is known to be the local area code of\na company office using the hotword regex \"\\(xxx\\)\", where \"xxx\"\nis the area code in question.",
          "$ref": "GooglePrivacyDlpV2Proximity"
        },
        "likelihoodAdjustment": {
          "description": "Likelihood adjustment to apply to all matching findings.",
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment"
        }
      }
    },
    "GooglePrivacyDlpV2Proximity": {
      "id": "GooglePrivacyDlpV2Proximity",
      "description": "Message for specifying a window around a finding to apply a detection\nrule.",
      "type": "object",
      "properties": {
        "windowBefore": {
          "description": "Number of characters before the finding to consider.",
          "type": "integer",
          "format": "int32"
        },
        "windowAfter": {
          "description": "Number of characters after the finding to consider.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment",
      "description": "Message for specifying an adjustment to the likelihood of a finding as\npart of a detection rule.",
      "type": "object",
      "properties": {
        "fixedLikelihood": {
          "description": "Set the likelihood of a finding to a fixed value.",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "relativeLikelihood": {
          "description": "Increase or decrease the likelihood by the specified number of\nlevels. For example, if a finding would be `POSSIBLE` without the\ndetection rule and `relative_likelihood` is 1, then it is upgraded to\n`LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`.\nLikelihood may never drop below `VERY_UNLIKELY` or exceed\n`VERY_LIKELY`, so applying an adjustment of 1 followed by an\nadjustment of -1 when base likelihood is `VERY_LIKELY` will result in\na final likelihood of `LIKELY`.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2InspectionRuleSet": {
      "id": "GooglePrivacyDlpV2InspectionRuleSet",
      "description": "Rule set for modifying a set of infoTypes to alter behavior under certain\ncircumstances, depending on the specific details of the rules within the set.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "List of infoTypes this rule set is applied to.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "rules": {
          "description": "Set of rules to be applied to infoTypes. The rules are applied in order.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRule"
          }
        }
      }
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "id": "GooglePrivacyDlpV2InspectionRule",
      "description": "A single inspection rule to be applied to infoTypes, specified in\n`InspectionRuleSet`.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        },
        "exclusionRule": {
          "description": "Exclusion rule.",
          "$ref": "GooglePrivacyDlpV2ExclusionRule"
        }
      }
    },
    "GooglePrivacyDlpV2ExclusionRule": {
      "id": "GooglePrivacyDlpV2ExclusionRule",
      "description": "The rule that specifies conditions when findings of infoTypes specified in\n`InspectionRuleSet` are removed from results.",
      "type": "object",
      "properties": {
        "dictionary": {
          "description": "Dictionary which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "regex": {
          "description": "Regular expression which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "excludeInfoTypes": {
          "description": "Set of infoTypes for which findings would affect this rule.",
          "$ref": "GooglePrivacyDlpV2ExcludeInfoTypes"
        },
        "matchingType": {
          "description": "How the rule is applied, see MatchingType documentation for details.",
          "enumDescriptions": [
            "Invalid.",
            "Full match.\n\n- Dictionary: join of Dictionary results matched complete finding quote\n- Regex: all regex matches fill a finding quote start to end\n- Exclude info type: completely inside affecting info types findings",
            "Partial match.\n\n- Dictionary: at least one of the tokens in the finding matches\n- Regex: substring of the finding matches\n- Exclude info type: intersects with affecting info types findings",
            "Inverse match.\n\n- Dictionary: no tokens in the finding match the dictionary\n- Regex: finding doesn't match the regex\n- Exclude info type: no intersection with affecting info types findings"
          ],
          "type": "string",
          "enum": [
            "MATCHING_TYPE_UNSPECIFIED",
            "MATCHING_TYPE_FULL_MATCH",
            "MATCHING_TYPE_PARTIAL_MATCH",
            "MATCHING_TYPE_INVERSE_MATCH"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2ExcludeInfoTypes": {
      "id": "GooglePrivacyDlpV2ExcludeInfoTypes",
      "description": "List of exclude infoTypes.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "InfoType list in ExclusionRule rule drops a finding when it overlaps or\ncontained within with a finding of an infoType from this list. For\nexample, for `InspectionRuleSet.info_types` containing \"PHONE_NUMBER\"` and\n`exclusion_rule` containing `exclude_info_types.info_types` with\n\"EMAIL_ADDRESS\" the phone number findings are dropped if they overlap\nwith EMAIL_ADDRESS finding.\nThat leads to \"555-222-2222@example.org\" to generate only a single\nfinding, namely email address.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      }
    },
    "GooglePrivacyDlpV2ContentItem": {
      "id": "GooglePrivacyDlpV2ContentItem",
      "description": "Container structure for the content to inspect.",
      "type": "object",
      "properties": {
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "table": {
          "description": "Structured content for inspection. See\nhttps:\/\/cloud.google.com\/dlp\/docs\/inspecting-text#inspecting_a_table to\nlearn more.",
          "$ref": "GooglePrivacyDlpV2Table"
        },
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2Table": {
      "id": "GooglePrivacyDlpV2Table",
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed.\nSee https:\/\/cloud.google.com\/dlp\/docs\/inspecting-text#inspecting_a_table to\nlearn more.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "Headers of the table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rows": {
          "description": "Rows of the table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          }
        }
      }
    },
    "GooglePrivacyDlpV2FieldId": {
      "id": "GooglePrivacyDlpV2FieldId",
      "description": "General identifier of a data field in a storage service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name describing the field.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Row": {
      "id": "GooglePrivacyDlpV2Row",
      "description": "Values of the row.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Individual cells.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Value": {
      "id": "GooglePrivacyDlpV2Value",
      "description": "Set of primitive values supported by the system.\nNote that for the purposes of inspection or transformation, the number\nof bytes considered to comprise a 'Value' is based on its representation\nas a UTF-8 encoded string. For example, if 'integer_value' is set to\n123456789, the number of bytes would be counted as 9, even though an\nint64 only holds up to 8 bytes of data.",
      "type": "object",
      "properties": {
        "integerValue": {
          "description": "integer",
          "type": "string",
          "format": "int64"
        },
        "floatValue": {
          "description": "float",
          "type": "number",
          "format": "double"
        },
        "stringValue": {
          "description": "string",
          "type": "string"
        },
        "booleanValue": {
          "description": "boolean",
          "type": "boolean"
        },
        "timestampValue": {
          "description": "timestamp",
          "type": "string",
          "format": "google-datetime"
        },
        "timeValue": {
          "description": "time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "dateValue": {
          "description": "date",
          "$ref": "GoogleTypeDate"
        },
        "dayOfWeekValue": {
          "description": "day of week",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "GoogleTypeTimeOfDay": {
      "id": "GoogleTypeTimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant\nor are specified elsewhere. An API may choose to allow leap seconds. Related\ntypes are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose\nto allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may\nallow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day\nand time zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. This can represent:\n\n* A full date, with non-zero year, month and day values\n* A month and day value, with a zero year, e.g. an anniversary\n* A year on its own, with zero month and day values\n* A year and month value, with a zero day, e.g. a credit card expiration date\n\nRelated types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a\nmonth and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year by itself or a year and month where the day is not\nsignificant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2ByteContentItem": {
      "id": "GooglePrivacyDlpV2ByteContentItem",
      "description": "Container for bytes to inspect or redact.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8.",
          "enumDescriptions": [
            "Unused",
            "Any image type.",
            "jpeg",
            "bmp",
            "png",
            "svg",
            "plain text",
            "docx, docm, dotx, dotm",
            "pdf",
            "avro"
          ],
          "type": "string",
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8",
            "WORD_DOCUMENT",
            "PDF",
            "AVRO"
          ]
        },
        "data": {
          "description": "Content data to inspect or redact.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "id": "GooglePrivacyDlpV2InspectContentResponse",
      "description": "Results of inspecting an item.",
      "type": "object",
      "properties": {
        "result": {
          "description": "The findings.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      }
    },
    "GooglePrivacyDlpV2InspectResult": {
      "id": "GooglePrivacyDlpV2InspectResult",
      "description": "All the findings for a single scanned item.",
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings for an item.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          }
        },
        "findingsTruncated": {
          "description": "If true, then this item might have more findings than were returned,\nand the findings returned are an arbitrary subset of all findings.\nThe findings list might be truncated because the input items were too\nlarge, or because the server reached the maximum amount of resources\nallowed for a single API call. For best results, divide the input into\nsmaller batches.",
          "type": "boolean"
        }
      }
    },
    "GooglePrivacyDlpV2Finding": {
      "id": "GooglePrivacyDlpV2Finding",
      "description": "Represents a piece of potentially sensitive content.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name in format\nprojects\/{project}\/locations\/{location}\/findings\/{finding} Populated only\nwhen viewing persisted findings.",
          "type": "string"
        },
        "quote": {
          "description": "The content that was found. Even if the content is not textual, it\nmay be converted to a textual representation here.\nProvided if `include_quote` is true and the finding is\nless than or equal to 4096 bytes long. If the finding exceeds 4096 bytes\nin length, the quote may be omitted.",
          "type": "string"
        },
        "infoType": {
          "description": "The type of content that might have been found.\nProvided if `excluded_types` is false.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "likelihood": {
          "description": "Confidence of how likely it is that the `info_type` is correct.",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "location": {
          "description": "Where the content was found.",
          "$ref": "GooglePrivacyDlpV2Location"
        },
        "createTime": {
          "description": "Timestamp when finding was detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "quoteInfo": {
          "description": "Contains data parsed from quotes. Only populated if include_quote was set\nto true and a supported infoType was requested. Currently supported\ninfoTypes: DATE, DATE_OF_BIRTH and TIME.",
          "$ref": "GooglePrivacyDlpV2QuoteInfo"
        },
        "resourceName": {
          "description": "The job that stored the finding.",
          "type": "string"
        },
        "triggerName": {
          "description": "Job trigger name, if applicable, for this finding.",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this `Finding`.\n\nLabel keys must be between 1 and 63 characters long and must conform\nto the following regular expression: \\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?.\n\nLabel values must be between 0 and 63 characters long and must conform\nto the regular expression (\\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?)?.\n\nNo more than 10 labels can be associated with a given finding.\n\nExample: <code>\"environment\" : \"production\"<\/code>\nExample: <code>\"pipeline\" : \"etl\"<\/code>",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobCreateTime": {
          "description": "Time the job started that produced this finding.",
          "type": "string",
          "format": "google-datetime"
        },
        "jobName": {
          "description": "The job that stored the finding.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Location": {
      "id": "GooglePrivacyDlpV2Location",
      "description": "Specifies the location of the finding.",
      "type": "object",
      "properties": {
        "byteRange": {
          "description": "Zero-based byte offsets delimiting the finding.\nThese are relative to the finding's containing element.\nNote that when the content is not textual, this references\nthe UTF-8 encoded textual representation of the content.\nOmitted if content is an image.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "codepointRange": {
          "description": "Unicode character offsets delimiting the finding.\nThese are relative to the finding's containing element.\nProvided when the content is text.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "contentLocations": {
          "description": "List of nested objects pointing to the precise location of the finding\nwithin the file or record.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          }
        },
        "container": {
          "description": "Information about the container where this finding occurred, if available.",
          "$ref": "GooglePrivacyDlpV2Container"
        }
      }
    },
    "GooglePrivacyDlpV2Range": {
      "id": "GooglePrivacyDlpV2Range",
      "description": "Generic half-open interval [start, end)",
      "type": "object",
      "properties": {
        "start": {
          "description": "Index of the first character of the range (inclusive).",
          "type": "string",
          "format": "int64"
        },
        "end": {
          "description": "Index of the last character of the range (exclusive).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "id": "GooglePrivacyDlpV2ContentLocation",
      "description": "Precise location of the finding within a document, record, image, or metadata\ncontainer.",
      "type": "object",
      "properties": {
        "containerName": {
          "description": "Name of the container where the finding is located.\nThe top level name is the source file name or table name. Names of some\ncommon storage containers are formatted as follows:\n\n* BigQuery tables:  `{project_id}:{dataset_id}.{table_id}`\n* Cloud Storage files: `gs:\/\/{bucket}\/{path}`\n* Datastore namespace: {namespace}\n\nNested names could be absent if the embedded object has no string\nidentifier (for an example an image contained within a document).",
          "type": "string"
        },
        "recordLocation": {
          "description": "Location within a row or record of a database table.",
          "$ref": "GooglePrivacyDlpV2RecordLocation"
        },
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        },
        "documentLocation": {
          "description": "Location data for document files.",
          "$ref": "GooglePrivacyDlpV2DocumentLocation"
        },
        "metadataLocation": {
          "description": "Location within the metadata for inspected content.",
          "$ref": "GooglePrivacyDlpV2MetadataLocation"
        },
        "containerTimestamp": {
          "description": "Findings container modification timestamp, if applicable.\nFor Google Cloud Storage contains last file modification timestamp.\nFor BigQuery table contains last_modified_time property.\nFor Datastore - not populated.",
          "type": "string",
          "format": "google-datetime"
        },
        "containerVersion": {
          "description": "Findings container version, if available\n(\"generation\" for Google Cloud Storage).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2RecordLocation": {
      "id": "GooglePrivacyDlpV2RecordLocation",
      "description": "Location of a finding within a row or record.",
      "type": "object",
      "properties": {
        "recordKey": {
          "description": "Key of the finding.",
          "$ref": "GooglePrivacyDlpV2RecordKey"
        },
        "fieldId": {
          "description": "Field id of the field containing the finding.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "tableLocation": {
          "description": "Location within a `ContentItem.Table`.",
          "$ref": "GooglePrivacyDlpV2TableLocation"
        }
      }
    },
    "GooglePrivacyDlpV2RecordKey": {
      "id": "GooglePrivacyDlpV2RecordKey",
      "description": "Message for a unique key indicating a record that contains a finding.",
      "type": "object",
      "properties": {
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey"
        },
        "bigQueryKey": {
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        },
        "idValues": {
          "description": "Values of identifying columns in the given row. Order of values matches\nthe order of `identifying_fields` specified in the scanning request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GooglePrivacyDlpV2DatastoreKey": {
      "id": "GooglePrivacyDlpV2DatastoreKey",
      "description": "Record key for a finding in Cloud Datastore.",
      "type": "object",
      "properties": {
        "entityKey": {
          "description": "Datastore entity key.",
          "$ref": "GooglePrivacyDlpV2Key"
        }
      }
    },
    "GooglePrivacyDlpV2Key": {
      "id": "GooglePrivacyDlpV2Key",
      "description": "A unique identifier for a Datastore entity.\nIf a key's partition ID or any of its path kinds or names are\nreserved\/read-only, the key is reserved\/read-only.\nA reserved\/read-only key is forbidden in certain documented contexts.",
      "type": "object",
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project\nID and namespace ID.\nQueries are scoped to a single partition.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        },
        "path": {
          "description": "The entity path.\nAn entity path consists of one or more elements composed of a kind and a\nstring or numerical identifier, which identify entities. The first\nelement identifies a _root entity_, the second element identifies\na _child_ of the root entity, the third element identifies a child of the\nsecond entity, and so forth. The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nA path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          }
        }
      }
    },
    "GooglePrivacyDlpV2PartitionId": {
      "id": "GooglePrivacyDlpV2PartitionId",
      "description": "Datastore partition ID.\nA partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2PathElement": {
      "id": "GooglePrivacyDlpV2PathElement",
      "description": "A (kind, ID\/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of the entity.\nA kind matching regex `__.*__` is reserved\/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "description": "The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The name of the entity.\nA name matching regex `__.*__` is reserved\/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryKey": {
      "id": "GooglePrivacyDlpV2BigQueryKey",
      "description": "Row key for identifying a record in BigQuery table.",
      "type": "object",
      "properties": {
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "rowNumber": {
          "description": "Row number inferred at the time the table was scanned. This value is\nnondeterministic, cannot be queried, and may be null for inspection\njobs. To locate findings within a table, specify\n`inspect_job.storage_config.big_query_options.identifying_fields` in\n`CreateDlpJobRequest`.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "id": "GooglePrivacyDlpV2BigQueryTable",
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`<project_id>:<dataset_id>.<table_id>` or\n`<project_id>.<dataset_id>.<table_id>`.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.",
          "type": "string"
        },
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        },
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2TableLocation": {
      "id": "GooglePrivacyDlpV2TableLocation",
      "description": "Location of a finding within a table.",
      "type": "object",
      "properties": {
        "rowIndex": {
          "description": "The zero-based index of the row where the finding is located.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "id": "GooglePrivacyDlpV2ImageLocation",
      "description": "Location of the finding within an image.",
      "type": "object",
      "properties": {
        "boundingBoxes": {
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          }
        }
      }
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "id": "GooglePrivacyDlpV2BoundingBox",
      "description": "Bounding box encompassing detected text within an image.",
      "type": "object",
      "properties": {
        "top": {
          "description": "Top coordinate of the bounding box. (0,0) is upper left.",
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "Width of the bounding box in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "Height of the bounding box in pixels.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2DocumentLocation": {
      "id": "GooglePrivacyDlpV2DocumentLocation",
      "description": "Location of a finding within a document.",
      "type": "object",
      "properties": {
        "fileOffset": {
          "description": "Offset of the line, from the beginning of the file, where the finding\nis located.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2MetadataLocation": {
      "id": "GooglePrivacyDlpV2MetadataLocation",
      "description": "Metadata Location",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of metadata containing the finding.",
          "enumDescriptions": [
            "Unused",
            "General file metadata provided by GCS."
          ],
          "type": "string",
          "enum": [
            "METADATATYPE_UNSPECIFIED",
            "STORAGE_METADATA"
          ]
        },
        "storageLabel": {
          "description": "Storage metadata.",
          "$ref": "GooglePrivacyDlpV2StorageMetadataLabel"
        }
      }
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "id": "GooglePrivacyDlpV2StorageMetadataLabel",
      "description": "Storage metadata label to indicate which metadata entry contains findings.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Container": {
      "id": "GooglePrivacyDlpV2Container",
      "description": "Represents a container that may contain DLP findings.\nExamples of a container include a file, table, or database record.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Container type, for example BigQuery or Google Cloud Storage.",
          "type": "string"
        },
        "projectId": {
          "description": "Project where the finding was found.\nCan be different from the project that owns the finding.",
          "type": "string"
        },
        "fullPath": {
          "description": "A string representation of the full container name.\nExamples:\n- BigQuery: 'Project:DataSetId.TableId'\n- Google Cloud Storage: 'gs:\/\/Bucket\/folders\/filename.txt'",
          "type": "string"
        },
        "rootPath": {
          "description": "The root of the container.\nExamples:\n- For BigQuery table `project_id:dataset_id.table_id`, the root is\n `dataset_id`\n- For Google Cloud Storage file `gs:\/\/bucket\/folder\/filename.txt`, the root\n is `gs:\/\/bucket`",
          "type": "string"
        },
        "relativePath": {
          "description": "The rest of the path after the root.\nExamples:\n- For BigQuery table `project_id:dataset_id.table_id`, the relative path is\n `table_id`\n- Google Cloud Storage file `gs:\/\/bucket\/folder\/filename.txt`, the relative\n path is `folder\/filename.txt`",
          "type": "string"
        },
        "updateTime": {
          "description": "Findings container modification timestamp, if applicable.\nFor Google Cloud Storage contains last file modification timestamp.\nFor BigQuery table contains last_modified_time property.\nFor Datastore - not populated.",
          "type": "string",
          "format": "google-datetime"
        },
        "version": {
          "description": "Findings container version, if available\n(\"generation\" for Google Cloud Storage).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "id": "GooglePrivacyDlpV2QuoteInfo",
      "description": "Message for infoType-dependent details parsed from quote.",
      "type": "object",
      "properties": {
        "dateTime": {
          "description": "The date time indicated by the quote.",
          "$ref": "GooglePrivacyDlpV2DateTime"
        }
      }
    },
    "GooglePrivacyDlpV2DateTime": {
      "id": "GooglePrivacyDlpV2DateTime",
      "description": "Message for a date time object.\ne.g. 2018-01-01, 5th August.",
      "type": "object",
      "properties": {
        "date": {
          "description": "One or more of the following must be set.\nMust be a valid date or time value.",
          "$ref": "GoogleTypeDate"
        },
        "dayOfWeek": {
          "description": "Day of week",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "time": {
          "description": "Time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "timeZone": {
          "description": "Time zone",
          "$ref": "GooglePrivacyDlpV2TimeZone"
        }
      }
    },
    "GooglePrivacyDlpV2TimeZone": {
      "id": "GooglePrivacyDlpV2TimeZone",
      "description": "Time zone of the date time object.",
      "type": "object",
      "properties": {
        "offsetMinutes": {
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC.\nE.g. For \"UTC-9\", this value is -540.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "description": "Request to search for potentially sensitive info in an image and redact it\nby covering it with a colored rectangle.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The geographic location to process the request. Reserved for future\nextensions.\nLocation is restricted to 'global', 'us', 'asia', and 'europe'.",
          "type": "string"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "imageRedactionConfigs": {
          "description": "The configuration for specifying what content to redact from images.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          }
        },
        "includeFindings": {
          "description": "Whether the response should include findings along with the redacted\nimage.",
          "type": "boolean"
        },
        "byteItem": {
          "description": "The content must be PNG, JPEG, SVG or BMP.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "id": "GooglePrivacyDlpV2ImageRedactionConfig",
      "description": "Configuration for determining how redaction of images should occur.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Only one per info_type should be provided per request. If not\nspecified, and redact_all_text is false, the DLP API will redact all\ntext that it matches against all info_types that are found, but not\nspecified in another ImageRedactionConfig.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an\ninfo_type, is redacted. Only one should be provided.",
          "type": "boolean"
        },
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified,\nthe default is black.",
          "$ref": "GooglePrivacyDlpV2Color"
        }
      }
    },
    "GooglePrivacyDlpV2Color": {
      "id": "GooglePrivacyDlpV2Color",
      "description": "Represents a color in the RGB color space.",
      "type": "object",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "id": "GooglePrivacyDlpV2RedactImageResponse",
      "description": "Results of redacting an image.",
      "type": "object",
      "properties": {
        "redactedImage": {
          "description": "The redacted image. The type will be the same as the original image.",
          "type": "string",
          "format": "byte"
        },
        "extractedText": {
          "description": "If an image was being inspected and the InspectConfig's include_quote was\nset to true, then this field will include all text, if any, that was found\nin the image.",
          "type": "string"
        },
        "inspectResult": {
          "description": "The findings. Populated when include_findings in the request is true.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest",
      "description": "Request to de-identify a list of items.",
      "type": "object",
      "properties": {
        "deidentifyConfig": {
          "description": "Configuration for the de-identification of the content item.\nItems specified here will override the template referenced by the\ndeidentify_template_name argument.",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.\nItems specified here will override the template referenced by the\ninspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "item": {
          "description": "The item to de-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in\ninspect_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "deidentifyTemplateName": {
          "description": "Template to use. Any configuration directly specified in\ndeidentify_config will override those set in the template. Singular fields\nthat are set in this request will replace their corresponding fields in the\ntemplate. Repeated fields are appended. Singular sub-messages and groups\nare recursively merged.",
          "type": "string"
        },
        "locationId": {
          "description": "The geographic location to process de-identification. Reserved for future\nextensions.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "id": "GooglePrivacyDlpV2DeidentifyConfig",
      "description": "The configuration that controls how the data will change.",
      "type": "object",
      "properties": {
        "infoTypeTransformations": {
          "description": "Treat the dataset as free-form text and apply the same free text\ntransformation everywhere.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "recordTransformations": {
          "description": "Treat the dataset as structured. Transformations can be applied to\nspecific locations within structured datasets, such as transforming\na column within a table.",
          "$ref": "GooglePrivacyDlpV2RecordTransformations"
        },
        "transformationErrorHandling": {
          "description": "Mode for handling transformation errors. If left unspecified, the default\nmode is `TransformationErrorHandling.ThrowError`.",
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling"
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeTransformations": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformations",
      "description": "A type of transformation that will scan unstructured text and\napply various `PrimitiveTransformation`s to each finding, where the\ntransformation is applied to only values that were identified as a specific\ninfo_type.",
      "type": "object",
      "properties": {
        "transformations": {
          "description": "Required. Transformation for each infoType. Cannot specify more than one\nfor a given infoType.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeTransformation"
          }
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformation",
      "description": "A transformation to apply to text that is identified as a specific\ninfo_type.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "InfoTypes to apply the transformation to. An empty list will cause\nthis transformation to apply to all findings that correspond to\ninfoTypes that were requested in `InspectConfig`.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "primitiveTransformation": {
          "description": "Required. Primitive transformation to apply to the infoType.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        }
      }
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "description": "A rule for transforming a value.",
      "type": "object",
      "properties": {
        "replaceConfig": {
          "description": "Replace",
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig"
        },
        "redactConfig": {
          "description": "Redact",
          "$ref": "GooglePrivacyDlpV2RedactConfig"
        },
        "characterMaskConfig": {
          "description": "Mask",
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "description": "Ffx-Fpe",
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig"
        },
        "fixedSizeBucketingConfig": {
          "description": "Fixed size bucketing",
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
        },
        "bucketingConfig": {
          "description": "Bucketing",
          "$ref": "GooglePrivacyDlpV2BucketingConfig"
        },
        "replaceWithInfoTypeConfig": {
          "description": "Replace with infotype",
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig"
        },
        "timePartConfig": {
          "description": "Time extraction",
          "$ref": "GooglePrivacyDlpV2TimePartConfig"
        },
        "cryptoHashConfig": {
          "description": "Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig"
        },
        "dateShiftConfig": {
          "description": "Date Shift",
          "$ref": "GooglePrivacyDlpV2DateShiftConfig"
        },
        "cryptoDeterministicConfig": {
          "description": "Deterministic Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoDeterministicConfig"
        }
      }
    },
    "GooglePrivacyDlpV2ReplaceValueConfig": {
      "id": "GooglePrivacyDlpV2ReplaceValueConfig",
      "description": "Replace each input value with a given `Value`.",
      "type": "object",
      "properties": {
        "newValue": {
          "description": "Value to replace it with.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "id": "GooglePrivacyDlpV2RedactConfig",
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation`\ntransforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the\noutput would be 'My phone number is '.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "description": "Partially mask a string by replacing a given number of characters with a\nfixed character. Masking can start from the beginning or end of the string.\nThis can be used on data of any type (numbers, longs, and so on) and when\nde-identifying structured data we'll attempt to preserve the original data's\ntype. (This allows you to take a long like 123 and modify it to a string like\n**3.",
      "type": "object",
      "properties": {
        "maskingCharacter": {
          "description": "Character to use to mask the sensitive values&mdash;for example, `*` for an\nalphabetic string such as a name, or `0` for a numeric string such as ZIP\ncode or credit card number. This string must have a length of 1. If not\nsupplied, this value defaults to `*` for strings, and `0` for digits.",
          "type": "string"
        },
        "numberToMask": {
          "description": "Number of characters to mask. If not set, all matching chars will be\nmasked. Skipped characters do not count towards this tally.",
          "type": "integer",
          "format": "int32"
        },
        "reverseOrder": {
          "description": "Mask characters in reverse order. For example, if `masking_character` is\n`0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the\ninput string `1234-5678-9012-3456` is masked as `00000000000000-3456`.\nIf `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order`\nis `true`, then the string `12345` is masked as `12***`.",
          "type": "boolean"
        },
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing\ncharacters. For example, if the input string is `555-555-5555` and you\ninstruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP\nreturns `***-**5-5555`.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          }
        }
      }
    },
    "GooglePrivacyDlpV2CharsToIgnore": {
      "id": "GooglePrivacyDlpV2CharsToIgnore",
      "description": "Characters to skip when doing deidentification of a value. These will be left\nalone and skipped.",
      "type": "object",
      "properties": {
        "charactersToSkip": {
          "description": "Characters to not transform when masking.",
          "type": "string"
        },
        "commonCharactersToIgnore": {
          "description": "Common characters to not transform when masking. Useful to avoid removing\npunctuation.",
          "enumDescriptions": [
            "Unused.",
            "0-9",
            "A-Z",
            "a-z",
            "US Punctuation, one of !\"#$%&'()*+,-.\/:;<=>?@[\\]^_`{|}~",
            "Whitespace character, one of [ \\t\\n\\x0B\\f\\r]"
          ],
          "type": "string",
          "enum": [
            "COMMON_CHARS_TO_IGNORE_UNSPECIFIED",
            "NUMERIC",
            "ALPHA_UPPER_CASE",
            "ALPHA_LOWER_CASE",
            "PUNCTUATION",
            "WHITESPACE"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption\n(FPE) with the FFX mode of operation; however when used in the\n`ReidentifyContent` API method, it serves the opposite function by reversing\nthe surrogate back into the original identifier. The identifier must be\nencoded as ASCII. For a given crypto key and context, the same identifier\nwill be replaced with the same surrogate. Identifiers must be at least two\ncharacters long. In the case that the identifier is the empty string, it will\nbe skipped. See https:\/\/cloud.google.com\/dlp\/docs\/pseudonymization to learn\nmore.\n\nNote: We recommend using  CryptoDeterministicConfig for all use cases which\ndo not require preserving the input alphabet space and size, plus warrant\nreferential integrity.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "Required. The key used by the encryption algorithm.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "context": {
          "description": "The 'tweak', a context may be used for higher security since the same\nidentifier in two different contexts won't be given the same surrogate. If\nthe context is not set, a default tweak will be used.\n\nIf the context is set but:\n\n1. there is no record present when transforming a given value or\n1. the field is not present when transforming a given value,\n\na default tweak will be used.\n\nNote that case (1) is expected when an `InfoTypeTransformation` is\napplied to both structured and non-structured `ContentItem`s.\nCurrently, the referenced field may be of value type integer or string.\n\nThe tweak is constructed as a sequence of bytes in big endian byte order\nsuch that:\n\n- a 64 bit integer is encoded followed by a single byte of value 1\n- a string is encoded in UTF-8 format followed by a single byte of value 2",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "commonAlphabet": {
          "description": "Common alphabets.",
          "enumDescriptions": [
            "Unused.",
            "[0-9] (radix of 10)",
            "[0-9A-F] (radix of 16)",
            "[0-9A-Z] (radix of 36)",
            "[0-9A-Za-z] (radix of 62)"
          ],
          "type": "string",
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ]
        },
        "customAlphabet": {
          "description": "This is supported by mapping these to the alphanumeric characters\nthat the FFX mode natively supports. This happens before\/after\nencryption\/decryption.\nEach character listed must appear only once.\nNumber of characters must be in the range [2, 95].\nThis must be encoded as ASCII.\nThe order of characters does not matter.",
          "type": "string"
        },
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 95].",
          "type": "integer",
          "format": "int32"
        },
        "surrogateInfoType": {
          "description": "The custom infoType to annotate the surrogate with.\nThis annotation will be applied to the surrogate by prefixing it with\nthe name of the custom infoType followed by the number of\ncharacters comprising the surrogate. The following scheme defines the\nformat: info_type_name(surrogate_character_count):surrogate\n\nFor example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and\nthe surrogate is 'abc', the full replacement value\nwill be: 'MY_TOKEN_INFO_TYPE(3):abc'\n\nThis annotation identifies the surrogate when inspecting content using the\ncustom infoType\n[`SurrogateType`](\/dlp\/docs\/reference\/rest\/v2\/InspectConfig#surrogatetype).\nThis facilitates reversal of the surrogate when it occurs in free text.\n\nIn order for inspection to work properly, the name of this infoType must\nnot occur naturally anywhere in your data; otherwise, inspection may\nfind a surrogate that does not correspond to an actual identifier.\nTherefore, choose your custom infoType name carefully after considering\nwhat your data looks like. One way to select a name that has a high chance\nof yielding reliable detection is to include one or more unicode characters\nthat are highly improbable to exist in your data.\nFor example, assuming your data is entered from a regular ASCII keyboard,\nthe symbol with the hex code point 29DD might be used like so:\n\u29DDMY_TOKEN_TYPE",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      }
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "id": "GooglePrivacyDlpV2CryptoKey",
      "description": "This is a data encryption key (DEK) (as opposed to\na key encryption key (KEK) stored by KMS).\nWhen using KMS to wrap\/unwrap DEKs, be sure to set an appropriate\nIAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot\nunwrap the data crypto key.",
      "type": "object",
      "properties": {
        "transient": {
          "description": "Transient crypto key",
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        },
        "unwrapped": {
          "description": "Unwrapped crypto key",
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey"
        },
        "kmsWrapped": {
          "description": "Kms wrapped key",
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "id": "GooglePrivacyDlpV2TransientCryptoKey",
      "description": "Use this to have a random data crypto key generated.\nIt will be discarded after the request finishes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the key.\nThis is an arbitrary string used to differentiate different keys.\nA unique key is generated per name: two separate `TransientCryptoKey`\nprotos share the same generated key if their names are the same.\nWhen the data crypto key is generated, this name is not used in any way\n(repeating the api call will result in a different key being generated).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey",
      "description": "Using raw keys is prone to security risks due to accidentally\nleaking the key. Choose another type of key if possible.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. A 128\/192\/256 bit key.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
      "description": "Include to use an existing data crypto key wrapped by KMS.\nThe wrapped key must be a 128\/192\/256 bit key.\nAuthorization requires the following IAM permissions when sending a request\nto perform a crypto transformation using a kms-wrapped crypto key:\ndlp.kms.encrypt",
      "type": "object",
      "properties": {
        "wrappedKey": {
          "description": "Required. The wrapped data crypto key.",
          "type": "string",
          "format": "byte"
        },
        "cryptoKeyName": {
          "description": "Required. The resource name of the KMS CryptoKey to use for unwrapping.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2FixedSizeBucketingConfig": {
      "id": "GooglePrivacyDlpV2FixedSizeBucketingConfig",
      "description": "Buckets values based on fixed size ranges. The\nBucketing transformation can provide all of this functionality,\nbut requires more configuration. This message is provided as a convenience to\nthe user for simple bucketing strategies.\n\nThe transformed value will be a hyphenated string of\n{lower_bound}-{upper_bound}, i.e if lower_bound = 10 and upper_bound = 20\nall values that are within this bucket will be replaced with \"10-20\".\n\nThis can be used on data of type: double, long.\n\nIf the bound Value type differs from the type of data\nbeing transformed, we will first attempt converting the type of the data to\nbe transformed to match the type of the bound before comparing.\n\nSee https:\/\/cloud.google.com\/dlp\/docs\/concepts-bucketing to learn more.",
      "type": "object",
      "properties": {
        "lowerBound": {
          "description": "Required. Lower bound value of buckets. All values less than `lower_bound` are\ngrouped together into a single bucket; for example if `lower_bound` = 10,\nthen all values less than 10 are replaced with the value \u201C-10\u201D.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "upperBound": {
          "description": "Required. Upper bound value of buckets. All values greater than upper_bound are\ngrouped together into a single bucket; for example if `upper_bound` = 89,\nthen all values greater than 89 are replaced with the value \u201C89+\u201D.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "bucketSize": {
          "description": "Required. Size of each bucket (except for minimum and maximum buckets). So if\n`lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the\nfollowing buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60,\n60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "description": "Generalization function that buckets values based on ranges. The ranges and\nreplacement values are dynamically provided by the user for custom behavior,\nsuch as 1-30 -> LOW 31-65 -> MEDIUM 66-100 -> HIGH\nThis can be used on\ndata of type: number, long, string, timestamp.\nIf the bound `Value` type differs from the type of data being transformed, we\nwill first attempt converting the type of the data to be transformed to match\nthe type of the bound before comparing.\nSee https:\/\/cloud.google.com\/dlp\/docs\/concepts-bucketing to learn more.",
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Bucket": {
      "id": "GooglePrivacyDlpV2Bucket",
      "description": "Bucket is represented as a range, along with replacement values.",
      "type": "object",
      "properties": {
        "min": {
          "description": "Lower bound of the range, inclusive. Type should be the same as max if\nused.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "max": {
          "description": "Upper bound of the range, exclusive; type must match min.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "replacementValue": {
          "description": "Replacement value for this bucket. If not provided\nthe default behavior will be to hyphenate the min-max range.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
      "description": "Replace each matching finding with the name of the info_type.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "id": "GooglePrivacyDlpV2TimePartConfig",
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a\nportion of the value.",
      "type": "object",
      "properties": {
        "partToExtract": {
          "description": "The part of the time to keep.",
          "enumDescriptions": [
            "Unused",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-53]",
            "[0-23]"
          ],
          "type": "string",
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "id": "GooglePrivacyDlpV2CryptoHashConfig",
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing.\nUses SHA-256.\nThe key size must be either 32 or 64 bytes.\nOutputs a base64 encoded representation of the hashed output\n(for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=).\nCurrently, only string and integer values can be hashed.\nSee https:\/\/cloud.google.com\/dlp\/docs\/pseudonymization to learn more.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "The key used by the hash function.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2DateShiftConfig": {
      "id": "GooglePrivacyDlpV2DateShiftConfig",
      "description": "Shifts dates by random number of days, with option to be consistent for the\nsame context. See https:\/\/cloud.google.com\/dlp\/docs\/concepts-date-shifting\nto learn more.",
      "type": "object",
      "properties": {
        "upperBoundDays": {
          "description": "Required. Range of shift in days. Actual shift will be selected at random within this\nrange (inclusive ends). Negative means shift to earlier in time. Must not\nbe more than 365250 days (1000 years) each direction.\n\nFor example, 3 means shift date to at most 3 days into the future.",
          "type": "integer",
          "format": "int32"
        },
        "lowerBoundDays": {
          "description": "Required. For example, -5 means shift date to at most 5 days back in the past.",
          "type": "integer",
          "format": "int32"
        },
        "context": {
          "description": "Points to the field that contains the context, for example, an entity id.\nIf set, must also set cryptoKey. If set, shift will be consistent for the\ngiven context.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "cryptoKey": {
          "description": "Causes the shift to be computed based on this key and the context. This\nresults in the same shift for the same context and crypto_key. If\nset, must also set context. Can only be applied to table items.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig",
      "description": "Pseudonymization method that generates deterministic encryption for the given\ninput. Outputs a base64 encoded representation of the encrypted output.\nUses AES-SIV based on the RFC https:\/\/tools.ietf.org\/html\/rfc5297.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "The key used by the encryption function.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "surrogateInfoType": {
          "description": "The custom info type to annotate the surrogate with.\nThis annotation will be applied to the surrogate by prefixing it with\nthe name of the custom info type followed by the number of\ncharacters comprising the surrogate. The following scheme defines the\nformat: {info type name}({surrogate character count}):{surrogate}\n\nFor example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and\nthe surrogate is 'abc', the full replacement value\nwill be: 'MY_TOKEN_INFO_TYPE(3):abc'\n\nThis annotation identifies the surrogate when inspecting content using the\ncustom info type 'Surrogate'. This facilitates reversal of the\nsurrogate when it occurs in free text.\n\nNote: For record transformations where the entire cell in a table is being\ntransformed, surrogates are not mandatory. Surrogates are used to denote\nthe location of the token and are necessary for re-identification in free\nform text.\n\nIn order for inspection to work properly, the name of this info type must\nnot occur naturally anywhere in your data; otherwise, inspection may either\n\n- reverse a surrogate that does not correspond to an actual identifier\n- be unable to parse the surrogate and result in an error\n\nTherefore, choose your custom info type name carefully after considering\nwhat your data looks like. One way to select a name that has a high chance\nof yielding reliable detection is to include one or more unicode characters\nthat are highly improbable to exist in your data.\nFor example, assuming your data is entered from a regular ASCII keyboard,\nthe symbol with the hex code point 29DD might be used like so:\n\u29DDMY_TOKEN_TYPE.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "context": {
          "description": "A context may be used for higher security and maintaining\nreferential integrity such that the same identifier in two different\ncontexts will be given a distinct surrogate. The context is appended to\nplaintext value being encrypted. On decryption the provided context is\nvalidated against the value used during encryption. If a context was\nprovided during encryption, same context must be provided during decryption\nas well.\n\nIf the context is not set, plaintext would be used as is for encryption.\nIf the context is set but:\n\n1. there is no record present when transforming a given value or\n2. the field is not present when transforming a given value,\n\nplaintext would be used as is for encryption.\n\nNote that case (1) is expected when an `InfoTypeTransformation` is\napplied to both structured and non-structured `ContentItem`s.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      }
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "id": "GooglePrivacyDlpV2RecordTransformations",
      "description": "A type of transformation that is applied over structured data such as a\ntable.",
      "type": "object",
      "properties": {
        "fieldTransformations": {
          "description": "Transform the record by applying various field transformations.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        },
        "recordSuppressions": {
          "description": "Configuration defining which records get suppressed entirely. Records that\nmatch any suppression rule are omitted from the output.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          }
        }
      }
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "id": "GooglePrivacyDlpV2FieldTransformation",
      "description": "The transformation to apply to the field.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Required. Input field(s) to apply the transformation to.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "condition": {
          "description": "Only apply the transformation if the condition evaluates to true for the\ngiven `RecordCondition`. The conditions are allowed to reference fields\nthat are not used in the actual transformation.\n\nExample Use Cases:\n\n- Apply a different bucket transformation to an age column if the zip code\ncolumn for the same record is within a specific range.\n- Redact a field if the date of birth field is greater than 85.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        },
        "primitiveTransformation": {
          "description": "Apply the transformation to the entire field.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "infoTypeTransformations": {
          "description": "Treat the contents of the field as free text, and selectively\ntransform content that matches an `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        }
      }
    },
    "GooglePrivacyDlpV2RecordCondition": {
      "id": "GooglePrivacyDlpV2RecordCondition",
      "description": "A condition for determining whether a transformation should be applied to\na field.",
      "type": "object",
      "properties": {
        "expressions": {
          "description": "An expression.",
          "$ref": "GooglePrivacyDlpV2Expressions"
        }
      }
    },
    "GooglePrivacyDlpV2Expressions": {
      "id": "GooglePrivacyDlpV2Expressions",
      "description": "An expression, consisting or an operator and conditions.",
      "type": "object",
      "properties": {
        "logicalOperator": {
          "description": "The operator to apply to the result of conditions. Default and currently\nonly supported value is `AND`.",
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ],
          "type": "string",
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ]
        },
        "conditions": {
          "description": "Conditions to apply to the expression.",
          "$ref": "GooglePrivacyDlpV2Conditions"
        }
      }
    },
    "GooglePrivacyDlpV2Conditions": {
      "id": "GooglePrivacyDlpV2Conditions",
      "description": "A collection of conditions.",
      "type": "object",
      "properties": {
        "conditions": {
          "description": "A collection of conditions.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Condition": {
      "id": "GooglePrivacyDlpV2Condition",
      "description": "The field type of `value` and `field` do not need to match to be\nconsidered equal, but not all comparisons are possible.\nEQUAL_TO and NOT_EQUAL_TO attempt to compare even with incompatible types,\nbut all other comparisons are invalid with incompatible types.\nA `value` of type:\n\n- `string` can be compared against all other types\n- `boolean` can only be compared against other booleans\n- `integer` can be compared against doubles or a string if the string value\ncan be parsed as an integer.\n- `double` can be compared against integers or a string if the string can\nbe parsed as a double.\n- `Timestamp` can be compared against strings in RFC 3339 date string\nformat.\n- `TimeOfDay` can be compared against timestamps and strings in the format\nof 'HH:mm:ss'.\n\nIf we fail to compare do to type mismatch, a warning will be given and\nthe condition will evaluate to false.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Required. Field within the record this condition is evaluated against.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "operator": {
          "description": "Required. Operator used to compare the field or infoType to the value.",
          "enumDescriptions": [
            "Unused",
            "Equal. Attempts to match even with incompatible types.",
            "Not equal to. Attempts to match even with incompatible types.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "type": "string",
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ]
        },
        "value": {
          "description": "Value to compare against. [Mandatory, except for `EXISTS` tests.]",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "id": "GooglePrivacyDlpV2RecordSuppression",
      "description": "Configuration to suppress records whose suppression conditions evaluate to\ntrue.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "A condition that when it evaluates to true will result in the record being\nevaluated to be suppressed from the transformed content.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        }
      }
    },
    "GooglePrivacyDlpV2TransformationErrorHandling": {
      "id": "GooglePrivacyDlpV2TransformationErrorHandling",
      "description": "How to handle transformation errors during de-identification. A\ntransformation error occurs when the requested transformation is incompatible\nwith the data. For example, trying to de-identify an IP address using a\n`DateShift` transformation would result in a transformation error, since date\ninfo cannot be extracted from an IP address.\nInformation about any incompatible transformations, and how they were\nhandled, is returned in the response as part of the\n`TransformationOverviews`.",
      "type": "object",
      "properties": {
        "throwError": {
          "description": "Throw an error",
          "$ref": "GooglePrivacyDlpV2ThrowError"
        },
        "leaveUntransformed": {
          "description": "Ignore errors",
          "$ref": "GooglePrivacyDlpV2LeaveUntransformed"
        }
      }
    },
    "GooglePrivacyDlpV2ThrowError": {
      "id": "GooglePrivacyDlpV2ThrowError",
      "description": "Throw an error and fail the request when a transformation error occurs.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2LeaveUntransformed": {
      "id": "GooglePrivacyDlpV2LeaveUntransformed",
      "description": "Skips the data without modifying it if the requested transformation would\ncause an error. For example, if a `DateShift` transformation were applied\nan an IP address, this mode would leave the IP address unchanged in the\nresponse.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse",
      "description": "Results of de-identifying a ContentItem.",
      "type": "object",
      "properties": {
        "item": {
          "description": "The de-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "overview": {
          "description": "An overview of the changes that were made on the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        }
      }
    },
    "GooglePrivacyDlpV2TransformationOverview": {
      "id": "GooglePrivacyDlpV2TransformationOverview",
      "description": "Overview of the modifications that occurred.",
      "type": "object",
      "properties": {
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "type": "string",
          "format": "int64"
        },
        "transformationSummaries": {
          "description": "Transformations applied to the dataset.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationSummary"
          }
        }
      }
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "id": "GooglePrivacyDlpV2TransformationSummary",
      "description": "Summary of a single transformation.\nOnly one of 'transformation', 'field_transformation', or 'record_suppress'\nwill be set.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Set if the transformation was limited to a specific InfoType.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "field": {
          "description": "Set if the transformation was limited to a specific FieldId.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "transformation": {
          "description": "The specific transformation these stats apply to.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "fieldTransformations": {
          "description": "The field transformation that was applied.\nIf multiple field transformations are requested for a single field,\nthis list will contain all of them; otherwise, only one is supplied.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        },
        "recordSuppress": {
          "description": "The specific suppression option these stats apply to.",
          "$ref": "GooglePrivacyDlpV2RecordSuppression"
        },
        "results": {
          "description": "Collection of all transformations that took place or had an error.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2SummaryResult"
          }
        },
        "transformedBytes": {
[...]
