{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "eventflow:v1beta2",
  "name": "eventflow",
  "canonicalName": "Event Flow",
  "version": "v1beta2",
  "revision": "0",
  "title": "Event Flow Management API",
  "description": "Creates and manages flows, each of which that specifies a trigger condition for emitting an event and a resulting action that should happen.\n",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/functions/docs/concepts/events-triggers",
  "protocol": "rest",
  "rootUrl": "https://eventflow.googleapis.com/",
  "mtlsRootUrl": "https://eventflow.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://eventflow.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "schemas": {
    "Flow": {
      "id": "Flow",
      "description": "A binding of a Source to an Action specifying the trigger\ncondition and the event type.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The version of the schema the object should have. e.g.\n\"eventing.dev\/v1beta2\".",
          "type": "string"
        },
        "kind": {
          "description": "Always \"Flow\".",
          "type": "string"
        },
        "metadata": {
          "description": "Kubernates-style standard metadata. The Google Hosted version of\nthis API uses the flow metadata fields as follows:\n\nname: is of the form \"flowId\" (does not include project ID or slashes)\n\ngenerate_name: is optionally used on creation if name is not set, in\nwhich case it is a prefix of a system-generated name.\n\nnamespace: the project ID for the project storing owning this flow (not\nnecessarily the project of the event source)\n\ncreation_timestamp: The time at which the flow was first created in the\nunderlying database.\n\nOutput only. labels[\"event_type\"]: Set by the system on creation time to be\nthe same as spec.trigger.event_type\n\nOutput only. labels[\"source\"]: Set by the system on creation time to be the\nsame as spec.trigger.resource\n\nOutput only. labels[\"action\"]: Set by the system on creation time to be the\nsame as spec.action.name\n\nOutput only. labels[\"processor\"]: Set by the system on creation time to be\nthe same as spec.action.processor",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Desired state of the flow.",
          "$ref": "FlowSpec"
        },
        "status": {
          "description": "Output only. A set of status conditions and when they were last observed.",
          "$ref": "FlowStatus"
        }
      }
    },
    "ObjectMeta": {
      "id": "ObjectMeta",
      "description": "ObjectMeta is metadata that all persisted resources must have, which includes\nall objects users must create.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name must be unique within a namespace. Is required when creating\nresources, although some resources may allow a client to request the\ngeneration of an appropriate name automatically. Name is primarily intended\nfor creation idempotence and configuration definition. Cannot be updated.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/identifiers#names\n+optional",
          "type": "string"
        },
        "generateName": {
          "description": "GenerateName is an optional prefix, used by the server, to generate a\nunique name ONLY IF the Name field has not been provided. If this field is\nused, the name returned to the client will be different than the name\npassed. This value will also be combined with a unique suffix. The provided\nvalue has the same validation rules as the Name field, and may be truncated\nby the length of the suffix required to make the value unique on the\nserver.\n\nIf this field is specified and the generated name exists, the server will\nNOT return a 409 - instead, it will either return 201 Created or 500 with\nReason ServerTimeout indicating a unique name could not be found in the\ntime allotted, and the client should retry (optionally after the time\nindicated in the Retry-After header).\n\nApplied only if Name is not specified.\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#idempotency\n+optional\n string generateName = 2;",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace defines the space within each name must be unique. An empty\nnamespace is equivalent to the \"default\" namespace, but \"default\" is the\ncanonical representation. Not all objects are required to be scoped to a\nnamespace - the value of this field for those objects will be empty.\n\nMust be a DNS_LABEL.\nCannot be updated.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/namespaces\n+optional",
          "type": "string"
        },
        "selfLink": {
          "description": "SelfLink is a URL representing this object.\nPopulated by the system.\nRead-only.\n+optional\n string selfLink = 4;",
          "type": "string"
        },
        "uid": {
          "description": "UID is the unique in time and space value for this object. It is typically\ngenerated by the server on successful creation of a resource and is not\nallowed to change on PUT operations.\n\nPopulated by the system.\nRead-only.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/identifiers#uids\n+optional",
          "type": "string"
        },
        "resourceVersion": {
          "description": "An opaque value that represents the internal version of this object that\ncan be used by clients to determine when objects have changed. May be used\nfor optimistic concurrency, change detection, and the watch operation on a\nresource or set of resources. Clients must treat these values as opaque and\npassed unmodified back to the server. They may only be valid for a\nparticular resource or set of resources.\n\nPopulated by the system.\nRead-only.\nValue must be treated as opaque by clients and .\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#concurrency-control-and-consistency\n+optional",
          "type": "string"
        },
        "generation": {
          "description": "A sequence number representing a specific generation of the desired state.\nPopulated by the system. Read-only.\n+optional",
          "type": "number",
          "format": "double"
        },
        "creationTimestamp": {
          "description": "CreationTimestamp is a timestamp representing the server time when this\nobject was created. It is not guaranteed to be set in happens-before order\nacross separate operations. Clients may not set this value. It is\nrepresented in RFC3339 form and is in UTC.\n\nPopulated by the system.\nRead-only.\nNull for lists.\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#metadata\n+optional",
          "type": "string"
        },
        "labels": {
          "description": "Map of string keys and values that can be used to organize and categorize\n(scope and select) objects. May match selectors of replication controllers\nand routes.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/labels\n+optional",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "Annotations is an unstructured key value map stored with a resource that\nmay be set by external tools to store and retrieve arbitrary metadata. They\nare not queryable and should be preserved when modifying objects. More\ninfo: http:\/\/kubernetes.io\/docs\/user-guide\/annotations +optional",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FlowSpec": {
      "id": "FlowSpec",
      "description": "Desired state of a Flow.",
      "type": "object",
      "properties": {
        "trigger": {
          "description": "Contains the event_type, the \"resource\" path, and the hostname of the\nservice hosting the event source. The \"resource\" includes the event source\nand a path match expression specifying a condition for emitting an event.",
          "$ref": "EventTrigger"
        },
        "action": {
          "description": "Where an action gets delivered to. For example an HTTP endpoint.",
          "$ref": "Action"
        }
      }
    },
    "EventTrigger": {
      "id": "EventTrigger",
      "description": "An EventTrigger represents an interest in a subset of events occurring in\na service.",
      "type": "object",
      "properties": {
        "eventType": {
          "description": "Required. The type of event to observe. For example:\n`google.storage.object.finalize` and\n`google.firebase.analytics.event.log`.\n\nEvent type consists of three parts:\n 1. namespace: The domain name of the organization in reverse-domain\n    notation (e.g. `acme.net` appears as `net.acme`) and any organization\n    specific subdivisions. If the organization's top-level domain is `com`,\n    the top-level domain is omitted (e.g. `google.com` appears as\n    `google`). For example, `google.storage` and\n    `google.firebase.analytics`.\n 2. resource type: The type of resource on which event occurs. For\n    example, the Google Cloud Storage API includes the types `object`\n    and `bucket`.\n 3. action: The action that generates the event. For example, actions for\n    a Google Cloud Storage Object include 'finalize' and 'delete'.\nThese parts are lower case and joined by '.'.",
          "type": "string"
        },
        "resource": {
          "description": "Required. The resource(s) from which to observe events, for example,\n`projects\/_\/buckets\/myBucket\/objects\/{objectPath=**}`.\n\nCan be a specific resource or use wildcards to match a set of resources.\nWildcards can either match a single segment in the resource name,\nusing '*', or multiple segments, using '**'. For example,\n`projects\/myProject\/buckets\/*\/objects\/**` would match all objects in all\nbuckets in the 'myProject' project.\n\nThe contents of wildcards can also be captured. This is done by assigning\nit to a variable name in braces. For example,\n`projects\/myProject\/buckets\/{bucket_id=*}\/objects\/{object_path=**}`.\nAdditionally, a single segment capture can omit `=*` and a multiple segment\ncapture can specify additional structure. For example, the following\nall match the same buckets, but capture different data:\n    `projects\/myProject\/buckets\/*\/objects\/users\/*\/data\/**`\n    `projects\/myProject\/buckets\/{bucket_id=*}\/objects\/users\/{user_id}\/data\/{data_path=**}`\n    `projects\/myProject\/buckets\/{bucket_id}\/objects\/{object_path=users\/*\/data\/**}`\n\nNot all syntactically correct values are accepted by all services. For\nexample:\n\n1. The authorization model must support it. Google Cloud Functions\n   only allows EventTriggers to be deployed that observe resources in the\n   same project as the `CloudFunction`.\n2. The resource type must match the pattern expected for an\n   `event_type`. For example, an `EventTrigger` that has an\n   `event_type` of \"google.pubsub.topic.publish\" should have a resource\n   that matches Google Cloud Pub\/Sub topics.\n\nAdditionally, some services may support short names when creating an\n`EventTrigger`. These will always be returned in the normalized \"long\"\nformat.\n\nSee each *service's* documentation for supported formats.",
          "type": "string"
        },
        "service": {
          "description": "The hostname of the service that should be observed.\n\nIf no string is provided, the default service implementing the API will\nbe used. For example, `storage.googleapis.com` is the default for all\nevent types in the 'google.storage` namespace.",
          "type": "string"
        }
      }
    },
    "Action": {
      "id": "Action",
      "description": "A consumer of events running in a Processor, for example a\nparticular Google Cloud Function.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Where the event will be delivered to, for example\n\"projects\/my-project-id\/locations\/mordor-central1\/functions\/functionName\"",
          "type": "string"
        },
        "processor": {
          "description": "Where the action runs. For example \"google.serverless\" or \"http\".",
          "type": "string"
        }
      }
    },
    "FlowStatus": {
      "id": "FlowStatus",
      "description": "Current status of a flow.",
      "type": "object",
      "properties": {
        "conditions": {
          "description": "The latest available observations of an object's current state.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "observedGeneration": {
          "description": "The generation most recently observed by the component responsible for\nacting upon changes to the desired state of the resource.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Condition": {
      "id": "Condition",
      "description": "The different dimensions of the status.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. What type of condition is this.",
          "enumDescriptions": [
            "Never set by the API.",
            "Whether there is an error caused by the server hosting this API.\nThe reason field will be the error code.\nThe message field will be the error message.",
            "Whether there is an error caused by how the client calls this API.\nThe reason field will be the error code.\nThe message field will be the error message.",
            "Whether the flow is deployed to all regions.\nThe reason field will be of the following form:\n  0of4RegionsDeployed\n  1of4RegionsDeployed\n  4of4RegionsDeployed\nThe message field will be a comma-separated list of regions deployed.\nFor example \"us-west1,europe-west1,us-east1,asia-east1\"",
            "Whether the source is activated.\nThe reason field will be one of:\n  DoesNotNeedActivation\n  AwaitingResponse\n  AcknowledgedActivation\n  ActivationFailed\nThe message field will be the error code and message in case of error.",
            "Whether the action is activated.\nThe reason field will be one of:\n  DoesNotNeedActivation\n  AwaitingResponse\n  AcknowledgedActivation\n  ActivationFailed\nThe message field will be the error code and message in case of error."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "SERVER_ERROR",
            "CLIENT_ERROR",
            "DEPLOYED",
            "SOURCE_ACTIVATED",
            "ACTION_ACTIVATED"
          ]
        },
        "status": {
          "description": "Required. The actual status.",
          "enumDescriptions": [
            "Should never be set in the API.",
            "The condition is active.",
            "The condition is inactive."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ]
        },
        "lastHeartbeatTime": {
          "description": "Last time we got an update on a given condition.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastTransitionTime": {
          "description": "Last time the condition transit from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "reason": {
          "description": "One-word CamelCase reason for the condition's last transition.",
          "type": "string"
        },
        "message": {
          "description": "Human-readable message indicating details about last transition.",
          "type": "string"
        }
      }
    },
    "ListFlowsResponse": {
      "id": "ListFlowsResponse",
      "description": "Response message for EventingFlow.ListFlows.",
      "type": "object",
      "properties": {
        "flows": {
          "description": "The list of items.",
          "type": "array",
          "items": {
            "$ref": "Flow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "flows": {
          "methods": {
            "create": {
              "id": "eventflow.projects.flows.create",
              "path": "v1beta2/projects/{+namespace}/flows",
              "flatPath": "v1beta2/projects/{projectsId}/flows",
              "httpMethod": "POST",
              "parameters": {
                "namespace": {
                  "description": "Namespace defines the space within each name must be unique. An empty\nnamespace is equivalent to the \"default\" namespace, but \"default\" is the\ncanonical representation. Not all objects are required to be scoped to a\nnamespace - the value of this field for those objects will be empty.\n\nMust be a DNS_LABEL.\nCannot be updated.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/namespaces\n+optional",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "namespace"
              ],
              "request": {
                "$ref": "Flow"
              },
              "response": {
                "$ref": "Flow"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Creates a flow, and returns the new Flow."
            },
            "get": {
              "id": "eventflow.projects.flows.get",
              "path": "v1beta2/{+name}",
              "flatPath": "v1beta2/projects/{projectsId}/flows/{flowsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the flow, of the form \"projects\/{projectId}\/flows\/{flowId}\".\n(Note, this is different from the flowId that is stored in\nflow.metadata.name.)",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/flows\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Flow"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Gets a flow. Returns NOT_FOUND if the flow does not exist."
            },
            "list": {
              "id": "eventflow.projects.flows.list",
              "path": "v1beta2/{+parent}/flows",
              "flatPath": "v1beta2/projects/{projectsId}/flows",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The parent, of form \"projects\/{projectId}\", from which the flows should be\nlisted.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Server may return more items than requested.\nIf unspecified, server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFlowsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Lists flows."
            },
            "delete": {
              "id": "eventflow.projects.flows.delete",
              "path": "v1beta2/{+name}",
              "flatPath": "v1beta2/projects/{projectsId}/flows/{flowsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the flow, of the form \"projects\/{projectId}\/flows\/{flowId}\".\n(Note, this is different from the flowId that is stored in\nflow.metadata.name.)",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/flows\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Deletes a flow. Returns NOT_FOUND if the item does not exist."
            },
            "update": {
              "id": "eventflow.projects.flows.update",
              "path": "v1beta2/projects/{+namespace}/flows/{+name}",
              "flatPath": "v1beta2/projects/{projectsId}/flows/{flowsId}",
              "httpMethod": "PUT",
              "parameters": {
                "namespace": {
                  "description": "Namespace defines the space within each name must be unique. An empty\nnamespace is equivalent to the \"default\" namespace, but \"default\" is the\ncanonical representation. Not all objects are required to be scoped to a\nnamespace - the value of this field for those objects will be empty.\n\nMust be a DNS_LABEL.\nCannot be updated.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/namespaces\n+optional",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^\/]+$",
                  "type": "string"
                },
                "name": {
                  "description": "Name must be unique within a namespace. Is required when creating\nresources, although some resources may allow a client to request the\ngeneration of an appropriate name automatically. Name is primarily intended\nfor creation idempotence and configuration definition. Cannot be updated.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/identifiers#names\n+optional",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "namespace",
                "name"
              ],
              "request": {
                "$ref": "Flow"
              },
              "response": {
                "$ref": "Flow"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Updates a flow, returning the updated flow. Empty fields (proto3 default\nvalues) mean don't change those fields. The call returns INVALID_ARGUMENT\nstatus if the spec.name, spec.namespace, or spec.trigger.event_type is\nchange.  trigger.event_type is changed."
            }
          }
        }
      }
    }
  },
  "basePath": ""
}