{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "gameservices:v1alpha",
  "name": "gameservices",
  "canonicalName": "Game Services",
  "version": "v1alpha",
  "revision": "0",
  "title": "Game Services API",
  "description": "Deploy and manage infrastructure for global multiplayer gaming experiences.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/solutions/gaming/",
  "protocol": "rest",
  "rootUrl": "https://gameservices.googleapis.com/",
  "mtlsRootUrl": "https://gameservices.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://gameservices.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`\/`Create`\/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "ListGameServerClustersResponse": {
      "id": "ListGameServerClustersResponse",
      "description": "Response message for GameServerClustersService.ListGameServerClusters.",
      "type": "object",
      "properties": {
        "gameServerClusters": {
          "description": "The list of Game Server Clusters.",
          "type": "array",
          "items": {
            "$ref": "GameServerCluster"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "description": "List of Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unreachable": {
          "description": "List of Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GameServerCluster": {
      "id": "GameServerCluster",
      "description": "A Game Server Cluster resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the Game Server Cluster. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/realms\/{realm}\/gameServerClusters\/{cluster}`.\nFor example,\n\n`projects\/my-project\/locations\/{location}\/realms\/zanzibar\/gameServerClusters\/my-onprem-cluster`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The labels associated with this Game Server Cluster. Each label is a\nkey-value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "connectionInfo": {
          "description": "Game Server Cluster connection information. This information is used to\nmanage Game Server Clusters.",
          "$ref": "GameServerClusterConnectionInfo"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "description": {
          "description": "Human readable description of the cluster.",
          "type": "string"
        }
      }
    },
    "GameServerClusterConnectionInfo": {
      "id": "GameServerClusterConnectionInfo",
      "description": "The Game Server Cluster connection information.",
      "type": "object",
      "properties": {
        "gkeClusterReference": {
          "description": "Reference to the GKE cluster where the game servers are installed.",
          "$ref": "GkeClusterReference"
        },
        "gkeHubClusterReference": {
          "description": "Reference to a Kubernetes cluster registered through GKE Hub. See\nhttps:\/\/cloud.google.com\/anthos\/multicluster-management\/\nfor more information about registering Kubernetes clusters.",
          "$ref": "GkeHubClusterReference"
        },
        "namespace": {
          "description": "Namespace designated on the Game Server Cluster where the Agones game\nserver instances will be created. Existence of the namespace will be\nvalidated during creation.",
          "type": "string"
        }
      }
    },
    "GkeClusterReference": {
      "id": "GkeClusterReference",
      "description": "A reference to a GKE cluster.",
      "type": "object",
      "properties": {
        "cluster": {
          "description": "The full or partial name of a GKE cluster, using one of the following\nforms:\n * `projects\/{project}\/locations\/{location}\/clusters\/{cluster}`\n * `locations\/{location}\/clusters\/{cluster}`\n * `{cluster}`\nIf project and location are not specified, the project and location of the\nGameServerCluster resource are used to generate the full name of the\nGKE cluster.",
          "type": "string"
        }
      }
    },
    "GkeHubClusterReference": {
      "id": "GkeHubClusterReference",
      "description": "GkeHubClusterReference represents a reference to a Kubernetes cluster\nregistered through GKE Hub.",
      "type": "object",
      "properties": {
        "membership": {
          "description": "The full or partial name of a GKE Hub membership, using one of the\nfollowing forms:\n *\n`https:\n\/\/gkehub.googleapis.com\/v1beta1\/projects\n\/\/ \/{project_id}\/locations\/global\/memberships\/{membership_id}`\n * `projects\/{project_id}\/locations\/global\/memberships\/{membership_id}`\n * `{membership_id}`\nIf project is not specified, the project of the GameServerCluster resource\nis used to generate the full name of the GKE Hub membership.",
          "type": "string"
        }
      }
    },
    "PreviewCreateGameServerClusterResponse": {
      "id": "PreviewCreateGameServerClusterResponse",
      "description": "Response message for\nGameServerClustersService.PreviewCreateGameServerCluster.",
      "type": "object",
      "properties": {
        "deployedState": {
          "description": "The deployed state.",
          "$ref": "DeployedState"
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "DeployedState": {
      "id": "DeployedState",
      "description": "Encapsulates the expected deployed state.",
      "type": "object",
      "properties": {
        "fleets": {
          "description": "Details about fleets.",
          "type": "array",
          "items": {
            "$ref": "FleetDetails"
          }
        }
      }
    },
    "FleetDetails": {
      "id": "FleetDetails",
      "description": "Details about the Agones fleet.",
      "type": "object",
      "properties": {
        "gameServerClusterName": {
          "description": "The Game Server Cluster name.",
          "type": "string"
        },
        "fleetName": {
          "description": "The name of the Agones fleet.",
          "type": "string"
        },
        "gameServerConfigName": {
          "description": "The name of the Game Server Config used to create the Agones fleet.",
          "type": "string"
        },
        "autoscalerDetails": {
          "description": "Details about the Agones autoscaler.",
          "$ref": "AutoscalerDetails"
        }
      }
    },
    "AutoscalerDetails": {
      "id": "AutoscalerDetails",
      "description": "Details about the Agones autoscaler.\nThe autoscaler details.",
      "type": "object",
      "properties": {
        "autoscalerName": {
          "description": "The name of the Agones autoscaler.",
          "type": "string"
        },
        "scalingConfigName": {
          "description": "The name of the Agones scaling config (within the Game Server Config)\nthat is used to create the Agones autoscalar.",
          "type": "string"
        }
      }
    },
    "TargetState": {
      "id": "TargetState",
      "description": "Encapsulates the Target state.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Details about Agones fleets.",
          "type": "array",
          "items": {
            "$ref": "TargetDetails"
          }
        }
      }
    },
    "TargetDetails": {
      "id": "TargetDetails",
      "description": "Details about the Agones resources.",
      "type": "object",
      "properties": {
        "gameServerClusterName": {
          "description": "The Game Server Cluster name. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/realms\/{realm}\/gameServerClusters\/{cluster}`.",
          "type": "string"
        },
        "gameServerDeploymentName": {
          "description": "The Game Server Deployment name. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment_id}`.",
          "type": "string"
        },
        "fleetDetails": {
          "description": "Agones fleet details for Game Server Clusters and Game Server Deployments.",
          "type": "array",
          "items": {
            "$ref": "TargetFleetDetails"
          }
        }
      }
    },
    "TargetFleetDetails": {
      "id": "TargetFleetDetails",
      "description": "Details of the target Agones fleet.",
      "type": "object",
      "properties": {
        "fleet": {
          "description": "Reference to target Agones fleet.",
          "$ref": "TargetFleet"
        },
        "autoscaler": {
          "description": "Reference to target Agones fleet autoscaling policy.",
          "$ref": "TargetFleetAutoscaler"
        }
      }
    },
    "TargetFleet": {
      "id": "TargetFleet",
      "description": "Target Agones fleet specification.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Agones fleet.",
          "type": "string"
        },
        "specSource": {
          "description": "Encapsulates the source of the Agones fleet spec.\nThe Agones fleet spec source.",
          "$ref": "SpecSource"
        }
      }
    },
    "SpecSource": {
      "id": "SpecSource",
      "description": "Encapsulates Agones fleet spec and Agones autoscaler spec sources.",
      "type": "object",
      "properties": {
        "gameServerConfigName": {
          "description": "The Game Server Config resource. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment_id}\/configs\/{config_id}`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the Agones leet config or Agones scaling config used to derive\nthe Agones fleet or Agones autoscaler spec.",
          "type": "string"
        }
      }
    },
    "TargetFleetAutoscaler": {
      "id": "TargetFleetAutoscaler",
      "description": "Target Agones autoscaler policy reference.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Agones autoscaler.",
          "type": "string"
        },
        "specSource": {
          "description": "Encapsulates the source of the Agones fleet spec.\nDetails about the Agones autoscaler spec.",
          "$ref": "SpecSource"
        }
      }
    },
    "PreviewDeleteGameServerClusterResponse": {
      "id": "PreviewDeleteGameServerClusterResponse",
      "description": "Response message for\nGameServerClustersService.PreviewDeleteGameServerCluster.",
      "type": "object",
      "properties": {
        "deployedState": {
          "description": "The deployed state.",
          "$ref": "DeployedState"
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "PreviewUpdateGameServerClusterResponse": {
      "id": "PreviewUpdateGameServerClusterResponse",
      "description": "Response message for GameServerClustersService.PreviewUpdateGameServerCluster",
      "type": "object",
      "properties": {
        "deployedState": {
          "description": "The deployed state.",
          "$ref": "DeployedState"
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "ListGameServerConfigsResponse": {
      "id": "ListGameServerConfigsResponse",
      "description": "Response message for GameServerConfigsService.ListGameServerConfigs.",
      "type": "object",
      "properties": {
        "gameServerConfigs": {
          "description": "The list of Game Server Configs.",
          "type": "array",
          "items": {
            "$ref": "GameServerConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "description": "List of Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unreachable": {
          "description": "List of Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GameServerConfig": {
      "id": "GameServerConfig",
      "description": "A Game Server Config resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the Game Server Config. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}\/configs\/{config}`.\nFor example,\n\n`projects\/my-project\/locations\/global\/gameServerDeployments\/my-game\/configs\/my-config`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The labels associated with this Game Server Config. Each label is a\nkey-value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fleetConfigs": {
          "description": "FleetConfig contains a list of Agones fleet specs. Only one FleetConfig\nis allowed.",
          "type": "array",
          "items": {
            "$ref": "FleetConfig"
          }
        },
        "scalingConfigs": {
          "description": "The autoscaling settings.",
          "type": "array",
          "items": {
            "$ref": "ScalingConfig"
          }
        },
        "description": {
          "description": "The description of the Game Server Config.",
          "type": "string"
        }
      }
    },
    "FleetConfig": {
      "id": "FleetConfig",
      "description": "Fleet configs for Agones.",
      "type": "object",
      "properties": {
        "fleetSpec": {
          "description": "Agones fleet spec. Example spec:\n`https:\/\/agones.dev\/site\/docs\/reference\/fleet\/`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the FleetConfig.",
          "type": "string"
        }
      }
    },
    "ScalingConfig": {
      "id": "ScalingConfig",
      "description": "Autoscaling config for an Agones fleet.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the Scaling Config",
          "type": "string"
        },
        "fleetAutoscalerSpec": {
          "description": "Required. Agones fleet autoscaler spec. Example spec:\nhttps:\/\/agones.dev\/site\/docs\/reference\/fleetautoscaler\/",
          "type": "string"
        },
        "selectors": {
          "description": "Labels used to identify the Game Server Clusters to which this Agones\nscaling config applies. A Game Server Cluster is subject to this Agones\nscaling config if its labels match any of the selector entries.",
          "type": "array",
          "items": {
            "$ref": "LabelSelector"
          }
        },
        "schedules": {
          "description": "The schedules to which this Scaling Config applies.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        }
      }
    },
    "LabelSelector": {
      "id": "LabelSelector",
      "description": "The label selector, used to group labels on the resources.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Resource labels for this selector.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Schedule": {
      "id": "Schedule",
      "description": "The schedule of a recurring or one time event. The event's time span is\nspecified by start_time and end_time. If the scheduled event's timespan is\nlarger than the cron_spec + cron_job_duration, the event will be recurring.\nIf only cron_spec + cron_job_duration are specified, the event is effective\nstarting at the local time specified by cron_spec, and is recurring.\n\n  start_time|-------[cron job]-------[cron job]-------[cron job]---|end_time\n  cron job: cron spec start time + duration",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start time of the event.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end time of the event.",
          "type": "string",
          "format": "google-datetime"
        },
        "cronJobDuration": {
          "description": "The duration for the cron job event. The duration of the event is effective\nafter the cron job's start time.",
          "type": "string",
          "format": "google-duration"
        },
        "cronSpec": {
          "description": "The cron definition of the scheduled event. See\nhttps:\/\/en.wikipedia.org\/wiki\/Cron. Cron spec specifies the local time as\ndefined by the Realm.",
          "type": "string"
        }
      }
    },
    "ListGameServerDeploymentsResponse": {
      "id": "ListGameServerDeploymentsResponse",
      "description": "Response message for GameServerDeploymentsService.ListGameServerDeployments.",
      "type": "object",
      "properties": {
        "gameServerDeployments": {
          "description": "The list of Game Server Delpoyments.",
          "type": "array",
          "items": {
            "$ref": "GameServerDeployment"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "description": "List of Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unreachable": {
          "description": "List of Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GameServerDeployment": {
      "id": "GameServerDeployment",
      "description": "A Game Server Deployment resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the Game Server Deployment. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}`.\nFor example,\n\n`projects\/my-project\/locations\/{location}\/gameServerDeployments\/my-deployment`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The labels associated with this Game Server Deployment. Each label is a\nkey-value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "description": {
          "description": "Human readable description of the Game Server Deployment.",
          "type": "string"
        }
      }
    },
    "GameServerDeploymentRollout": {
      "id": "GameServerDeploymentRollout",
      "description": "The Game Server Deployment Rollout which represents the desired rollout\nstate.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the Game Server Deployment Rollout. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}\/rollout`.\nFor example,\n\n`projects\/my-project\/locations\/{location}\/gameServerDeployments\/my-deployment\/rollout`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "defaultGameServerConfig": {
          "description": "The default Game Server Config is applied to all Realms unless overridden\nin the Rollout. For example,\n\n`projects\/my-project\/locations\/global\/gameServerDeployments\/my-game\/configs\/my-config`.",
          "type": "string"
        },
        "gameServerConfigOverrides": {
          "description": "Contains the Game Server Config Rollout overrides. Overrides are processed\nin the order they are listed. Once a match is found for a Realm, the rest\nof the list is not processed.",
          "type": "array",
          "items": {
            "$ref": "GameServerConfigOverride"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "GameServerConfigOverride": {
      "id": "GameServerConfigOverride",
      "description": "A Game Server Config override.",
      "type": "object",
      "properties": {
        "realmsSelector": {
          "description": "Selector for choosing applicable realms.",
          "$ref": "RealmSelector"
        },
        "configVersion": {
          "description": "The game server config for this override.",
          "type": "string"
        }
      }
    },
    "RealmSelector": {
      "id": "RealmSelector",
      "description": "The Realm selector, used to match Realm resources.",
      "type": "object",
      "properties": {
        "realms": {
          "description": "List of Realms to match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PreviewGameServerDeploymentRolloutResponse": {
      "id": "PreviewGameServerDeploymentRolloutResponse",
      "description": "Response message for PreviewGameServerDeploymentRollout.\nThis has details about the Agones fleet and autoscaler to be actuated.",
      "type": "object",
      "properties": {
        "deployedState": {
          "description": "The deployed state.",
          "$ref": "DeployedState"
        },
        "unavailable": {
          "description": "Locations that could not be reached on this request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "ETag of the Game Server Deployment.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "FetchDeploymentStateRequest": {
      "id": "FetchDeploymentStateRequest",
      "description": "Request message for GameServerDeploymentsService.FetchDeploymentState.",
      "type": "object",
      "properties": {
      }
    },
    "FetchDeploymentStateResponse": {
      "id": "FetchDeploymentStateResponse",
      "description": "Response message for GameServerDeploymentsService.FetchDeploymentState.",
      "type": "object",
      "properties": {
        "clusterState": {
          "description": "The state of the Game Server Deployment in each Game Server Cluster.",
          "type": "array",
          "items": {
            "$ref": "DeployedClusterState"
          }
        },
        "unavailable": {
          "description": "List of Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeployedClusterState": {
      "id": "DeployedClusterState",
      "description": "The Game Server Cluster changes made by the Game Server Deployment.",
      "type": "object",
      "properties": {
        "cluster": {
          "description": "The name of the cluster.",
          "type": "string"
        },
        "fleetDetails": {
          "description": "The details about the Agones fleets and autoscalers created in the\nGame Server Cluster.",
          "type": "array",
          "items": {
            "$ref": "DeployedFleetDetails"
          }
        }
      }
    },
    "DeployedFleetDetails": {
      "id": "DeployedFleetDetails",
      "description": "Details of the deployed Agones fleet.",
      "type": "object",
      "properties": {
        "deployedFleet": {
          "description": "Information about the Agones fleet.",
          "$ref": "DeployedFleet"
        },
        "deployedAutoscaler": {
          "description": "Information about the Agones autoscaler for that fleet.",
          "$ref": "DeployedFleetAutoscaler"
        }
      }
    },
    "DeployedFleet": {
      "id": "DeployedFleet",
      "description": "Agones fleet specification and details.",
      "type": "object",
      "properties": {
        "fleet": {
          "description": "The name of the Agones fleet.",
          "type": "string"
        },
        "fleetSpec": {
          "description": "The fleet spec retrieved from the Agones fleet.",
          "type": "string"
        },
        "specSource": {
          "description": "The source spec that is used to create the Agones fleet.\nThe GameServerConfig resource may no longer exist in the system.",
          "$ref": "SpecSource"
        },
        "status": {
          "description": "The current status of the Agones fleet.\nIncludes count of game servers in various states.",
          "$ref": "DeployedFleetStatus"
        }
      }
    },
    "DeployedFleetStatus": {
      "id": "DeployedFleetStatus",
      "description": "DeployedFleetStatus has details about the Agones fleets such as how many\nare running, how many allocated, and so on.",
      "type": "object",
      "properties": {
        "readyReplicas": {
          "description": "The number of GameServer replicas in the READY state in this fleet.",
          "type": "string",
          "format": "int64"
        },
        "allocatedReplicas": {
          "description": "The number of GameServer replicas in the ALLOCATED state in this fleet.",
          "type": "string",
          "format": "int64"
        },
        "reservedReplicas": {
          "description": "The number of GameServer replicas in the RESERVED state in this fleet.\nReserved instances won't be deleted on scale down, but won't cause\nan autoscaler to scale up.",
          "type": "string",
          "format": "int64"
        },
        "replicas": {
          "description": "The total number of current GameServer replicas in this fleet.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DeployedFleetAutoscaler": {
      "id": "DeployedFleetAutoscaler",
      "description": "Details about the Agones autoscaler.",
      "type": "object",
      "properties": {
        "autoscaler": {
          "description": "The name of the Agones autoscaler.",
          "type": "string"
        },
        "specSource": {
          "description": "The source spec that is used to create the autoscaler.\nThe GameServerConfig resource may no longer exist in the system.",
          "$ref": "SpecSource"
        },
        "fleetAutoscalerSpec": {
          "description": "The autoscaler spec retrieved from Agones.",
          "type": "string"
        }
      }
    },
    "ListRealmsResponse": {
      "id": "ListRealmsResponse",
      "description": "Response message for RealmsService.ListRealms.",
      "type": "object",
      "properties": {
        "realms": {
          "description": "The list of Realms.",
          "type": "array",
          "items": {
            "$ref": "Realm"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "List of Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Realm": {
      "id": "Realm",
      "description": "A Realm resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the Realm. Uses the form:\n`projects\/{project}\/locations\/{location}\/realms\/{realm}`. For\nexample, `projects\/my-project\/locations\/{location}\/realms\/my-realm`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The labels associated with this Realm. Each label is a key-value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timeZone": {
          "description": "Required. Time zone where all policies targeting this Realm are evaluated. The value\nof this field must be from the IANA time zone database:\nhttps:\/\/www.iana.org\/time-zones.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "description": {
          "description": "Human readable description of the Realm.",
          "type": "string"
        }
      }
    },
    "PreviewRealmUpdateResponse": {
      "id": "PreviewRealmUpdateResponse",
      "description": "Response message for RealmsService.PreviewRealmUpdate.",
      "type": "object",
      "properties": {
        "deployedState": {
          "description": "The deployment state.",
          "$ref": "DeployedState"
        },
        "etag": {
          "description": "ETag of the realm.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nOptionally, a `binding` can specify a `condition`, which is a logical\nexpression that allows access to a resource only if the expression evaluates\nto `true`. A condition can add constraints based on attributes of the\nrequest, the resource, or both.\n\n**JSON example:**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles\/resourcemanager.organizationAdmin\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles\/resourcemanager.organizationViewer\",\n          \"members\": [\"user:eve@example.com\"],\n          \"condition\": {\n            \"title\": \"expirable access\",\n            \"description\": \"Does not grant access after Sep 2020\",\n            \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\",\n          }\n        }\n      ],\n      \"etag\": \"BwWWja0YfJA=\",\n      \"version\": 3\n    }\n\n**YAML example:**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-project-id@appspot.gserviceaccount.com\n      role: roles\/resourcemanager.organizationAdmin\n    - members:\n      - user:eve@example.com\n      role: roles\/resourcemanager.organizationViewer\n      condition:\n        title: expirable access\n        description: Does not grant access after Sep 2020\n        expression: request.time < timestamp('2020-10-01T00:00:00.000Z')\n    - etag: BwWWja0YfJA=\n    - version: 3\n\nFor a description of IAM and its features, see the\n[IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value\nare rejected.\n\nAny operation that affects conditional role bindings must specify version\n`3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding\n* Adding a conditional role binding to a policy\n* Changing a conditional role binding in a policy\n* Removing any role binding, with or without a condition, from a policy\n  that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may\nspecify any valid version or leave the field unset.",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a\n`condition` that determines how and when the `bindings` are applied. Each\nof the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "rules": {
          "description": "If more than one rule is specified, the rules are applied in the following\nmanner:\n- All matching LOG rules are always applied.\n- If any DENY\/DENY_WITH_LOG rule matches, permission is denied.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if any ALLOW\/ALLOW_WITH_LOG rule matches, permission is\n  granted.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if no rule applies, permission is denied.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "iamOwned": {
          "type": "boolean"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding.\nNOTE: An unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently.",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https:\/\/github.com\/google\/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() < 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language\nsyntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ignoreChildExemptions": {
          "type": "boolean"
        }
      }
    },
    "Rule": {
      "id": "Rule",
      "description": "A rule to be applied in a Policy.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Human-readable description of the rule.",
          "type": "string"
        },
        "permissions": {
          "description": "A permission is a string of form '<service>.<resource type>.<verb>'\n(e.g., 'storage.buckets.list'). A value of '*' matches all permissions,\nand a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "description": "Required",
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log\nthe request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log\nthe request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "type": "string",
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ]
        },
        "in": {
          "description": "If one or more 'in' clauses are specified, the rule matches if\nthe PRINCIPAL\/AUTHORITY_SELECTOR is in at least one of these entries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notIn": {
          "description": "If one or more 'not_in' clauses are specified, the rule matches\nif the PRINCIPAL\/AUTHORITY_SELECTOR is in none of the entries.\nThe format for in and not_in entries can be found at in the Local IAM\ndocumentation (see go\/local-iam#features).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conditions": {
          "description": "Additional restrictions that must be met. All conditions must pass for the\nrule to match.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "logConfig": {
          "description": "The config returned to callers of tech.iam.IAM.CheckPolicy for any entries\nthat match the LOG action.",
          "type": "array",
          "items": {
            "$ref": "LogConfig"
          }
        }
      }
    },
    "Condition": {
      "id": "Condition",
      "description": "A condition to be met.",
      "type": "object",
      "properties": {
        "iam": {
          "description": "Trusted attributes supplied by the IAM system.",
          "enumDescriptions": [
            "Default non-attribute.",
            "Either principal or (if present) authority selector.",
            "The principal (even if an authority selector is present), which\nmust only be used for attribution, not authorization.",
            "Any of the security realms in the IAMContext (go\/security-realms).\nWhen used with IN, the condition indicates \"any of the request's realms\nmatch one of the given values; with NOT_IN, \"none of the realms match\nany of the given values\". Note that a value can be:\n - 'self' (i.e., allow connections from clients that are in the same\n security realm)\n - 'self:cloud-region' (i.e., allow connections from clients that are in\n the same cloud region)\n - a realm (e.g., 'campus-abc')\n - a realm group (e.g., 'realms-for-borg-cell-xx', see: go\/realm-groups)\nA match is determined by a realm group\nmembership check performed by a RealmAclRep object (go\/realm-acl-howto).\nIt is not permitted to grant access based on the *absence* of a realm, so\nrealm conditions can only be used in a \"positive\" context (e.g., ALLOW\/IN\nor DENY\/NOT_IN).",
            "An approver (distinct from the requester) that has authorized this\nrequest.\nWhen used with IN, the condition indicates that one of the approvers\nassociated with the request matches the specified principal, or is a\nmember of the specified group. Approvers can only grant additional\naccess, and are thus only used in a strictly positive context\n(e.g. ALLOW\/IN or DENY\/NOT_IN).",
            "What types of justifications have been supplied with this request.\nString values should match enum names from\nsecurity.credentials.JustificationType, e.g. \"MANUAL_STRING\". It is not\npermitted to grant access based on the *absence* of a justification, so\njustification conditions can only be used in a \"positive\" context\n(e.g., ALLOW\/IN or DENY\/NOT_IN).\n\nMultiple justifications, e.g., a Buganizer ID and a manually-entered\nreason, are normal and supported.",
            "What type of credentials have been supplied with this request.\nString values should match enum names from\nsecurity_loas_l2.CredentialsType - currently, only CREDS_TYPE_EMERGENCY\nis supported.\nIt is not permitted to grant access based on the *absence* of a\ncredentials type, so the conditions can only be used in a \"positive\"\ncontext (e.g., ALLOW\/IN or DENY\/NOT_IN)."
          ],
          "type": "string",
          "enum": [
            "NO_ATTR",
            "AUTHORITY",
            "ATTRIBUTION",
            "SECURITY_REALM",
            "APPROVER",
            "JUSTIFICATION_TYPE",
            "CREDENTIALS_TYPE"
          ]
        },
        "sys": {
          "description": "Trusted attributes supplied by any service that owns resources and uses\nthe IAM system for access control.",
          "enumDescriptions": [
            "Default non-attribute type",
            "Region of the resource",
            "Service name",
            "Resource name",
            "IP address of the caller"
          ],
          "type": "string",
          "enum": [
            "NO_ATTR",
            "REGION",
            "SERVICE",
            "NAME",
            "IP"
          ]
        },
        "svc": {
          "description": "Trusted attributes discharged by the service.",
          "type": "string"
        },
        "op": {
          "description": "An operator to apply the subject with.",
          "enumDescriptions": [
            "Default no-op.",
            "DEPRECATED. Use IN instead.",
            "DEPRECATED. Use NOT_IN instead.",
            "The condition is true if the subject (or any element of it if it is\na set) matches any of the supplied values.",
            "The condition is true if the subject (or every element of it if it is\na set) matches none of the supplied values.",
            "Subject is discharged"
          ],
          "type": "string",
          "enum": [
            "NO_OP",
            "EQUALS",
            "NOT_EQUALS",
            "IN",
            "NOT_IN",
            "DISCHARGED"
          ]
        },
        "values": {
          "description": "The objects of the condition.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LogConfig": {
      "id": "LogConfig",
      "description": "Specifies what kind of log the caller must write",
      "type": "object",
      "properties": {
        "counter": {
          "description": "Counter options.",
          "$ref": "CounterOptions"
        },
        "dataAccess": {
          "description": "Data access options.",
          "$ref": "DataAccessOptions"
        },
        "cloudAudit": {
          "description": "Cloud audit options.",
          "$ref": "CloudAuditOptions"
        }
      }
    },
    "CounterOptions": {
      "id": "CounterOptions",
      "description": "Increment a streamz counter with the specified metric and field names.\n\nMetric names should start with a '\/', generally be lowercase-only,\nand end in \"_count\". Field names should not contain an initial slash.\nThe actual exported metric names will have \"\/iam\/policy\" prepended.\n\nField names correspond to IAM request parameters and field values are\ntheir respective values.\n\nSupported field names:\n   - \"authority\", which is \"[token]\" if IAMContext.token is present,\n     otherwise the value of IAMContext.authority_selector if present, and\n     otherwise a representation of IAMContext.principal; or\n   - \"iam_principal\", a representation of IAMContext.principal even if a\n     token or authority selector is present; or\n   - \"\" (empty string), resulting in a counter with no fields.\n\nExamples:\n  counter { metric: \"\/debug_access_count\"  field: \"iam_principal\" }\n  ==> increment counter \/iam\/policy\/debug_access_count\n                        {iam_principal=[value of IAMContext.principal]}",
      "type": "object",
      "properties": {
        "metric": {
          "description": "The metric to update.",
          "type": "string"
        },
        "field": {
          "description": "The field value to attribute.",
          "type": "string"
        },
        "customFields": {
          "description": "Custom fields.",
          "type": "array",
          "items": {
            "$ref": "CustomField"
          }
        }
      }
    },
    "CustomField": {
      "id": "CustomField",
      "description": "Custom fields.\nThese can be used to create a counter with arbitrary field\/value\npairs.\nSee: go\/rpcsp-custom-fields.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the field name.",
          "type": "string"
        },
        "value": {
          "description": "Value is the field value. It is important that in contrast to the\nCounterOptions.field, the value here is a constant that is not\nderived from the IAMContext.",
          "type": "string"
        }
      }
    },
    "DataAccessOptions": {
      "id": "DataAccessOptions",
      "description": "Write a Data Access (Gin) log",
      "type": "object",
      "properties": {
        "logMode": {
          "description": "Whether Gin logging should happen in a fail-closed manner at the caller.\nThis is currently supported in the LocalIAM implementation, Stubby C++,\nand Stubby Java. For Apps Framework, see go\/af-audit-logging#failclosed.",
          "enumDescriptions": [
            "Client is not required to write a partial Gin log immediately after\nthe authorization check. If client chooses to write one and it fails,\nclient may either fail open (allow the operation to continue) or\nfail closed (handle as a DENY outcome).",
            "The application's operation in the context of which this authorization\ncheck is being made may only be performed if it is successfully logged\nto Gin. For instance, the authorization library may satisfy this\nobligation by emitting a partial log entry at authorization check time\nand only returning ALLOW to the application if it succeeds.\n\nIf a matching Rule has this directive, but the client has not indicated\nthat it will honor such requirements, then the IAM check will result in\nauthorization failure by setting CheckPolicyResponse.success=false."
          ],
          "type": "string",
          "enum": [
            "LOG_MODE_UNSPECIFIED",
            "LOG_FAIL_CLOSED"
          ]
        }
      }
    },
    "CloudAuditOptions": {
      "id": "CloudAuditOptions",
      "description": "Write a Cloud Audit log",
      "type": "object",
      "properties": {
        "logName": {
          "description": "The log_name to populate in the Cloud Audit Record.",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Corresponds to \"cloudaudit.googleapis.com\/activity\"",
            "Corresponds to \"cloudaudit.googleapis.com\/data_access\""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_LOG_NAME",
            "ADMIN_ACTIVITY",
            "DATA_ACCESS"
          ]
        },
        "authorizationLoggingOptions": {
          "description": "Information used by the Cloud Audit Logging pipeline.",
          "$ref": "AuthorizationLoggingOptions"
        }
      }
    },
    "AuthorizationLoggingOptions": {
      "id": "AuthorizationLoggingOptions",
      "description": "Authorization-related information used by Cloud Audit Logging.",
      "type": "object",
      "properties": {
        "permissionType": {
          "description": "The type of the permission that was checked.",
          "enumDescriptions": [
            "Default. Should not be used.",
            "A read of admin (meta) data.",
            "A write of admin (meta) data.",
            "A read of standard data.",
            "A write of standard data."
          ],
          "type": "string",
          "enum": [
            "PERMISSION_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "ADMIN_WRITE",
            "DATA_READ",
            "DATA_WRITE"
          ]
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation\nof the operation. Operations that have successfully been cancelled\nhave Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "unreachable": {
          "description": "Output only. List of Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operationStatus": {
          "description": "Output only. Operation status for gameservices API operations. Operation status is in\nthe form of key-value pairs where keys are resource IDs and the values show\nthe status of the operation. In case of failures, the value includes an\nerror code and error message.",
          "type": "object",
          "additionalProperties": {
            "$ref": "OperationStatus"
          }
        }
      }
    },
    "OperationStatus": {
      "id": "OperationStatus",
      "type": "object",
      "properties": {
        "done": {
          "description": "Output only. Whether the operation is done or still in progress.",
          "type": "boolean"
        },
        "errorCode": {
          "description": "The error code in case of failures.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "PERMISSION_DENIED",
            "CLUSTER_CONNECTION"
          ]
        },
        "errorMessage": {
          "description": "The human-readable error message.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "gameservices.projects.locations.list",
              "path": "v1alpha/{+name}/locations",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "includeUnrevealedLocations": {
                  "description": "If true, the returned list will include locations which are not yet\nrevealed.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "id": "gameservices.projects.locations.get",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "gameservices.projects.locations.operations.list",
                  "path": "v1alpha/{+name}/operations",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users\/*\/operations`. To\noverride the binding, API services can add a binding such as\n`\"\/v1\/{name=users\/*}\/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "gameservices.projects.locations.operations.get",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice."
                },
                "delete": {
                  "id": "gameservices.projects.locations.operations.delete",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "gameservices.projects.locations.operations.cancel",
                  "path": "v1alpha/{+name}:cancel",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`."
                }
              }
            },
            "gameServerDeployments": {
              "methods": {
                "list": {
                  "id": "gameservices.projects.locations.gameServerDeployments.list",
                  "path": "v1alpha/{+parent}/gameServerDeployments",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. Uses the form:\n`projects\/{project}\/locations\/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return.  If unspecified, server\nwill pick an appropriate default. Server may return fewer items than\nrequested. A caller should only rely on response's\nnext_page_token to\ndetermine if there are more GameServerDeployments left to be queried.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous List request,\nif any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to list results.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Specifies the ordering of results following syntax at\nhttps:\/\/cloud.google.com\/apis\/design\/design_patterns#sorting_order.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListGameServerDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Game Server Deployments in a given project and Location."
                },
                "get": {
                  "id": "gameservices.projects.locations.gameServerDeployments.get",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Game Server Deployment to retrieve. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/gameServerDeployments\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GameServerDeployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Game Server Deployment."
                },
                "create": {
                  "id": "gameservices.projects.locations.gameServerDeployments.create",
                  "path": "v1alpha/{+parent}/gameServerDeployments",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. Uses the form:\n`projects\/{project}\/locations\/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "deploymentId": {
                      "description": "Required. The ID of the Game Server Deployment resource to be created.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Game Server Deployment in a given project and Location."
                },
                "delete": {
                  "id": "gameservices.projects.locations.gameServerDeployments.delete",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Game Server Deployment to delete. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/gameServerDeployments\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Game Server Deployment."
                },
                "patch": {
                  "id": "gameservices.projects.locations.gameServerDeployments.patch",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the Game Server Deployment. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}`.\nFor example,\n\n`projects\/my-project\/locations\/{location}\/gameServerDeployments\/my-deployment`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/gameServerDeployments\/[^\/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in\nthis field. For the `FieldMask` definition, see\n\nhttps:\n\/\/developers.google.com\/protocol-buffers\n\/\/ \/docs\/reference\/google.protobuf#fieldmask",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Patches a Game Server Deployment."
                },
                "getRollout": {
                  "id": "gameservices.projects.locations.gameServerDeployments.getRollout",
                  "path": "v1alpha/{+name}/rollout",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Game Server Deployment to retrieve. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}\/rollout`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/gameServerDeployments\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details a single Game Server Deployment Rollout."
                },
                "updateRollout": {
                  "id": "gameservices.projects.locations.gameServerDeployments.updateRollout",
                  "path": "v1alpha/{+name}/rollout",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the Game Server Deployment Rollout. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}\/rollout`.\nFor example,\n\n`projects\/my-project\/locations\/{location}\/gameServerDeployments\/my-deployment\/rollout`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/gameServerDeployments\/[^\/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in\nthis field. For the `FieldMask` definition, see\n\nhttps:\n\/\/developers.google.com\/protocol-buffers\n\/\/ \/docs\/reference\/google.protobuf#fieldmask",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Patches a single Game Server Deployment Rollout.\nThe method will not return an error if the update does not affect any\nexisting realms. For example - if the default_game_server_config is changed\nbut all existing realms use the override, that is valid. Similarly, if a\nnon existing realm is explicitly called out in game_server_config_overrides\nfield, that will also not result in an error."
                },
                "previewRollout": {
                  "id": "gameservices.projects.locations.gameServerDeployments.previewRollout",
                  "path": "v1alpha/{+name}/rollout:preview",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout:preview",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the Game Server Deployment Rollout. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}\/rollout`.\nFor example,\n\n`projects\/my-project\/locations\/{location}\/gameServerDeployments\/my-deployment\/rollout`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/gameServerDeployments\/[^\/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Mask of fields to update. At least one path must be supplied in\nthis field. For the `FieldMask` definition, see\n\nhttps:\n\/\/developers.google.com\/protocol-buffers\n\/\/ \/docs\/reference\/google.protobuf#fieldmask",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "previewTime": {
                      "description": "Optional. The target timestamp to compute the preview. Defaults to the immediately\nafter the proposed Rollout completes.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "response": {
                    "$ref": "PreviewGameServerDeploymentRolloutResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Previews the Game Server Deployment Rollout. This API does not mutate the\nRollout resource."
                },
                "fetchDeploymentState": {
                  "id": "gameservices.projects.locations.gameServerDeployments.fetchDeploymentState",
                  "path": "v1alpha/{+name}:fetchDeploymentState",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:fetchDeploymentState",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Game Server Deployment. Uses the form:\n\n`projects\/{project}\/locations\/{location}\/gameServerDeployments\/{deployment}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/gameServerDeployments\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "FetchDeploymentStateRequest"
                  },
                  "response": {
                    "$ref": "FetchDeploymentStateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Retrieves information about the current state of the Game Server\nDdeployment. Gathers all the Agones fleets and Agones autoscalers,\nincluding fleets running an older version of the Game Server Deployment."
                },
                "setIamPolicy": {
                  "id": "gameservices.projects.locations.gameServerDeployments.setIamPolicy",
                  "path": "v1alpha/{+resource}:setIamPolicy",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
[...]
