{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "iamassist:v1alpha2",
  "name": "iamassist",
  "canonicalName": "Iamassist",
  "version": "v1alpha2",
  "revision": "0",
  "title": "IAM Assist API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/iam/",
  "protocol": "rest",
  "rootUrl": "https://iamassist.googleapis.com/",
  "mtlsRootUrl": "https://iamassist.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://iamassist.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleIamAssistV1alpha2CheckAccessRequest": {
      "id": "GoogleIamAssistV1alpha2CheckAccessRequest",
      "description": "CheckAccessRequest is the request for CheckAccess",
      "type": "object",
      "properties": {
        "accessTuple": {
          "description": "Required. The tuple to check access for.",
          "$ref": "GoogleIamAssistV1alpha2AccessTuple"
        },
        "policyOverlay": {
          "description": "Mapping from full resource names to simulated policies.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha2AccessTuple": {
      "id": "GoogleIamAssistV1alpha2AccessTuple",
      "description": "AccessTuple defines information required for checking an access attempt.\nIn other words, this is the tuple given to `CheckAccess`.",
      "type": "object",
      "properties": {
        "principal": {
          "description": "REQUIRED: The principal on behalf of who the access is explained for.\nThe format is the one of the principal's email addresses associated with\nits gaia account. It must be an account that can appear as an actor.\nFor example groups are not supported. Currently, service accounts\nare partially supported.",
          "type": "string"
        },
        "fullResourceName": {
          "description": "REQUIRED: A full resource name according to http:\/\/go\/resource-names.\nThis is the full resource name of the resource that access\nis checked against.",
          "type": "string"
        },
        "permission": {
          "description": "REQUIRED: The Cloud IAM permission under which defines the kind of access\nbeing explained. Example: \"resourcemanager.projects.get\" would explain\nif and why the principal has the resourcemanager.projects.get permission\non the resource specified in full_resource_name declared in this structure.\nSee https:\/\/cloud.google.com\/iam\/docs\/testing-permissions",
          "type": "string"
        },
        "conditionContext": {
          "description": "OPTIONAL: The Cloud IAM condition context under which defines the kind of\naccess being explained. ExplainAccess would explain if and why the\nprincipal has the queried permission on the resource specified in\nfull_resource_name under this context",
          "$ref": "GoogleRpcContextAttributeContext"
        }
      }
    },
    "GoogleRpcContextAttributeContext": {
      "id": "GoogleRpcContextAttributeContext",
      "description": "This message defines the standard attribute vocabulary for Google APIs.\n\nAn attribute is a piece of metadata that describes an activity on a network\nservice. For example, the size of an HTTP request, or the status code of\nan HTTP response.\n\nEach attribute has a type and a name, which is logically defined as\na proto message field in `AttributeContext`. The field type becomes the\nattribute type, and the field path becomes the attribute name. For example,\nthe attribute `source.ip` maps to field `AttributeContext.source.ip`.\n\nThis message definition is guaranteed not to have any wire breaking change.\nSo you can use it directly for passing attributes across different systems.\n\nNOTE: Different system may generate different subset of attributes. Please\nverify the system specification before relying on an attribute generated\na system.",
      "type": "object",
      "properties": {
        "origin": {
          "description": "The origin of a network activity. In a multi hop network activity,\nthe origin represents the sender of the first hop. For the first hop,\nthe `source` and the `origin` must have the same content.",
          "$ref": "GoogleRpcContextAttributeContextPeer"
        },
        "source": {
          "description": "The source of a network activity, such as starting a TCP connection.\nIn a multi hop network activity, the source represents the sender of the\nlast hop.",
          "$ref": "GoogleRpcContextAttributeContextPeer"
        },
        "destination": {
          "description": "The destination of a network activity, such as accepting a TCP connection.\nIn a multi hop network activity, the destination represents the receiver of\nthe last hop.",
          "$ref": "GoogleRpcContextAttributeContextPeer"
        },
        "request": {
          "description": "Represents a network request, such as an HTTP request.",
          "$ref": "GoogleRpcContextAttributeContextRequest"
        },
        "response": {
          "description": "Represents a network response, such as an HTTP response.",
          "$ref": "GoogleRpcContextAttributeContextResponse"
        },
        "resource": {
          "description": "Represents a target resource that is involved with a network activity.\nIf multiple resources are involved with an activity, this must be the\nprimary one.",
          "$ref": "GoogleRpcContextAttributeContextResource"
        },
        "api": {
          "description": "Represents an API operation that is involved to a network activity.",
          "$ref": "GoogleRpcContextAttributeContextApi"
        }
      }
    },
    "GoogleRpcContextAttributeContextPeer": {
      "id": "GoogleRpcContextAttributeContextPeer",
      "description": "This message defines attributes for a node that handles a network request.\nThe node can be either a service or an application that sends, forwards,\nor receives the request. Service peers should fill in\n`principal` and `labels` as appropriate.",
      "type": "object",
      "properties": {
        "ip": {
          "description": "The IP address of the peer.",
          "type": "string"
        },
        "port": {
          "description": "The network port of the peer.",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "description": "The labels associated with the peer.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "principal": {
          "description": "The identity of this peer. Similar to `Request.auth.principal`, but\nrelative to the peer instead of the request. For example, the\nidenity associated with a load balancer that forwared the request.",
          "type": "string"
        },
        "regionCode": {
          "description": "The CLDR country\/region code associated with the above IP address.\nIf the IP address is private, the `region_code` should reflect the\nphysical location where this peer is running.",
          "type": "string"
        }
      }
    },
    "GoogleRpcContextAttributeContextRequest": {
      "id": "GoogleRpcContextAttributeContextRequest",
      "description": "This message defines attributes for an HTTP request. If the actual\nrequest is not an HTTP request, the runtime system should try to map\nthe actual request to an equivalent HTTP request.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID for a request, which can be propagated to downstream\nsystems. The ID should have low probability of collision\nwithin a single day for a specific service.",
          "type": "string"
        },
        "method": {
          "description": "The HTTP request method, such as `GET`, `POST`.",
          "type": "string"
        },
        "headers": {
          "description": "The HTTP request headers. If multiple headers share the same key, they\nmust be merged according to the HTTP spec. All header keys must be\nlowercased, because HTTP header keys are case-insensitive.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "path": {
          "description": "The HTTP URL path.",
          "type": "string"
        },
        "host": {
          "description": "The HTTP request `Host` header value.",
          "type": "string"
        },
        "scheme": {
          "description": "The HTTP URL scheme, such as `http` and `https`.",
          "type": "string"
        },
        "query": {
          "description": "The HTTP URL query in the format of `name1=value1&name2=value2`, as it\nappears in the first line of the HTTP request. No decoding is performed.",
          "type": "string"
        },
        "time": {
          "description": "The timestamp when the `destination` service receives the first byte of\nthe request.",
          "type": "string",
          "format": "google-datetime"
        },
        "size": {
          "description": "The HTTP request size in bytes. If unknown, it must be -1.",
          "type": "string",
          "format": "int64"
        },
        "protocol": {
          "description": "The network protocol used with the request, such as \"http\/1.1\",\n\"spdy\/3\", \"h2\", \"h2c\", \"webrtc\", \"tcp\", \"udp\", \"quic\". See\nhttps:\/\/www.iana.org\/assignments\/tls-extensiontype-values\/tls-extensiontype-values.xhtml#alpn-protocol-ids\nfor details.",
          "type": "string"
        },
        "reason": {
          "description": "A special parameter for request reason. It is used by security systems\nto associate auditing information with a request.",
          "type": "string"
        },
        "auth": {
          "description": "The request authentication. May be absent for unauthenticated requests.\nDerived from the HTTP request `Authorization` header or equivalent.",
          "$ref": "GoogleRpcContextAttributeContextAuth"
        }
      }
    },
    "GoogleRpcContextAttributeContextAuth": {
      "id": "GoogleRpcContextAttributeContextAuth",
      "description": "This message defines request authentication attributes. Terminology is\nbased on the JSON Web Token (JWT) standard, but the terms also\ncorrelate to concepts in other standards.",
      "type": "object",
      "properties": {
        "principal": {
          "description": "The authenticated principal. Reflects the issuer (`iss`) and subject\n(`sub`) claims within a JWT. The issuer and subject should be `\/`\ndelimited, with `\/` percent-encoded within the subject fragment. For\nGoogle accounts, the principal format is:\n\"https:\/\/accounts.google.com\/{id}\"",
          "type": "string"
        },
        "audiences": {
          "description": "The intended audience(s) for this authentication information. Reflects\nthe audience (`aud`) claim within a JWT. The audience\nvalue(s) depends on the `issuer`, but typically include one or more of\nthe following pieces of information:\n\n*  The services intended to receive the credential such as\n   [\"pubsub.googleapis.com\", \"storage.googleapis.com\"]\n*  A set of service-based scopes. For example,\n   [\"https:\/\/www.googleapis.com\/auth\/cloud-platform\"]\n*  The client id of an app, such as the Firebase project id for JWTs\n   from Firebase Auth.\n\nConsult the documentation for the credential issuer to determine the\ninformation provided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "presenter": {
          "description": "The authorized presenter of the credential. Reflects the optional\nAuthorized Presenter (`azp`) claim within a JWT or the\nOAuth client id. For example, a Google Cloud Platform client id looks\nas follows: \"123456789012.apps.googleusercontent.com\".",
          "type": "string"
        },
        "claims": {
          "description": "Structured claims presented with the credential. JWTs include\n`{key: value}` pairs for standard and private claims. The following\nis a subset of the standard required and optional claims that would\ntypically be presented for a Google-based JWT:\n\n   {'iss': 'accounts.google.com',\n    'sub': '113289723416554971153',\n    'aud': ['123456789012', 'pubsub.googleapis.com'],\n    'azp': '123456789012.apps.googleusercontent.com',\n    'email': 'jsmith@example.com',\n    'iat': 1353601026,\n    'exp': 1353604926}\n\nSAML assertions are similarly specified, but with an identity provider\ndependent structure.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "accessLevels": {
          "description": "A list of access level resource names that allow resources to be\naccessed by authenticated requester. It is part of Secure GCP processing\nfor the incoming request. An access level string has the format:\n\"\/\/{api_service_name}\/accessPolicies\/{policy_id}\/accessLevels\/{short_name}\"\n\nExample:\n\"\/\/accesscontextmanager.googleapis.com\/accessPolicies\/MY_POLICY_ID\/accessLevels\/MY_LEVEL\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleRpcContextAttributeContextResponse": {
      "id": "GoogleRpcContextAttributeContextResponse",
      "description": "This message defines attributes for a typical network response. It\ngenerally models semantics of an HTTP response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The HTTP response status code, such as `200` and `404`.",
          "type": "string",
          "format": "int64"
        },
        "size": {
          "description": "The HTTP response size in bytes. If unknown, it must be -1.",
          "type": "string",
          "format": "int64"
        },
        "headers": {
          "description": "The HTTP response headers. If multiple headers share the same key, they\nmust be merged according to HTTP spec. All header keys must be\nlowercased, because HTTP header keys are case-insensitive.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "time": {
          "description": "The timestamp when the `destination` service generates the first byte of\nthe response.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleRpcContextAttributeContextResource": {
      "id": "GoogleRpcContextAttributeContextResource",
      "description": "This message defines core attributes for a resource. A resource is an\naddressable (named) entity provided by the destination service. For\nexample, a file stored on a network storage service.",
      "type": "object",
      "properties": {
        "service": {
          "description": "The name of the service that this resource belongs to, such as\n`pubsub.googleapis.com`. The service may be different from the DNS\nhostname that actually serves the request.",
          "type": "string"
        },
        "name": {
          "description": "The stable identifier (name) of a resource on the `service`. A resource\ncan be logically identified as \"\/\/{resource.service}\/{resource.name}\".\nThe differences between a resource name and a URI are:\n\n*   Resource name is a logical identifier, independent of network\n    protocol and API version. For example,\n    `\/\/pubsub.googleapis.com\/projects\/123\/topics\/news-feed`.\n*   URI often includes protocol and version information, so it can\n    be used directly by applications. For example,\n    `https:\/\/pubsub.googleapis.com\/v1\/projects\/123\/topics\/news-feed`.\n\nSee https:\/\/cloud.google.com\/apis\/design\/resource_names for details.",
          "type": "string"
        },
        "type": {
          "description": "The type of the resource. The syntax is platform-specific because\ndifferent platforms define their resources differently.\n\nFor Google APIs, the type format must be \"{service}\/{kind}\".",
          "type": "string"
        },
        "labels": {
          "description": "The labels or tags on the resource, such as AWS resource tags and\nKubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleRpcContextAttributeContextApi": {
      "id": "GoogleRpcContextAttributeContextApi",
      "description": "This message defines attributes associated with API operations, such as\na network API request. The terminology is based on the conventions used\nby Google APIs, Istio, and OpenAPI.",
      "type": "object",
      "properties": {
        "service": {
          "description": "The API service name. It is a logical identifier for a networked API,\nsuch as \"pubsub.googleapis.com\". The naming syntax depends on the\nAPI management system being used for handling the request.",
          "type": "string"
        },
        "operation": {
          "description": "The API operation name. For gRPC requests, it is the fully qualified API\nmethod name, such as \"google.pubsub.v1.Publisher.Publish\". For OpenAPI\nrequests, it is the `operationId`, such as \"getPet\".",
          "type": "string"
        },
        "protocol": {
          "description": "The API protocol used for sending the request, such as \"http\", \"https\",\n\"grpc\", or \"internal\".",
          "type": "string"
        },
        "version": {
          "description": "The API version associated with the API operation above, such as \"v1\" or\n\"v1alpha1\".",
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nOptionally, a `binding` can specify a `condition`, which is a logical\nexpression that allows access to a resource only if the expression evaluates\nto `true`. A condition can add constraints based on attributes of the\nrequest, the resource, or both.\n\n**JSON example:**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles\/resourcemanager.organizationAdmin\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles\/resourcemanager.organizationViewer\",\n          \"members\": [\"user:eve@example.com\"],\n          \"condition\": {\n            \"title\": \"expirable access\",\n            \"description\": \"Does not grant access after Sep 2020\",\n            \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\",\n          }\n        }\n      ],\n      \"etag\": \"BwWWja0YfJA=\",\n      \"version\": 3\n    }\n\n**YAML example:**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-project-id@appspot.gserviceaccount.com\n      role: roles\/resourcemanager.organizationAdmin\n    - members:\n      - user:eve@example.com\n      role: roles\/resourcemanager.organizationViewer\n      condition:\n        title: expirable access\n        description: Does not grant access after Sep 2020\n        expression: request.time < timestamp('2020-10-01T00:00:00.000Z')\n    - etag: BwWWja0YfJA=\n    - version: 3\n\nFor a description of IAM and its features, see the\n[IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value\nare rejected.\n\nAny operation that affects conditional role bindings must specify version\n`3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding\n* Adding a conditional role binding to a policy\n* Changing a conditional role binding in a policy\n* Removing any role binding, with or without a condition, from a policy\n  that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may\nspecify any valid version or leave the field unset.",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a\n`condition` that determines how and when the `bindings` are applied. Each\nof the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding.\nNOTE: An unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently.",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https:\/\/github.com\/google\/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() < 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language\nsyntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha2CheckAccessResponse": {
      "id": "GoogleIamAssistV1alpha2CheckAccessResponse",
      "description": "CheckAccessResponse is the response from CheckAccess.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Reflects whether the probed access was granted, denied\nor ultimately could not be decided from the caller's point of view.",
          "enumDescriptions": [
            "Reserved",
            "The access is granted due to one or multiple bindings found.",
            "The access is not granted by the policy.",
            "At least one binding was found but it is conditional. undecided,\nundetermined ,uncertain, open, tentative, contingent",
            "Indicating that lack of access to the underlying information\ncauses the result to be undetermined.\nThis can be due to\n\n1) The caller has no access to the policy. In this case ExplainedPolicy\n   will have not policy set.\n\n2) The caller has no access to some of the items referenced in the policy.\n   In this case the policy in ExplainedPolicy will be set but the\n   explanations field will contain at least one inconclusive element."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha2ReplayRecentAccessesRequest": {
      "id": "GoogleIamAssistV1alpha2ReplayRecentAccessesRequest",
      "description": "Request for recent accesses replay.",
      "type": "object",
      "properties": {
        "policyOverlay": {
          "description": "Required. Mapping from full resource names to simulated policies.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          }
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`\/`Create`\/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleIamAssistV1alpha2ReplayOperationMetadata": {
      "id": "GoogleIamAssistV1alpha2ReplayOperationMetadata",
      "description": "Metadata about a ReplayAccessLogs operation.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleIamAssistV1alpha2ReplayRecentAccessesResponse": {
      "id": "GoogleIamAssistV1alpha2ReplayRecentAccessesResponse",
      "description": "Result of a ReplayRecentAccesses.",
      "type": "object",
      "properties": {
        "logsMetadata": {
          "description": "Metadata about the replayed logs.",
          "$ref": "GoogleIamAssistV1alpha2LogsMetadata"
        },
        "diffs": {
          "description": "List of differences found during replay.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha2ReplayDiff"
          }
        },
        "errors": {
          "description": "List of errors encountered during replay.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha2ReplayError"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha2LogsMetadata": {
      "id": "GoogleIamAssistV1alpha2LogsMetadata",
      "description": "Metatdata about the logs used for replay.",
      "type": "object",
      "properties": {
        "uniqueLogCount": {
          "description": "Number of unique log entries analyzed.",
          "type": "integer",
          "format": "int32"
        },
        "differenceCount": {
          "description": "Number of analyzed log entries with a difference between baseline and\nsimulated policies.",
          "type": "integer",
          "format": "int32"
        },
        "oldestTime": {
          "description": "Timestamp of oldest log entry queried.",
          "type": "string",
          "format": "google-datetime"
        },
        "newestTime": {
          "description": "Timestamp of newest log entry queried.",
          "type": "string",
          "format": "google-datetime"
        },
        "replayErrorCount": {
          "description": "Number of logs with error during replay.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleIamAssistV1alpha2ReplayDiff": {
      "id": "GoogleIamAssistV1alpha2ReplayDiff",
      "description": "The differences found between baseline and simulated policies for a single\naccess tuple.",
      "type": "object",
      "properties": {
        "accessTuple": {
          "description": "The access tuple with a difference between replays.",
          "$ref": "GoogleIamAssistV1alpha2AccessTuple"
        },
        "accessDiff": {
          "description": "The difference in AccessState between replays.",
          "$ref": "GoogleIamAssistV1alpha2ReplayDiffAccessStateDiff"
        },
        "lastAccessTime": {
          "description": "Newest Timestamp at which access_tuple was seen.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleIamAssistV1alpha2ReplayDiffAccessStateDiff": {
      "id": "GoogleIamAssistV1alpha2ReplayDiffAccessStateDiff",
      "description": "Container for AccessState of baseline and simulated policies.",
      "type": "object",
      "properties": {
        "baseline": {
          "description": "The access state when replayed against the baseline policies.",
          "enumDescriptions": [
            "Reserved",
            "The access is granted due to one or multiple bindings found.",
            "The access is not granted by the policy.",
            "At least one binding was found but it is conditional. undecided,\nundetermined ,uncertain, open, tentative, contingent",
            "Indicating that lack of access to the underlying information\ncauses the result to be undetermined.\nThis can be due to\n\n1) The caller has no access to the policy. In this case ExplainedPolicy\n   will have not policy set.\n\n2) The caller has no access to some of the items referenced in the policy.\n   In this case the policy in ExplainedPolicy will be set but the\n   explanations field will contain at least one inconclusive element."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "simulated": {
          "description": "The access state when replayed against the simulated policies.",
          "enumDescriptions": [
            "Reserved",
            "The access is granted due to one or multiple bindings found.",
            "The access is not granted by the policy.",
            "At least one binding was found but it is conditional. undecided,\nundetermined ,uncertain, open, tentative, contingent",
            "Indicating that lack of access to the underlying information\ncauses the result to be undetermined.\nThis can be due to\n\n1) The caller has no access to the policy. In this case ExplainedPolicy\n   will have not policy set.\n\n2) The caller has no access to some of the items referenced in the policy.\n   In this case the policy in ExplainedPolicy will be set but the\n   explanations field will contain at least one inconclusive element."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha2ReplayError": {
      "id": "GoogleIamAssistV1alpha2ReplayError",
      "type": "object",
      "properties": {
        "accessTuple": {
          "description": "The access tuple with a error during replay.",
          "$ref": "GoogleIamAssistV1alpha2AccessTuple"
        },
        "lastAccessTime": {
          "description": "Newest Timestamp at which access_tuple was seen.",
          "type": "string",
          "format": "google-datetime"
        },
        "code": {
          "description": "Specific error code indicating what went wrong.",
          "enumDescriptions": [
            "Reserved",
            "An invalid AccessTuple was provided.\nThis can be caused by\n\n1) An invalidly formatted principal, resource, or permission.\n\n2) Providing a permission that is not relevant to the provided resource\ntype, e.g. permission buckets.list on a VM instance.",
            "Caller does not have permission to retrieve this resource's IAM policy.",
            "Both the baseline and the simulated Access State were\nUNKNOWN_CONDITIONAL.",
            "Both the baseline and the simulated Access State were\nUNKNOWN_INFO_DENIED."
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INVALID_ACCESS_TUPLE",
            "PERMISSION_DENIED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayOperationMetadata": {
      "id": "GoogleIamAssistV1alpha3ReplayOperationMetadata",
      "description": "Metadata about a ReplayAccessLogs operation.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleIamAssistV1alpha3Replay": {
      "id": "GoogleIamAssistV1alpha3Replay",
      "description": "A Replay of Accesses against a simulated state.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the replay.\nThe replay id is randomly generated on creation.\nFormat: replays\/{replay}.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the replay.\nhttps:\/\/aip.dev\/216",
          "enumDescriptions": [
            "Reserved.",
            "Replay has not started yet.",
            "Replay is currently running.",
            "Replay has successfully completed.",
            "Replay has finished with an error."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "config": {
          "description": "Required. The configuration used for the replay.",
          "$ref": "GoogleIamAssistV1alpha3ReplayConfig"
        },
        "logsMetadata": {
          "description": "Output only. Metadata about the replayed log entries.",
          "$ref": "GoogleIamAssistV1alpha3ReplayLogsMetadata"
        },
        "diffs": {
          "description": "Output only. The ReplayResults that resulted in diffs being found.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha3ReplayResult"
          }
        },
        "errors": {
          "description": "Output only. The ReplayResults that resulted in an error.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha3ReplayResult"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayConfig": {
      "id": "GoogleIamAssistV1alpha3ReplayConfig",
      "description": "The configuration used for the replay.",
      "type": "object",
      "properties": {
        "policyOverlay": {
          "description": "The policy overlay used during the replay.\nKeys are full resource names and the values are the policies to apply on\nthese resources in the simulated state.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          }
        },
        "logSource": {
          "description": "The logs to use as input for the replay.",
          "enumDescriptions": [
            "An unspecified log source.\nReplay will default to using RECENT_ACCESSES.",
            "Retrieves the 5000 most recent accesses from the last 90 days from\nan internal log source.\n\nNote that the log freshness (i.e. the date of the newest log\nentry) may be up to 7 days stale.  In other words, an access attempt that\nonly occurred within the past 7 days may not be captured by the replay."
          ],
          "type": "string",
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "RECENT_ACCESSES"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayLogsMetadata": {
      "id": "GoogleIamAssistV1alpha3ReplayLogsMetadata",
      "description": "Metadata about the replayed log entries.",
      "type": "object",
      "properties": {
        "logCount": {
          "description": "Number of log entries replayed.\nlog_count == unchanged_count + difference_count + error_count",
          "type": "integer",
          "format": "int32"
        },
        "unchangedCount": {
          "description": "Number of replayed log entries with no difference between\nbaseline and simulated",
          "type": "integer",
          "format": "int32"
        },
        "differenceCount": {
          "description": "Number of replayed log entries with a difference between baseline and\nsimulated policies.",
          "type": "integer",
          "format": "int32"
        },
        "errorCount": {
          "description": "Number of log entries with an error during replay.",
          "type": "integer",
          "format": "int32"
        },
        "oldestDate": {
          "description": "Date of oldest log entry replayed.",
          "$ref": "GoogleTypeDate"
        },
        "newestDate": {
          "description": "Date of newest log entry replayed.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, e.g. a birthday. The time of day\nand time zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. This can represent:\n\n* A full date, with non-zero year, month and day values\n* A month and day value, with a zero year, e.g. an anniversary\n* A year on its own, with zero month and day values\n* A year and month value, with a zero day, e.g. a credit card expiration date\n\nRelated types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of year. Must be from 1 to 12, or 0 if specifying a year without a\nmonth and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year by itself or a year and month where the day is not\nsignificant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayResult": {
      "id": "GoogleIamAssistV1alpha3ReplayResult",
      "description": "The result of replaying a single access tuple against a simulated state.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the replay result.\nFormat: replays\/{replay}\/results\/{replay_result}",
          "type": "string"
        },
        "parent": {
          "description": "The replay the access tuple was included in.",
          "type": "string"
        },
        "accessTuple": {
          "description": "The access replayed.",
          "$ref": "GoogleIamAssistV1alpha3AccessTuple"
        },
        "lastSeenDate": {
          "description": "The late date this access was seen in the logs.",
          "$ref": "GoogleTypeDate"
        },
        "diff": {
          "description": "The tuple was successfully replayed and had a difference.",
          "$ref": "GoogleIamAssistV1alpha3ReplayDiff"
        },
        "error": {
          "description": "The tuple was not successfully replayed.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleIamAssistV1alpha3AccessTuple": {
      "id": "GoogleIamAssistV1alpha3AccessTuple",
      "description": "Information about the member, resource, and permission to check.",
      "type": "object",
      "properties": {
        "principal": {
          "description": "Required. The member, or principal, whose access you want to check, in the form of\nthe email address that represents that member. For example,\n`alice@example.com` or\n`my-service-account@my-project.iam.gserviceaccount.com`.\n\nThe member must be a Google Account or a service account. Other types of\nmembers are not supported.",
          "type": "string"
        },
        "fullResourceName": {
          "description": "Required. The full resource name that identifies the resource. For example,\n`\/\/compute.googleapis.com\/projects\/my-project\/zones\/us-central1-a\/instances\/my-instance`.\n\nFor examples of full resource names for Google Cloud services, see\nhttps:\/\/cloud.google.com\/iam\/help\/troubleshooter\/full-resource-names.",
          "type": "string"
        },
        "permission": {
          "description": "Required. The IAM permission to check for the specified member and resource.\n\nFor a complete list of IAM permissions, see\nhttps:\/\/cloud.google.com\/iam\/help\/permissions\/reference.\n\nFor a complete list of predefined IAM roles and the permissions in each\nrole, see https:\/\/cloud.google.com\/iam\/help\/roles\/reference.",
          "type": "string"
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayDiff": {
      "id": "GoogleIamAssistV1alpha3ReplayDiff",
      "description": "A successful replay of an AccessTuple that resulted in a difference between\nbaseline and simulated.",
      "type": "object",
      "properties": {
        "accessDiff": {
          "description": "The difference in AccessState between replays.",
          "$ref": "GoogleIamAssistV1alpha3AccessStateDiff"
        }
      }
    },
    "GoogleIamAssistV1alpha3AccessStateDiff": {
      "id": "GoogleIamAssistV1alpha3AccessStateDiff",
      "description": "Container for ExplainedAccess of baseline and simulated policies.\nFor both baseline and simulated, the ExplainedAccess.policies are filtered\nto only include the UNKNOWN infromation. If the AccessState is known, e.g.\nGRANTED or NOT_GRANTED, the policy list will be empty.\nOnly policies with an AccessState of UNKNOWN are included.",
      "type": "object",
      "properties": {
        "baseline": {
          "description": "The explained access when replayed against the baseline policies.",
          "$ref": "GoogleIamAssistV1alpha3ExplainedAccess"
        },
        "simulated": {
          "description": "The explained access when replayed against the simulated policies.",
          "$ref": "GoogleIamAssistV1alpha3ExplainedAccess"
        },
        "accessChange": {
          "description": "A single value interpretation of the difference between baseline and\nsimulated.",
          "enumDescriptions": [
            "Reserved",
            "The two ExplainedAccesses are equal.\nThis includes the case where both baseline and simulated are UNKNOWN,\nbut the unknown information is equivalent.",
            "The baseline and simulated accesses are both UNKNOWN, but the\nunknown information differs between them.",
            "The baseline access state is GRANTED and\nthe simulated access state is NOT_GRANTED",
            "The baseline access state is NOT_GRANTED and\nthe simulated access state is GRANTED.",
            "The baseline access state is GRANTED and\nthe simulated access state is UNKNOWN.",
            "The baseline state is NOT_GRANTED and\nthe simulated state is UNKNOWN."
          ],
          "type": "string",
          "enum": [
            "ACCESS_CHANGE_TYPE_UNSPECIFIED",
            "NO_CHANGE",
            "UNKNOWN_CHANGE",
            "ACCESS_REVOKED",
            "ACCESS_GAINED",
            "ACCESS_MAYBE_REVOKED",
            "ACCESS_MAYBE_GRANTED"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha3ExplainedAccess": {
      "id": "GoogleIamAssistV1alpha3ExplainedAccess",
      "description": "Details about how the set of\nExplained Policies\nresulted in the Access State.",
      "type": "object",
      "properties": {
        "accessState": {
          "description": "The overall access state for the included set of policies.",
          "enumDescriptions": [
            "Reserved for future use.",
            "The member has the permission.",
            "The member does not have the permission.",
            "The member has the permission only if a condition expression evaluates to\n`true`.",
            "The sender of the request does not have access to all of the policies that\nPolicy Troubleshooter needs to evaluate."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "policies": {
          "description": "The set of policies contributing to the listed AccessState.\nAn ExplainedPolicy with UNKNOWN_INFO_DENIED and nothing else means\nthe user did not have permission to get one or more policies.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha3ExplainedPolicy"
          }
        },
        "errors": {
          "description": "The list of problems encountered when explaining this access.\nThis list provides the reason why UNKNOWN information in `policies` was\nunknown.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha3ExplainedPolicy": {
      "id": "GoogleIamAssistV1alpha3ExplainedPolicy",
      "description": "Details about how a specific IAM Policy contributed\nto the access check.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Indicates whether _this policy_ provides the specified permission to the\nspecified member for the specified resource.\n\nThis field does _not_ indicate whether the member actually has the\npermission for the resource. There might be another policy that overrides\nthis policy. To determine whether the member actually has the permission,\nuse the `access` field in the\nTroubleshootIamPolicyResponse.",
          "enumDescriptions": [
            "Reserved for future use.",
            "The member has the permission.",
            "The member does not have the permission.",
            "The member has the permission only if a condition expression evaluates to\n`true`.",
            "The sender of the request does not have access to all of the policies that\nPolicy Troubleshooter needs to evaluate."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "fullResourceName": {
          "description": "The full resource name that identifies the resource. For example,\n`\/\/compute.googleapis.com\/projects\/my-project\/zones\/us-central1-a\/instances\/my-instance`.\n\nIf the sender of the request does not have access to the policy, this field\nis omitted.\n\nFor examples of full resource names for Google Cloud services, see\nhttps:\/\/cloud.google.com\/iam\/help\/troubleshooter\/full-resource-names.",
          "type": "string"
        },
        "policy": {
          "description": "The IAM policy attached to the resource.\n\nIf the sender of the request does not have access to the policy, this field\nis empty.",
          "$ref": "GoogleIamV1Policy"
        },
        "bindingExplanations": {
          "description": "Details about how each binding in the policy affects the member's ability,\nor inability, to use the permission for the resource.\n\nIf the sender of the request does not have access to the policy, this field\nis omitted.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha3BindingExplanation"
          }
        },
        "relevance": {
          "description": "The relevance of this policy to the overall determination in the\nTroubleshootIamPolicyResponse.\n\nIf the sender of the request does not have access to the policy, this field\nis omitted.",
          "enumDescriptions": [
            "Reserved for future use.",
            "The data point has a limited effect on the result. Changing the data point\nis unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point\nis likely to affect the overall determination."
          ],
          "type": "string",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha3BindingExplanation": {
      "id": "GoogleIamAssistV1alpha3BindingExplanation",
      "description": "Details about how a binding in a policy affects a member's ability to use a\npermission.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Required. Indicates whether _this binding_ provides the specified permission to the\nspecified member for the specified resource.\n\nThis field does _not_ indicate whether the member actually has the\npermission for the resource. There might be another binding that overrides\nthis binding. To determine whether the member actually has the permission,\nuse the `access` field in the\nTroubleshootIamPolicyResponse.",
          "enumDescriptions": [
            "Reserved for future use.",
            "The member has the permission.",
            "The member does not have the permission.",
            "The member has the permission only if a condition expression evaluates to\n`true`.",
            "The sender of the request does not have access to all of the policies that\nPolicy Troubleshooter needs to evaluate."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "role": {
          "description": "The role that this binding grants. For example,\n`roles\/compute.serviceAgent`.\n\nFor a complete list of predefined IAM roles, as well as the permissions in\neach role, see https:\/\/cloud.google.com\/iam\/help\/roles\/reference.",
          "type": "string"
        },
        "rolePermission": {
          "description": "Indicates whether the role granted by this binding contains the specified\npermission.",
          "enumDescriptions": [
            "Reserved for future use.",
            "The permission is included in the role.",
            "The permission is not included in the role.",
            "The sender of the request is not allowed to access the binding."
          ],
          "type": "string",
          "enum": [
            "ROLE_PERMISSION_UNSPECIFIED",
            "ROLE_PERMISSION_INCLUDED",
            "ROLE_PERMISSION_NOT_INCLUDED",
            "ROLE_PERMISSION_UNKNOWN_INFO_DENIED"
          ]
        },
        "rolePermissionRelevance": {
          "description": "The relevance of the permission's existence, or nonexistence, in the role\nto the overall determination for the entire policy.",
          "enumDescriptions": [
            "Reserved for future use.",
            "The data point has a limited effect on the result. Changing the data point\nis unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point\nis likely to affect the overall determination."
          ],
          "type": "string",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ]
        },
        "memberships": {
          "description": "Indicates whether each member in the binding includes the member specified\nin the request, either directly or indirectly. Each key identifies a member\nin the binding, and each value indicates whether the member in the binding\nincludes the member in the request.\n\nFor example, suppose that a binding includes the following members:\n\n* `user:alice@example.com`\n* `group:product-eng@example.com`\n\nYou want to troubleshoot access for `user:bob@example.com`. This user is a\nmember of the group `group:product-eng@example.com`.\n\nFor the first member in the binding, the key is `user:alice@example.com`,\nand the `membership` field in the value is set to\n`MEMBERSHIP_NOT_INCLUDED`.\n\nFor the second member in the binding, the key is\n`group:product-eng@example.com`, and the `membership` field in the value is\nset to `MEMBERSHIP_INCLUDED`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamAssistV1alpha3BindingExplanationAnnotatedMembership"
          }
        },
        "relevance": {
          "description": "The relevance of this binding to the overall determination for the entire\npolicy.",
          "enumDescriptions": [
            "Reserved for future use.",
            "The data point has a limited effect on the result. Changing the data point\nis unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point\nis likely to affect the overall determination."
          ],
          "type": "string",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ]
        },
        "condition": {
          "description": "A condition expression that prevents access unless the expression evaluates\nto `true`.\n\nTo learn about IAM Conditions, see\nhttp:\/\/cloud.google.com\/iam\/help\/conditions\/overview.",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleIamAssistV1alpha3BindingExplanationAnnotatedMembership": {
      "id": "GoogleIamAssistV1alpha3BindingExplanationAnnotatedMembership",
      "description": "Details about whether the binding includes the member.",
      "type": "object",
      "properties": {
        "membership": {
          "description": "Indicates whether the binding includes the member.",
          "enumDescriptions": [
            "Reserved for future use.",
            "The binding includes the member. The member can be included directly\nor indirectly. For example:\n\n* A member is included directly if that member is listed in the binding.\n* A member is included indirectly if that member is in a Google group or\n  G Suite domain that is listed in the binding.",
            "The binding does not include the member.",
            "The sender of the request is not allowed to access the binding.",
            "The member is an unsupported type. Only Google Accounts and service\naccounts are supported."
          ],
          "type": "string",
          "enum": [
            "MEMBERSHIP_UNSPECIFIED",
            "MEMBERSHIP_INCLUDED",
            "MEMBERSHIP_NOT_INCLUDED",
            "MEMBERSHIP_UNKNOWN_INFO_DENIED",
            "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
          ]
        },
        "relevance": {
          "description": "The relevance of the member's status to the overall determination for the\nbinding.",
          "enumDescriptions": [
            "Reserved for future use.",
            "The data point has a limited effect on the result. Changing the data point\nis unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point\nis likely to affect the overall determination."
          ],
          "type": "string",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ]
        }
      }
    }
  },
  "resources": {
    "simulator": {
      "methods": {
        "checkAccess": {
          "id": "iamassist.simulator.checkAccess",
          "path": "v1alpha2/simulator:checkAccess",
          "flatPath": "v1alpha2/simulator:checkAccess",
          "httpMethod": "POST",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "GoogleIamAssistV1alpha2CheckAccessRequest"
          },
          "response": {
            "$ref": "GoogleIamAssistV1alpha2CheckAccessResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Perform a check on whether a member is granted a permission\non a resource given the provided simulated policies are applied\nto their mapped resources."
        },
        "replayRecentAccesses": {
          "id": "iamassist.simulator.replayRecentAccesses",
          "path": "v1alpha2/simulator:replayRecentAccesses",
          "flatPath": "v1alpha2/simulator:replayRecentAccesses",
          "httpMethod": "POST",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "GoogleIamAssistV1alpha2ReplayRecentAccessesRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "`ReplayRecentAccesses` replays the first K most recent accesses recorded\nfrom internal logs and responds which, if any, of these accesses would\nchange if the provided policy overlay were to be applied.\n\nThe value for K is not fixed while this API is in EAP.  This K will be\nselected low enough so that the full response can fit in single message.\n\nNote that the log freshness (i.e. the timestamp of the newest log\nentry) may be up to 7 days stale.  In other words, an access attempt that\nonly occurred within the past 7 days may not be captured by the replay."
        }
      }
    }
  },
  "basePath": ""
}