{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "iap:v1",
  "name": "iap",
  "canonicalName": "Cloud IAP",
  "version": "v1",
  "revision": "0",
  "title": "Cloud Identity-Aware Proxy API",
  "description": "Controls access to cloud applications running on Google Cloud Platform.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/iap",
  "protocol": "rest",
  "rootUrl": "https://iap.googleapis.com/",
  "mtlsRootUrl": "https://iap.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://iap.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "Policy"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nOptionally, a `binding` can specify a `condition`, which is a logical\nexpression that allows access to a resource only if the expression evaluates\nto `true`. A condition can add constraints based on attributes of the\nrequest, the resource, or both.\n\n**JSON example:**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles\/resourcemanager.organizationAdmin\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles\/resourcemanager.organizationViewer\",\n          \"members\": [\"user:eve@example.com\"],\n          \"condition\": {\n            \"title\": \"expirable access\",\n            \"description\": \"Does not grant access after Sep 2020\",\n            \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\",\n          }\n        }\n      ],\n      \"etag\": \"BwWWja0YfJA=\",\n      \"version\": 3\n    }\n\n**YAML example:**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-project-id@appspot.gserviceaccount.com\n      role: roles\/resourcemanager.organizationAdmin\n    - members:\n      - user:eve@example.com\n      role: roles\/resourcemanager.organizationViewer\n      condition:\n        title: expirable access\n        description: Does not grant access after Sep 2020\n        expression: request.time < timestamp('2020-10-01T00:00:00.000Z')\n    - etag: BwWWja0YfJA=\n    - version: 3\n\nFor a description of IAM and its features, see the\n[IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value\nare rejected.\n\nAny operation that affects conditional role bindings must specify version\n`3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding\n* Adding a conditional role binding to a policy\n* Changing a conditional role binding in a policy\n* Removing any role binding, with or without a condition, from a policy\n  that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may\nspecify any valid version or leave the field unset.",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a\n`condition` that determines how and when the `bindings` are applied. Each\nof the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding.\nNOTE: An unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently.",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https:\/\/github.com\/google\/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() < 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language\nsyntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to\n`GetIamPolicy`. This field is only used by Cloud IAM.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IapSettings": {
      "id": "IapSettings",
      "description": "The IAP configurable settings.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the IAP protected resource.",
          "type": "string"
        },
        "accessSettings": {
          "description": "Top level wrapper for all access related setting in IAP",
          "$ref": "AccessSettings"
        },
        "applicationSettings": {
          "description": "Top level wrapper for all application related settings in IAP",
          "$ref": "ApplicationSettings"
        }
      }
    },
    "AccessSettings": {
      "id": "AccessSettings",
      "description": "Access related settings for IAP protected apps.",
      "type": "object",
      "properties": {
        "gcipSettings": {
          "description": "GCIP claims and endpoint configurations for 3p identity providers.",
          "$ref": "GcipSettings"
        },
        "corsSettings": {
          "description": "Configuration to allow cross-origin requests via IAP.",
          "$ref": "CorsSettings"
        },
        "oauthSettings": {
          "description": "Settings to configure IAP's OAuth behavior.",
          "$ref": "OAuthSettings"
        },
        "policyDelegationSettings": {
          "description": "Settings to configure Policy delegation for apps hosted in tenant projects.\nINTERNAL_ONLY.",
          "$ref": "PolicyDelegationSettings"
        }
      }
    },
    "GcipSettings": {
      "id": "GcipSettings",
      "description": "Allows customers to configure tenant_id for GCIP instance per-app.",
      "type": "object",
      "properties": {
        "tenantIds": {
          "description": "GCIP tenant ids that are linked to the IAP resource.\ntenant_ids could be a string beginning with a number character to indicate\nauthenticating with GCIP tenant flow, or in the format of _<ProjectNumber>\nto indicate authenticating with GCIP agent flow.\nIf agent flow is used, tenant_ids should only contain one single element,\nwhile for tenant flow, tenant_ids can contain multiple elements.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loginPageUri": {
          "description": "Login page URI associated with the GCIP tenants.\nTypically, all resources within the same project share the same login page,\nthough it could be overridden at the sub resource level.",
          "type": "string"
        }
      }
    },
    "CorsSettings": {
      "id": "CorsSettings",
      "description": "Allows customers to configure HTTP request paths that'll allow HTTP OPTIONS\ncall to bypass authentication and authorization.",
      "type": "object",
      "properties": {
        "allowHttpOptions": {
          "description": "Configuration to allow HTTP OPTIONS calls to skip authorization. If\nundefined, IAP will not apply any special logic to OPTIONS requests.",
          "type": "boolean"
        }
      }
    },
    "OAuthSettings": {
      "id": "OAuthSettings",
      "description": "Configuration for OAuth login&consent flow behavior as well as for OAuth\nCredentials.",
      "type": "object",
      "properties": {
        "loginHint": {
          "description": "Domain hint to send as hd=? parameter in OAuth request flow. Enables\nredirect to primary IDP by skipping Google's login screen.\nhttps:\/\/developers.google.com\/identity\/protocols\/OpenIDConnect#hd-param\nNote: IAP does not verify that the id token's hd claim matches this value\nsince access behavior is managed by IAM policies.",
          "type": "string"
        },
        "clientId": {
          "description": "OAuth 2.0 client ID used in the OAuth flow to generate an access token. If\nthis field is set, you can skip obtaining the OAuth credentials in this\nstep:\nhttps:\/\/developers.google.com\/identity\/protocols\/OAuth2?hl=en_US#1.-obtain-oauth-2.0-credentials-from-the-google-api-console.\nHowever, this could allow for client sharing. The risks of client sharing\nare outlined here:\nhttps:\/\/cloud.google.com\/iap\/docs\/sharing-oauth-clients#risks.",
          "type": "string"
        }
      }
    },
    "PolicyDelegationSettings": {
      "id": "PolicyDelegationSettings",
      "description": "PolicyDelegationConfig allows google-internal teams to use IAP for apps\nhosted in a tenant project. Using these settings, the app can delegate\npermission check to happen against the linked customer project.\nThis is only ever supposed to be used by google internal teams, hence the\nrestriction on the proto.",
      "type": "object",
      "properties": {
        "iamServiceName": {
          "description": "The DNS name of the service (e.g. \"resourcemanager.googleapis.com\").\nThis should be the domain name part of the full resource names (see\nhttps:\/\/aip.dev\/122#full-resource-names), which is usually\nthe same as IamServiceSpec.service of the service where the resource type\nis defined.",
          "type": "string"
        },
        "iamPermission": {
          "description": "Permission to check in IAM.",
          "type": "string"
        },
        "resource": {
          "description": "IAM resource to check permission on",
          "$ref": "Resource"
        },
        "policyName": {
          "description": "Policy name to be checked",
          "$ref": "PolicyName"
        }
      }
    },
    "Resource": {
      "id": "Resource",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the resource on which conditions will be evaluated.\nMust use the Relative Resource Name of the resource, which is the URI\npath of the resource without the leading \"\/\". Examples are\n\"projects\/_\/buckets\/[BUCKET-ID]\" for storage buckets or\n\"projects\/[PROJECT-ID]\/global\/firewalls\/[FIREWALL-ID]\" for a firewall.\n\nThis field is required for evaluating conditions with rules on resource\nnames. For a `list` permission check, the resource.name value must be set\nto the parent resource. If the parent resource is a project, this field\nshould be left unset.",
          "type": "string"
        },
        "type": {
          "description": "The public resource type name of the resource on which conditions will be\nevaluated. It is configured using the official_name of the ResourceType as\ndefined in service configurations under \/\/configs\/cloud\/resourcetypes.\nFor example, the official_name for GCP projects is set as\n'cloudresourcemanager.googleapis.com\/Project' according to\n\/\/configs\/cloud\/resourcetypes\/google\/cloud\/resourcemanager\/prod.yaml\nFor details see go\/iam-conditions-integration-guide.",
          "type": "string"
        },
        "service": {
          "description": "The name of the service this resource belongs to. It is configured using\nthe official_service_name of the Service as defined in service\nconfigurations under \/\/configs\/cloud\/resourcetypes.\nFor example, the official_service_name of cloud resource manager service\nis set as 'cloudresourcemanager.googleapis.com' according to\n\/\/configs\/cloud\/resourcetypes\/google\/cloud\/resourcemanager\/prod.yaml",
          "type": "string"
        },
        "labels": {
          "description": "The service defined labels of the resource on which the conditions will be\nevaluated. The semantics - including the key names - are vague to IAM.\nIf the effective condition has a reference to a `resource.labels[foo]`\nconstruct, IAM consults with this map to retrieve the values associated\nwith `foo` key for Conditions evaluation. If the provided key is not found\nin the labels map, the condition would evaluate to false.\n\nThis field is in limited use. If your intended use case is not expected\nto express resource.labels attribute in IAM Conditions, leave this field\nempty. Before planning on using this attribute please:\n* Read go\/iam-conditions-labels-comm and ensure your service can meet the\n  data availability and management requirements.\n* Talk to iam-conditions-eng@ about your use case.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PolicyName": {
      "id": "PolicyName",
      "type": "object",
      "properties": {
        "type": {
          "description": "Valid values for type might be 'gce', 'gcs', 'project', 'account' etc.",
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "region": {
          "description": "For Cloud IAM:\nThe location of the Policy.\nMust be empty or \"global\" for Policies owned by global IAM.  Must name a\nregion from prodspec\/cloud-iam-cloudspec for Regional IAM Policies, see\nhttp:\/\/go\/iam-faq#where-is-iam-currently-deployed.\n\nFor Local IAM:\nThis field should be set to \"local\".",
          "type": "string"
        }
      }
    },
    "ApplicationSettings": {
      "id": "ApplicationSettings",
      "description": "Wrapper over application specific settings for IAP.",
      "type": "object",
      "properties": {
        "csmSettings": {
          "description": "Settings to configure IAP's behavior for a CSM mesh.",
          "$ref": "CsmSettings"
        },
        "accessDeniedPageSettings": {
          "description": "Customization for Access Denied page.",
          "$ref": "AccessDeniedPageSettings"
        }
      }
    },
    "CsmSettings": {
      "id": "CsmSettings",
      "description": "Configuration for RCTokens generated for CSM workloads protected by IAP.\nRCTokens are IAP generated JWTs that can be verified at the application. The\nRCToken is primarily used for ISTIO deployments, and can be scoped to a\nsingle mesh by configuring the audience field accordingly",
      "type": "object",
      "properties": {
        "rctokenAud": {
          "description": "Audience claim set in the generated RCToken. This value is not validated by\nIAP.",
          "type": "string"
        }
      }
    },
    "AccessDeniedPageSettings": {
      "id": "AccessDeniedPageSettings",
      "description": "Custom content configuration for access denied page.\nIAP allows customers to define a custom URI to use as the error page when\naccess is denied to users. If IAP prevents access to this page, the default\nIAP error page will be displayed instead.",
      "type": "object",
      "properties": {
        "accessDeniedPageUri": {
          "description": "The URI to be redirected to when access is denied.",
          "type": "string"
        }
      }
    },
    "ListBrandsResponse": {
      "id": "ListBrandsResponse",
      "description": "Response message for ListBrands.",
      "type": "object",
      "properties": {
        "brands": {
          "description": "Brands existing in the project.",
          "type": "array",
          "items": {
            "$ref": "Brand"
          }
        }
      }
    },
    "Brand": {
      "id": "Brand",
      "description": "OAuth brand data.\nNOTE: Only contains a portion of the data that describes a brand.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier of the brand.\nNOTE: GCP project number achieves the same brand identification purpose as\nonly one brand per project can be created.",
          "type": "string"
        },
        "supportEmail": {
          "description": "Support email displayed on the OAuth consent screen.",
          "type": "string"
        },
        "applicationTitle": {
          "description": "Application name displayed on OAuth consent screen.",
          "type": "string"
        },
        "orgInternalOnly": {
          "description": "Output only. Whether the brand is only intended for usage inside the\nGSuite organization only.",
          "type": "boolean"
        }
      }
    },
    "IdentityAwareProxyClient": {
      "id": "IdentityAwareProxyClient",
      "description": "Contains the data that describes an Identity Aware Proxy owned client.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Unique identifier of the OAuth client.",
          "type": "string"
        },
        "secret": {
          "description": "Output only. Client secret of the OAuth client.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-friendly name given to the OAuth client.",
          "type": "string"
        }
      }
    },
    "ListIdentityAwareProxyClientsResponse": {
      "id": "ListIdentityAwareProxyClientsResponse",
      "description": "Response message for ListIdentityAwareProxyClients.",
      "type": "object",
      "properties": {
        "identityAwareProxyClients": {
          "description": "Clients existing in the brand.",
          "type": "array",
          "items": {
            "$ref": "IdentityAwareProxyClient"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be send as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ResetIdentityAwareProxyClientSecretRequest": {
      "id": "ResetIdentityAwareProxyClientSecretRequest",
      "description": "The request sent to ResetIdentityAwareProxyClientSecret.",
      "type": "object",
      "properties": {
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    }
  },
  "resources": {
    "v1": {
      "methods": {
        "setIamPolicy": {
          "id": "iap.setIamPolicy",
          "path": "v1/{+resource}:setIamPolicy",
          "flatPath": "v1/{v1Id}:setIamPolicy",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the access control policy for an Identity-Aware Proxy protected\nresource. Replaces any existing policy.\nMore information about managing access via IAP can be found at:\nhttps:\/\/cloud.google.com\/iap\/docs\/managing-access#managing_access_via_the_api"
        },
        "getIamPolicy": {
          "id": "iap.getIamPolicy",
          "path": "v1/{+resource}:getIamPolicy",
          "flatPath": "v1/{v1Id}:getIamPolicy",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the access control policy for an Identity-Aware Proxy protected\nresource.\nMore information about managing access via IAP can be found at:\nhttps:\/\/cloud.google.com\/iap\/docs\/managing-access#managing_access_via_the_api"
        },
        "testIamPermissions": {
          "id": "iap.testIamPermissions",
          "path": "v1/{+resource}:testIamPermissions",
          "flatPath": "v1/{v1Id}:testIamPermissions",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Returns permissions that a caller has on the Identity-Aware Proxy protected\nresource.\nMore information about managing access via IAP can be found at:\nhttps:\/\/cloud.google.com\/iap\/docs\/managing-access#managing_access_via_the_api"
        },
        "getIapSettings": {
          "id": "iap.getIapSettings",
          "path": "v1/{+name}:iapSettings",
          "flatPath": "v1/{v1Id}:iapSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The resource name for which to retrieve the settings.\nAuthorization: Requires the `getSettings` permission for the associated\nresource.",
              "location": "path",
              "required": true,
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "IapSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the IAP settings on a particular IAP protected resource."
        },
        "updateIapSettings": {
          "id": "iap.updateIapSettings",
          "path": "v1/{+name}:iapSettings",
          "flatPath": "v1/{v1Id}:iapSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the IAP protected resource.",
              "location": "path",
              "required": true,
              "pattern": "^.*$",
              "type": "string"
            },
            "updateMask": {
              "description": "The field mask specifying which IAP settings should be updated.\nIf omitted, the all of the settings are updated. See\nhttps:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "IapSettings"
          },
          "response": {
            "$ref": "IapSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the IAP settings on a particular IAP protected resource. It\nreplaces all fields unless the `update_mask` is set."
        }
      }
    },
    "projects": {
      "resources": {
        "brands": {
          "methods": {
            "list": {
              "id": "iap.projects.brands.list",
              "path": "v1/{+parent}/brands",
              "flatPath": "v1/projects/{projectsId}/brands",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. GCP Project number\/id.\nIn the following format: projects\/{project_number\/id}.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListBrandsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists the existing brands for the project."
            },
            "create": {
              "id": "iap.projects.brands.create",
              "path": "v1/{+parent}/brands",
              "flatPath": "v1/projects/{projectsId}/brands",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. GCP Project number\/id under which the brand is to be created.\nIn the following format: projects\/{project_number\/id}.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Brand"
              },
              "response": {
                "$ref": "Brand"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Constructs a new OAuth brand for the project if one does not exist.\nThe created brand is \"internal only\", meaning that OAuth clients created\nunder it only accept requests from users who belong to the same G Suite\norganization as the project. The brand is created in an un-reviewed status.\nNOTE: The \"internal only\" status can be manually changed in the Google\nCloud console. Requires that a brand does not already exist for the\nproject, and that the specified support email is owned by the caller."
            },
            "get": {
              "id": "iap.projects.brands.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/brands/{brandsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of the brand to be fetched.\nIn the following format: projects\/{project_number\/id}\/brands\/{brand}.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/brands\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Brand"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieves the OAuth brand of the project."
            }
          }
          ,
          "resources": {
            "identityAwareProxyClients": {
              "methods": {
                "create": {
                  "id": "iap.projects.brands.identityAwareProxyClients.create",
                  "path": "v1/{+parent}/identityAwareProxyClients",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Path to create the client in.\nIn the following format:\nprojects\/{project_number\/id}\/brands\/{brand}.\nThe project must belong to a GSuite account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/brands\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an Identity Aware Proxy (IAP) OAuth client. The client is owned\nby IAP. Requires that the brand for the project exists and that it is\nset for internal-only use."
                },
                "list": {
                  "id": "iap.projects.brands.identityAwareProxyClients.list",
                  "path": "v1/{+parent}/identityAwareProxyClients",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Full brand path.\nIn the following format: projects\/{project_number\/id}\/brands\/{brand}.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/brands\/[^\/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of clients to return. The service may return fewer than\nthis value.\nIf unspecified, at most 100 clients will be returned.\nThe maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListIdentityAwareProxyClients`\ncall. Provide this to retrieve the subsequent page.\n\nWhen paginating, all other parameters provided to\n`ListIdentityAwareProxyClients` must match the call that provided the page\ntoken.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListIdentityAwareProxyClientsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the existing clients for the brand."
                },
                "get": {
                  "id": "iap.projects.brands.identityAwareProxyClients.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Identity Aware Proxy client to be fetched.\nIn the following format:\nprojects\/{project_number\/id}\/brands\/{brand}\/identityAwareProxyClients\/{client_id}.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/brands\/[^\/]+\/identityAwareProxyClients\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Retrieves an Identity Aware Proxy (IAP) OAuth client.\nRequires that the client is owned by IAP."
                },
                "resetSecret": {
                  "id": "iap.projects.brands.identityAwareProxyClients.resetSecret",
                  "path": "v1/{+name}:resetSecret",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}:resetSecret",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Identity Aware Proxy client to that will have its\nsecret reset. In the following format:\nprojects\/{project_number\/id}\/brands\/{brand}\/identityAwareProxyClients\/{client_id}.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/brands\/[^\/]+\/identityAwareProxyClients\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ResetIdentityAwareProxyClientSecretRequest"
                  },
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Resets an Identity Aware Proxy (IAP) OAuth client secret. Useful if the\nsecret was compromised. Requires that the client is owned by IAP."
                },
                "delete": {
                  "id": "iap.projects.brands.identityAwareProxyClients.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Identity Aware Proxy client to be deleted.\nIn the following format:\nprojects\/{project_number\/id}\/brands\/{brand}\/identityAwareProxyClients\/{client_id}.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/brands\/[^\/]+\/identityAwareProxyClients\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an Identity Aware Proxy (IAP) OAuth client. Useful for removing\nobsolete clients, managing the number of clients in a given project, and\ncleaning up after tests. Requires that the client is owned by IAP."
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}