{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "ml:v1",
  "name": "ml",
  "canonicalName": "Cloud Machine Learning Engine",
  "version": "v1",
  "revision": "0",
  "title": "AI Platform Training & Prediction API",
  "description": "An API to enable creating and using machine learning models.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/ml/",
  "protocol": "rest",
  "rootUrl": "https://ml.googleapis.com/",
  "mtlsRootUrl": "https://ml.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://ml.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudMlV1__Job": {
      "id": "GoogleCloudMlV1__Job",
      "description": "Represents a training or prediction job.",
      "type": "object",
      "properties": {
        "jobId": {
          "description": "Required. The user-specified id of the job.",
          "type": "string"
        },
        "trainingInput": {
          "description": "Input parameters to create a training job.",
          "$ref": "GoogleCloudMlV1__TrainingInput"
        },
        "predictionInput": {
          "description": "Input parameters to create a prediction job.",
          "$ref": "GoogleCloudMlV1__PredictionInput"
        },
        "explanationInput": {
          "description": "Input parameters to create an explanation job.",
          "$ref": "GoogleCloudMlV1__ExplanationInput"
        },
        "createTime": {
          "description": "Output only. When the job was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. When the job processing was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. When the job processing was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The detailed state of a job.",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.\n`error_message` should contain the details of the failure.",
            "The job is being cancelled.\n`error_message` should describe the reason for the cancellation.",
            "The job has been cancelled.\n`error_message` should describe the reason for the cancellation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ]
        },
        "errorMessage": {
          "description": "Output only. The details of a failure or a cancellation.",
          "type": "string"
        },
        "trainingOutput": {
          "description": "The current training job result.",
          "$ref": "GoogleCloudMlV1__TrainingOutput"
        },
        "predictionOutput": {
          "description": "The current prediction job result.",
          "$ref": "GoogleCloudMlV1__PredictionOutput"
        },
        "explanationOutput": {
          "description": "The current explanation job result.",
          "$ref": "GoogleCloudMlV1__ExplanationOutput"
        },
        "labels": {
          "description": "Optional. One or more labels that you can add, to organize your jobs.\nEach label is a key-value pair, where both the key and the value are\narbitrary strings that you supply.\nFor more information, see the documentation on\n<a href=\"\/ml-engine\/docs\/tensorflow\/resource-labels\">using labels<\/a>.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a job from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform job updates in order to avoid race\nconditions: An `etag` is returned in the response to `GetJob`, and\nsystems are expected to put that etag in the request to `UpdateJob` to\nensure that their change will be applied to the same version of the job.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudMlV1__TrainingInput": {
      "id": "GoogleCloudMlV1__TrainingInput",
      "description": "Represents input parameters for a training job. When using the gcloud command\nto submit your training job, you can specify the input parameters as\ncommand-line arguments and\/or in a YAML configuration file referenced from\nthe --config command-line argument. For details, see the guide to [submitting\na training job](\/ai-platform\/training\/docs\/training-jobs).",
      "type": "object",
      "properties": {
        "scaleTier": {
          "description": "Required. Specifies the machine types, the number of replicas for workers\nand parameter servers.",
          "enumDescriptions": [
            "A single worker instance. This tier is suitable for learning how to use\nCloud ML, and for experimenting with new models using small datasets.",
            "Many workers and a few parameter servers.",
            "A large number of workers with many parameter servers.",
            "A single worker instance [with a\nGPU](\/ai-platform\/training\/docs\/using-gpus).",
            "A single worker instance with a\n[Cloud TPU](\/ml-engine\/docs\/tensorflow\/using-tpus).",
            "The CUSTOM tier is not a set tier, but rather enables you to use your\nown cluster specification. When you use this tier, set values to\nconfigure your processing cluster according to these guidelines:\n\n*   You _must_ set `TrainingInput.masterType` to specify the type\n    of machine to use for your master node. This is the only required\n    setting.\n\n*   You _may_ set `TrainingInput.workerCount` to specify the number of\n    workers to use. If you specify one or more workers, you _must_ also\n    set `TrainingInput.workerType` to specify the type of machine to use\n    for your worker nodes.\n\n*   You _may_ set `TrainingInput.parameterServerCount` to specify the\n    number of parameter servers to use. If you specify one or more\n    parameter servers, you _must_ also set\n    `TrainingInput.parameterServerType` to specify the type of machine to\n    use for your parameter servers.\n\nNote that all of your workers must use the same machine type, which can\nbe different from your parameter server type and master type. Your\nparameter servers must likewise use the same machine type, which can be\ndifferent from your worker type and master type."
          ],
          "type": "string",
          "enum": [
            "BASIC",
            "STANDARD_1",
            "PREMIUM_1",
            "BASIC_GPU",
            "BASIC_TPU",
            "CUSTOM"
          ]
        },
        "masterType": {
          "description": "Optional. Specifies the type of virtual machine to use for your training\njob's master worker. You must specify this field when `scaleTier` is set to\n`CUSTOM`.\n\nYou can use certain Compute Engine machine types directly in this field.\nThe following types are supported:\n\n- `n1-standard-4`\n- `n1-standard-8`\n- `n1-standard-16`\n- `n1-standard-32`\n- `n1-standard-64`\n- `n1-standard-96`\n- `n1-highmem-2`\n- `n1-highmem-4`\n- `n1-highmem-8`\n- `n1-highmem-16`\n- `n1-highmem-32`\n- `n1-highmem-64`\n- `n1-highmem-96`\n- `n1-highcpu-16`\n- `n1-highcpu-32`\n- `n1-highcpu-64`\n- `n1-highcpu-96`\n\nLearn more about [using Compute Engine machine\ntypes](\/ml-engine\/docs\/machine-types#compute-engine-machine-types).\n\nAlternatively, you can use the following legacy machine types:\n\n- `standard`\n- `large_model`\n- `complex_model_s`\n- `complex_model_m`\n- `complex_model_l`\n- `standard_gpu`\n- `complex_model_m_gpu`\n- `complex_model_l_gpu`\n- `standard_p100`\n- `complex_model_m_p100`\n- `standard_v100`\n- `large_model_v100`\n- `complex_model_m_v100`\n- `complex_model_l_v100`\n\nLearn more about [using legacy machine\ntypes](\/ml-engine\/docs\/machine-types#legacy-machine-types).\n\nFinally, if you want to use a TPU for training, specify `cloud_tpu` in this\nfield. Learn more about the [special configuration options for training\nwith\nTPUs](\/ml-engine\/docs\/tensorflow\/using-tpus#configuring_a_custom_tpu_machine).",
          "type": "string"
        },
        "masterConfig": {
          "description": "Optional. The configuration for your master worker.\n\nYou should only set `masterConfig.acceleratorConfig` if `masterType` is set\nto a Compute Engine machine type. Learn about [restrictions on accelerator\nconfigurations for\ntraining.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu)\n\nSet `masterConfig.imageUri` only if you build a custom image. Only one of\n`masterConfig.imageUri` and `runtimeVersion` should be set. Learn more\nabout [configuring custom\ncontainers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "$ref": "GoogleCloudMlV1__ReplicaConfig"
        },
        "workerType": {
          "description": "Optional. Specifies the type of virtual machine to use for your training\njob's worker nodes.\n\nThe supported values are the same as those described in the entry for\n`masterType`.\n\nThis value must be consistent with the category of machine type that\n`masterType` uses. In other words, both must be Compute Engine machine\ntypes or both must be legacy machine types.\n\nIf you use `cloud_tpu` for this value, see special instructions for\n[configuring a custom TPU\nmachine](\/ml-engine\/docs\/tensorflow\/using-tpus#configuring_a_custom_tpu_machine).\n\nThis value must be present when `scaleTier` is set to `CUSTOM` and\n`workerCount` is greater than zero.",
          "type": "string"
        },
        "workerConfig": {
          "description": "Optional. The configuration for workers.\n\nYou should only set `workerConfig.acceleratorConfig` if `workerType` is set\nto a Compute Engine machine type. [Learn about restrictions on accelerator\nconfigurations for\ntraining.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu)\n\nSet `workerConfig.imageUri` only if you build a custom image for your\nworker. If `workerConfig.imageUri` has not been set, AI Platform uses\nthe value of `masterConfig.imageUri` .\nLearn more about [configuring custom\ncontainers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "$ref": "GoogleCloudMlV1__ReplicaConfig"
        },
        "parameterServerType": {
          "description": "Optional. Specifies the type of virtual machine to use for your training\njob's parameter server.\n\nThe supported values are the same as those described in the entry for\n`master_type`.\n\nThis value must be consistent with the category of machine type that\n`masterType` uses. In other words, both must be Compute Engine machine\ntypes or both must be legacy machine types.\n\nThis value must be present when `scaleTier` is set to `CUSTOM` and\n`parameter_server_count` is greater than zero.",
          "type": "string"
        },
        "parameterServerConfig": {
          "description": "Optional. The configuration for parameter servers.\n\nYou should only set `parameterServerConfig.acceleratorConfig` if\n`parameterServerType` is set to a Compute Engine machine type. [Learn\nabout restrictions on accelerator configurations for\ntraining.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu)\n\nSet `parameterServerConfig.imageUri` only if you build a custom image for\nyour parameter server. If `parameterServerConfig.imageUri` has not been\nset, AI Platform uses the value of `masterConfig.imageUri` .\nLearn more about [configuring custom\ncontainers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "$ref": "GoogleCloudMlV1__ReplicaConfig"
        },
        "evaluatorType": {
          "description": "Optional. Specifies the type of virtual machine to use for your training\njob's evaluator nodes.\n\nThe supported values are the same as those described in the entry for\n`masterType`.\n\nThis value must be consistent with the category of machine type that\n`masterType` uses. In other words, both must be Compute Engine machine\ntypes or both must be legacy machine types.\n\nThis value must be present when `scaleTier` is set to `CUSTOM` and\n`evaluatorCount` is greater than zero.",
          "type": "string"
        },
        "evaluatorConfig": {
          "description": "Optional. The configuration for evaluators.\n\nYou should only set `evaluatorConfig.acceleratorConfig` if\n`evaluatorType` is set to a Compute Engine machine type. [Learn\nabout restrictions on accelerator configurations for\ntraining.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu)\n\nSet `evaluatorConfig.imageUri` only if you build a custom image for\nyour evaluator. If `evaluatorConfig.imageUri` has not been\nset, AI Platform uses the value of `masterConfig.imageUri` .\nLearn more about [configuring custom\ncontainers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "$ref": "GoogleCloudMlV1__ReplicaConfig"
        },
        "workerCount": {
          "description": "Optional. The number of worker replicas to use for the training job. Each\nreplica in the cluster will be of the type specified in `worker_type`.\n\nThis value can only be used when `scale_tier` is set to `CUSTOM`. If you\nset this value, you must also set `worker_type`.\n\nThe default value is zero.",
          "type": "string",
          "format": "int64"
        },
        "parameterServerCount": {
          "description": "Optional. The number of parameter server replicas to use for the training\njob. Each replica in the cluster will be of the type specified in\n`parameter_server_type`.\n\nThis value can only be used when `scale_tier` is set to `CUSTOM`. If you\nset this value, you must also set `parameter_server_type`.\n\nThe default value is zero.",
          "type": "string",
          "format": "int64"
        },
        "evaluatorCount": {
          "description": "Optional. The number of evaluator replicas to use for the training job.\nEach replica in the cluster will be of the type specified in\n`evaluator_type`.\n\nThis value can only be used when `scale_tier` is set to `CUSTOM`. If you\nset this value, you must also set `evaluator_type`.\n\nThe default value is zero.",
          "type": "string",
          "format": "int64"
        },
        "packageUris": {
          "description": "Required. The Google Cloud Storage location of the packages with\nthe training program and any additional dependencies.\nThe maximum number of package URIs is 100.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pythonModule": {
          "description": "Required. The Python module name to run after installing the packages.",
          "type": "string"
        },
        "args": {
          "description": "Optional. Arguments passed to the training.\n- If it is a python package training:\n  It will be passed as command line argument to the program.\n- If it is a custom container training,\n  It will be passed as an argument to the custom container\n  image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hyperparameters": {
          "description": "Optional. The set of Hyperparameters to tune.",
          "$ref": "GoogleCloudMlV1__HyperparameterSpec"
        },
        "nasJobSpec": {
          "description": "Optional. The spec of a Neural Architecture Search (NAS) job.",
          "$ref": "GoogleCloudMlV1__NasSpec"
        },
        "region": {
          "description": "Required. The region to run the training job in. See the [available\nregions](\/ai-platform\/training\/docs\/regions) for AI Platform Training.",
          "type": "string"
        },
        "jobDir": {
          "description": "Optional. A Google Cloud Storage path in which to store training outputs\nand other data needed for training. This path is passed to your TensorFlow\nprogram as the '--job-dir' command-line argument. The benefit of specifying\nthis field is that Cloud ML validates the path for use in training.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "Optional. The AI Platform runtime version to use for training. You must\neither specify this field or specify `masterConfig.imageUri`.\n\nFor more information, see the [runtime version\nlist](\/ai-platform\/training\/docs\/runtime-version-list) and learn [how to\nmanage runtime versions](\/ai-platform\/training\/docs\/versioning).",
          "type": "string"
        },
        "pythonVersion": {
          "description": "Optional. The version of Python used in training. You must either specify\nthis field or specify `masterConfig.imageUri`.\n\nThe following Python versions are available:\n\n* Python '3.7' is available when `runtime_version` is set to '1.15' or\n  later.\n* Python '3.5' is available when `runtime_version` is set to a version\n  from '1.4' to '1.14'.\n* Python '2.7' is available when `runtime_version` is set to '1.15' or\n  earlier.\n\nRead more about the Python versions available for [each runtime\nversion](\/ml-engine\/docs\/runtime-version-list).",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Custom encryption key options for a training job. If this is set,\nthen all resources created by the training job will be encrypted with the\nprovided encryption key.",
          "$ref": "GoogleCloudMlV1__EncryptionConfig"
        },
        "scheduling": {
          "description": "Optional. Scheduling options for a training job.",
          "$ref": "GoogleCloudMlV1__Scheduling"
        },
        "useChiefInTfConfig": {
          "description": "Optional. Use `chief` instead of `master` in the `TF_CONFIG` environment\nvariable when training with a custom container. Defaults to `false`. [Learn\nmore about this\nfield.](\/ai-platform\/training\/docs\/distributed-training-details#chief-versus-master)\n\nThis field has no effect for training jobs that don't use a custom\ncontainer.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudMlV1__ReplicaConfig": {
      "id": "GoogleCloudMlV1__ReplicaConfig",
      "description": "Represents the configuration for a replica in a cluster.",
      "type": "object",
      "properties": {
        "acceleratorConfig": {
          "description": "Represents the type and number of accelerators used by the replica.\n[Learn about restrictions on accelerator configurations for\ntraining.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu)",
          "$ref": "GoogleCloudMlV1__AcceleratorConfig"
        },
        "imageUri": {
          "description": "The Docker image to run on the replica. This image must be in Container\nRegistry. Learn more about [configuring custom\ncontainers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "type": "string"
        },
        "tpuTfVersion": {
          "description": "The AI Platform runtime version that includes a TensorFlow version matching\nthe one used in the custom container. This field is required if the replica\nis a TPU worker that uses a custom container. Otherwise, do not specify\nthis field. This must be a [runtime version that currently supports\ntraining with\nTPUs](\/ml-engine\/docs\/tensorflow\/runtime-version-list#tpu-support).\n\nNote that the version of TensorFlow included in a runtime version may\ndiffer from the numbering of the runtime version itself, because it may\nhave a different [patch\nversion](https:\/\/www.tensorflow.org\/guide\/version_compat#semantic_versioning_20).\nIn this field, you must specify the runtime version (TensorFlow minor\nversion). For example, if your custom container runs TensorFlow `1.x.y`,\nspecify `1.x`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__AcceleratorConfig": {
      "id": "GoogleCloudMlV1__AcceleratorConfig",
      "description": "Represents a hardware accelerator request config.\nNote that the AcceleratorConfig can be used in both Jobs and Versions.\nLearn more about [accelerators for training](\/ml-engine\/docs\/using-gpus) and\n[accelerators for online\nprediction](\/ml-engine\/docs\/machine-types-online-prediction#gpus).",
      "type": "object",
      "properties": {
        "count": {
          "description": "The number of accelerators to attach to each machine running the job.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "The type of accelerator to use.",
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "TPU v2.",
            "TPU v3.",
            "TPU v2 POD.",
            "TPU v3 POD."
          ],
          "type": "string",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "TPU_V2",
            "TPU_V3",
            "TPU_V2_POD",
            "TPU_V3_POD"
          ]
        }
      }
    },
    "GoogleCloudMlV1__HyperparameterSpec": {
      "id": "GoogleCloudMlV1__HyperparameterSpec",
      "description": "Represents a set of hyperparameters to optimize.",
      "type": "object",
      "properties": {
        "goal": {
          "description": "Required. The type of goal to use for tuning. Available types are\n`MAXIMIZE` and `MINIMIZE`.\n\nDefaults to `MAXIMIZE`.",
          "enumDescriptions": [
            "Goal Type will default to maximize.",
            "Maximize the goal metric.",
            "Minimize the goal metric."
          ],
          "type": "string",
          "enum": [
            "GOAL_TYPE_UNSPECIFIED",
            "MAXIMIZE",
            "MINIMIZE"
          ]
        },
        "params": {
          "description": "Required. The set of parameters to tune.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__ParameterSpec"
          }
        },
        "maxTrials": {
          "description": "Optional. How many training trials should be attempted to optimize\nthe specified hyperparameters.\n\nDefaults to one.",
          "type": "integer",
          "format": "int32"
        },
        "maxParallelTrials": {
          "description": "Optional. The number of training trials to run concurrently.\nYou can reduce the time it takes to perform hyperparameter tuning by adding\ntrials in parallel. However, each trail only benefits from the information\ngained in completed trials. That means that a trial does not get access to\nthe results of trials running at the same time, which could reduce the\nquality of the overall optimization.\n\nEach trial will use the same scale tier and machine types.\n\nDefaults to one.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailedTrials": {
          "description": "Optional. The number of failed trials that need to be seen before failing\nthe hyperparameter tuning job. You can specify this field to override the\ndefault failing criteria for AI Platform hyperparameter tuning jobs.\n\nDefaults to zero, which means the service decides when a hyperparameter\njob should fail.",
          "type": "integer",
          "format": "int32"
        },
        "hyperparameterMetricTag": {
          "description": "Optional. The TensorFlow summary tag name to use for optimizing trials. For\ncurrent versions of TensorFlow, this tag name should exactly match what is\nshown in TensorBoard, including all scopes.  For versions of TensorFlow\nprior to 0.12, this should be only the tag passed to tf.Summary.\nBy default, \"training\/hptuning\/metric\" will be used.",
          "type": "string"
        },
        "resumePreviousJobId": {
          "description": "Optional. The prior hyperparameter tuning job id that users hope to\ncontinue with. The job id will be used to find the corresponding vizier\nstudy guid and resume the study.",
          "type": "string"
        },
        "enableTrialEarlyStopping": {
          "description": "Optional. Indicates if the hyperparameter tuning job enables auto trial\nearly stopping.",
          "type": "boolean"
        },
        "algorithm": {
          "description": "Optional. The search algorithm specified for the hyperparameter\ntuning job.\nUses the default AI Platform hyperparameter tuning\nalgorithm if unspecified.",
          "enumDescriptions": [
            "The default algorithm used by the hyperparameter tuning service. This is\na Bayesian optimization algorithm.",
            "Simple grid search within the feasible space. To use grid search,\nall parameters must be `INTEGER`, `CATEGORICAL`, or `DISCRETE`.",
            "Simple random search within the feasible space.",
            "Population Based Training Algorithm."
          ],
          "type": "string",
          "enum": [
            "ALGORITHM_UNSPECIFIED",
            "GRID_SEARCH",
            "RANDOM_SEARCH",
            "POPULATION_BASED_TRAINING"
          ]
        }
      }
    },
    "GoogleCloudMlV1__ParameterSpec": {
      "id": "GoogleCloudMlV1__ParameterSpec",
      "description": "Represents a single hyperparameter to optimize.",
      "type": "object",
      "properties": {
        "parameterName": {
          "description": "Required. The parameter name must be unique amongst all ParameterConfigs in\na HyperparameterSpec message. E.g., \"learning_rate\".",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the parameter.",
          "enumDescriptions": [
            "You must specify a valid type. Using this unspecified type will result in\nan error.",
            "Type for real-valued parameters.",
            "Type for integral parameters.",
            "The parameter is categorical, with a value chosen from the categories\nfield.",
            "The parameter is real valued, with a fixed set of feasible points. If\n`type==DISCRETE`, feasible_points must be provided, and\n{`min_value`, `max_value`} will be ignored."
          ],
          "type": "string",
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "DOUBLE",
            "INTEGER",
            "CATEGORICAL",
            "DISCRETE"
          ]
        },
        "minValue": {
          "description": "Required if type is `DOUBLE` or `INTEGER`. This field\nshould be unset if type is `CATEGORICAL`. This value should be integers if\ntype is INTEGER.",
          "type": "number",
          "format": "double"
        },
        "maxValue": {
          "description": "Required if type is `DOUBLE` or `INTEGER`. This field\nshould be unset if type is `CATEGORICAL`. This value should be integers if\ntype is `INTEGER`.",
          "type": "number",
          "format": "double"
        },
        "categoricalValues": {
          "description": "Required if type is `CATEGORICAL`. The list of possible categories.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "discreteValues": {
          "description": "Required if type is `DISCRETE`.\nA list of feasible points.\nThe list should be in strictly increasing order. For instance, this\nparameter might have possible settings of 1.5, 2.5, and 4.0. This list\nshould not contain more than 1,000 values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "scaleType": {
          "description": "Optional. How the parameter should be scaled to the hypercube.\nLeave unset for categorical parameters.\nSome kind of scaling is strongly recommended for real or integral\nparameters (e.g., `UNIT_LINEAR_SCALE`).",
          "enumDescriptions": [
            "By default, no scaling is applied.",
            "Scales the feasible space to (0, 1) linearly.",
            "Scales the feasible space logarithmically to (0, 1). The entire feasible\nspace must be strictly positive.",
            "Scales the feasible space \"reverse\" logarithmically to (0, 1). The result\nis that values close to the top of the feasible space are spread out more\nthan points near the bottom. The entire feasible space must be strictly\npositive."
          ],
          "type": "string",
          "enum": [
            "NONE",
            "UNIT_LINEAR_SCALE",
            "UNIT_LOG_SCALE",
            "UNIT_REVERSE_LOG_SCALE"
          ]
        }
      }
    },
    "GoogleCloudMlV1__NasSpec": {
      "id": "GoogleCloudMlV1__NasSpec",
      "description": "Spec for Neural Architecture Search (NAS) jobs.",
      "type": "object",
      "properties": {
        "searchSpaceSpec": {
          "description": "Required. It defines the search space for Neural Architecture Search (NAS).",
          "type": "string"
        },
        "multiTrialAlgorithmSpec": {
          "description": "The spec of multi-trial algorithms.",
          "$ref": "GoogleCloudMlV1_NasSpec_MultiTrialAlgorithmSpec"
        },
        "oneShotAlgorithmSpec": {
          "description": "The spec of one-shot algorithms.",
          "$ref": "GoogleCloudMlV1_NasSpec_OneShotAlgorithmSpec"
        }
      }
    },
    "GoogleCloudMlV1_NasSpec_MultiTrialAlgorithmSpec": {
      "id": "GoogleCloudMlV1_NasSpec_MultiTrialAlgorithmSpec",
      "description": "The spec of multi-trial Neural Architecture Search (NAS).",
      "type": "object",
      "properties": {
        "multiTrialAlgorithm": {
          "description": "Optional. The multi-trial Neural Architecture Search (NAS) algorithm\ntype. Defaults to `NAS_MULTI_TRIAL_ALGORITHM_REINFORCEMENT_LEARNING`.",
          "enumDescriptions": [
            "",
            "The Reinforcement Learning Algorithm for Multi-trial Neural\nArchitecture Search (NAS)."
          ],
          "type": "string",
          "enum": [
            "MULTI_TRIAL_ALGORITHM_UNSPECIFIED",
            "REINFORCEMENT_LEARNING"
          ]
        },
        "nasTargetRewardMetric": {
          "description": "Required. The TensorFlow summary tag that the controller tries to\noptimize. Its value needs to be consistent with the TensorFlow summary\ntag that is reported by trainer (customer provided dockers).",
          "type": "string"
        },
        "maxNasTrials": {
          "description": "Optional. How many Neural Architecture Search (NAS) trials should be\nattempted.",
          "type": "integer",
          "format": "int32"
        },
        "maxParallelNasTrials": {
          "description": "Required. The number of Neural Architecture Search (NAS) trials to run\nconcurrently.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailedNasTrials": {
          "description": "Optional. It decides when a Neural Architecture Search (NAS) job should\nfail. Defaults to zero.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1_NasSpec_OneShotAlgorithmSpec": {
      "id": "GoogleCloudMlV1_NasSpec_OneShotAlgorithmSpec",
      "description": "The spec of one shot Neural Architecture Search (NAS).",
      "type": "object",
      "properties": {
        "oneShotAlgorithm": {
          "description": "Optional. The one-shot Neural Architecture Search (NAS) algorithm type.\nDefaults to `ONE_SHOT_ALGORITHM_REINFORCEMENT_LEARNING`.",
          "enumDescriptions": [
            "",
            "The Reinforcement Learning Algorithm for one-shot Neural Architecture\nSearch (NAS)."
          ],
          "type": "string",
          "enum": [
            "ONE_SHOT_ALGORITHM_UNSPECIFIED",
            "REINFORCEMENT_LEARNING"
          ]
        }
      }
    },
    "GoogleCloudMlV1__EncryptionConfig": {
      "id": "GoogleCloudMlV1__EncryptionConfig",
      "description": "Represents a custom encryption key configuration that can be applied to\na resource.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "The Cloud KMS resource identifier of the customer managed encryption key\nused to protect a resource, such as a training job. Has the form:\n`projects\/my-project\/locations\/my-region\/keyRings\/my-kr\/cryptoKeys\/my-key`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__Scheduling": {
      "id": "GoogleCloudMlV1__Scheduling",
      "description": "All parameters related to scheduling of training jobs.",
      "type": "object",
      "properties": {
        "maxRunningTime": {
          "description": "Optional. The maximum job running time, expressed in seconds. The field can\ncontain up to nine fractional digits, terminated by `s`. By default there\nis no limit to the running time.\n\nIf the training job is still running after this duration, AI Platform\nTraining cancels it.\n\nFor example, if you want to ensure your job runs for no more than 2 hours,\nset this field to `7200s` (2 hours * 60 minutes \/ hour * 60 seconds \/\nminute).\n\nIf you submit your training job using the `gcloud` tool, you can [provide\nthis field in a `config.yaml`\nfile](\/ai-platform\/training\/docs\/training-jobs#formatting_your_configuration_parameters).\nFor example:\n\n```yaml\ntrainingInput:\n  ...\n  scheduling:\n    maxRunningTime: 7200s\n  ...\n```",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudMlV1__PredictionInput": {
      "id": "GoogleCloudMlV1__PredictionInput",
      "description": "Represents input parameters for a prediction job.",
      "type": "object",
      "properties": {
        "modelName": {
          "description": "Use this field if you want to use the default version for the specified\nmodel. The string must use the following format:\n\n`\"projects\/YOUR_PROJECT\/models\/YOUR_MODEL\"`",
          "type": "string"
        },
        "versionName": {
          "description": "Use this field if you want to specify a version of the model to use. The\nstring is formatted the same way as `model_version`, with the addition\nof the version information:\n\n`\"projects\/YOUR_PROJECT\/models\/YOUR_MODEL\/versions\/YOUR_VERSION\"`",
          "type": "string"
        },
        "uri": {
          "description": "Use this field if you want to specify a Google Cloud Storage path for\nthe model to use.",
          "type": "string"
        },
        "dataFormat": {
          "description": "Required. The format of the input data files.",
          "enumDescriptions": [
            "Unspecified format.",
            "Each line of the file is a JSON dictionary representing one record.",
            "Deprecated. Use JSON instead.",
            "The source file is a TFRecord file.\nCurrently available only for input data.",
            "The source file is a GZIP-compressed TFRecord file.\nCurrently available only for input data.",
            "Each line of the file is the location of an instance to process.\nCurrently available only for input data.",
            "Values are comma-separated rows, with keys in a separate file.\nCurrently available only for output data."
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "JSON",
            "TEXT",
            "TF_RECORD",
            "TF_RECORD_GZIP",
            "FILE_LIST",
            "CSV"
          ]
        },
        "outputDataFormat": {
          "description": "Optional. Format of the output data files, defaults to JSON.",
          "enumDescriptions": [
            "Unspecified format.",
            "Each line of the file is a JSON dictionary representing one record.",
            "Deprecated. Use JSON instead.",
            "The source file is a TFRecord file.\nCurrently available only for input data.",
            "The source file is a GZIP-compressed TFRecord file.\nCurrently available only for input data.",
            "Each line of the file is the location of an instance to process.\nCurrently available only for input data.",
            "Values are comma-separated rows, with keys in a separate file.\nCurrently available only for output data."
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "JSON",
            "TEXT",
            "TF_RECORD",
            "TF_RECORD_GZIP",
            "FILE_LIST",
            "CSV"
          ]
        },
        "inputPaths": {
          "description": "Required. The Cloud Storage location of the input data files. May contain\n<a href=\"\/storage\/docs\/gsutil\/addlhelp\/WildcardNames\">wildcards<\/a>.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputPath": {
          "description": "Required. The output Google Cloud Storage location.",
          "type": "string"
        },
        "maxWorkerCount": {
          "description": "Optional. The maximum number of workers to be used for parallel processing.\nDefaults to 10 if not specified.",
          "type": "string",
          "format": "int64"
        },
        "initialWorkerCount": {
          "description": "Optional. The initial number of workers to be used for parallel processing.\nDefaults to 0 if one wants the service to figure out the number. The actual\nnumber of workers being used may change after the job starts depending on\nthe autoscaling policy.",
          "type": "string",
          "format": "int64"
        },
        "region": {
          "description": "Required. The Google Compute Engine region to run the prediction job in.\nSee the <a href=\"\/ml-engine\/docs\/tensorflow\/regions\">available regions<\/a>\nfor AI Platform services.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "Optional. The AI Platform runtime version to use for this batch\nprediction. If not set, AI Platform will pick the runtime version used\nduring the CreateVersion request for this model version, or choose the\nlatest stable version when model version information is not available\nsuch as when the model is specified by uri.",
          "type": "string"
        },
        "batchSize": {
          "description": "Optional. Number of records per batch, defaults to 64.\nThe service will buffer batch_size number of records in memory before\ninvoking one Tensorflow prediction call internally. So take the record\nsize and memory available into consideration when setting this parameter.",
          "type": "string",
          "format": "int64"
        },
        "signatureName": {
          "description": "Optional. The name of the signature defined in the SavedModel to use for\nthis job. Please refer to\n[SavedModel](https:\/\/tensorflow.github.io\/serving\/serving_basic.html)\nfor information about how to use signatures.\n\nDefaults to\n[DEFAULT_SERVING_SIGNATURE_DEF_KEY](https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/saved_model\/signature_constants)\n, which is \"serving_default\".",
          "type": "string"
        },
        "tagsOverride": {
          "description": "Optional. The set of tags to select which meta graph defined in the\nSavedModel to use for this job. Please refer to\n[SavedModel](https:\/\/www.tensorflow.org\/serving\/serving_basic)\nfor information about how to use tags.\n\nOverrides the default tags when predicting from a deployed model version.\n\nWhen predicting from a model directory, the tag defaults to\n[SERVING](https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/saved_model\/tag_constants)\n, which is \"serve\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accelerator": {
          "description": "Optional. The type and number of accelerators to be attached to each\nmachine running the job.",
          "$ref": "GoogleCloudMlV1__AcceleratorConfig"
        },
        "framework": {
          "description": "Optional. The framework used to train this model. Only needed if\nmodel_version is a GCS path. Otherwise the framework specified during\nversion creation will be used.",
          "enumDescriptions": [
            "Unspecified framework. Assigns a value based on the file suffix.",
            "Tensorflow framework.",
            "Scikit-learn framework.",
            "XGBoost framework."
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_UNSPECIFIED",
            "TENSORFLOW",
            "SCIKIT_LEARN",
            "XGBOOST"
          ]
        },
        "workerType": {
          "description": "Optional. The type of virtual machine to use for batch prediction job's\nworker nodes. It supports all machine types available on GCP (\nhttps:\/\/cloud.google.com\/compute\/docs\/machine-types), subject to\nthe availability in the specific region the job runs.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__ExplanationInput": {
      "id": "GoogleCloudMlV1__ExplanationInput",
      "description": "Represents input parameters for a model explanation job.",
      "type": "object",
      "properties": {
        "modelName": {
          "description": "Use this field if you want to use the default version for the specified\nmodel. The string must use the following format:\n\n`\"projects\/YOUR_PROJECT\/models\/YOUR_MODEL\"`",
          "type": "string"
        },
        "versionName": {
          "description": "Use this field if you want to specify a version of the model to use. The\nstring is formatted the same way as `model_version`, with the addition\nof the version information:\n\n`\"projects\/YOUR_PROJECT\/models\/YOUR_MODEL\/versions\/YOUR_VERSION\"`",
          "type": "string"
        },
        "uri": {
          "description": "Use this field if you want to specify a Google Cloud Storage path for\nthe model to use, e.g. gs:\/\/{BUCKET}\/{MODEL_DIR}\/{MODEL_NAME}.",
          "type": "string"
        },
        "explanationConfig": {
          "description": "Required only if model_version is specified through a uri, otherwise the\nsame explanation config specified at model version creation will be used.\nConfigures explainability features on the model's version.\nSome explanation features require additional metadata to be loaded\nas part of the model payload.",
          "$ref": "GoogleCloudMlV1__ExplanationConfig"
        },
        "dataFormat": {
          "description": "Required. The format of the input data.",
          "enumDescriptions": [
            "Unspecified format.",
            "Each line of the file is a JSON dictionary representing one record.\nCurrently available only for input data.",
            "Values are rows in a BigQuery table given its associated schema.\nCurrently available only for output data."
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "JSON",
            "BIGQUERY"
          ]
        },
        "outputDataFormat": {
          "description": "Optional. The format of the output data, defaults to BIGQUERY.",
          "enumDescriptions": [
            "Unspecified format.",
            "Each line of the file is a JSON dictionary representing one record.\nCurrently available only for input data.",
            "Values are rows in a BigQuery table given its associated schema.\nCurrently available only for output data."
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "JSON",
            "BIGQUERY"
          ]
        },
        "inputPaths": {
          "description": "Required when data_format is JSON. The Cloud Storage location of the input\ndata. May contain <a\nhref=\"\/storage\/docs\/gsutil\/addlhelp\/WildcardNames\">wildcards<\/a>.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputBigqueryTable": {
          "description": "Required when output_data_format is BIGQUERY.\nThe output fully qualified BigQuery table name in the format of\n\"[project_id].[dataset_name].[table_name]\".",
          "type": "string"
        },
        "region": {
          "description": "Required. The Compute Engine region to run the explanation job in.\nSee the <a href=\"\/ml-engine\/docs\/tensorflow\/regions\">available regions<\/a>\nfor AI Platform services.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "Required. The AI Platform runtime version to use for the explanation\njob. See <a\nhref=\"https:\/\/cloud.google.com\/ml-engine\/docs\/tensorflow\/runtime-version-list<\/a>\nfor available runtime versions. Must be >=1.12.",
          "type": "string"
        },
        "maxWorkerCount": {
          "description": "Optional. The maximum number of workers to be used for parallel processing.\nDefaults to 10 if not specified.",
          "type": "string",
          "format": "int64"
        },
        "initialWorkerCount": {
          "description": "Optional. The initial number of workers to be used for parallel processing.\nDefaults to 0 if one wants the service to figure out the number. The actual\nnumber of workers being used may change after the job starts depending on\nthe autoscaling policy.",
          "type": "string",
          "format": "int64"
        },
        "workerType": {
          "description": "Optional. The type of virtual machine to use for the explanation job's\nworker nodes. It supports all machine types available on GCP (\nhttps:\/\/cloud.google.com\/compute\/docs\/machine-types), subject to\nthe availability in the specific region the job runs.",
          "type": "string"
        },
        "batchSize": {
          "description": "Optional. Number of records per batch, defaults to 64.\nThe service will buffer batch_size number of records in memory before\ninvoking one Tensorflow prediction call internally. So take the record\nsize and memory available into consideration when setting this parameter.",
          "type": "string",
          "format": "int64"
        },
        "signatureName": {
          "description": "Optional. The name of the signature defined in the SavedModel to use for\nthis job. Please refer to\n[SavedModel](https:\/\/tensorflow.github.io\/serving\/serving_basic.html)\nfor information about how to use signatures.\n\nDefaults to\n[DEFAULT_SERVING_SIGNATURE_DEF_KEY](https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/saved_model\/signature_constants)\n, which is \"serving_default\".",
          "type": "string"
        },
        "tagsOverride": {
          "description": "Optional. The set of tags to select which meta graph defined in the\nSavedModel to use for this job. Please refer to\n[SavedModel](https:\/\/www.tensorflow.org\/serving\/serving_basic)\nfor information about how to use tags.\n\nOverrides the default tags when predicting from a deployed model version.\n\nWhen predicting from a model directory, the tag defaults to\n[SERVING](https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/saved_model\/tag_constants)\n, which is \"serve\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accelerator": {
          "description": "Optional. The type and number of accelerators to be attached to each\nmachine running the job.",
          "$ref": "GoogleCloudMlV1__AcceleratorConfig"
        },
        "framework": {
          "description": "Optional. The framework used to train this model. Only needed if\nmodel_version is a GCS path. Otherwise the framework specified during\nversion creation will be used.",
          "enumDescriptions": [
            "Unspecified framework. Assigns a value based on the file suffix.",
            "Tensorflow framework.",
            "Scikit-learn framework.",
            "XGBoost framework."
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_UNSPECIFIED",
            "TENSORFLOW",
            "SCIKIT_LEARN",
            "XGBOOST"
          ]
        }
      }
    },
    "GoogleCloudMlV1__ExplanationConfig": {
      "id": "GoogleCloudMlV1__ExplanationConfig",
      "description": "Message holding configuration options for explaining model predictions.\nThere are two feature attribution methods supported for TensorFlow models:\nintegrated gradients and sampled Shapley.\n[Learn more about feature\nattributions.](\/ml-engine\/docs\/ai-explanations\/overview)",
      "type": "object",
      "properties": {
        "ablationAttribution": {
          "description": "TensorFlow framework explanation methods.\nAttributes credit to model inputs by ablating features (ie. setting them\nto their default\/missing values) and computing corresponding model score\ndelta per feature. The term \"ablation\" is in reference to running an\n\"ablation study\" to analyze input effects on the outcome of interest,\nwhich in this case is the model's output. This attribution method is\nsupported for TensorFlow and XGBoost models.",
          "$ref": "GoogleCloudMlV1__AblationAttribution"
        },
        "integratedGradientsAttribution": {
          "description": "Attributes credit by computing the Aumann-Shapley value taking advantage\nof the model's fully differentiable structure. Refer to this paper for\nmore details: http:\/\/proceedings.mlr.press\/v70\/sundararajan17a.html",
          "$ref": "GoogleCloudMlV1__IntegratedGradientsAttribution"
        },
        "sampledShapleyAttribution": {
          "description": "An attribution method that approximates Shapley values for features that\ncontribute to the label being predicted. A sampling strategy is used to\napproximate the value rather than considering all subsets of features.",
          "$ref": "GoogleCloudMlV1__SampledShapleyAttribution"
        },
        "xraiAttribution": {
          "description": "Attributes credit by computing the XRAI taking advantage\nof the model's fully differentiable structure. Refer to this paper for\nmore details: https:\/\/arxiv.org\/abs\/1906.02825\nCurrently only implemented for models with natural image inputs.",
          "$ref": "GoogleCloudMlV1__XraiAttribution"
        },
        "treeShapAttribution": {
          "description": "XGBoost framework explanation methods.\nAttributes credit by computing the Shapley value taking advantage of the\nmodel's tree ensemble structure. Refer to this paper for more details:\nhttp:\/\/papers.nips.cc\/paper\/7062-a-unified-approach-to-interpreting-model-predictions.pdf.\nThis attribution method is supported for XGBoost models.",
          "$ref": "GoogleCloudMlV1__TreeShapAttribution"
        },
        "saabasAttribution": {
          "description": "Attributes credit by running a faster aproximation to the TreeShap\nmethod. Please refer to this link for more details:\nhttps:\/\/blog.datadive.net\/interpreting-random-forests\/ This attribution\nmethod is only supported for XGBoost models.",
          "$ref": "GoogleCloudMlV1__SaabasAttribution"
        }
      }
    },
    "GoogleCloudMlV1__AblationAttribution": {
      "id": "GoogleCloudMlV1__AblationAttribution",
      "description": "Attributes credit to model inputs by ablating features (ie. setting them to\ntheir default\/missing values) and computing corresponding model score delta\nper feature. The term \"ablation\" is in reference to running an\n\"ablation study\" to analyze input effects on the outcome of interest, which\nin this case is the model's output.\nThis attribution method is supported for TensorFlow and XGBoost models.",
      "type": "object",
      "properties": {
        "numFeatureInteractions": {
          "description": "Number of feature interactions to account for in the ablation process,\ncapped at the maximum number of provided input features.\nCurrently, only the value 1 is supported.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1__IntegratedGradientsAttribution": {
      "id": "GoogleCloudMlV1__IntegratedGradientsAttribution",
      "description": "Attributes credit by computing the Aumann-Shapley value taking advantage\nof the model's fully differentiable structure. Refer to this paper for\nmore details: http:\/\/proceedings.mlr.press\/v70\/sundararajan17a.html",
      "type": "object",
      "properties": {
        "numIntegralSteps": {
          "description": "Number of steps for approximating the path integral.\nA good value to start is 50 and gradually increase until the\nsum to diff property is met within the desired error range.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1__SampledShapleyAttribution": {
      "id": "GoogleCloudMlV1__SampledShapleyAttribution",
      "description": "An attribution method that approximates Shapley values for features that\ncontribute to the label being predicted. A sampling strategy is used to\napproximate the value rather than considering all subsets of features.",
      "type": "object",
      "properties": {
        "numPaths": {
          "description": "The number of feature permutations to consider when approximating the\nShapley values.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1__XraiAttribution": {
      "id": "GoogleCloudMlV1__XraiAttribution",
      "description": "Attributes credit by computing the XRAI taking advantage\nof the model's fully differentiable structure. Refer to this paper for\nmore details: https:\/\/arxiv.org\/abs\/1906.02825\nCurrently only implemented for models with natural image inputs.",
      "type": "object",
      "properties": {
        "numIntegralSteps": {
          "description": "Number of steps for approximating the path integral.\nA good value to start is 50 and gradually increase until the\nsum to diff property is met within the desired error range.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1__TreeShapAttribution": {
      "id": "GoogleCloudMlV1__TreeShapAttribution",
      "description": "Attributes credit by computing the Shapley value taking advantage of the\nmodel's tree ensemble structure. Refer to this paper for more details:\nhttp:\/\/papers.nips.cc\/paper\/7062-a-unified-approach-to-interpreting-model-predictions.pdf.\nThis attribution method is supported for XGBoost models.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudMlV1__SaabasAttribution": {
      "id": "GoogleCloudMlV1__SaabasAttribution",
      "description": "Attributes credit by running a faster aproximation to the TreeShap method.\nPlease refer to this link for more details:\nhttps:\/\/blog.datadive.net\/interpreting-random-forests\/ This attribution\nmethod is only supported for XGBoost models.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudMlV1__TrainingOutput": {
      "id": "GoogleCloudMlV1__TrainingOutput",
      "description": "Represents results of a training job. Output only.",
      "type": "object",
      "properties": {
        "completedTrialCount": {
          "description": "The number of hyperparameter tuning trials that completed successfully.\nOnly set for hyperparameter tuning jobs.",
          "type": "string",
          "format": "int64"
        },
        "trials": {
          "description": "Results for individual Hyperparameter trials.\nOnly set for hyperparameter tuning jobs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__HyperparameterOutput"
          }
        },
        "nasJobOutput": {
          "description": "The output of a Neural Architecture Search (NAS) job.",
          "$ref": "GoogleCloudMlV1__NasJobOutput"
        },
        "consumedMLUnits": {
          "description": "The amount of ML units consumed by the job.",
          "type": "number",
          "format": "double"
        },
        "isHyperparameterTuningJob": {
          "description": "Whether this job is a hyperparameter tuning job.",
          "type": "boolean"
        },
        "isBuiltInAlgorithmJob": {
          "description": "Whether this job is a built-in Algorithm job.",
          "type": "boolean"
        },
        "builtInAlgorithmOutput": {
          "description": "Details related to built-in algorithms jobs.\nOnly set for built-in algorithms jobs.",
          "$ref": "GoogleCloudMlV1__BuiltInAlgorithmOutput"
        },
        "hyperparameterMetricTag": {
          "description": "The TensorFlow summary tag name used for optimizing hyperparameter tuning\ntrials. See\n[`HyperparameterSpec.hyperparameterMetricTag`](#HyperparameterSpec.FIELDS.hyperparameter_metric_tag)\nfor more information. Only set for hyperparameter tuning jobs.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__HyperparameterOutput": {
      "id": "GoogleCloudMlV1__HyperparameterOutput",
      "description": "Represents the result of a single hyperparameter tuning trial from a\ntraining job. The TrainingOutput object that is returned on successful\ncompletion of a training job with hyperparameter tuning includes a list\nof HyperparameterOutput objects, one for each successful trial.",
      "type": "object",
      "properties": {
        "trialId": {
          "description": "The trial id for these results.",
          "type": "string"
        },
        "hyperparameters": {
          "description": "The hyperparameters given to this trial.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "startTime": {
          "description": "Output only. Start time for the trial.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. End time for the trial.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The detailed state of the trial.",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.\n`error_message` should contain the details of the failure.",
            "The job is being cancelled.\n`error_message` should describe the reason for the cancellation.",
            "The job has been cancelled.\n`error_message` should describe the reason for the cancellation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ]
        },
        "finalMetric": {
          "description": "The final objective metric seen for this trial.",
          "$ref": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
        },
        "isTrialStoppedEarly": {
          "description": "True if the trial is stopped early.",
          "type": "boolean"
        },
        "allMetrics": {
          "description": "All recorded object metrics for this trial. This field is not currently\npopulated.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
          }
        },
        "builtInAlgorithmOutput": {
          "description": "Details related to built-in algorithms jobs.\nOnly set for trials of built-in algorithms jobs that have succeeded.",
          "$ref": "GoogleCloudMlV1__BuiltInAlgorithmOutput"
        }
      }
    },
    "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric": {
      "id": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric",
      "description": "An observed value of a metric.",
      "type": "object",
      "properties": {
        "trainingStep": {
          "description": "The global training step for this metric.",
          "type": "string",
          "format": "int64"
        },
        "objectiveValue": {
          "description": "The objective value at this training step.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudMlV1__BuiltInAlgorithmOutput": {
      "id": "GoogleCloudMlV1__BuiltInAlgorithmOutput",
      "description": "Represents output related to a built-in algorithm Job.",
      "type": "object",
      "properties": {
        "framework": {
          "description": "Framework on which the built-in algorithm was trained.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "AI Platform runtime version on which the built-in algorithm was\ntrained.",
          "type": "string"
        },
        "pythonVersion": {
          "description": "Python version on which the built-in algorithm was trained.",
          "type": "string"
        },
        "modelPath": {
          "description": "The Cloud Storage path to the `model\/` directory where the training job\nsaves the trained model. Only set for successful jobs that don't use\nhyperparameter tuning.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__NasJobOutput": {
      "id": "GoogleCloudMlV1__NasJobOutput",
      "description": "The output of Neural Archhitecture Search (NAS) jobs.",
      "type": "object",
      "properties": {
        "multiTrialJobOutputs": {
          "description": "The output of a multi-trial Neural Architecture Search (NAS) job.",
          "$ref": "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutputs"
        }
      }
    },
    "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutputs": {
      "id": "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutputs",
      "description": "The list of all MultiTrialJobOutput.",
      "type": "object",
      "properties": {
        "multiTrialJobOutput": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutput"
          }
        }
      }
    },
    "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutput": {
      "id": "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutput",
      "description": "The output of Multi-trial Neural Architecture Search (NAS) jobs.",
      "type": "object",
      "properties": {
        "trialId": {
          "description": "The trial id for these results.",
          "type": "string"
        },
        "nasParamsStr": {
          "description": "The parameters that are associated with this Neural Architecture Search\n(NAS) job.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Start time for the trial.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. End time for the trial.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The detailed state of the trial.",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.\n`error_message` should contain the details of the failure.",
            "The job is being cancelled.\n`error_message` should describe the reason for the cancellation.",
            "The job has been cancelled.\n`error_message` should describe the reason for the cancellation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ]
        },
        "allMetrics": {
          "description": "All objective metrics for this Neural Architecture Search (NAS) job.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1_NasJobOutputMultiTrialJobOutput_NasParameterMetric"
          }
        },
        "finalMetric": {
          "description": "The final objective metric seen for this Neural Architecture Search (NAS)\njob.",
          "$ref": "GoogleCloudMlV1_NasJobOutputMultiTrialJobOutput_NasParameterMetric"
        }
      }
    },
    "GoogleCloudMlV1_NasJobOutputMultiTrialJobOutput_NasParameterMetric": {
      "id": "GoogleCloudMlV1_NasJobOutputMultiTrialJobOutput_NasParameterMetric",
      "description": "An observed value of a metric of the trial.",
      "type": "object",
      "properties": {
        "trainingStep": {
          "description": "The global training step for this metric.",
          "type": "string",
          "format": "int64"
        },
        "objectiveValue": {
          "description": "The objective value at this training step.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudMlV1__PredictionOutput": {
      "id": "GoogleCloudMlV1__PredictionOutput",
      "description": "Represents results of a prediction job.",
      "type": "object",
      "properties": {
        "outputPath": {
          "description": "The output Google Cloud Storage location provided at the job creation time.",
          "type": "string"
        },
        "predictionCount": {
          "description": "The number of generated predictions.",
          "type": "string",
          "format": "int64"
        },
        "errorCount": {
          "description": "The number of data instances which resulted in errors.",
          "type": "string",
          "format": "int64"
        },
        "nodeHours": {
          "description": "Node hours used by the batch prediction job.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudMlV1__ExplanationOutput": {
      "id": "GoogleCloudMlV1__ExplanationOutput",
      "description": "Represents results of an explanation job.",
      "type": "object",
      "properties": {
        "outputBigqueryTable": {
          "description": "The output BigQuery table name provided at the job creation time.",
          "type": "string"
        },
        "explanationCount": {
          "description": "The number of generated explanations.",
          "type": "string",
          "format": "int64"
        },
        "errorCount": {
          "description": "The number of data instances which resulted in errors.",
          "type": "string",
          "format": "int64"
        },
        "nodeHours": {
          "description": "Node hours used by the batch explanation job.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudMlV1__ListJobsResponse": {
      "id": "GoogleCloudMlV1__ListJobsResponse",
      "description": "Response message for the ListJobs method.",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "The list of jobs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Job"
          }
        },
        "nextPageToken": {
          "description": "Optional. Pass this token as the `page_token` field of the request for a\nsubsequent call.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__CancelJobRequest": {
      "id": "GoogleCloudMlV1__CancelJobRequest",
      "description": "Request message for the CancelJob method.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleProtobuf__Empty": {
      "id": "GoogleProtobuf__Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudMlV1__Location": {
      "id": "GoogleCloudMlV1__Location",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "capabilities": {
          "description": "Capabilities available in the location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Capability"
          }
        }
      }
    },
    "GoogleCloudMlV1__Capability": {
      "id": "GoogleCloudMlV1__Capability",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRAINING",
            "BATCH_PREDICTION",
            "ONLINE_PREDICTION"
          ]
        },
        "availableAccelerators": {
          "description": "Available accelerators for the capability.",
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "TPU v2.",
            "TPU v3.",
            "TPU v2 POD.",
            "TPU v3 POD."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ACCELERATOR_TYPE_UNSPECIFIED",
              "NVIDIA_TESLA_K80",
              "NVIDIA_TESLA_P100",
              "NVIDIA_TESLA_V100",
              "NVIDIA_TESLA_P4",
              "NVIDIA_TESLA_T4",
              "TPU_V2",
              "TPU_V3",
              "TPU_V2_POD",
              "TPU_V3_POD"
            ]
          }
        }
      }
    },
    "GoogleCloudMlV1__ListLocationsResponse": {
      "id": "GoogleCloudMlV1__ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "Locations where at least one type of CMLE capability is available.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Location"
          }
        },
        "nextPageToken": {
          "description": "Optional. Pass this token as the `page_token` field of the request for a\nsubsequent call.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunning__ListOperationsResponse": {
      "id": "GoogleLongrunning__ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunning__Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunning__Operation": {
      "id": "GoogleLongrunning__Operation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpc__Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`\/`Create`\/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpc__Status": {
      "id": "GoogleRpc__Status",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudMlV1__Model": {
      "id": "GoogleCloudMlV1__Model",
      "description": "Represents a machine learning solution.\n\nA model can have multiple versions, each of which is a deployed, trained\nmodel ready to receive prediction requests. The model itself is just a\ncontainer.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name specified for the model when it was created.\n\nThe model name must be unique within the project it is created in.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description specified for the model when it was created.",
          "type": "string"
        },
        "defaultVersion": {
          "description": "Output only. The default version of the model. This version will be used to\nhandle prediction requests that do not specify a version.\n\nYou can change the default version by calling\nprojects.models.versions.setDefault.",
          "$ref": "GoogleCloudMlV1__Version"
        },
        "regions": {
          "description": "Optional. The list of regions where the model is going to be deployed.\nOnly one region per model is supported.\nDefaults to 'us-central1' if nothing is set.\nSee the <a href=\"\/ml-engine\/docs\/tensorflow\/regions\">available regions<\/a>\nfor AI Platform services.\nNote:\n*   No matter where a model is deployed, it can always be accessed by\n    users from anywhere, both for online and batch prediction.\n*   The region for a batch prediction job is set by the region field when\n    submitting the batch prediction job and does not take its value from\n    this field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "onlinePredictionLogging": {
          "description": "Optional. If true, online prediction access logs are sent to StackDriver\nLogging. These logs are like standard server access logs, containing\ninformation like timestamp and latency for each request. Note that\n[Stackdriver logs may incur a cost](\/stackdriver\/pricing), especially if\nyour project receives prediction requests at a high queries per second rate\n(QPS). Estimate your costs before enabling this option.\n\nDefault is false.",
          "type": "boolean"
        },
        "onlinePredictionConsoleLogging": {
          "description": "Optional. If true, online prediction nodes send `stderr` and `stdout`\nstreams to Stackdriver Logging. These can be more verbose than the standard\naccess logs (see `onlinePredictionLogging`) and can incur higher cost.\nHowever, they are helpful for debugging. Note that\n[Stackdriver logs may incur a cost](\/stackdriver\/pricing), especially if\nyour project receives prediction requests at a high QPS. Estimate your\ncosts before enabling this option.\n\nDefault is false.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. One or more labels that you can add, to organize your models.\nEach label is a key-value pair, where both the key and the value are\narbitrary strings that you supply.\nFor more information, see the documentation on\n<a href=\"\/ml-engine\/docs\/tensorflow\/resource-labels\">using labels<\/a>.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a model from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform model updates in order to avoid race\nconditions: An `etag` is returned in the response to `GetModel`, and\nsystems are expected to put that etag in the request to `UpdateModel` to\nensure that their change will be applied to the model as intended.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudMlV1__Version": {
      "id": "GoogleCloudMlV1__Version",
      "description": "Represents a version of the model.\n\nEach version is a trained model deployed in the cloud, ready to handle\nprediction requests. A model can have multiple versions. You can get\ninformation about all of the versions of a given model by calling\nprojects.models.versions.list.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name specified for the version when it was created.\n\nThe version name must be unique within the model it is created in.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description specified for the version when it was created.",
          "type": "string"
        },
        "isDefault": {
          "description": "Output only. If true, this version will be used to handle prediction\nrequests that do not specify a version.\n\nYou can change the default version by calling\nprojects.methods.versions.setDefault.",
          "type": "boolean"
        },
        "deploymentUri": {
          "description": "Required. The Cloud Storage location of the trained model used to\ncreate the version. See the\n[guide to model\ndeployment](\/ml-engine\/docs\/tensorflow\/deploying-models) for more\ninformation.\n\nWhen passing Version to\nprojects.models.versions.create\nthe model service uses the specified location as the source of the model.\nOnce deployed, the model version is hosted by the prediction service, so\nthis location is useful only as a historical record.\nThe total number of model files can't exceed 1000.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the version was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastUseTime": {
          "description": "Output only. The time the version was last used for prediction.",
          "type": "string",
          "format": "google-datetime"
        },
        "runtimeVersion": {
          "description": "Required. The AI Platform runtime version to use for this deployment.\n\nFor more information, see the\n[runtime version list](\/ml-engine\/docs\/runtime-version-list) and\n[how to manage runtime versions](\/ml-engine\/docs\/versioning).",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. The type of machine on which to serve the model. Currently only\napplies to online prediction service. If this field is not specified, it\ndefaults to `mls1-c1-m2`.\n\nOnline prediction supports the following machine types:\n\n* `mls1-c1-m2`\n* `mls1-c4-m2`\n* `n1-standard-2`\n* `n1-standard-4`\n* `n1-standard-8`\n* `n1-standard-16`\n* `n1-standard-32`\n* `n1-highmem-2`\n* `n1-highmem-4`\n* `n1-highmem-8`\n* `n1-highmem-16`\n* `n1-highmem-32`\n* `n1-highcpu-2`\n* `n1-highcpu-4`\n* `n1-highcpu-8`\n* `n1-highcpu-16`\n* `n1-highcpu-32`\n\n`mls1-c1-m2` is generally available. All other machine types are available\nin beta. Learn more about the [differences between machine\ntypes](\/ml-engine\/docs\/machine-types-online-prediction).",
          "type": "string"
        },
        "autoScaling": {
          "description": "Automatically scale the number of nodes used to serve the model in\nresponse to increases and decreases in traffic. Care should be\ntaken to ramp up traffic according to the model's ability to scale\nor you will start seeing increases in latency and 429 response codes.\n\nNote that you cannot use AutoScaling if your version uses\n[GPUs](#Version.FIELDS.accelerator_config). Instead, you must use specify\n`manual_scaling`.",
          "$ref": "GoogleCloudMlV1__AutoScaling"
        },
        "manualScaling": {
          "description": "Manually select the number of nodes to use for serving the\nmodel. You should generally use `auto_scaling` with an appropriate\n`min_nodes` instead, but this option is available if you want more\npredictable billing. Beware that latency and error rates will increase\nif the traffic exceeds that capability of the system to serve it based\non the selected number of nodes.",
          "$ref": "GoogleCloudMlV1__ManualScaling"
        },
        "state": {
          "description": "Output only. The state of a version.",
          "enumDescriptions": [
            "The version state is unspecified.",
            "The version is ready for prediction.",
            "The version is being created. New UpdateVersion and DeleteVersion\nrequests will fail if a version is in the CREATING state.",
            "The version failed to be created, possibly cancelled.\n`error_message` should contain the details of the failure.",
            "The version is being deleted. New UpdateVersion and DeleteVersion\nrequests will fail if a version is in the DELETING state.",
            "The version is being updated. New UpdateVersion and DeleteVersion\nrequests will fail if a version is in the UPDATING state."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "READY",
            "CREATING",
            "FAILED",
            "DELETING",
            "UPDATING"
          ]
        },
        "errorMessage": {
          "description": "Output only. The details of a failure or a cancellation.",
          "type": "string"
        },
        "modelClass": {
          "type": "string"
        },
        "predictionClass": {
          "description": "Optional. The fully qualified name\n(<var>module_name<\/var>.<var>class_name<\/var>) of a class that implements\nthe Predictor interface described in this reference field. The module\ncontaining this class should be included in a package provided to the\n[`packageUris` field](#Version.FIELDS.package_uris).\n\nSpecify this field if and only if you are deploying a [custom prediction\nroutine (beta)](\/ml-engine\/docs\/tensorflow\/custom-prediction-routines).\nIf you specify this field, you must set\n[`runtimeVersion`](#Version.FIELDS.runtime_version) to 1.4 or greater and\nyou must set `machineType` to a [legacy (MLS1)\nmachine type](\/ml-engine\/docs\/machine-types-online-prediction).\n\nThe following code sample provides the Predictor interface:\n\n<pre style=\"max-width: 626px;\">\nclass Predictor(object):\n\"\"\"Interface for constructing custom predictors.\"\"\"\n\ndef predict(self, instances, **kwargs):\n    \"\"\"Performs custom prediction.\n\n    Instances are the decoded values from the request. They have already\n    been deserialized from JSON.\n\n    Args:\n        instances: A list of prediction input instances.\n        **kwargs: A dictionary of keyword args provided as additional\n            fields on the predict request body.\n\n    Returns:\n        A list of outputs containing the prediction results. This list must\n        be JSON serializable.\n    \"\"\"\n    raise NotImplementedError()\n\n@classmethod\ndef from_path(cls, model_dir):\n    \"\"\"Creates an instance of Predictor using the given path.\n\n    Loading of the predictor should be done in this method.\n\n    Args:\n        model_dir: The local directory that contains the exported model\n            file along with any additional files uploaded when creating the\n            version resource.\n\n    Returns:\n        An instance implementing this Predictor class.\n    \"\"\"\n    raise NotImplementedError()\n<\/pre>\n\nLearn more about [the Predictor interface and custom prediction\nroutines](\/ml-engine\/docs\/tensorflow\/custom-prediction-routines).",
          "type": "string"
        },
        "packageUris": {
          "description": "Optional. Cloud Storage paths (`gs:\/\/\u2026`) of packages for [custom\nprediction routines](\/ml-engine\/docs\/tensorflow\/custom-prediction-routines)\nor [scikit-learn pipelines with custom\ncode](\/ml-engine\/docs\/scikit\/exporting-for-prediction#custom-pipeline-code).\n\nFor a custom prediction routine, one of these packages must contain your\nPredictor class (see\n[`predictionClass`](#Version.FIELDS.prediction_class)). Additionally,\ninclude any dependencies used by your Predictor or scikit-learn pipeline\nuses that are not already included in your selected [runtime\nversion](\/ml-engine\/docs\/tensorflow\/runtime-version-list).\n\nIf you specify this field, you must also set\n[`runtimeVersion`](#Version.FIELDS.runtime_version) to 1.4 or greater.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. One or more labels that you can add, to organize your model\nversions. Each label is a key-value pair, where both the key and the value\nare arbitrary strings that you supply.\nFor more information, see the documentation on\n<a href=\"\/ml-engine\/docs\/tensorflow\/resource-labels\">using labels<\/a>.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a model from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform model updates in order to avoid race\nconditions: An `etag` is returned in the response to `GetVersion`, and\nsystems are expected to put that etag in the request to `UpdateVersion` to\nensure that their change will be applied to the model as intended.",
          "type": "string",
          "format": "byte"
        },
        "framework": {
          "description": "Optional. The machine learning framework AI Platform uses to train\nthis version of the model. Valid values are `TENSORFLOW`, `SCIKIT_LEARN`,\n`XGBOOST`. If you do not specify a framework, AI Platform\nwill analyze files in the deployment_uri to determine a framework. If you\nchoose `SCIKIT_LEARN` or `XGBOOST`, you must also set the runtime version\nof the model to 1.4 or greater.\n\nDo **not** specify a framework if you're deploying a [custom\nprediction routine](\/ml-engine\/docs\/tensorflow\/custom-prediction-routines).\n\nIf you specify a [Compute Engine (N1) machine\ntype](\/ml-engine\/docs\/machine-types-online-prediction) in the\n`machineType` field, you must specify `TENSORFLOW`\nfor the framework.",
          "enumDescriptions": [
            "Unspecified framework. Assigns a value based on the file suffix.",
            "Tensorflow framework.",
            "Scikit-learn framework.",
            "XGBoost framework."
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_UNSPECIFIED",
            "TENSORFLOW",
            "SCIKIT_LEARN",
            "XGBOOST"
          ]
        },
        "pythonVersion": {
          "description": "Required. The version of Python used in prediction.\n\nThe following Python versions are available:\n\n* Python '3.7' is available when `runtime_version` is set to '1.15' or\n  later.\n* Python '3.5' is available when `runtime_version` is set to a version\n  from '1.4' to '1.14'.\n* Python '2.7' is available when `runtime_version` is set to '1.15' or\n  earlier.\n\nRead more about the Python versions available for [each runtime\nversion](\/ml-engine\/docs\/runtime-version-list).",
          "type": "string"
        },
        "acceleratorConfig": {
          "description": "Optional. Accelerator config for using GPUs for online prediction (beta).\nOnly specify this field if you have specified a Compute Engine (N1) machine\ntype in the `machineType` field. Learn more about [using GPUs for online\nprediction](\/ml-engine\/docs\/machine-types-online-prediction#gpus).",
          "$ref": "GoogleCloudMlV1__AcceleratorConfig"
        },
        "serviceAccount": {
          "description": "Optional. Specifies the service account for resource access control.",
          "type": "string"
        },
        "imageUri": {
          "description": "Optional. The docker image to run for custom serving container. This image\nmust be in Google Container Registry.",
          "type": "string"
        },
        "requestLoggingConfig": {
          "description": "Optional. *Only* specify this field in a\nprojects.models.versions.patch\nrequest. Specifying it in a\nprojects.models.versions.create\nrequest has no effect.\n\nConfigures the request-response pair logging on predictions from this\nVersion.",
          "$ref": "GoogleCloudMlV1__RequestLoggingConfig"
        },
        "explanationConfig": {
          "description": "Optional. Configures explainability features on the model's version.\nSome explanation features require additional metadata to be loaded\nas part of the model payload.",
          "$ref": "GoogleCloudMlV1__ExplanationConfig"
        },
        "container": {
          "$ref": "GoogleCloudMlV1__ContainerSpec"
        },
        "routes": {
          "$ref": "GoogleCloudMlV1__RouteMap"
        }
      }
    },
    "GoogleCloudMlV1__AutoScaling": {
      "id": "GoogleCloudMlV1__AutoScaling",
      "description": "Options for automatically scaling a model.",
      "type": "object",
      "properties": {
        "minNodes": {
          "description": "Optional. The minimum number of nodes to allocate for this model. These\nnodes are always up, starting from the time the model is deployed.\nTherefore, the cost of operating this model will be at least\n`rate` * `min_nodes` * number of hours since last billing cycle,\nwhere `rate` is the cost per node-hour as documented in the\n[pricing guide](\/ml-engine\/docs\/pricing),\neven if no predictions are performed. There is additional cost for each\nprediction performed.\n\nUnlike manual scaling, if the load gets too heavy for the nodes\nthat are up, the service will automatically add nodes to handle the\nincreased load as well as scale back as traffic drops, always maintaining\nat least `min_nodes`. You will be charged for the time in which additional\nnodes are used.\n\nIf `min_nodes` is not specified and AutoScaling is used with a [legacy\n(MLS1) machine type](\/ml-engine\/docs\/machine-types-online-prediction),\n`min_nodes` defaults to 0, in which case, when traffic to a model stops\n(and after a cool-down period), nodes will be shut down and no charges will\nbe incurred until traffic to the model resumes.\n\nIf `min_nodes` is not specified and AutoScaling is used with a [Compute\nEngine (N1) machine type](\/ml-engine\/docs\/machine-types-online-prediction),\n`min_nodes` defaults to 1. `min_nodes` must be at least 1 for use with a\nCompute Engine machine type.\n\nNote that you cannot use AutoScaling if your version uses\n[GPUs](#Version.FIELDS.accelerator_config). Instead, you must use\nManualScaling.\n\nYou can set `min_nodes` when creating the model version, and you can also\nupdate `min_nodes` for an existing version:\n<pre>\nupdate_body.json:\n{\n  'autoScaling': {\n    'minNodes': 5\n  }\n}\n<\/pre>\nHTTP request:\n<pre style=\"max-width: 626px;\">\nPATCH\nhttps:\/\/ml.googleapis.com\/v1\/{name=projects\/*\/models\/*\/versions\/*}?update_mask=autoScaling.minNodes\n-d @.\/update_body.json\n<\/pre>",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1__ManualScaling": {
      "id": "GoogleCloudMlV1__ManualScaling",
      "description": "Options for manually scaling a model.",
      "type": "object",
      "properties": {
        "nodes": {
          "description": "The number of nodes to allocate for this model. These nodes are always up,\nstarting from the time the model is deployed, so the cost of operating\nthis model will be proportional to `nodes` * number of hours since\nlast billing cycle plus the cost for each prediction performed.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1__RequestLoggingConfig": {
      "id": "GoogleCloudMlV1__RequestLoggingConfig",
      "description": "Configuration for logging request-response pairs to a BigQuery table.\nOnline prediction requests to a model version and the responses to these\nrequests are converted to raw strings and saved to the specified BigQuery\ntable. Logging is constrained by [BigQuery quotas and\nlimits](\/bigquery\/quotas). If your project exceeds BigQuery quotas or limits,\nAI Platform Prediction does not log request-response pairs, but it continues\nto serve predictions.\n\nIf you are using [continuous\nevaluation](\/ml-engine\/docs\/continuous-evaluation\/), you do not need to\nspecify this configuration manually. Setting up continuous evaluation\nautomatically enables logging of request-response pairs.",
      "type": "object",
      "properties": {
        "samplingPercentage": {
          "description": "Percentage of requests to be logged, expressed as a fraction from 0 to 1.\nFor example, if you want to log 10% of requests, enter `0.1`. The sampling\nwindow is the lifetime of the model version. Defaults to 0.",
          "type": "number",
          "format": "double"
        },
        "bigqueryTableName": {
[...]
