{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "monitoring:v1",
  "name": "monitoring",
  "canonicalName": "Monitoring",
  "version": "v1",
  "revision": "0",
  "title": "Cloud Monitoring API",
  "description": "Manages your Cloud Monitoring data and configurations. Most projects must be associated with a Workspace, with a few exceptions as noted on the individual method pages. The table entries below are presented in alphabetical order, not in order of common use. For explanations of the concepts found in the table entries, read the Cloud Monitoring documentation.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/monitoring/api/",
  "protocol": "rest",
  "rootUrl": "https://monitoring.googleapis.com/",
  "mtlsRootUrl": "https://monitoring.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://monitoring.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/monitoring": {
          "description": "View and write monitoring data for all of your Google and third-party Cloud and API projects"
        },
        "https://www.googleapis.com/auth/monitoring.read": {
          "description": "View monitoring data for all of your Google Cloud and third-party projects"
        },
        "https://www.googleapis.com/auth/monitoring.write": {
          "description": "Publish metric data to your Google Cloud projects"
        }
      }
    }
  },
  "schemas": {
    "Dashboard": {
      "id": "Dashboard",
      "description": "A Google Stackdriver dashboard. Dashboards define the content and layout of pages in the Stackdriver web application.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the dashboard.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The mutable, human-readable name.",
          "type": "string"
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. An etag is returned in the response to GetDashboard, and users are expected to put that etag in the request to UpdateDashboard to ensure that their change will be applied to the same version of the Dashboard configuration. The field should not be passed during dashboard creation.",
          "type": "string"
        },
        "gridLayout": {
          "description": "Content is arranged with a basic layout that re-flows a simple list of informational elements like widgets or tiles.",
          "$ref": "GridLayout"
        },
        "rowLayout": {
          "description": "The content is divided into equally spaced rows and the widgets are arranged horizontally.",
          "$ref": "RowLayout"
        },
        "columnLayout": {
          "description": "The content is divided into equally spaced columns and the widgets are arranged vertically.",
          "$ref": "ColumnLayout"
        }
      }
    },
    "GridLayout": {
      "id": "GridLayout",
      "description": "A basic layout divides the available space into vertical columns of equal width and arranges a list of widgets using a row-first strategy.",
      "type": "object",
      "properties": {
        "columns": {
          "description": "The number of columns into which the view's width is divided. If omitted or set to zero, a system default will be used while rendering.",
          "type": "string",
          "format": "int64"
        },
        "widgets": {
          "description": "The informational elements that are arranged into the columns row-first.",
          "type": "array",
          "items": {
            "$ref": "Widget"
          }
        }
      }
    },
    "Widget": {
      "id": "Widget",
      "description": "Widget contains a single dashboard component and configuration of how to present the component in the dashboard.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. The title of the widget.",
          "type": "string"
        },
        "xyChart": {
          "description": "A chart of time series data.",
          "$ref": "XyChart"
        },
        "scorecard": {
          "description": "A scorecard summarizing time series data.",
          "$ref": "Scorecard"
        },
        "text": {
          "description": "A raw string or markdown displaying textual content.",
          "$ref": "Text"
        },
        "blank": {
          "description": "A blank space.",
          "$ref": "Empty"
        }
      }
    },
    "XyChart": {
      "id": "XyChart",
      "description": "A chart that displays data on a 2D (X and Y axes) plane.",
      "type": "object",
      "properties": {
        "dataSets": {
          "description": "Required. The data displayed in this chart.",
          "type": "array",
          "items": {
            "$ref": "DataSet"
          }
        },
        "timeshiftDuration": {
          "description": "The duration used to display a comparison chart. A comparison chart simultaneously shows values from two similar-length time periods (e.g., week-over-week metrics). The duration must be positive, and it can only be applied to charts with data sets of LINE plot type.",
          "type": "string",
          "format": "google-duration"
        },
        "thresholds": {
          "description": "Threshold lines drawn horizontally across the chart.",
          "type": "array",
          "items": {
            "$ref": "Threshold"
          }
        },
        "xAxis": {
          "description": "The properties applied to the X axis.",
          "$ref": "Axis"
        },
        "yAxis": {
          "description": "The properties applied to the Y axis.",
          "$ref": "Axis"
        },
        "chartOptions": {
          "description": "Display options for the chart.",
          "$ref": "ChartOptions"
        }
      }
    },
    "DataSet": {
      "id": "DataSet",
      "description": "Groups a time series query definition with charting options.",
      "type": "object",
      "properties": {
        "timeSeriesQuery": {
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API.",
          "$ref": "TimeSeriesQuery"
        },
        "plotType": {
          "description": "How this data should be plotted on the chart.",
          "enumDescriptions": [
            "Plot type is unspecified. The view will default to LINE.",
            "The data is plotted as a set of lines (one line per series).",
            "The data is plotted as a set of filled areas (one area per series), with the areas stacked vertically (the base of each area is the top of its predecessor, and the base of the first area is the X axis). Since the areas do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a set of rectangular boxes (one box per series), with the boxes stacked vertically (the base of each box is the top of its predecessor, and the base of the first box is the X axis). Since the boxes do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a heatmap. The series being plotted must have a DISTRIBUTION value type. The value of each bucket in the distribution is displayed as a color. This type is not currently available in the Stackdriver Monitoring application."
          ],
          "type": "string",
          "enum": [
            "PLOT_TYPE_UNSPECIFIED",
            "LINE",
            "STACKED_AREA",
            "STACKED_BAR",
            "HEATMAP"
          ]
        },
        "legendTemplate": {
          "description": "A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value.",
          "type": "string"
        },
        "minAlignmentPeriod": {
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "TimeSeriesQuery": {
      "id": "TimeSeriesQuery",
      "description": "TimeSeriesQuery collects the set of supported methods for querying time series data from the Stackdriver metrics API.",
      "type": "object",
      "properties": {
        "timeSeriesFilter": {
          "description": "Filter parameters to fetch time series.",
          "$ref": "TimeSeriesFilter"
        },
        "timeSeriesFilterRatio": {
          "description": "Parameters to fetch a ratio between two time series filters.",
          "$ref": "TimeSeriesFilterRatio"
        },
        "timeSeriesQueryLanguage": {
          "description": "A query used to fetch time series.",
          "type": "string"
        },
        "unitOverride": {
          "description": "The unit of data contained in fetched time series. If non-empty, this unit will override any unit that accompanies fetched data. The format is the same as the unit (https:\/\/cloud.google.com\/monitoring\/api\/ref_v3\/rest\/v3\/projects.metricDescriptors) field in MetricDescriptor.",
          "type": "string"
        }
      }
    },
    "TimeSeriesFilter": {
      "id": "TimeSeriesFilter",
      "description": "A filter that defines a subset of time series data that is displayed in a widget. Time series data is fetched using the ListTimeSeries (https:\/\/cloud.google.com\/monitoring\/api\/ref_v3\/rest\/v3\/projects.timeSeries\/list) method.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. The monitoring filter (https:\/\/cloud.google.com\/monitoring\/api\/v3\/filters) that identifies the metric types, resources, and projects to query.",
          "type": "string"
        },
        "aggregation": {
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data.",
          "$ref": "Aggregation"
        },
        "pickTimeSeriesFilter": {
          "description": "Ranking based time series filter.",
          "$ref": "PickTimeSeriesFilter"
        }
      }
    },
    "Aggregation": {
      "id": "Aggregation",
      "description": "Describes how to combine multiple time series to provide a different view of the data. Aggregation of time series is done in two steps. First, each time series in the set is aligned to the same time interval boundaries, then the set of time series is optionally reduced in number.Alignment consists of applying the per_series_aligner operation to each time series after its data has been divided into regular alignment_period time intervals. This process takes all of the data points in an alignment period, applies a mathematical transformation such as averaging, minimum, maximum, delta, etc., and converts them into a single data point per period.Reduction is when the aligned and transformed time series can optionally be combined, reducing the number of time series through similar mathematical transformations. Reduction involves applying a cross_series_reducer to all the time series, optionally sorting the time series into subsets with group_by_fields, and applying the reducer to each subset.The raw time series data can contain a huge amount of information from multiple sources. Alignment and reduction transforms this mass of data into a more manageable and representative collection of data, for example \"the 95% latency across the average of all tasks in a cluster\". This representative data can be more easily graphed and comprehended, and the individual time series data is still available for later drilldown. For more details, see Filtering and aggregation (https:\/\/cloud.google.com\/monitoring\/api\/v3\/aggregation).",
      "type": "object",
      "properties": {
        "alignmentPeriod": {
          "description": "The alignment_period specifies a time interval, in seconds, that is used to divide the data in all the time series into consistent blocks of time. This will be done before the per-series aligner can be applied to the data.The value must be at least 60 seconds. If a per-series aligner other than ALIGN_NONE is specified, this field is required or an error is returned. If no per-series aligner is specified, or the aligner ALIGN_NONE is specified, then this field is ignored.",
          "type": "string",
          "format": "google-duration"
        },
        "perSeriesAligner": {
          "description": "An Aligner describes how to bring the data points in a single time series into temporal alignment. Except for ALIGN_NONE, all alignments cause all the data points in an alignment_period to be mathematically grouped together, resulting in a single data point for each alignment_period with end timestamp at the end of the period.Not all alignment operations may be applied to all time series. The valid choices depend on the metric_kind and value_type of the original time series. Alignment can change the metric_kind or the value_type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified and not equal to ALIGN_NONE and alignment_period must be specified; otherwise, an error is returned.",
          "enumDescriptions": [
            "No alignment. Raw data is returned. Not valid if cross-series reduction is requested. The value_type of the result is the same as the value_type of the input.",
            "Align and convert to DELTA. The output is delta = y1 - y0.This alignment is valid for CUMULATIVE and DELTA metrics. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The value_type of the aligned result is the same as the value_type of the input.",
            "Align and convert to a rate. The result is computed as rate = (y1 - y0)\/(t1 - t0), or \"delta over time\". Think of this aligner as providing the slope of the line that passes through the value at the start and at the end of the alignment_period.This aligner is valid for CUMULATIVE and DELTA metrics with numeric values. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The output is a GAUGE metric with value_type DOUBLE.If, by \"rate\", you mean \"percentage change\", see the ALIGN_PERCENT_CHANGE aligner instead.",
            "Align by interpolating between adjacent points around the alignment period boundary. This aligner is valid for GAUGE metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align by moving the most recent data point before the end of the alignment period to the boundary at the end of the alignment period. This aligner is valid for GAUGE metrics. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the minimum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the maximum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the mean value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is DOUBLE.",
            "Align the time series by returning the number of values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric or Boolean values. The value_type of the aligned result is INT64.",
            "Align the time series by returning the sum of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric and distribution values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the standard deviation of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the output is DOUBLE.",
            "Align the time series by returning the number of True values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the number of False values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the ratio of the number of True values to the total number of values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https:\/\/en.wikipedia.org\/wiki\/Percentile). The resulting data point in each alignment period is the 99th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https:\/\/en.wikipedia.org\/wiki\/Percentile). The resulting data point in each alignment period is the 95th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https:\/\/en.wikipedia.org\/wiki\/Percentile). The resulting data point in each alignment period is the 50th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https:\/\/en.wikipedia.org\/wiki\/Percentile). The resulting data point in each alignment period is the 5th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align and convert to a percentage change. This aligner is valid for GAUGE and DELTA metrics with numeric values. This alignment returns ((current - previous)\/previous) * 100, where the value of previous is determined based on the alignment_period.If the values of current and previous are both 0, then the returned value is 0. If only previous is 0, the returned value is infinity.A 10-minute moving mean is computed at each point of the alignment period prior to the above calculation to smooth the metric and prevent false positives from very short-lived spikes. The moving mean is only applicable for data whose values are >= 0. Any values < 0 are treated as a missing datapoint, and are ignored. While DELTA metrics are accepted by this alignment, special care should be taken that the values for the metric will always be positive. The output is a GAUGE metric with value_type DOUBLE."
          ],
          "type": "string",
          "enum": [
            "ALIGN_NONE",
            "ALIGN_DELTA",
            "ALIGN_RATE",
            "ALIGN_INTERPOLATE",
            "ALIGN_NEXT_OLDER",
            "ALIGN_MIN",
            "ALIGN_MAX",
            "ALIGN_MEAN",
            "ALIGN_COUNT",
            "ALIGN_SUM",
            "ALIGN_STDDEV",
            "ALIGN_COUNT_TRUE",
            "ALIGN_COUNT_FALSE",
            "ALIGN_FRACTION_TRUE",
            "ALIGN_PERCENTILE_99",
            "ALIGN_PERCENTILE_95",
            "ALIGN_PERCENTILE_50",
            "ALIGN_PERCENTILE_05",
            "ALIGN_PERCENT_CHANGE"
          ]
        },
        "crossSeriesReducer": {
          "description": "The reduction operation to be used to combine time series into a single time series, where the value of each data point in the resulting series is a function of all the already aligned values in the input time series.Not all reducer operations can be applied to all time series. The valid choices depend on the metric_kind and the value_type of the original time series. Reduction can yield a time series with a different metric_kind or value_type than the input time series.Time series data must first be aligned (see per_series_aligner) in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified, and must not be ALIGN_NONE. An alignment_period must also be specified; otherwise, an error is returned.",
          "enumDescriptions": [
            "No cross-time series reduction. The output of the Aligner is returned.",
            "Reduce by computing the mean value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the minimum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the maximum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the sum across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric and distribution values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the standard deviation across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the number of data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of numeric, Boolean, distribution, and string value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of True-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of False-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the ratio of the number of True-valued data points to the total number of data points for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Reduce by computing the 99th percentile (https:\/\/en.wikipedia.org\/wiki\/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 95th percentile (https:\/\/en.wikipedia.org\/wiki\/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 50th percentile (https:\/\/en.wikipedia.org\/wiki\/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 5th percentile (https:\/\/en.wikipedia.org\/wiki\/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE."
          ],
          "type": "string",
          "enum": [
            "REDUCE_NONE",
            "REDUCE_MEAN",
            "REDUCE_MIN",
            "REDUCE_MAX",
            "REDUCE_SUM",
            "REDUCE_STDDEV",
            "REDUCE_COUNT",
            "REDUCE_COUNT_TRUE",
            "REDUCE_COUNT_FALSE",
            "REDUCE_FRACTION_TRUE",
            "REDUCE_PERCENTILE_99",
            "REDUCE_PERCENTILE_95",
            "REDUCE_PERCENTILE_50",
            "REDUCE_PERCENTILE_05"
          ]
        },
        "groupByFields": {
          "description": "The set of fields to preserve when cross_series_reducer is specified. The group_by_fields determine how the time series are partitioned into subsets prior to applying the aggregation operation. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The cross_series_reducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in group_by_fields are aggregated away. If group_by_fields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If cross_series_reducer is not defined, this field is ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PickTimeSeriesFilter": {
      "id": "PickTimeSeriesFilter",
      "description": "Describes a ranking-based time series filter. Each input time series is ranked with an aligner. The filter will allow up to num_time_series time series to pass through it, selecting them based on the relative ranking.For example, if ranking_method is METHOD_MEAN,direction is BOTTOM, and num_time_series is 3, then the 3 times series with the lowest mean values will pass through the filter.",
      "type": "object",
      "properties": {
        "rankingMethod": {
          "description": "ranking_method is applied to each time series independently to produce the value which will be used to compare the time series to other time series.",
          "enumDescriptions": [
            "Not allowed. You must specify a different Method if you specify a PickTimeSeriesFilter.",
            "Select the mean of all values.",
            "Select the maximum value.",
            "Select the minimum value.",
            "Compute the sum of all values.",
            "Select the most recent value."
          ],
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "METHOD_MEAN",
            "METHOD_MAX",
            "METHOD_MIN",
            "METHOD_SUM",
            "METHOD_LATEST"
          ]
        },
        "numTimeSeries": {
          "description": "How many time series to allow to pass through the filter.",
          "type": "integer",
          "format": "int32"
        },
        "direction": {
          "description": "How to use the ranking to select time series that pass through the filter.",
          "enumDescriptions": [
            "Not allowed. You must specify a different Direction if you specify a PickTimeSeriesFilter.",
            "Pass the highest num_time_series ranking inputs.",
            "Pass the lowest num_time_series ranking inputs."
          ],
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "TOP",
            "BOTTOM"
          ]
        }
      }
    },
    "TimeSeriesFilterRatio": {
      "id": "TimeSeriesFilterRatio",
      "description": "A pair of time series filters that define a ratio computation. The output time series is the pair-wise division of each aligned element from the numerator and denominator time series.",
      "type": "object",
      "properties": {
        "numerator": {
          "description": "The numerator of the ratio.",
          "$ref": "RatioPart"
        },
        "denominator": {
          "description": "The denominator of the ratio.",
          "$ref": "RatioPart"
        },
        "secondaryAggregation": {
          "description": "Apply a second aggregation after the ratio is computed.",
          "$ref": "Aggregation"
        },
        "pickTimeSeriesFilter": {
          "description": "Ranking based time series filter.",
          "$ref": "PickTimeSeriesFilter"
        }
      }
    },
    "RatioPart": {
      "id": "RatioPart",
      "description": "Describes a query to build the numerator or denominator of a TimeSeriesFilterRatio.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. The monitoring filter (https:\/\/cloud.google.com\/monitoring\/api\/v3\/filters) that identifies the metric types, resources, and projects to query.",
          "type": "string"
        },
        "aggregation": {
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data.",
          "$ref": "Aggregation"
        }
      }
    },
    "Threshold": {
      "id": "Threshold",
      "description": "Defines a threshold for categorizing time series values.",
      "type": "object",
      "properties": {
        "label": {
          "description": "A label for the threshold.",
          "type": "string"
        },
        "value": {
          "description": "The value of the threshold. The value should be defined in the native scale of the metric.",
          "type": "number",
          "format": "double"
        },
        "color": {
          "description": "The state color for this threshold. Color is not allowed in a XyChart.",
          "enumDescriptions": [
            "Color is unspecified. Not allowed in well-formed requests.",
            "Crossing the threshold is \"concerning\" behavior.",
            "Crossing the threshold is \"emergency\" behavior."
          ],
          "type": "string",
          "enum": [
            "COLOR_UNSPECIFIED",
            "YELLOW",
            "RED"
          ]
        },
        "direction": {
          "description": "The direction for the current threshold. Direction is not allowed in a XyChart.",
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The threshold will be considered crossed if the actual value is above the threshold value.",
            "The threshold will be considered crossed if the actual value is below the threshold value."
          ],
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ABOVE",
            "BELOW"
          ]
        }
      }
    },
    "Axis": {
      "id": "Axis",
      "description": "A chart axis.",
      "type": "object",
      "properties": {
        "label": {
          "description": "The label of the axis.",
          "type": "string"
        },
        "scale": {
          "description": "The axis scale. By default, a linear scale is used.",
          "enumDescriptions": [
            "Scale is unspecified. The view will default to LINEAR.",
            "Linear scale.",
            "Logarithmic scale (base 10)."
          ],
          "type": "string",
          "enum": [
            "SCALE_UNSPECIFIED",
            "LINEAR",
            "LOG10"
          ]
        }
      }
    },
    "ChartOptions": {
      "id": "ChartOptions",
      "description": "Options to control visual rendering of a chart.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "The chart mode.",
          "enumDescriptions": [
            "Mode is unspecified. The view will default to COLOR.",
            "The chart distinguishes data series using different color. Line colors may get reused when there are many lines in the chart.",
            "The chart uses the Stackdriver x-ray mode, in which each data set is plotted using the same semi-transparent color.",
            "The chart displays statistics such as average, median, 95th percentile, and more."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "COLOR",
            "X_RAY",
            "STATS"
          ]
        }
      }
    },
    "Scorecard": {
      "id": "Scorecard",
      "description": "A widget showing the latest value of a metric, and how this value relates to one or more thresholds.",
      "type": "object",
      "properties": {
        "timeSeriesQuery": {
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API.",
          "$ref": "TimeSeriesQuery"
        },
        "gaugeView": {
          "description": "Will cause the scorecard to show a gauge chart.",
          "$ref": "GaugeView"
        },
        "sparkChartView": {
          "description": "Will cause the scorecard to show a spark chart.",
          "$ref": "SparkChartView"
        },
        "thresholds": {
          "description": "The thresholds used to determine the state of the scorecard given the time series' current value. For an actual value x, the scorecard is in a danger state if x is less than or equal to a danger threshold that triggers below, or greater than or equal to a danger threshold that triggers above. Similarly, if x is above\/below a warning threshold that triggers above\/below, then the scorecard is in a warning state - unless x also puts it in a danger state. (Danger trumps warning.)As an example, consider a scorecard with the following four thresholds: {  value: 90,  category: 'DANGER',  trigger: 'ABOVE', }, {  value: 70,  category: 'WARNING',  trigger: 'ABOVE', }, {  value: 10,  category: 'DANGER',  trigger: 'BELOW', }, {  value: 20,  category: 'WARNING',  trigger: 'BELOW', }Then: values less than or equal to 10 would put the scorecard in a DANGER state, values greater than 10 but less than or equal to 20 a WARNING state, values strictly between 20 and 70 an OK state, values greater than or equal to 70 but less than 90 a WARNING state, and values greater than or equal to 90 a DANGER state.",
          "type": "array",
          "items": {
            "$ref": "Threshold"
          }
        }
      }
    },
    "GaugeView": {
      "id": "GaugeView",
      "description": "A gauge chart shows where the current value sits within a pre-defined range. The upper and lower bounds should define the possible range of values for the scorecard's query (inclusive).",
      "type": "object",
      "properties": {
        "lowerBound": {
          "description": "The lower bound for this gauge chart. The value of the chart should always be greater than or equal to this.",
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "description": "The upper bound for this gauge chart. The value of the chart should always be less than or equal to this.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SparkChartView": {
      "id": "SparkChartView",
      "description": "A sparkChart is a small chart suitable for inclusion in a table-cell or inline in text. This message contains the configuration for a sparkChart to show up on a Scorecard, showing recent trends of the scorecard's timeseries.",
      "type": "object",
      "properties": {
        "sparkChartType": {
          "description": "Required. The type of sparkchart to show in this chartView.",
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The sparkline will be rendered as a small line chart.",
            "The sparkbar will be rendered as a small bar chart."
          ],
          "type": "string",
          "enum": [
            "SPARK_CHART_TYPE_UNSPECIFIED",
            "SPARK_LINE",
            "SPARK_BAR"
          ]
        },
        "minAlignmentPeriod": {
          "description": "The lower bound on data point frequency in the chart implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes it would not make sense to fetch and align data at one minute intervals. This field is optional and exists only as a hint.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Text": {
      "id": "Text",
      "description": "A widget that displays textual content.",
      "type": "object",
      "properties": {
        "content": {
          "description": "The text content to be displayed.",
          "type": "string"
        },
        "format": {
          "description": "How the text content is formatted.",
          "enumDescriptions": [
            "Format is unspecified. Defaults to MARKDOWN.",
            "The text contains Markdown formatting.",
            "The text contains no special formatting."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "MARKDOWN",
            "RAW"
          ]
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty JSON object {}.",
      "type": "object",
      "properties": {
      }
    },
    "RowLayout": {
      "id": "RowLayout",
      "description": "A simplified layout that divides the available space into rows and arranges a set of widgets horizontally in each row.",
      "type": "object",
      "properties": {
        "rows": {
          "description": "The rows of content to display.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "Row": {
      "id": "Row",
      "description": "Defines the layout properties and content for a row.",
      "type": "object",
      "properties": {
        "weight": {
          "description": "The relative weight of this row. The row weight is used to adjust the height of rows on the screen (relative to peers). Greater the weight, greater the height of the row on the screen. If omitted, a value of 1 is used while rendering.",
          "type": "string",
          "format": "int64"
        },
        "widgets": {
          "description": "The display widgets arranged horizontally in this row.",
          "type": "array",
          "items": {
            "$ref": "Widget"
          }
        }
      }
    },
    "ColumnLayout": {
      "id": "ColumnLayout",
      "description": "A simplified layout that divides the available space into vertical columns and arranges a set of widgets vertically in each column.",
      "type": "object",
      "properties": {
        "columns": {
          "description": "The columns of content to display.",
          "type": "array",
          "items": {
            "$ref": "Column"
          }
        }
      }
    },
    "Column": {
      "id": "Column",
      "description": "Defines the layout properties and content for a column.",
      "type": "object",
      "properties": {
        "weight": {
          "description": "The relative weight of this column. The column weight is used to adjust the width of columns on the screen (relative to peers). Greater the weight, greater the width of the column on the screen. If omitted, a value of 1 is used while rendering.",
          "type": "string",
          "format": "int64"
        },
        "widgets": {
          "description": "The display widgets arranged vertically in this column.",
          "type": "array",
          "items": {
            "$ref": "Widget"
          }
        }
      }
    },
    "ListDashboardsResponse": {
      "id": "ListDashboardsResponse",
      "description": "The ListDashboards request.",
      "type": "object",
      "properties": {
        "dashboards": {
          "description": "The list of requested dashboards.",
          "type": "array",
          "items": {
            "$ref": "Dashboard"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        }
      }
    },
    "Type": {
      "id": "Type",
      "description": "A protocol buffer message type.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The fully qualified message name.",
          "type": "string"
        },
        "fields": {
          "description": "The list of fields.",
          "type": "array",
          "items": {
            "$ref": "Field"
          }
        },
        "oneofs": {
          "description": "The list of types appearing in oneof definitions in this type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "options": {
          "description": "The protocol buffer options.",
          "type": "array",
          "items": {
            "$ref": "Option"
          }
        },
        "sourceContext": {
          "description": "The source context.",
          "$ref": "SourceContext"
        },
        "syntax": {
          "description": "The source syntax.",
          "enumDescriptions": [
            "Syntax proto2.",
            "Syntax proto3."
          ],
          "type": "string",
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3"
          ]
        }
      }
    },
    "Field": {
      "id": "Field",
      "description": "A single field of a message type.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The field type.",
          "enumDescriptions": [
            "Field type unknown.",
            "Field type double.",
            "Field type float.",
            "Field type int64.",
            "Field type uint64.",
            "Field type int32.",
            "Field type fixed64.",
            "Field type fixed32.",
            "Field type bool.",
            "Field type string.",
            "Field type group. Proto2 syntax only, and deprecated.",
            "Field type message.",
            "Field type bytes.",
            "Field type uint32.",
            "Field type enum.",
            "Field type sfixed32.",
            "Field type sfixed64.",
            "Field type sint32.",
            "Field type sint64."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ]
        },
        "cardinality": {
          "description": "The field cardinality.",
          "enumDescriptions": [
            "For fields with unknown cardinality.",
            "For optional fields.",
            "For required fields. Proto2 syntax only.",
            "For repeated fields."
          ],
          "type": "string",
          "enum": [
            "CARDINALITY_UNKNOWN",
            "CARDINALITY_OPTIONAL",
            "CARDINALITY_REQUIRED",
            "CARDINALITY_REPEATED"
          ]
        },
        "number": {
          "description": "The field number.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The field name.",
          "type": "string"
        },
        "typeUrl": {
          "description": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com\/google.protobuf.Timestamp\".",
          "type": "string"
        },
        "oneofIndex": {
          "description": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list.",
          "type": "integer",
          "format": "int32"
        },
        "packed": {
          "description": "Whether to use alternative packed wire representation.",
          "type": "boolean"
        },
        "options": {
          "description": "The protocol buffer options.",
          "type": "array",
          "items": {
            "$ref": "Option"
          }
        },
        "jsonName": {
          "description": "The field JSON name.",
          "type": "string"
        },
        "defaultValue": {
          "description": "The string value of the default value of this field. Proto2 syntax only.",
          "type": "string"
        }
      }
    },
    "Option": {
      "id": "Option",
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\".",
          "type": "string"
        },
        "value": {
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google\/protobuf\/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SourceContext": {
      "id": "SourceContext",
      "description": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined.",
      "type": "object",
      "properties": {
        "fileName": {
          "description": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google\/protobuf\/source_context.proto\".",
          "type": "string"
        }
      }
    },
    "DroppedLabels": {
      "id": "DroppedLabels",
      "description": "A set of (label, value) pairs which were dropped during aggregation, attached to google.api.Distribution.Exemplars in google.api.Distribution values during aggregation.These values are used in combination with the label values that remain on the aggregated Distribution timeseries to construct the full label set for the exemplar values. The resulting full label set may be used to identify the specific task\/job\/instance (for example) which may be contributing to a long-tail, while allowing the storage savings of only storing aggregated distribution values for a large group.Note that there are no guarantees on ordering of the labels from exemplar-to-exemplar and from distribution-to-distribution in the same stream, and there may be duplicates. It is up to clients to resolve any ambiguities.",
      "type": "object",
      "properties": {
        "label": {
          "description": "Map from label to its value, for all labels dropped in any aggregation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SpanContext": {
      "id": "SpanContext",
      "description": "The context of a span, attached to Exemplars in Distribution values during aggregation.It contains the name of a span with format:\nprojects\/[PROJECT_ID_OR_NUMBER]\/traces\/[TRACE_ID]\/spans\/[SPAN_ID]\n",
      "type": "object",
      "properties": {
        "spanName": {
          "description": "The resource name of the span. The format is:\nprojects\/[PROJECT_ID_OR_NUMBER]\/traces\/[TRACE_ID]\/spans\/[SPAN_ID]\n[TRACE_ID] is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array.[SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "dashboards": {
          "methods": {
            "create": {
              "id": "monitoring.projects.dashboards.create",
              "path": "v1/{+parent}/dashboards",
              "flatPath": "v1/projects/{projectsId}/dashboards",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The project on which to execute the request. The format is:\nprojects\/[PROJECT_ID_OR_NUMBER]\nThe [PROJECT_ID_OR_NUMBER] must match the dashboard resource name.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Dashboard"
              },
              "response": {
                "$ref": "Dashboard"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ],
              "description": "Creates a new custom dashboard.This method requires the monitoring.dashboards.create permission on the specified project. For more information, see Google Cloud IAM (https:\/\/cloud.google.com\/iam)."
            },
            "list": {
              "id": "monitoring.projects.dashboards.list",
              "path": "v1/{+parent}/dashboards",
              "flatPath": "v1/projects/{projectsId}/dashboards",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The scope of the dashboards to list. The format is:\nprojects\/[PROJECT_ID_OR_NUMBER]\n",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "A positive number that is the maximum number of results to return. If unspecified, a default of 1000 is used.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListDashboardsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ],
              "description": "Lists the existing dashboards.This method requires the monitoring.dashboards.list permission on the specified project. For more information, see Google Cloud IAM (https:\/\/cloud.google.com\/iam)."
            },
            "get": {
              "id": "monitoring.projects.dashboards.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the Dashboard. The format is one of:\ndashboards\/[DASHBOARD_ID] (for system dashboards)\nprojects\/[PROJECT_ID_OR_NUMBER]\/dashboards\/[DASHBOARD_ID]  (for custom dashboards).",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/dashboards\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Dashboard"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ],
              "description": "Fetches a specific dashboard.This method requires the monitoring.dashboards.get permission on the specified dashboard. For more information, see Google Cloud IAM (https:\/\/cloud.google.com\/iam)."
            },
            "delete": {
              "id": "monitoring.projects.dashboards.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the Dashboard. The format is:\nprojects\/[PROJECT_ID_OR_NUMBER]\/dashboards\/[DASHBOARD_ID]\n",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/dashboards\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ],
              "description": "Deletes an existing custom dashboard.This method requires the monitoring.dashboards.delete permission on the specified dashboard. For more information, see Google Cloud IAM (https:\/\/cloud.google.com\/iam)."
            },
            "patch": {
              "id": "monitoring.projects.dashboards.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Immutable. The resource name of the dashboard.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/dashboards\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Dashboard"
              },
              "response": {
                "$ref": "Dashboard"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ],
              "description": "Replaces an existing custom dashboard with a new definition.This method requires the monitoring.dashboards.update permission on the specified dashboard. For more information, see Google Cloud IAM (https:\/\/cloud.google.com\/iam)."
            }
          }
        }
      }
    }
  },
  "basePath": ""
}