{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "securitycenter:v1p1alpha1",
  "name": "securitycenter",
  "canonicalName": "Security Command Center",
  "version": "v1p1alpha1",
  "revision": "0",
  "title": "Cloud Security Command Center API",
  "description": "Cloud Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://console.cloud.google.com/apis/api/securitycenter.googleapis.com/overview",
  "protocol": "rest",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`\/`Create`\/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "Source": {
      "id": "Source",
      "description": "Cloud Security Command Center's (Cloud SCC) finding source. A finding source\nis an entity or a mechanism that can produce a finding. A source is like a\ncontainer of findings that come from the same scanner, logger, monitor, etc.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of this source. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name\nExample:\n\"organizations\/{organization_id}\/sources\/{source_id}\"",
          "type": "string"
        },
        "displayName": {
          "description": "The source's display name.\nA source's display name must be unique amongst its siblings, for example,\ntwo sources with the same parent can't share the same display name.\nThe display name must have a length between 1 and 64 characters\n(inclusive).",
          "type": "string"
        },
        "description": {
          "description": "The description of the source (max of 1024 characters).\nExample:\n\"Cloud Security Scanner is a web security scanner for common\nvulnerabilities in App Engine applications. It can automatically\nscan and detect four common vulnerabilities, including cross-site-scripting\n(XSS), Flash injection, mixed content (HTTP in HTTPS), and\noutdated\/insecure libraries.\"",
          "type": "string"
        },
        "referenceId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1Finding": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1Finding",
      "description": "Cloud Security Command Center (Cloud SCC) finding.\n\nA finding is a record of assessment data (security, risk, health or privacy)\ningested into Cloud SCC for presentation, notification, analysis,\npolicy testing, and enforcement. For example, an XSS vulnerability in an\nApp Engine application is a finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of this finding. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name\nExample:\n\"organizations\/{organization_id}\/sources\/{source_id}\/findings\/{finding_id}\"",
          "type": "string"
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name\nThis field is immutable after creation time.\nFor example:\n\"organizations\/{organization_id}\/sources\/{source_id}\"",
          "type": "string"
        },
        "resourceName": {
          "description": "For findings on Google Cloud Platform (GCP) resources, the full resource\nname of the GCP resource this finding is for. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#full_resource_name\nWhen the finding is for a non-GCP resource, the resourceName can be a\ncustomer or partner defined string.\nThis field is immutable after creation time.",
          "type": "string"
        },
        "state": {
          "description": "The state of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed\nand is no longer active."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source.\nThis field is immutable after creation time.\nExample: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Cloud SCC\nwhere additional information about the finding can be found. This field is\nguaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source\nthat writes the finding. The key names in the source_properties map must be\nbetween 1 and 255 characters, and must start with a letter and contain\nalphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely\nmanaged by the user and come from the SecurityMarks resource that belongs\nto the finding.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1SecurityMarks"
        },
        "eventTime": {
          "description": "The time at which the event took place. For example, if the finding\nrepresents an open firewall it would capture the time the detector believes\nthe firewall became open. The accuracy is determined by the detector.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "The time at which the finding was created in Cloud SCC.",
          "type": "string",
          "format": "google-datetime"
        },
        "propertyDataTypes": {
          "description": "The data types of each source property in the source_properties map.\nOnly visible to GOOGLE_INTERNAL\/PANTHEON.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1p1alpha1PropertyDataType"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1SecurityMarks",
      "description": "User specified security marks that are attached to the parent Cloud Security\nCommand Center (Cloud SCC) resource. Security marks are scoped within a Cloud\nSCC organization -- they can be modified and viewed by all users who have\nproper permissions on the organization.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of the SecurityMarks. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name\nExamples:\n\"organizations\/{organization_id}\/assets\/{asset_id}\/securityMarks\"\n\"organizations\/{organization_id}\/sources\/{source_id}\/findings\/{finding_id}\/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource.\nConstraints are as follows:\n\n  * Keys and values are treated as case insensitive\n  * Keys must be between 1 - 256 characters (inclusive)\n  * Keys must be letters, numbers, underscores, or dashes\n  * Values have leading and trailing whitespace trimmed, remaining\n    characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1PropertyDataType": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1PropertyDataType",
      "description": "Message used to define the format of a single property value's type in a\nFinding. If the type of the value is a struct, the struct_value map will have\nthe same keys as the struct. If the type of the value is a list, all fields\ninside the list will be enforced to have the same type, so only a single type\nwill be present for all values in the list. e.g:\nP1: {\n   x: number_value: 123,\n   y: string_value: \"some string\",\n   z: bool_value: True,\n   a_list: list_value: values: number_value: 123, number_value: 234\n   a_list_of_lists:\n     list_value:\n       values:\n         list_value: values: number_value: 123, number_value: 234\n         list_value: values: bool_value: true\n         list_value: values: string_value: \"abc\", string_value: \"def\"\n} would be represented as:\n{\n data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED,\n struct_value: {\n   x: {\n     data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED,\n     primitive_data_type: NUMBER,\n   }\n   y: {\n     data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED,\n     primitive_data_type: STRING,\n   }\n   z: {\n     data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED,\n     primitive_data_type: BOOL,\n   }\n   a_list: {\n     data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED,\n     list_values: [\n       {\n         data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED\n         primitive_data_type: NUMBER\n       }\n     ]\n   }\n   a_list_of_lists: {\n     data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED,\n     list_values: [\n       {\n         data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED\n         list_values: [\n           {\n             data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED\n             primitive_data_type: NUMBER\n           },\n           {\n             data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED\n             primitive_data_type: BOOL\n           }\n           {\n             data_type: DATA_TYPE_TAXONOMY_UNSPECIFIED\n             primitive_data_type: STRING\n           }\n         ]\n       }\n     ]\n   }\n }\n}",
      "type": "object",
      "properties": {
        "dataType": {
          "description": "Data Type of the property name. If the property name does not have a data\ntype associated with it, DATA_TYPES_UNKNOWN will be used.",
          "enumDescriptions": [
            "The data type for the property name is unknown.",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_TAXONOMY_UNSPECIFIED",
            "TIMESTAMP",
            "HYPERLINK",
            "IPV4_ADDRESS",
            "IPV6_ADDRESS"
          ]
        },
        "primitiveDataType": {
          "description": "Used to represent the format of a NUMBER\/STRING\/BOOL property value.",
          "enumDescriptions": [
            "Unspecified data type.",
            "A Number (float) value.",
            "A string value.",
            "A bool value."
          ],
          "type": "string",
          "enum": [
            "PRIMITIVE_DATA_TYPE_UNSPECIFIED",
            "NUMBER",
            "STRING",
            "BOOL"
          ]
        },
        "structValue": {
          "description": "Used to represent the format of a struct property value.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1DataTypeStruct"
        },
        "listValues": {
          "description": "Used to represent the format of a list property value.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1PropertyDataTypes"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1DataTypeStruct": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1DataTypeStruct",
      "description": "Message containing a map of string names to PropertyDataTypes describing the\nformat of a data type whose outer most value is a struct.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "A map of property names to their respective TaxonomyDataTypes.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1p1alpha1PropertyDataType"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1PropertyDataTypes": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1PropertyDataTypes",
      "description": "Message containing a PropertyDataType for each nested ListValue or a single\nPropertyDataType if the inner Values are not ListValues.",
      "type": "object",
      "properties": {
        "propertyDataTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1alpha1PropertyDataType"
          }
        }
      }
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "description": "Cloud Security Command Center (Cloud SCC) notification configs.\n\nA notification config is a Cloud SCC resource that contains the configuration\nto send notifications for create\/update events of findings, assets and etc.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of this notification config. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name\nExample:\n\"organizations\/{organization_id}\/notificationConfigs\/notify_public_bucket\".",
          "type": "string"
        },
        "description": {
          "description": "The description of the notification config (max of 1024 characters).",
          "type": "string"
        },
        "eventType": {
          "description": "The type of events the config is for, e.g. FINDING.",
          "enumDescriptions": [
            "Unspecified event type.",
            "Events for findings.",
            "Events for assets."
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "FINDING",
            "ASSET"
          ]
        },
        "pubsubTopic": {
          "description": "The PubSub topic to send notifications to. Its format is\n\"projects\/[project_id]\/topics\/[topic]\".",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. The service account that needs \"pubsub.topics.publish\"\npermission to publish to the PubSub topic.",
          "type": "string"
        },
        "streamingConfig": {
          "description": "The config for triggering streaming-based notifications.",
          "$ref": "StreamingConfig"
        }
      }
    },
    "StreamingConfig": {
      "id": "StreamingConfig",
      "description": "The config for streaming-based notifications, which send each event as soon\nas it is detected.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Expression that defines the filter to apply across create\/update events\nof assets or findings as specified by the event type. The expression is a\nlist of zero or more restrictions combined via logical operators `AND`\nand `OR`. Parentheses are supported, and `OR` has higher precedence than\n`AND`.\n\nRestrictions have the form `<field> <operator> <value>` and may have a\n`-` character in front of them to indicate negation. The fields map to\nthose defined in the corresponding resource.\n\nThe supported operators are:\n\n* `=` for all value types.\n* `>`, `<`, `>=`, `<=` for integer values.\n* `:`, meaning substring matching, for strings.\n\nThe supported value types are:\n\n* string literals in quotes.\n* integer literals without quotes.\n* boolean literals `true` and `false` without quotes.",
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to\n`GetIamPolicy`. This field is only used by Cloud IAM.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access\ncontrols for Google Cloud resources.\n\n\nA `Policy` is a collection of `bindings`. A `binding` binds one or more\n`members` to a single `role`. Members can be user accounts, service accounts,\nGoogle groups, and domains (such as G Suite). A `role` is a named list of\npermissions; each `role` can be an IAM predefined role or a user-created\ncustom role.\n\nOptionally, a `binding` can specify a `condition`, which is a logical\nexpression that allows access to a resource only if the expression evaluates\nto `true`. A condition can add constraints based on attributes of the\nrequest, the resource, or both.\n\n**JSON example:**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles\/resourcemanager.organizationAdmin\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles\/resourcemanager.organizationViewer\",\n          \"members\": [\"user:eve@example.com\"],\n          \"condition\": {\n            \"title\": \"expirable access\",\n            \"description\": \"Does not grant access after Sep 2020\",\n            \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\",\n          }\n        }\n      ],\n      \"etag\": \"BwWWja0YfJA=\",\n      \"version\": 3\n    }\n\n**YAML example:**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-project-id@appspot.gserviceaccount.com\n      role: roles\/resourcemanager.organizationAdmin\n    - members:\n      - user:eve@example.com\n      role: roles\/resourcemanager.organizationViewer\n      condition:\n        title: expirable access\n        description: Does not grant access after Sep 2020\n        expression: request.time < timestamp('2020-10-01T00:00:00.000Z')\n    - etag: BwWWja0YfJA=\n    - version: 3\n\nFor a description of IAM and its features, see the\n[IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.\n\nValid values are `0`, `1`, and `3`. Requests that specify an invalid value\nare rejected.\n\nAny operation that affects conditional role bindings must specify version\n`3`. This requirement applies to the following operations:\n\n* Getting a policy that includes a conditional role binding\n* Adding a conditional role binding to a policy\n* Changing a conditional role binding in a policy\n* Removing any role binding, with or without a condition, from a policy\n  that includes conditions\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.\n\nIf a policy does not include any conditions, operations on that policy may\nspecify any valid version or leave the field unset.",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a\n`condition` that determines how and when the `bindings` are applied. Each\nof the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\n**Important:** If you use IAM Conditions, you must include the `etag` field\nwhenever you call `setIamPolicy`. If you omit this field, then IAM allows\nyou to overwrite a version `3` policy with a version `1` policy, and all of\nthe conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding.\nNOTE: An unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently.",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents an expression text. Example:\n\n    title: \"User account presence\"\n    description: \"Determines whether the request has a user account\"\n    expression: \"size(request.user) > 0\"",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in\nCommon Expression Language syntax.\n\nThe application context of the containing message determines which\nwell-known feature set of CEL is supported.",
          "type": "string"
        },
        "title": {
          "description": "An optional title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "description": {
          "description": "An optional description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "An optional string indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GetIsOnboardedRequest": {
      "id": "GetIsOnboardedRequest",
      "description": "Request message for getting is_onboarded.",
      "type": "object",
      "properties": {
      }
    },
    "GetIsOnboardedResponse": {
      "id": "GetIsOnboardedResponse",
      "description": "Response message for getting is_onboarded.",
      "type": "object",
      "properties": {
        "isOnboarded": {
          "description": "Represents whether the organization is onboarded.",
          "type": "boolean"
        }
      }
    },
    "OrganizationSettings": {
      "id": "OrganizationSettings",
      "description": "User specified settings that are attached to the Cloud Security Command\nCenter (Cloud SCC) organization.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of the settings. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name\nExample:\n\"organizations\/{organization_id}\/organizationSettings\".",
          "type": "string"
        },
        "enableAssetDiscovery": {
          "description": "A flag that indicates if Asset Discovery should be enabled. If the flag is\nset to `true`, then discovery of assets will occur. If it is set to `false,\nall historical assets will remain, but discovery of future assets will not\noccur.",
          "type": "boolean"
        },
        "assetDiscoveryConfig": {
          "description": "The configuration used for Asset Discovery runs.",
          "$ref": "AssetDiscoveryConfig"
        },
        "assetDiscoveryServiceAccount": {
          "type": "string"
        },
        "isOnboarded": {
          "type": "boolean"
        }
      }
    },
    "AssetDiscoveryConfig": {
      "id": "AssetDiscoveryConfig",
      "description": "The configuration used for Asset Discovery runs.",
      "type": "object",
      "properties": {
        "projectIds": {
          "description": "The project ids to use for filtering asset discovery.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inclusionMode": {
          "description": "The mode to use for filtering asset discovery.",
          "enumDescriptions": [
            "Unspecified. Setting the mode with this value will disable\ninclusion\/exclusion filtering for Asset Discovery.",
            "Asset Discovery will capture only the resources within the projects\nspecified. All other resources will be ignored.",
            "Asset Discovery will ignore all resources under the projects specified.\nAll other resources will be retrieved."
          ],
          "type": "string",
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ]
        }
      }
    },
    "GroupAssetsRequest": {
      "id": "GroupAssetsRequest",
      "description": "Request message for grouping by assets.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Expression that defines the filter to apply across assets.\nThe expression is a list of zero or more restrictions combined via logical\noperators `AND` and `OR`.\nParentheses are supported, and `OR` has higher precedence than `AND`.\n\nRestrictions have the form `<field> <operator> <value>` and may have a `-`\ncharacter in front of them to indicate negation. The fields map to those\ndefined in the Asset resource. Examples include:\n\n* name\n* security_center_properties.resource_name\n* resource_properties.a_property\n* security_marks.marks.marka\n\nThe supported operators are:\n\n* `=` for all value types.\n* `>`, `<`, `>=`, `<=` for integer values.\n* `:`, meaning substring matching, for strings.\n\nThe supported value types are:\n\n* string literals in quotes.\n* integer literals without quotes.\n* boolean literals `true` and `false` without quotes.\n\nThe following field and operator combinations are supported:\n\n* name: `=`\n* update_time: `=`, `>`, `<`, `>=`, `<=`\n\n  Usage: This should be milliseconds since epoch or an RFC3339 string.\n  Examples:\n    \"update_time = \\\"2019-06-10T16:07:18-07:00\\\"\"\n    \"update_time = 1560208038000\"\n\n* create_time: `=`, `>`, `<`, `>=`, `<=`\n\n  Usage: This should be milliseconds since epoch or an RFC3339 string.\n  Examples:\n    \"create_time = \\\"2019-06-10T16:07:18-07:00\\\"\"\n    \"create_time = 1560208038000\"\n\n* iam_policy.policy_blob: `=`, `:`\n* resource_properties: `=`, `:`, `>`, `<`, `>=`, `<=`\n* security_marks.marks: `=`, `:`\n* security_center_properties.resource_name: `=`, `:`\n* security_center_properties.resource_type: `=`, `:`\n* security_center_properties.resource_parent: `=`, `:`\n* security_center_properties.resource_project: `=`, `:`\n* security_center_properties.resource_owners: `=`, `:`\n\nFor example, `resource_properties.size = 100` is a valid filter string.",
          "type": "string"
        },
        "groupBy": {
          "description": "Expression that defines what assets fields to use for grouping. The string\nvalue should follow SQL syntax: comma separated list of fields. For\nexample:\n\"security_center_properties.resource_project,security_center_properties.project\".\n\nThe following fields are supported when compare_duration is not set:\n\n* security_center_properties.resource_project\n* security_center_properties.resource_type\n* security_center_properties.resource_parent\n\nThe following fields are supported when compare_duration is set:\n\n* security_center_properties.resource_type",
          "type": "string"
        },
        "compareDuration": {
          "description": "When compare_duration is set, the GroupResult's \"state_change\" property is\nupdated to indicate whether the asset was added, removed, or remained\npresent during the compare_duration period of time that precedes the\nread_time. This is the time between (read_time - compare_duration) and\nread_time.\n\nThe state change value is derived based on the presence of the asset at the\ntwo points in time. Intermediate state changes between the two times don't\naffect the result. For example, the results aren't affected if the asset is\nremoved and re-created again.\n\nPossible \"state_change\" values when compare_duration is specified:\n\n* \"ADDED\":   indicates that the asset was not present at the start of\n               compare_duration, but present at reference_time.\n* \"REMOVED\": indicates that the asset was present at the start of\n               compare_duration, but not present at reference_time.\n* \"ACTIVE\":  indicates that the asset was present at both the\n               start and the end of the time period defined by\n               compare_duration and reference_time.\n\nIf compare_duration is not specified, then the only possible state_change\nis \"UNUSED\", which will be the state_change set for all assets present at\nread_time.\n\nIf this field is set then `state_change` must be a specified field in\n`group_by`.",
          "type": "string",
          "format": "google-duration"
        },
        "readTime": {
          "description": "Time used as a reference point when filtering assets. The filter is limited\nto assets existing at the supplied time and their values are those at that\nspecific time. Absence of this field will default to the API's version of\nNOW.",
          "type": "string",
          "format": "google-datetime"
        },
        "having": {
          "description": "Filter that specifies what fields to further filter on *after* the query\nfilter has been executed. Currently only `state_change` is supported and\nrequires compare_duration to be specified.",
          "type": "string"
        },
        "pageToken": {
          "description": "The value returned by the last `GroupAssetsResponse`; indicates\nthat this is a continuation of a prior `GroupAssets` call, and that the\nsystem should return the next page of data.",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single response. Default is\n10, minimum is 1, maximum is 1000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GroupAssetsResponse": {
      "id": "GroupAssetsResponse",
      "description": "Response message for grouping by assets.",
      "type": "object",
      "properties": {
        "groupByResults": {
          "description": "Group results. There exists an element for each existing unique\ncombination of property\/values. The element contains a count for the number\nof times those specific property\/values appear.",
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "description": "Time used for executing the groupBy request.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of results matching the query.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GroupResult": {
      "id": "GroupResult",
      "description": "Result containing the properties and count of a groupBy request.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties matching the groupBy fields in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "count": {
          "description": "Total count of resources for the given properties.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GroupFindingsRequest": {
      "id": "GroupFindingsRequest",
      "description": "Request message for grouping by findings.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Expression that defines the filter to apply across findings.\nThe expression is a list of one or more restrictions combined via logical\noperators `AND` and `OR`.\nParentheses are supported, and `OR` has higher precedence than `AND`.\n\nRestrictions have the form `<field> <operator> <value>` and may have a `-`\ncharacter in front of them to indicate negation. Examples include:\n\n * name\n * source_properties.a_property\n * security_marks.marks.marka\n\nThe supported operators are:\n\n* `=` for all value types.\n* `>`, `<`, `>=`, `<=` for integer values.\n* `:`, meaning substring matching, for strings.\n\nThe supported value types are:\n\n* string literals in quotes.\n* integer literals without quotes.\n* boolean literals `true` and `false` without quotes.\n\nThe following field and operator combinations are supported:\n\n* name: `=`\n* parent: `=`, `:`\n* resource_name: `=`, `:`\n* state: `=`, `:`\n* category: `=`, `:`\n* external_uri: `=`, `:`\n* event_time: `=`, `>`, `<`, `>=`, `<=`\n\n  Usage: This should be milliseconds since epoch or an RFC3339 string.\n  Examples:\n    \"event_time = \\\"2019-06-10T16:07:18-07:00\\\"\"\n    \"event_time = 1560208038000\"\n\n* security_marks.marks: `=`, `:`\n* source_properties: `=`, `:`, `>`, `<`, `>=`, `<=`\n\nFor example, `source_properties.size = 100` is a valid filter string.",
          "type": "string"
        },
        "groupBy": {
          "description": "Expression that defines what assets fields to use for grouping (including\n`state_change`). The string value should follow SQL syntax: comma separated\nlist of fields. For example: \"parent,resource_name\".\n\nThe following fields are supported:\n\n* resource_name\n* category\n* state\n* parent\n\nThe following fields are supported when compare_duration is set:\n\n* state_change",
          "type": "string"
        },
        "readTime": {
          "description": "Time used as a reference point when filtering findings. The filter is\nlimited to findings existing at the supplied time and their values are\nthose at that specific time. Absence of this field will default to the\nAPI's version of NOW.",
          "type": "string",
          "format": "google-datetime"
        },
        "compareDuration": {
          "description": "When compare_duration is set, the GroupResult's \"state_change\" attribute is\nupdated to indicate whether the finding had its state changed, the\nfinding's state remained unchanged, or if the finding was added during the\ncompare_duration period of time that precedes the read_time. This is the\ntime between (read_time - compare_duration) and read_time.\n\nThe state_change value is derived based on the presence and state of the\nfinding at the two points in time. Intermediate state changes between the\ntwo times don't affect the result. For example, the results aren't affected\nif the finding is made inactive and then active again.\n\nPossible \"state_change\" values when compare_duration is specified:\n\n* \"CHANGED\":   indicates that the finding was present at the start of\n                 compare_duration, but changed its state at read_time.\n* \"UNCHANGED\": indicates that the finding was present at the start of\n                 compare_duration and did not change state at read_time.\n* \"ADDED\":     indicates that the finding was not present at the start\n                 of compare_duration, but was present at read_time.\n\nIf compare_duration is not specified, then the only possible state_change\nis \"UNUSED\",  which will be the state_change set for all findings present\nat read_time.\n\nIf this field is set then `state_change` must be a specified field in\n`group_by`.",
          "type": "string",
          "format": "google-duration"
        },
        "having": {
          "description": "Filter that specifies what fields to further filter on *after* the query\nfilter has been executed. Currently only `finding.state` and `state_change`\nare supported and requires compare_duration to be specified.",
          "type": "string"
        },
        "pageToken": {
          "description": "The value returned by the last `GroupFindingsResponse`; indicates\nthat this is a continuation of a prior `GroupFindings` call, and\nthat the system should return the next page of data.",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single response. Default is\n10, minimum is 1, maximum is 1000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GroupFindingsResponse": {
      "id": "GroupFindingsResponse",
      "description": "Response message for group by findings.",
      "type": "object",
      "properties": {
        "groupByResults": {
          "description": "Group results. There exists an element for each existing unique\ncombination of property\/values. The element contains a count for the number\nof times those specific property\/values appear.",
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "description": "Time used for executing the groupBy request.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of results matching the query.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "InitializeAssetDiscoveryServiceAccountRequest": {
      "id": "InitializeAssetDiscoveryServiceAccountRequest",
      "description": "Request message for initializing asset discovery service account.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Optional. Email of the already created service account.\nExpected in the format \"service-org-\\d+@\\S+.iam.gserviceaccount.com\".\nPassing this field in will result in InitializeAssetDiscoveryServiceAccount\nto neither create a service account nor update the ORG's IAM policy with\nthis service account. This method will continue to update\nOrganizationSettings with the provided service account as well as\ninitializing FPR.",
          "type": "string"
        }
      }
    },
    "ListAssetPropertyNamesResponse": {
      "id": "ListAssetPropertyNamesResponse",
      "description": "Response message for listing asset property names.",
      "type": "object",
      "properties": {
        "propertyNames": {
          "description": "Distinct asset property names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        }
      }
    },
    "ListFindingPropertyNamesResponse": {
      "id": "ListFindingPropertyNamesResponse",
      "description": "Response message for listing finding property names.",
      "type": "object",
      "properties": {
        "propertyNames": {
          "description": "Distinct finding property names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        }
      }
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "type": "object",
      "properties": {
        "listAssetsResults": {
          "description": "Assets matching the list request.",
          "type": "array",
          "items": {
            "$ref": "ListAssetsResult"
          }
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of assets matching the query.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListAssetsResult": {
      "id": "ListAssetsResult",
      "description": "Result containing the Asset and its State.",
      "type": "object",
      "properties": {
        "asset": {
          "description": "Asset matching the search request.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1Asset"
        },
        "stateChange": {
          "description": "State change of the asset between the points in time.",
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "Asset was added between the points in time.",
            "Asset was removed between the points in time.",
            "Asset was present at both point(s) in time."
          ],
          "type": "string",
          "enum": [
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1Asset": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1Asset",
      "description": "Cloud Security Command Center's (Cloud SCC) representation of a Google Cloud\nPlatform (GCP) resource.\n\nThe Asset is a Cloud SCC resource that captures information about a single\nGCP resource. All modifications to an Asset are only within the context of\nCloud SCC and don't affect the referenced GCP resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of this asset. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name\nExample:\n\"organizations\/{organization_id}\/assets\/{asset_id}\".",
          "type": "string"
        },
        "securityCenterProperties": {
          "description": "Cloud SCC managed properties. These properties are managed by\nCloud SCC and cannot be modified by the user.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1SecurityCenterProperties"
        },
        "resourceProperties": {
          "description": "Resource managed properties. These properties are managed and defined by\nthe GCP resource and cannot be modified by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "securityMarks": {
          "description": "User specified security marks. These marks are entirely managed by the user\nand come from the SecurityMarks resource that belongs to the asset.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1SecurityMarks"
        },
        "createTime": {
          "description": "The time at which the asset was created in Cloud SCC.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "The time at which the asset was last updated, added, or deleted in Cloud\nSCC.",
          "type": "string",
          "format": "google-datetime"
        },
        "iamPolicy": {
          "description": "IAM Policy information associated with the GCP resource described by the\nCloud SCC asset. This information is managed and defined by the GCP\nresource and cannot be modified by the user.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1IamPolicy"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1SecurityCenterProperties": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1SecurityCenterProperties",
      "description": "Cloud SCC managed properties. These properties are managed by Cloud SCC and\ncannot be modified by the user.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The full resource name of the GCP resource this asset\nrepresents. This field is immutable after create time. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceType": {
          "description": "The type of the GCP resource. Examples include: APPLICATION,\nPROJECT, and ORGANIZATION. This is a case insensitive field defined by\nCloud SCC and\/or the producer of the resource and is immutable\nafter create time.",
          "type": "string"
        },
        "resourceParent": {
          "description": "The full resource name of the immediate parent of the resource. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceProject": {
          "description": "The full resource name of the project the resource belongs to. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceOwners": {
          "description": "Owners of the Google Cloud resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1IamPolicy": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1IamPolicy",
      "description": "IAM Policy information associated with the GCP resource described by the\nCloud SCC asset. This information is managed and defined by the GCP\nresource and cannot be modified by the user.",
      "type": "object",
      "properties": {
        "policyBlob": {
          "description": "The JSON representation of the Policy associated with the asset.\nSee https:\/\/cloud.google.com\/iam\/reference\/rest\/v1p1alpha1\/Policy for\nformat details.",
          "type": "string"
        }
      }
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "description": "Response message for listing findings.",
      "type": "object",
      "properties": {
        "listFindingsResults": {
          "description": "Findings matching the list request.",
          "type": "array",
          "items": {
            "$ref": "ListFindingsResult"
          }
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of findings matching the query.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListFindingsResult": {
      "id": "ListFindingsResult",
      "description": "Result containing the Finding and its StateChange.",
      "type": "object",
      "properties": {
        "finding": {
          "description": "Finding matching the search request.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1Finding"
        },
        "stateChange": {
          "description": "State change of the finding between the points in time.",
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "The finding has changed state in some way between the points in time\nand existed at both points.",
            "The finding has not changed state between the points in time and\nexisted at both points.",
            "The finding was created between the points in time.",
            "The finding at timestamp does not match the filter specified, but it\ndid at timestamp - compare_duration."
          ],
          "type": "string",
          "enum": [
            "UNUSED",
            "CHANGED",
            "UNCHANGED",
            "ADDED",
            "REMOVED"
          ]
        },
        "resource": {
          "description": "Output only. Resource that is associated with this finding.",
          "$ref": "Resource"
        }
      }
    },
    "Resource": {
      "id": "Resource",
      "description": "Information related to the Google Cloud Platform (GCP) resource that is\nassociated with this finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The full resource name of the resource. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#full_resource_name",
          "type": "string"
        },
        "projectName": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "projectDisplayName": {
          "description": "The human readable name of project that the resource belongs to.",
          "type": "string"
        },
        "parentName": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        }
      }
    },
    "ListNotificationConfigsResponse": {
      "id": "ListNotificationConfigsResponse",
      "description": "Response message for listing notification configs.",
      "type": "object",
      "properties": {
        "notificationConfigs": {
          "description": "Notification configs belonging to the requested parent.",
          "type": "array",
          "items": {
            "$ref": "NotificationConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        }
      }
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "type": "object",
      "properties": {
        "sources": {
          "description": "Sources belonging to the requested parent.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more\nresults.",
          "type": "string"
        }
      }
    },
    "RunAssetDiscoveryRequest": {
      "id": "RunAssetDiscoveryRequest",
      "description": "Request message for running asset discovery for an organization.",
      "type": "object",
      "properties": {
      }
    },
    "SetFindingStateRequest": {
      "id": "SetFindingStateRequest",
      "description": "Request message for updating a finding's state.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The desired State of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed\nand is no longer active."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "startTime": {
          "description": "The time at which the updated state takes effect.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another\nrun for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another\nrun for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1NotificationMessage",
      "description": "Cloud SCC's Notification",
      "type": "object",
      "properties": {
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be\npopulated.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1Finding"
        },
        "temporalAsset": {
          "description": "If it's an asset based notification config, this field will be\npopulated.",
          "$ref": "TemporalAsset"
        }
      }
    },
    "TemporalAsset": {
      "id": "TemporalAsset",
      "description": "Wrapper over asset object that also captures the state change for the asset\ne.g. if it was a newly created asset vs updated or deleted asset.",
      "type": "object",
      "properties": {
        "changeType": {
          "description": "Represents if the asset was created\/updated\/deleted.",
          "enumDescriptions": [
            "Unspecified or default.",
            "Newly created Asset",
            "Asset was updated.",
            "Asset was deleted."
          ],
          "type": "string",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ]
        },
        "asset": {
          "description": "Asset data that includes attributes, properties and marks about the asset.",
          "$ref": "GoogleCloudSecuritycenterV1p1alpha1Asset"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1alpha1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1p1alpha1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another\nrun for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      }
    }
  },
  "resources": {
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "id": "securitycenter.organizations.getOrganizationSettings",
          "path": "v1p1alpha1/{+name}",
          "flatPath": "v1p1alpha1/organizations/{organizationsId}/organizationSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Name of the organization to get organization settings for. Its format is\n\"organizations\/[organization_id]\/organizationSettings\".",
              "location": "path",
              "required": true,
              "pattern": "^organizations\/[^\/]+\/organizationSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "OrganizationSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings for an organization."
        },
        "updateOrganizationSettings": {
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "path": "v1p1alpha1/{+name}",
          "flatPath": "v1p1alpha1/organizations/{organizationsId}/organizationSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The relative resource name of the settings. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name\nExample:\n\"organizations\/{organization_id}\/organizationSettings\".",
              "location": "path",
              "required": true,
              "pattern": "^organizations\/[^\/]+\/organizationSettings$",
              "type": "string"
            },
            "updateMask": {
              "description": "The FieldMask to use when updating the settings resource.\n\n If empty all mutable fields will be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "OrganizationSettings"
          },
          "response": {
            "$ref": "OrganizationSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates an organization's settings."
        }
      }
      ,
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "id": "securitycenter.organizations.operations.list",
              "path": "v1p1alpha1/{+name}",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/operations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/operations$",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users\/*\/operations`. To\noverride the binding, API services can add a binding such as\n`\"\/v1\/{name=users\/*}\/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id."
            },
            "get": {
              "id": "securitycenter.organizations.operations.get",
              "path": "v1p1alpha1/{+name}",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/operations\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice."
            },
            "delete": {
              "id": "securitycenter.organizations.operations.delete",
              "path": "v1p1alpha1/{+name}",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/operations\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`."
            },
            "cancel": {
              "id": "securitycenter.organizations.operations.cancel",
              "path": "v1p1alpha1/{+name}:cancel",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/operations\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`."
            }
          }
        },
        "sources": {
          "methods": {
            "create": {
              "id": "securitycenter.organizations.sources.create",
              "path": "v1p1alpha1/{+parent}/sources",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Resource name of the new source's parent. Its format should be\n\"organizations\/[organization_id]\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Source"
              },
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a source."
            },
            "getIamPolicy": {
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "path": "v1p1alpha1/{+resource}:getIamPolicy",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/sources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the access control policy on the specified Source."
            },
            "get": {
              "id": "securitycenter.organizations.sources.get",
              "path": "v1p1alpha1/{+name}",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources/{sourcesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Relative resource name of the source. Its format is\n\"organizations\/[organization_id]\/source\/[source_id]\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/sources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a source."
            },
            "list": {
              "id": "securitycenter.organizations.sources.list",
              "path": "v1p1alpha1/{+parent}/sources",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Resource name of the parent of sources to list. Its format should be\n\"organizations\/[organization_id]\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListSourcesResponse`; indicates\nthat this is a continuation of a prior `ListSources` call, and\nthat the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return in a single response. Default is\n10, minimum is 1, maximum is 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all sources belonging to an organization."
            },
            "setIamPolicy": {
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "path": "v1p1alpha1/{+resource}:setIamPolicy",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/sources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the access control policy on the specified Source."
            },
            "testIamPermissions": {
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "path": "v1p1alpha1/{+resource}:testIamPermissions",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/sources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the permissions that a caller has on the specified source."
            },
            "patch": {
              "id": "securitycenter.organizations.sources.patch",
              "path": "v1p1alpha1/{+name}",
              "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources/{sourcesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The relative resource name of this source. See:\nhttps:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name\nExample:\n\"organizations\/{organization_id}\/sources\/{source_id}\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/sources\/[^\/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "The FieldMask to use when updating the source resource.\n\nIf empty all mutable fields will be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Source"
              },
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a source."
            }
          }
          ,
          "resources": {
            "findings": {
              "methods": {
                "create": {
                  "id": "securitycenter.organizations.sources.findings.create",
                  "path": "v1p1alpha1/{+parent}/findings",
                  "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Resource name of the new finding's parent. Its format should be\n\"organizations\/[organization_id]\/sources\/[source_id]\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations\/[^\/]+\/sources\/[^\/]+$",
                      "type": "string"
                    },
                    "findingId": {
                      "description": "Unique identifier provided by the client within the parent scope.\nIt must be alphanumeric and less than or equal to 32 characters and\ngreater than 0 characters in length.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1p1alpha1Finding"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1p1alpha1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a finding. The corresponding source must exist for finding creation\nto succeed."
                },
                "group": {
                  "id": "securitycenter.organizations.sources.findings.group",
                  "path": "v1p1alpha1/{+parent}/findings:group",
                  "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Name of the source to groupBy. Its format is\n\"organizations\/[organization_id]\/sources\/[source_id]\". To groupBy across\nall sources provide a source_id of `-`. For example:\norganizations\/{organization_id}\/sources\/-",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations\/[^\/]+\/sources\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Filters an organization or source's findings and  groups them by their\nspecified properties.\n\nTo group across all sources provide a `-` as the source id.\nExample: \/v1p1alpha1\/organizations\/{organization_id}\/sources\/-\/findings"
                },
                "list": {
                  "id": "securitycenter.organizations.sources.findings.list",
                  "path": "v1p1alpha1/{+parent}/findings",
                  "flatPath": "v1p1alpha1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Name of the source the findings belong to. Its format is\n\"organizations\/[organization_id]\/sources\/[source_id]\". To list across all\nsources provide a source_id of `-`. For example:\norganizations\/{organization_id}\/sources\/-",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations\/[^\/]+\/sources\/[^\/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Expression that defines the filter to apply across findings.\nThe expression is a list of one or more restrictions combined via logical\noperators `AND` and `OR`.\nParentheses are supported, and `OR` has higher precedence than `AND`.\n\nRestrictions have the form `<field> <operator> <value>` and may have a `-`\ncharacter in front of them to indicate negation. Examples include:\n\n * name\n * source_properties.a_property\n * security_marks.marks.marka\n\nThe supported operators are:\n\n* `=` for all value types.\n* `>`, `<`, `>=`, `<=` for integer values.\n* `:`, meaning substring matching, for strings.\n\nThe supported value types are:\n\n* string literals in quotes.\n* integer literals without quotes.\n* boolean literals `true` and `false` without quotes.\n\nThe following field and operator combinations are supported:\n\nname: `=`\nparent: `=`, `:`\nresource_name: `=`, `:`\nstate: `=`, `:`\ncategory: `=`, `:`\nexternal_uri: `=`, `:`\nevent_time: `=`, `>`, `<`, `>=`, `<=`\n\n  Usage: This should be milliseconds since epoch or an RFC3339 string.\n  Examples:\n    \"event_time = \\\"2019-06-10T16:07:18-07:00\\\"\"\n    \"event_time = 1560208038000\"\n\nsecurity_marks.marks: `=`, `:`\nsource_properties: `=`, `:`, `>`, `<`, `>=`, `<=`\n\nFor example, `source_properties.size = 100` is a valid filter string.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Expression that defines what fields and order to use for sorting. The\nstring value should follow SQL syntax: comma separated list of fields. For\nexample: \"name,resource_properties.a_property\". The default sorting order\nis ascending. To specify descending order for a field, a suffix \" desc\"\nshould be appended to the field name. For example: \"name\ndesc,source_properties.a_property\". Redundant space characters in the\nsyntax are insignificant. \"name desc,source_properties.a_property\" and \"\nname     desc  ,   source_properties.a_property  \" are equivalent.\n\nThe following fields are supported:\nname\nparent\nstate\ncategory\nresource_name\nevent_time\nsource_properties\nsecurity_marks.marks",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "description": "Time used as a reference point when filtering findings. The filter is\nlimited to findings existing at the supplied time and their values are\nthose at that specific time. Absence of this field will default to the\nAPI's version of NOW.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "compareDuration": {
                      "description": "When compare_duration is set, the ListFindingsResult's \"state_change\"\nattribute is updated to indicate whether the finding had its state changed,\nthe finding's state remained unchanged, or if the finding was added in any\nstate during the compare_duration period of time that precedes the\nread_time. This is the time between (read_time - compare_duration) and\nread_time.\n\nThe state_change value is derived based on the presence and state of the\nfinding at the two points in time. Intermediate state changes between the\ntwo times don't affect the result. For example, the results aren't affected\nif the finding is made inactive and then active again.\n\nPossible \"state_change\" values when compare_duration is specified:\n\n* \"CHANGED\":   indicates that the finding was present at the start of\n                 compare_duration, but changed its state at read_time.\n* \"UNCHANGED\": indicates that the finding was present at the start of\n                 compare_duration and did not change state at read_time.\n* \"ADDED\":     indicates that the finding was not present at the start\n                 of compare_duration, but was present at read_time.\n\nIf compare_duration is not specified, then the only possible state_change\nis \"UNUSED\", which will be the state_change set for all findings present at\nread_time.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "having": {
[...]
