{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "speech:v1p1beta1",
  "name": "speech",
  "canonicalName": "Speech",
  "version": "v1p1beta1",
  "revision": "0",
  "title": "Cloud Speech-to-Text API",
  "description": "Converts audio to text by applying powerful neural network models.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/speech-to-text/docs/quickstart-protocol",
  "protocol": "rest",
  "rootUrl": "https://speech.googleapis.com/",
  "mtlsRootUrl": "https://speech.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://speech.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`\/`Create`\/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "RecognizeRequest": {
      "id": "RecognizeRequest",
      "description": "The top-level message sent by the client for the `Recognize` method.",
      "type": "object",
      "properties": {
        "config": {
          "description": "Required. Provides information to the recognizer that specifies how to\nprocess the request.",
          "$ref": "RecognitionConfig"
        },
        "audio": {
          "description": "Required. The audio data to be recognized.",
          "$ref": "RecognitionAudio"
        }
      }
    },
    "RecognitionConfig": {
      "id": "RecognitionConfig",
      "description": "Provides information to the recognizer that specifies how to process the\nrequest.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Encoding of audio data sent in all `RecognitionAudio` messages.\nThis field is optional for `FLAC` and `WAV` audio files and required\nfor all other audio formats. For details, see AudioEncoding.",
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM).",
            "`FLAC` (Free Lossless Audio\nCodec) is the recommended encoding because it is\nlossless--therefore recognition is not compromised--and\nrequires only about half the bandwidth of `LINEAR16`. `FLAC` stream\nencoding supports 16-bit and 24-bit samples, however, not all fields in\n`STREAMINFO` are supported.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU\/mu-law.",
            "Adaptive Multi-Rate Narrowband codec. `sample_rate_hertz` must be 8000.",
            "Adaptive Multi-Rate Wideband codec. `sample_rate_hertz` must be 16000.",
            "Opus encoded audio frames in Ogg container\n([OggOpus](https:\/\/wiki.xiph.org\/OggOpus)).\n`sample_rate_hertz` must be one of 8000, 12000, 16000, 24000, or 48000.",
            "Although the use of lossy encodings is not recommended, if a very low\nbitrate encoding is required, `OGG_OPUS` is highly preferred over\nSpeex encoding. The [Speex](https:\/\/speex.org\/)  encoding supported by\nCloud Speech API has a header byte in each block, as in MIME type\n`audio\/x-speex-with-header-byte`.\nIt is a variant of the RTP Speex encoding defined in\n[RFC 5574](https:\/\/tools.ietf.org\/html\/rfc5574).\nThe stream is a sequence of blocks, one block per RTP packet. Each block\nstarts with a byte containing the length of the block, in bytes, followed\nby one or more frames of Speex data, padded to an integral number of\nbytes (octets) as specified in RFC 5574. In other words, each RTP header\nis replaced with a single byte containing the block length. Only Speex\nwideband is supported. `sample_rate_hertz` must be 16000.",
            "MP3 audio. Support all standard MP3 bitrates (which range from 32-320\nkbps). When using this encoding, `sample_rate_hertz` has to match the\nsample rate of the file being used."
          ],
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "LINEAR16",
            "FLAC",
            "MULAW",
            "AMR",
            "AMR_WB",
            "OGG_OPUS",
            "SPEEX_WITH_HEADER_BYTE",
            "MP3"
          ]
        },
        "sampleRateHertz": {
          "description": "Sample rate in Hertz of the audio data sent in all\n`RecognitionAudio` messages. Valid values are: 8000-48000.\n16000 is optimal. For best results, set the sampling rate of the audio\nsource to 16000 Hz. If that's not possible, use the native sample rate of\nthe audio source (instead of re-sampling).\nThis field is optional for FLAC and WAV audio files, but is\nrequired for all other audio formats. For details, see AudioEncoding.",
          "type": "integer",
          "format": "int32"
        },
        "audioChannelCount": {
          "description": "The number of channels in the input audio data.\nONLY set this for MULTI-CHANNEL recognition.\nValid values for LINEAR16 and FLAC are `1`-`8`.\nValid values for OGG_OPUS are '1'-'254'.\nValid value for MULAW, AMR, AMR_WB and SPEEX_WITH_HEADER_BYTE is only `1`.\nIf `0` or omitted, defaults to one channel (mono).\nNote: We only recognize the first channel by default.\nTo perform independent recognition on each channel set\n`enable_separate_recognition_per_channel` to 'true'.",
          "type": "integer",
          "format": "int32"
        },
        "enableSeparateRecognitionPerChannel": {
          "description": "This needs to be set to `true` explicitly and `audio_channel_count` > 1\nto get each channel recognized separately. The recognition result will\ncontain a `channel_tag` field to state which channel that result belongs\nto. If this is not true, we will only recognize the first channel. The\nrequest is billed cumulatively for all channels recognized:\n`audio_channel_count` multiplied by the length of the audio.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "Required. The language of the supplied audio as a\n[BCP-47](https:\/\/www.rfc-editor.org\/rfc\/bcp\/bcp47.txt) language tag.\nExample: \"en-US\".\nSee [Language\nSupport](https:\/\/cloud.google.com\/speech-to-text\/docs\/languages) for a list\nof the currently supported language codes.",
          "type": "string"
        },
        "alternativeLanguageCodes": {
          "description": "A list of up to 3 additional\n[BCP-47](https:\/\/www.rfc-editor.org\/rfc\/bcp\/bcp47.txt) language tags,\nlisting possible alternative languages of the supplied audio.\nSee [Language\nSupport](https:\/\/cloud.google.com\/speech-to-text\/docs\/languages) for a list\nof the currently supported language codes. If alternative languages are\nlisted, recognition result will contain recognition in the most likely\nlanguage detected including the main language_code. The recognition result\nwill include the language tag of the language detected in the audio. Note:\nThis feature is only supported for Voice Command and Voice Search use cases\nand performance may vary for other use cases (e.g., phone call\ntranscription).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxAlternatives": {
          "description": "Maximum number of recognition hypotheses to be returned.\nSpecifically, the maximum number of `SpeechRecognitionAlternative` messages\nwithin each `SpeechRecognitionResult`.\nThe server may return fewer than `max_alternatives`.\nValid values are `0`-`30`. A value of `0` or `1` will return a maximum of\none. If omitted, will return a maximum of one.",
          "type": "integer",
          "format": "int32"
        },
        "profanityFilter": {
          "description": "If set to `true`, the server will attempt to filter out\nprofanities, replacing all but the initial character in each filtered word\nwith asterisks, e.g. \"f***\". If set to `false` or omitted, profanities\nwon't be filtered out.",
          "type": "boolean"
        },
        "adaptation": {
          "description": "Speech adaptation configuration improves the accuracy of speech\nrecognition. When speech adaptation is set it supersedes the\n`speech_contexts` field. For more information, see the [speech\nadaptation](https:\/\/cloud.google.com\/speech-to-text\/docs\/context-strength)\ndocumentation.",
          "$ref": "SpeechAdaptation"
        },
        "speechContexts": {
          "description": "Array of SpeechContext.\nA means to provide context to assist the speech recognition. For more\ninformation, see\n[speech\nadaptation](https:\/\/cloud.google.com\/speech-to-text\/docs\/context-strength).",
          "type": "array",
          "items": {
            "$ref": "SpeechContext"
          }
        },
        "enableWordTimeOffsets": {
          "description": "If `true`, the top result includes a list of words and\nthe start and end time offsets (timestamps) for those words. If\n`false`, no word-level time offset information is returned. The default is\n`false`.",
          "type": "boolean"
        },
        "enableWordConfidence": {
          "description": "If `true`, the top result includes a list of words and the\nconfidence for those words. If `false`, no word-level confidence\ninformation is returned. The default is `false`.",
          "type": "boolean"
        },
        "enableAutomaticPunctuation": {
          "description": "If 'true', adds punctuation to recognition result hypotheses.\nThis feature is only available in select languages. Setting this for\nrequests in other languages has no effect at all.\nThe default 'false' value does not add punctuation to result hypotheses.\nNote: This is currently offered as an experimental service, complimentary\nto all users. In the future this may be exclusively available as a\npremium feature.",
          "type": "boolean"
        },
        "enableSpeakerDiarization": {
          "description": "If 'true', enables speaker detection for each recognized word in\nthe top alternative of the recognition result using a speaker_tag provided\nin the WordInfo.\nNote: Use diarization_config instead.",
          "type": "boolean"
        },
        "diarizationSpeakerCount": {
          "description": "If set, specifies the estimated number of speakers in the conversation.\nDefaults to '2'. Ignored unless enable_speaker_diarization is set to true.\nNote: Use diarization_config instead.",
          "type": "integer",
          "format": "int32"
        },
        "diarizationConfig": {
          "description": "Config to enable speaker diarization and set additional\nparameters to make diarization better suited for your application.\nNote: When this is enabled, we send all the words from the beginning of the\naudio for the top alternative in every consecutive STREAMING responses.\nThis is done in order to improve our speaker tags as our models learn to\nidentify the speakers in the conversation over time.\nFor non-streaming requests, the diarization results will be provided only\nin the top alternative of the FINAL SpeechRecognitionResult.",
          "$ref": "SpeakerDiarizationConfig"
        },
        "metadata": {
          "description": "Metadata regarding this request.",
          "$ref": "RecognitionMetadata"
        },
        "model": {
          "description": "Which model to select for the given request. Select the model\nbest suited to your domain to get best results. If a model is not\nexplicitly specified, then we auto-select a model based on the parameters\nin the RecognitionConfig.\n<table>\n  <tr>\n    <td><b>Model<\/b><\/td>\n    <td><b>Description<\/b><\/td>\n  <\/tr>\n  <tr>\n    <td><code>command_and_search<\/code><\/td>\n    <td>Best for short queries such as voice commands or voice search.<\/td>\n  <\/tr>\n  <tr>\n    <td><code>phone_call<\/code><\/td>\n    <td>Best for audio that originated from a phone call (typically\n    recorded at an 8khz sampling rate).<\/td>\n  <\/tr>\n  <tr>\n    <td><code>video<\/code><\/td>\n    <td>Best for audio that originated from from video or includes multiple\n        speakers. Ideally the audio is recorded at a 16khz or greater\n        sampling rate. This is a premium model that costs more than the\n        standard rate.<\/td>\n  <\/tr>\n  <tr>\n    <td><code>default<\/code><\/td>\n    <td>Best for audio that is not one of the specific audio models.\n        For example, long-form audio. Ideally the audio is high-fidelity,\n        recorded at a 16khz or greater sampling rate.<\/td>\n  <\/tr>\n<\/table>",
          "type": "string"
        },
        "useEnhanced": {
          "description": "Set to true to use an enhanced model for speech recognition.\nIf `use_enhanced` is set to true and the `model` field is not set, then\nan appropriate enhanced model is chosen if an enhanced model exists for\nthe audio.\n\nIf `use_enhanced` is true and an enhanced version of the specified model\ndoes not exist, then the speech is recognized using the standard version\nof the specified model.",
          "type": "boolean"
        }
      }
    },
    "SpeechAdaptation": {
      "id": "SpeechAdaptation",
      "description": "Speech adaptation configuration.",
      "type": "object",
      "properties": {
        "phraseSets": {
          "description": "A collection of phrase sets. To specify the hints inline, leave the\nphrase set's `name` blank and fill in the rest of its fields. Any\nphrase set can use any custom class.",
          "type": "array",
          "items": {
            "$ref": "PhraseSet"
          }
        },
        "phraseSetReferences": {
          "description": "A collection of phrase set resource names to use.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customClasses": {
          "description": "A collection of custom classes. To specify the classes inline, leave the\nclass' `name` blank and fill in the rest of its fields, giving it a unique\n`custom_class_id`. Refer to the inline defined class in phrase hints by its\n`custom_class_id`.",
          "type": "array",
          "items": {
            "$ref": "CustomClass"
          }
        }
      }
    },
    "PhraseSet": {
      "id": "PhraseSet",
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases\nin the results.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the phrase set.",
          "type": "string"
        },
        "phrases": {
          "description": "A list of word and phrases.",
          "type": "array",
          "items": {
            "$ref": "Phrase"
          }
        },
        "boost": {
          "description": "Hint Boost. Positive value will increase the probability that a specific\nphrase will be recognized over other similar sounding phrases. The higher\nthe boost, the higher the chance of false positive recognition as well.\nNegative boost values would correspond to anti-biasing. Anti-biasing is not\nenabled, so negative boost will simply be ignored. Though `boost` can\naccept a wide range of positive values, most use cases are best served with\nvalues between 0 (exclusive) and 20. We recommend using a binary search\napproach to finding the optimal value for your use case. Speech recognition\nwill skip PhraseSets with a boost value of 0.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Phrase": {
      "id": "Phrase",
      "description": "A phrases containing words and phrase \"hints\" so that\nthe speech recognition is more likely to recognize them. This can be used\nto improve the accuracy for specific words and phrases, for example, if\nspecific commands are typically spoken by the user. This can also be used\nto add additional words to the vocabulary of the recognizer. See\n[usage limits](https:\/\/cloud.google.com\/speech-to-text\/quotas#content).\n\nList items can also include pre-built or custom classes containing groups\nof words that represent common concepts that occur in natural language. For\nexample, rather than providing a phrase hint for every month of the\nyear (e.g. \"i was born in january\", \"i was born in febuary\", ...), use the\npre-built $MONTH class improves the likelihood of correctly transcribing\naudio that includes months (e.g. \"i was born in $month\").\nTo refer to pre-built classes, use the class' symbol prepended with $ e.g.\n$MONTH. To refer to custom classes that were defined inline in the request,\nset the class's `custom_class_id` to a string unique to all class resources\nand inline classes. Then use the class' id wrapped in ${...} e.g.\n\"${my-months}\". To refer to custom classes resources, use the class' id\nwrapped in ${} (e.g.\n${my-months}).",
      "type": "object",
      "properties": {
        "value": {
          "description": "The phrase itself.",
          "type": "string"
        },
        "boost": {
          "description": "Hint Boost. Overrides the boost set at the phrase set level.\nPositive value will increase the probability that a specific phrase will\nbe recognized over other similar sounding phrases. The higher the boost,\nthe higher the chance of false positive recognition as well. Negative\nboost values would correspond to anti-biasing. Anti-biasing is not\nenabled, so negative boost will simply be ignored. Though `boost` can\naccept a wide range of positive values, most use cases are best served\nwith values between 0 and 20. We recommend using a binary search approach\nto finding the optimal value for your use case. Speech recognition\nwill skip PhraseSets with a boost value of 0.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "CustomClass": {
      "id": "CustomClass",
      "description": "A set of words or phrases that represents a common concept likely to appear\nin your audio, for example a list of passenger ship names. CustomClass items\ncan be substituted into placeholders that you set in PhraseSet phrases.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the custom class.",
          "type": "string"
        },
        "customClassId": {
          "description": "If this custom class is a resource, the custom_class_id is the resource id\nof the CustomClass.",
          "type": "string"
        },
        "items": {
          "description": "A collection of class items.",
          "type": "array",
          "items": {
            "$ref": "ClassItem"
          }
        }
      }
    },
    "ClassItem": {
      "id": "ClassItem",
      "description": "An item of the class.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The class item's value.",
          "type": "string"
        }
      }
    },
    "SpeechContext": {
      "id": "SpeechContext",
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases\nin the results.",
      "type": "object",
      "properties": {
        "phrases": {
          "description": "A list of strings containing words and phrases \"hints\" so that\nthe speech recognition is more likely to recognize them. This can be used\nto improve the accuracy for specific words and phrases, for example, if\nspecific commands are typically spoken by the user. This can also be used\nto add additional words to the vocabulary of the recognizer. See\n[usage limits](https:\/\/cloud.google.com\/speech-to-text\/quotas#content).\n\nList items can also be set to classes for groups of words that represent\ncommon concepts that occur in natural language. For example, rather than\nproviding phrase hints for every month of the year, using the $MONTH class\nimproves the likelihood of correctly transcribing audio that includes\nmonths.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "boost": {
          "description": "Hint Boost. Positive value will increase the probability that a specific\nphrase will be recognized over other similar sounding phrases. The higher\nthe boost, the higher the chance of false positive recognition as well.\nNegative boost values would correspond to anti-biasing. Anti-biasing is not\nenabled, so negative boost will simply be ignored. Though `boost` can\naccept a wide range of positive values, most use cases are best served with\nvalues between 0 and 20. We recommend using a binary search approach to\nfinding the optimal value for your use case.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "SpeakerDiarizationConfig": {
      "id": "SpeakerDiarizationConfig",
      "description": "Config to enable speaker diarization.",
      "type": "object",
      "properties": {
        "enableSpeakerDiarization": {
          "description": "If 'true', enables speaker detection for each recognized word in\nthe top alternative of the recognition result using a speaker_tag provided\nin the WordInfo.",
          "type": "boolean"
        },
        "minSpeakerCount": {
          "description": "Minimum number of speakers in the conversation. This range gives you more\nflexibility by allowing the system to automatically determine the correct\nnumber of speakers. If not set, the default value is 2.",
          "type": "integer",
          "format": "int32"
        },
        "maxSpeakerCount": {
          "description": "Maximum number of speakers in the conversation. This range gives you more\nflexibility by allowing the system to automatically determine the correct\nnumber of speakers. If not set, the default value is 6.",
          "type": "integer",
          "format": "int32"
        },
        "speakerTag": {
          "description": "Output only. Unused.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RecognitionMetadata": {
      "id": "RecognitionMetadata",
      "description": "Description of audio data to be recognized.",
      "type": "object",
      "properties": {
        "interactionType": {
          "description": "The use case most closely describing the audio content to be recognized.",
          "enumDescriptions": [
            "Use case is either unknown or is something other than one of the other\nvalues below.",
            "Multiple people in a conversation or discussion. For example in a\nmeeting with two or more people actively participating. Typically\nall the primary people speaking would be in the same room (if not,\nsee PHONE_CALL)",
            "One or more persons lecturing or presenting to others, mostly\nuninterrupted.",
            "A phone-call or video-conference in which two or more people, who are\nnot in the same room, are actively participating.",
            "A recorded message intended for another person to listen to.",
            "Professionally produced audio (eg. TV Show, Podcast).",
            "Transcribe spoken questions and queries into text.",
            "Transcribe voice commands, such as for controlling a device.",
            "Transcribe speech to text to create a written document, such as a\ntext-message, email or report."
          ],
          "type": "string",
          "enum": [
            "INTERACTION_TYPE_UNSPECIFIED",
            "DISCUSSION",
            "PRESENTATION",
            "PHONE_CALL",
            "VOICEMAIL",
            "PROFESSIONALLY_PRODUCED",
            "VOICE_SEARCH",
            "VOICE_COMMAND",
            "DICTATION"
          ]
        },
        "industryNaicsCodeOfAudio": {
          "description": "The industry vertical to which this speech recognition request most\nclosely applies. This is most indicative of the topics contained\nin the audio.  Use the 6-digit NAICS code to identify the industry\nvertical - see https:\/\/www.naics.com\/search\/.",
          "type": "integer",
          "format": "uint32"
        },
        "microphoneDistance": {
          "description": "The audio type that most closely describes the audio being recognized.",
          "enumDescriptions": [
            "Audio type is not known.",
            "The audio was captured from a closely placed microphone. Eg. phone,\ndictaphone, or handheld microphone. Generally if there speaker is within\n1 meter of the microphone.",
            "The speaker if within 3 meters of the microphone.",
            "The speaker is more than 3 meters away from the microphone."
          ],
          "type": "string",
          "enum": [
            "MICROPHONE_DISTANCE_UNSPECIFIED",
            "NEARFIELD",
            "MIDFIELD",
            "FARFIELD"
          ]
        },
        "originalMediaType": {
          "description": "The original media the speech was recorded on.",
          "enumDescriptions": [
            "Unknown original media type.",
            "The speech data is an audio recording.",
            "The speech data originally recorded on a video."
          ],
          "type": "string",
          "enum": [
            "ORIGINAL_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO",
            "VIDEO"
          ]
        },
        "recordingDeviceType": {
          "description": "The type of device the speech was recorded with.",
          "enumDescriptions": [
            "The recording device is unknown.",
            "Speech was recorded on a smartphone.",
            "Speech was recorded using a personal computer or tablet.",
            "Speech was recorded over a phone line.",
            "Speech was recorded in a vehicle.",
            "Speech was recorded outdoors.",
            "Speech was recorded indoors."
          ],
          "type": "string",
          "enum": [
            "RECORDING_DEVICE_TYPE_UNSPECIFIED",
            "SMARTPHONE",
            "PC",
            "PHONE_LINE",
            "VEHICLE",
            "OTHER_OUTDOOR_DEVICE",
            "OTHER_INDOOR_DEVICE"
          ]
        },
        "recordingDeviceName": {
          "description": "The device used to make the recording.  Examples 'Nexus 5X' or\n'Polycom SoundStation IP 6000' or 'POTS' or 'VoIP' or\n'Cardioid Microphone'.",
          "type": "string"
        },
        "originalMimeType": {
          "description": "Mime type of the original audio file.  For example `audio\/m4a`,\n`audio\/x-alaw-basic`, `audio\/mp3`, `audio\/3gpp`.\nA list of possible audio mime types is maintained at\nhttp:\/\/www.iana.org\/assignments\/media-types\/media-types.xhtml#audio",
          "type": "string"
        },
        "obfuscatedId": {
          "description": "Obfuscated (privacy-protected) ID of the user, to identify number of\nunique users using the service.",
          "type": "string",
          "format": "int64"
        },
        "audioTopic": {
          "description": "Description of the content. Eg. \"Recordings of federal supreme court\nhearings from 2012\".",
          "type": "string"
        },
        "tags": {
          "description": "A freeform field to tag this input sample with. This can be used for\ngrouping the logs into separate buckets. This enables selective purging of\ndata based on the tags, and also for training models in AutoML.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RecognitionAudio": {
      "id": "RecognitionAudio",
      "description": "Contains audio data in the encoding specified in the `RecognitionConfig`.\nEither `content` or `uri` must be supplied. Supplying both or neither\nreturns google.rpc.Code.INVALID_ARGUMENT. See\n[content limits](https:\/\/cloud.google.com\/speech-to-text\/quotas#content).",
      "type": "object",
      "properties": {
        "content": {
          "description": "The audio data bytes encoded as specified in\n`RecognitionConfig`. Note: as with all bytes fields, proto buffers use a\npure binary representation, whereas JSON representations use base64.",
          "type": "string",
          "format": "byte"
        },
        "uri": {
          "description": "URI that points to a file that contains audio data bytes as specified in\n`RecognitionConfig`. The file must not be compressed (for example, gzip).\nCurrently, only Google Cloud Storage URIs are\nsupported, which must be specified in the following format:\n`gs:\/\/bucket_name\/object_name` (other URI formats return\ngoogle.rpc.Code.INVALID_ARGUMENT). For more information, see\n[Request URIs](https:\/\/cloud.google.com\/storage\/docs\/reference-uris).",
          "type": "string"
        }
      }
    },
    "RecognizeResponse": {
      "id": "RecognizeResponse",
      "description": "The only message returned to the client by the `Recognize` method. It\ncontains the result as zero or more sequential `SpeechRecognitionResult`\nmessages.",
      "type": "object",
      "properties": {
        "results": {
          "description": "Sequential list of transcription results corresponding to\nsequential portions of audio.",
          "type": "array",
          "items": {
            "$ref": "SpeechRecognitionResult"
          }
        }
      }
    },
    "SpeechRecognitionResult": {
      "id": "SpeechRecognitionResult",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "type": "object",
      "properties": {
        "alternatives": {
          "description": "May contain one or more recognition hypotheses (up to the\nmaximum specified in `max_alternatives`).\nThese alternatives are ordered in terms of accuracy, with the top (first)\nalternative being the most probable, as ranked by the recognizer.",
          "type": "array",
          "items": {
            "$ref": "SpeechRecognitionAlternative"
          }
        },
        "channelTag": {
          "description": "For multi-channel audio, this is the channel number corresponding to the\nrecognized result for the audio from that channel.\nFor audio_channel_count = N, its output values can range from '1' to 'N'.",
          "type": "integer",
          "format": "int32"
        },
        "languageCode": {
          "description": "Output only. The [BCP-47](https:\/\/www.rfc-editor.org\/rfc\/bcp\/bcp47.txt) language tag\nof the language in this result. This language code was detected to have\nthe most likelihood of being spoken in the audio.",
          "type": "string"
        }
      }
    },
    "SpeechRecognitionAlternative": {
      "id": "SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "type": "object",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence estimate between 0.0 and 1.0. A higher number\nindicates an estimated greater likelihood that the recognized words are\ncorrect. This field is set only for the top alternative of a non-streaming\nresult or, of a streaming result where `is_final=true`.\nThis field is not guaranteed to be accurate and users should not rely on it\nto be always provided.\nThe default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number",
          "format": "float"
        },
        "words": {
          "description": "A list of word-specific information for each recognized word.\nNote: When `enable_speaker_diarization` is true, you will see all the words\nfrom the beginning of the audio.",
          "type": "array",
          "items": {
            "$ref": "WordInfo"
          }
        }
      }
    },
    "WordInfo": {
      "id": "WordInfo",
      "description": "Word-specific information for recognized words.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time offset relative to the beginning of the audio,\nand corresponding to the start of the spoken word.\nThis field is only set if `enable_word_time_offsets=true` and only\nin the top hypothesis.\nThis is an experimental feature and the accuracy of the time offset can\nvary.",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio,\nand corresponding to the end of the spoken word.\nThis field is only set if `enable_word_time_offsets=true` and only\nin the top hypothesis.\nThis is an experimental feature and the accuracy of the time offset can\nvary.",
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence estimate between 0.0 and 1.0. A higher number\nindicates an estimated greater likelihood that the recognized words are\ncorrect. This field is set only for the top alternative of a non-streaming\nresult or, of a streaming result where `is_final=true`.\nThis field is not guaranteed to be accurate and users should not rely on it\nto be always provided.\nThe default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number",
          "format": "float"
        },
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within\nthe audio. This field specifies which one of those speakers was detected to\nhave spoken this word. Value ranges from '1' to diarization_speaker_count.\nspeaker_tag is set if enable_speaker_diarization = 'true' and only in the\ntop alternative.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LongRunningRecognizeRequest": {
      "id": "LongRunningRecognizeRequest",
      "description": "The top-level message sent by the client for the `LongRunningRecognize`\nmethod.",
      "type": "object",
      "properties": {
        "config": {
          "description": "Required. Provides information to the recognizer that specifies how to\nprocess the request.",
          "$ref": "RecognitionConfig"
        },
        "audio": {
          "description": "Required. The audio data to be recognized.",
          "$ref": "RecognitionAudio"
        },
        "name": {
          "description": "Use `model` field in RecognitionConfig instead.",
          "type": "string"
        }
      }
    },
    "ListLogDataStatsResponse": {
      "id": "ListLogDataStatsResponse",
      "description": "Message received by the client for the `ListLogDataStats` method.",
      "type": "object",
      "properties": {
        "logDataEnabled": {
          "description": "True if user has opted in for log data collection.",
          "type": "boolean"
        },
        "logDataStats": {
          "description": "The stats for each bucket.",
          "type": "array",
          "items": {
            "$ref": "LogBucketStats"
          }
        },
        "totalCount": {
          "description": "The overall count for log data (including all bucket data).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LogBucketStats": {
      "id": "LogBucketStats",
      "description": "Stats for log data within a bucket.",
      "type": "object",
      "properties": {
        "bucketName": {
          "description": "The display name for the bucket in which logs are collected.",
          "type": "string"
        },
        "count": {
          "description": "Number of audio samples that have been collected in this bucket.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Dataset": {
      "id": "Dataset",
      "description": "Specifies the parameters needed for creating a dataset. In addition this\nis also the message returned to the client by the `CreateDataset` method.\nIt is included in the `result.response` field of the `Operation`\nreturned by the `GetOperation` call of the `google::longrunning::Operations`\nservice.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Name of the data set for display.",
          "type": "string"
        },
        "useLoggedData": {
          "description": "If this is true, then use the previously logged data (for the project)\nThe logs data for this project will be preprocessed and prepared for\ndownstream pipelines (like training). All logs are logged to the consumer\nproject.",
          "type": "boolean"
        },
        "uri": {
          "description": "URI that points to a file in csv file where each row has following format.\n<gs_path_to_audio>,<gs_path_to_transcript>,<label>\nlabel can be HUMAN_TRANSCRIBED or MACHINE_TRANSCRIBED. Rows must comply to\nthe following to be valid:\n1. Each row must have at least a label and <gs_path_to_transcript>\n2. If a row is marked HUMAN_TRANSCRIBED, then you must specify both\n<gs_path_to_audio> and <gs_path_to_transcript>. Only WAV file formats\nwhich encode linear 16-bit pulse-code modulation (PCM) audio format are\nsupported. The maximum audio file size is 500 MB. Also note that the audio\nhas to be single channel audio.\n3. There has to be at least 500 rows labelled HUMAN_TRANSCRIBED covering\nat least ~10K words in order to get reliable word error rate results.\n4. To create a language model, you should provide at least 100,000 words\nin your transcriptions as training data if you have conversational and\ncaptions type of data. You should provide at least 10,000 words if you\nhave short utterances like voice commands and search type of use cases.\nCurrently, only Google Cloud Storage URIs are\nsupported, which must be specified in the following format:\n`gs:\/\/bucket_name\/object_name` (other URI formats will be ignored).\nFor more information, see\n[Request URIs](\/storage\/docs\/reference-uris).",
          "type": "string"
        },
        "languageCode": {
          "description": "Required. The language of the supplied audio as a\n[BCP-47](https:\/\/www.rfc-editor.org\/rfc\/bcp\/bcp47.txt) language tag.\nExample: \"en-US\".\nSee [Language\nSupport](https:\/\/cloud.google.com\/speech-to-text\/docs\/languages) for a list\nof the currently supported language codes.",
          "type": "string"
        },
        "dataProcessingRegion": {
          "description": "Location where the data should be processed. If not specified then we will\npick a location on behalf of the user for storing and processing the data.\nCurrently only us-central is supported.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the dataset. Form :-\n'projects\/{project_number}\/locations\/{location_id}\/datasets\/{dataset_id}'",
          "type": "string"
        },
        "dataStats": {
          "description": "Output only. Stats assoiated with the data.",
          "$ref": "DataStats"
        },
        "hasSufficientData": {
          "description": "Output only. True if the data is sufficient to create custom models.",
          "type": "boolean"
        },
        "blockingOperationIds": {
          "description": "Output only. All the blocking operations associated with this dataset.\nLike (pre-processing, training-model, testing-model)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "models": {
          "description": "All the models (including models pending training) built using the dataset.",
          "type": "array",
          "items": {
            "$ref": "Model"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp this dataset is created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp this dataset is last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastError": {
          "description": "Output only. The error status, if any, of the last operation performed on\nthis dataset. Empty if there is still pending operation, or if the last\noperation completed with success.",
          "$ref": "Status"
        },
        "bucketName": {
          "description": "If set, the log data to be used in this dataset is restricted to the\nbucket specified. This field is only applicable if use_logged_data is true.\nIf use_logged_data is true, but this field is not set, then all logs will\nbe used for training the models. See: RecognitionMetadata for information\non setting up data logs.",
          "type": "string"
        }
      }
    },
    "DataStats": {
      "id": "DataStats",
      "description": "Contains stats about the data which was uploaded and preprocessed to be\nuse by downstream pipelines like training, evals pipelines.",
      "type": "object",
      "properties": {
        "trainingExampleCount": {
          "description": "The number of examples used for training.",
          "type": "integer",
          "format": "int32"
        },
        "testExampleCount": {
          "description": "The number of examples used for testing.",
          "type": "integer",
          "format": "int32"
        },
        "dataErrors": {
          "description": "Different types of data errors and the counts associated with them.",
          "type": "array",
          "items": {
            "$ref": "DataErrors"
          }
        },
        "trainingWordCount": {
          "description": "The number of words used for training.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DataErrors": {
      "id": "DataErrors",
      "description": "Different types of dataset errors and the stats associated with each error.",
      "type": "object",
      "properties": {
        "errorType": {
          "description": "Type of the error.",
          "enumDescriptions": [
            "Not specified.",
            "Audio format not in the formats supported by the cloud speech API",
            "File format different from what is specified in the file name extension",
            "File too large. Maximum allowed size is 500 MB."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "UNSUPPORTED_AUDIO_FORMAT",
            "FILE_EXTENSION_MISMATCH_WITH_AUDIO_FORMAT",
            "FILE_TOO_LARGE"
          ]
        },
        "count": {
          "description": "Number of records having errors associated with the enum.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Model": {
      "id": "Model",
      "description": "Specifies the model parameters needed for training a model. In addition this\nis also the message returned to the client by the `CreateModel` method.\nIt is included in the `result.response` field of the `Operation`\nreturned by the `GetOperation` call of the `google::longrunning::Operations`\nservice.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the model.\nFormat: \"projects\/{project_id}\/locations\/{location_id}\/models\/{model_id}\"",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the model to be trained.",
          "type": "string"
        },
        "trainingType": {
          "description": "Required. Type of the training to perform.",
          "enumDescriptions": [
            "",
            "Build adaptation language model based on the users data. These models are\nbuilt on top of the existing prebuilt models (like phone_call, video\netc.).",
            "This is set to indicate that the model we are talking about\nis a prebuilt model (for e.g in the context of evaluations)."
          ],
          "type": "string",
          "enum": [
            "TRAINING_TYPE_UNSPECIFIED",
            "CUSTOM_ADAPTATION_LANGUAGE_MODEL",
            "PREBUILT_MODEL"
          ]
        },
        "createTime": {
          "description": "Output only. Timestamp when this model was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "evaluateModelResponses": {
          "description": "Output only. Evaluation results associated with this model. A model can\ncontain multiple sub-models in which case the evaluation results for\nall of those are available. If there are no sub models then there would\nbe just a single EvaluateModelResponse.",
          "type": "array",
          "items": {
            "$ref": "EvaluateModelResponse"
          }
        }
      }
    },
    "EvaluateModelResponse": {
      "id": "EvaluateModelResponse",
      "description": "The only message returned to the client by the `EvaluateModel` method. This\nis also returned as part of the Dataset message returned to the client by\nthe CreateDataset method. It is included in the `result.response` field of\nthe `Operation` returned by the `GetOperation` call of the\n`google::longrunning::Operations` service.",
      "type": "object",
      "properties": {
        "wordErrorRate": {
          "description": "Word error rate metric computed on the test set using the AutoML model.",
          "type": "number",
          "format": "float"
        },
        "modelType": {
          "description": "Required. The type of model used in this evaluation.",
          "enumDescriptions": [
            "",
            "Model for audio that is not one of the specific models below. This is\na generic model and can be used in various scenarios but is not\nnecessarily the best in any particular scenario.",
            "Model for audio from short queries like voice commands or voice search",
            "Model for phone call conversation type op audio.",
            "Model for audio that originated from from video or includes multiple\nspeakers."
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "DEFAULT",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO"
          ]
        },
        "isEnhancedModel": {
          "description": "If true then it means we are referring to the results of an enhanced\nversion of the model_type. Currently only PHONE_CALL model_type has an\nenhanced version.",
          "type": "boolean"
        },
        "wordCount": {
          "description": "Number of words used in the word_error_rate computation.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RefreshDataRequest": {
      "id": "RefreshDataRequest",
      "description": "Message sent by the client to refresh data in a existing dataset.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. URI that points to a file in csv file where each row has following format.\n<gs_path_to_audio>,<gs_path_to_transcript>,<label>\nlabel can be HUMAN_TRANSCRIBED or MACHINE_TRANSCRIBED. Rows must comply to\nthe following to be valid:\n1. Each row must have at least a label and <gs_path_to_transcript>\n2. If a row is marked HUMAN_TRANSCRIBED, then you must specify both\n<gs_path_to_audio> and <gs_path_to_transcript>. Only WAV file formats\nwhich encode linear 16-bit pulse-code modulation (PCM) audio format are\nsupported. The maximum audio file size is 500 MB. Also note that the audio\nhas to be single channel audio.\n3. There has to be at least 500 rows labelled HUMAN_TRANSCRIBED covering\nat least ~10K words in order to get reliable word error rate results.\n4. To create a language model, you should provide at least 100,000 words\nin your transcriptions as training data if you have conversational and\ncaptions type of data. You should provide at least 10,000 words if you\nhave short utterances like voice commands and search type of use cases.\nCurrently, only Google Cloud Storage URIs are\nsupported, which must be specified in the following format:\n`gs:\/\/bucket_name\/object_name` (other URI formats will be ignored).\nFor more information, see\n[Request URIs](\/storage\/docs\/reference-uris).",
          "type": "string"
        }
      }
    },
    "ListDatasetsResponse": {
      "id": "ListDatasetsResponse",
      "type": "object",
      "properties": {
        "datasets": {
          "description": "Repeated list of data sets containing details about each data set.",
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      }
    },
    "ListModelsResponse": {
      "id": "ListModelsResponse",
      "type": "object",
      "properties": {
        "models": {
          "description": "Repeated list of models containing details about each model.",
          "type": "array",
          "items": {
            "$ref": "Model"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      }
    },
    "DeployModelRequest": {
      "id": "DeployModelRequest",
      "description": "Message sent by the client for the `DeployModel` method.",
      "type": "object",
      "properties": {
      }
    },
    "EvaluateModelRequest": {
      "id": "EvaluateModelRequest",
      "description": "Message sent by the client for the `EvaluateModel` method.",
      "type": "object",
      "properties": {
      }
    },
    "ListPhraseSetResponse": {
      "id": "ListPhraseSetResponse",
      "description": "Message returned to the client by the `ListPhraseSet` method.",
      "type": "object",
      "properties": {
        "phraseSets": {
          "description": "The phrase set.",
          "type": "array",
          "items": {
            "$ref": "PhraseSet"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "ListCustomClassesResponse": {
      "id": "ListCustomClassesResponse",
      "description": "Message returned to the client by the `ListCustomClasses` method.",
      "type": "object",
      "properties": {
        "customClasses": {
          "description": "The custom classes.",
          "type": "array",
          "items": {
            "$ref": "CustomClass"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LongRunningRecognizeMetadata": {
      "id": "LongRunningRecognizeMetadata",
      "description": "Describes the progress of a long-running `LongRunningRecognize` call. It is\nincluded in the `metadata` field of the `Operation` returned by the\n`GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object",
      "properties": {
        "progressPercent": {
          "description": "Approximate percentage of audio processed thus far. Guaranteed to be 100\nwhen the audio is fully processed and the results are available.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "description": "Time of the most recent processing update.",
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "description": "The URI of the audio file being transcribed. Empty if the audio was sent\nas byte content. ",
          "type": "string"
        }
      }
    },
    "LongRunningRecognizeResponse": {
      "id": "LongRunningRecognizeResponse",
      "description": "The only message returned to the client by the `LongRunningRecognize` method.\nIt contains the result as zero or more sequential `SpeechRecognitionResult`\nmessages. It is included in the `result.response` field of the `Operation`\nreturned by the `GetOperation` call of the `google::longrunning::Operations`\nservice.",
      "type": "object",
      "properties": {
        "results": {
          "description": "Sequential list of transcription results corresponding to\nsequential portions of audio.",
          "type": "array",
          "items": {
            "$ref": "SpeechRecognitionResult"
          }
        }
      }
    },
    "SpeechOperationMetadata": {
      "id": "SpeechOperationMetadata",
      "description": "Describes the progress of a long-running call. It is\nincluded in the `metadata` field of the `Operation` returned by the\n`GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object",
      "properties": {
        "progressPercent": {
          "description": "Approximate percentage of progress, from AutoML Operation Metadata.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "description": "Time of the most recent processing update.",
          "type": "string",
          "format": "google-datetime"
        },
        "worksOn": {
          "description": "The resource being worked on.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "id": "speech.operations.list",
          "path": "v1p1beta1/operations",
          "flatPath": "v1p1beta1/operations",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
          ],
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users\/*\/operations`. To\noverride the binding, API services can add a binding such as\n`\"\/v1\/{name=users\/*}\/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id."
        },
        "get": {
          "id": "speech.operations.get",
          "path": "v1p1beta1/operations/{+name}",
          "flatPath": "v1p1beta1/operations/{operationsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice."
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "log_data": {
              "id": "speech.projects.locations.log_data",
              "path": "v1p1beta1/{+parent}/log_data",
              "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/log_data",
              "httpMethod": "DELETE",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name of the parent. Has the format :-\n\"projects\/{project_id}\/locations\/{location_id}\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "type": "string"
                },
                "bucketName": {
                  "description": "Bucket name to delete all logs from. If empty, all logs are deleted.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Purges all log data associated with requested project. Operation response\ntype is google.protobuf.Empty.\n\nSince logs are stored by asynchronous writer process, buffered log data\nmight still end up in storage, even after this call. To ensure all data is\npurged, call this method 3 days after last recognition call."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "speech.projects.locations.operations.list",
                  "path": "v1p1beta1/{+name}/operations",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users\/*\/operations`. To\noverride the binding, API services can add a binding such as\n`\"\/v1\/{name=users\/*}\/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "speech.projects.locations.operations.get",
                  "path": "v1p1beta1/{+name}",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice."
                }
              }
            },
            "log_data_stats": {
              "methods": {
                "list": {
                  "id": "speech.projects.locations.log_data_stats.list",
                  "path": "v1p1beta1/{+parent}/log_data_stats",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/log_data_stats",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the parent. Has the format :-\n\"projects\/{project_id}\/locations\/{location_id}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListLogDataStatsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all log data stats associated with requested project."
                }
              }
            },
            "datasets": {
              "methods": {
                "create": {
                  "id": "speech.projects.locations.datasets.create",
                  "path": "v1p1beta1/{+parent}/datasets",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the parent. Has the format :-\n\"projects\/{project_id}\/locations\/{location_id}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Dataset"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new dataset for custom model training. The name of created\ndataset is stored in `response.metadata.works_on` field. Metadata type\nis SpeechOperationMetadata. Response type is Empty."
                },
                "refreshData": {
                  "id": "speech.projects.locations.datasets.refreshData",
                  "path": "v1p1beta1/{+name}:refreshData",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:refreshData",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the destination dataset.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/datasets\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RefreshDataRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Refresh data for a dataset. Returns an Empty response."
                },
                "list": {
                  "id": "speech.projects.locations.datasets.list",
                  "path": "v1p1beta1/{+parent}/datasets",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the parent. Has the format :-\n\"projects\/{project_id}\/locations\/{location_id}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter the response based on display_name of the dataset. For e.g\ndisplay_name=Foo The filter string is case sensitive",
                      "location": "query",
                      "type": "string"
                    },
                    "includeModelInfo": {
                      "description": "If true then also include information about the models built using the\ndatasets.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDatasetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Fetch the list of dataset associated with this project."
                },
                "get": {
                  "id": "speech.projects.locations.datasets.get",
                  "path": "v1p1beta1/{+name}",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the dataset to retrieve. Form :-\n'projects\/{project_number}\/locations\/{location_id}\/datasets\/{dataset_id}'",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/datasets\/[^\/]+$",
                      "type": "string"
                    },
                    "includeModelInfo": {
                      "description": "If true then also include information about the models built using this\ndataset.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Dataset"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get the dataset associated with the dataset resource."
                },
                "delete": {
                  "id": "speech.projects.locations.datasets.delete",
                  "path": "v1p1beta1/{+name}",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the dataset. Has the format :-\n'projects\/{project_number}\/locations\/{location_id}\/datasets\/{dataset_id}'",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/datasets\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the named automl dataset. Returns an Empty response."
                }
              }
            },
            "models": {
              "methods": {
                "create": {
                  "id": "speech.projects.locations.models.create",
                  "path": "v1p1beta1/{+parent}/models",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/models",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the parent. Has the format :-\n\"projects\/{project_id}\/locations\/{location_id}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Resource name of the dataset being used to create the model.\n'projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}'",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Model"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new custom model. Metadata type is SpeechOperationMetadata.\nResponse type is Model."
                },
                "delete": {
                  "id": "speech.projects.locations.models.delete",
                  "path": "v1p1beta1/{+name}",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the model. Has the format :-\n'projects\/{project_id}\/locations\/{location_id}\/models\/{model_id}'",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/models\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the named automl model. Returns an Empty response."
                },
                "list": {
                  "id": "speech.projects.locations.models.list",
                  "path": "v1p1beta1/{+parent}/models",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/models",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the parent. Has the format :-\n\"projects\/{project_id}\/locations\/{location_id}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter the response based on display_name of the model. For e.g\ndisplay_name=Foo The filter string is case sensitive",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListModelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Fetch the list of models associated with this project."
                },
                "deploy": {
                  "id": "speech.projects.locations.models.deploy",
                  "path": "v1p1beta1/{+name}:deploy",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}:deploy",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the model.\nFormat: \"projects\/{project_id}\/locations\/{location_id}\/models\/{model_id}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/models\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "DeployModelRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Performs asynchronous model deployment of the model: receive results\nvia the google.longrunning.Operations interface. After the operation is\ncompleted this returns either an `Operation.error` in case of error or\na `google.protobuf.Empty` if the deployment was successful."
                },
                "evaluate": {
                  "id": "speech.projects.locations.models.evaluate",
                  "path": "v1p1beta1/{+name}:evaluate",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}:evaluate",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the model.\nFormat: \"projects\/{project_id}\/locations\/{location_id}\/models\/{model_id}\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/models\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "EvaluateModelRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Performs asynchronous evaluation of the model: receive results\nvia the google.longrunning.Operations interface. After the operation is\ncompleted this returns either an `Operation.error` in case of error or\na `EvaluateModelResponse` with the evaluation results."
                }
              }
            },
            "phraseSets": {
              "methods": {
                "create": {
                  "id": "speech.projects.locations.phraseSets.create",
                  "path": "v1p1beta1/{+parent}/phraseSets",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/phraseSets",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this phrase set will be created.\nFormat:\n{api_version}\/projects\/{project}\/locations\/{location}\/phraseSets",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "phraseSetId": {
                      "description": "The ID to use for the phrase set, which will become the final\ncomponent of the phrase set's resource name.\n\nThis value should be 4-63 characters, and valid characters\nare \/a-z-\/.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "PhraseSet"
                  },
                  "response": {
                    "$ref": "PhraseSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a set of phrase hints. Each item in the set can be a single word or\na multi-word phrase. The items in the PhraseSet are favored by the\nrecognition model when you send a call that includes the PhraseSet."
                },
                "get": {
                  "id": "speech.projects.locations.phraseSets.get",
                  "path": "v1p1beta1/{+name}",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/phraseSets/{phraseSetsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the phrase set to retrieve.\nFormat:\n\n{api_version}\/projects\/{project}\/locations\/{location}\/phraseSets\/{phrase_set}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/phraseSets\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PhraseSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get a phrase set."
                },
                "list": {
                  "id": "speech.projects.locations.phraseSets.list",
                  "path": "v1p1beta1/{+parent}/phraseSets",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/phraseSets",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of phrase set.\nFormat:\n{api_version}\/projects\/{project}\/locations\/{location}\/phraseSets",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of phrase sets to return. The service may return\nfewer than this value. If unspecified, at most 50 phrase sets will be\nreturned. The maximum value is 1000; values above 1000 will be coerced to\n1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListPhraseSet` call.\nProvide this to retrieve the subsequent page.\n\nWhen paginating, all other parameters provided to `ListPhraseSet` must\nmatch the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListPhraseSetResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List phrase sets."
                },
                "patch": {
                  "id": "speech.projects.locations.phraseSets.patch",
                  "path": "v1p1beta1/{+name}",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/phraseSets/{phraseSetsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the phrase set.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/phraseSets\/[^\/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "PhraseSet"
                  },
                  "response": {
                    "$ref": "PhraseSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update a phrase set."
                },
                "delete": {
                  "id": "speech.projects.locations.phraseSets.delete",
                  "path": "v1p1beta1/{+name}",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/phraseSets/{phraseSetsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the phrase set to delete.\nFormat:\n\n{api_version}\/projects\/{project}\/locations\/{location}\/phraseSets\/{phrase_set}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/phraseSets\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a phrase set."
                }
              }
            },
            "customClasses": {
              "methods": {
                "create": {
                  "id": "speech.projects.locations.customClasses.create",
                  "path": "v1p1beta1/{+parent}/customClasses",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/customClasses",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this custom class will be created.\nFormat:\n{api_version}\/projects\/{project}\/locations\/{location}\/customClasses",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "customClassId": {
                      "description": "The ID to use for the custom class, which will become the final\ncomponent of the custom class' resource name.\n\nThis value should be 4-63 characters, and valid characters\nare \/a-z-\/.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CustomClass"
                  },
                  "response": {
                    "$ref": "CustomClass"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a custom class."
                },
                "get": {
                  "id": "speech.projects.locations.customClasses.get",
                  "path": "v1p1beta1/{+name}",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/customClasses/{customClassesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the custom class to retrieve.\nFormat:\n\n{api_version}\/projects\/{project}\/locations\/{location}\/customClasses\/{custom_class}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/customClasses\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CustomClass"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get a custom class."
                },
                "list": {
                  "id": "speech.projects.locations.customClasses.list",
                  "path": "v1p1beta1/{+parent}/customClasses",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/customClasses",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of custom classes.\nFormat:\n{api_version}\/projects\/{project}\/locations\/{location}\/customClasses",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of custom classes to return. The service may return\nfewer than this value. If unspecified, at most 50 custom classes will be\nreturned. The maximum value is 1000; values above 1000 will be coerced to\n1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomClass` call.\nProvide this to retrieve the subsequent page.\n\nWhen paginating, all other parameters provided to `ListCustomClass` must\nmatch the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCustomClassesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List custom classes."
                },
                "patch": {
                  "id": "speech.projects.locations.customClasses.patch",
                  "path": "v1p1beta1/{+name}",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/customClasses/{customClassesId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the custom class.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/customClasses\/[^\/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CustomClass"
                  },
                  "response": {
                    "$ref": "CustomClass"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
[...]
