{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "websecurityscanner:v1beta",
  "name": "websecurityscanner",
  "canonicalName": "WebSecurityScanner",
  "version": "v1beta",
  "revision": "0",
  "title": "Web Security Scanner API",
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/security-scanner/",
  "protocol": "rest",
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ScanConfig": {
      "id": "ScanConfig",
      "description": "A ScanConfig resource contains the configurations to launch a scan.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the ScanConfig. The name follows the format of\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}'. The ScanConfig IDs are\ngenerated by the system.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user provided display name of the ScanConfig.",
          "type": "string"
        },
        "maxQps": {
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20\ninclusively. If the field is unspecified or its value is set 0, server will\ndefault to 15. Other values outside of [5, 20] range will be rejected with\nINVALID_ARGUMENT error.",
          "type": "integer",
          "format": "int32"
        },
        "startingUrls": {
          "description": "Required. The starting URLs from which the scanner finds site pages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "authentication": {
          "description": "The authentication configuration. If specified, service will use the\nauthentication configuration during scanning.",
          "$ref": "Authentication"
        },
        "userAgent": {
          "description": "The user agent used during scanning.",
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ],
          "type": "string",
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ]
        },
        "blacklistPatterns": {
          "description": "The blacklist URL patterns as described in\nhttps:\/\/cloud.google.com\/security-scanner\/docs\/excluded-urls",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schedule": {
          "description": "The schedule of the ScanConfig.",
          "$ref": "Schedule"
        },
        "targetPlatforms": {
          "description": "Set of Cloud Platforms targeted by the scan. If empty, APP_ENGINE will be\nused as a default.",
          "enumDescriptions": [
            "The target platform is unknown. Requests with this enum value will be\nrejected with INVALID_ARGUMENT error.",
            "Google App Engine service.",
            "Google Compute Engine service."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE"
            ]
          }
        },
        "exportToSecurityCommandCenter": {
          "description": "Controls export of scan configurations and results to Cloud Security\nCommand Center.",
          "enumDescriptions": [
            "Use default, which is ENABLED.",
            "Export results of this scan to Cloud Security Command Center.",
            "Do not export results of this scan to Cloud Security Command Center."
          ],
          "type": "string",
          "enum": [
            "EXPORT_TO_SECURITY_COMMAND_CENTER_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "latestRun": {
          "description": "Latest ScanRun if available.",
          "$ref": "ScanRun"
        },
        "riskLevel": {
          "description": "The risk level selected for the scan",
          "enumDescriptions": [
            "Use default, which is NORMAL.",
            "Normal scanning (Recommended)",
            "Lower impact scanning"
          ],
          "type": "string",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "NORMAL",
            "LOW"
          ]
        },
        "managedScan": {
          "description": "Whether the scan config is managed by Cloud Web Security Scanner, output\nonly.",
          "type": "boolean"
        },
        "staticIpScan": {
          "description": "Whether the scan configuration has enabled static IP address scan feature.\nIf enabled, the scanner will access applications from static IP addresses.",
          "type": "boolean"
        }
      }
    },
    "Authentication": {
      "id": "Authentication",
      "description": "Scan authentication configuration.",
      "type": "object",
      "properties": {
        "googleAccount": {
          "description": "Authentication using a Google account.",
          "$ref": "GoogleAccount"
        },
        "customAccount": {
          "description": "Authentication using a custom account.",
          "$ref": "CustomAccount"
        },
        "iapCredential": {
          "description": "Authentication using Identity-Aware-Proxy (IAP).",
          "$ref": "IapCredential"
        }
      }
    },
    "GoogleAccount": {
      "id": "GoogleAccount",
      "description": "Describes authentication configuration that uses a Google account.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. The user name of the Google account.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted\nand not returned in any response nor included in audit logs.",
          "type": "string"
        }
      }
    },
    "CustomAccount": {
      "id": "CustomAccount",
      "description": "Describes authentication configuration that uses a custom account.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. The user name of the custom account.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted\nand not returned in any response nor included in audit logs.",
          "type": "string"
        },
        "loginUrl": {
          "description": "Required. The login form URL of the website.",
          "type": "string"
        }
      }
    },
    "IapCredential": {
      "id": "IapCredential",
      "description": "Describes authentication configuration for Identity-Aware-Proxy (IAP).",
      "type": "object",
      "properties": {
        "iapTestServiceAccountInfo": {
          "description": "Authentication configuration when Web-Security-Scanner service\naccount is added in Identity-Aware-Proxy (IAP) access policies.",
          "$ref": "IapTestServiceAccountInfo"
        }
      }
    },
    "IapTestServiceAccountInfo": {
      "id": "IapTestServiceAccountInfo",
      "description": "Describes authentication configuration when Web-Security-Scanner\nservice account is added in Identity-Aware-Proxy (IAP) access policies.",
      "type": "object",
      "properties": {
        "targetAudienceClientId": {
          "description": "Required. Describes OAuth2 Client ID of resources protected by\nIdentity-Aware-Proxy(IAP).",
          "type": "string"
        }
      }
    },
    "Schedule": {
      "id": "Schedule",
      "description": "Scan schedule configuration.",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "description": "A timestamp indicates when the next run will be scheduled. The value is\nrefreshed by the server after each run. If unspecified, it will default\nto current server time, which means the scan will be scheduled to start\nimmediately.",
          "type": "string",
          "format": "google-datetime"
        },
        "intervalDurationDays": {
          "description": "Required. The duration of time between executions in days.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ScanRun": {
      "id": "ScanRun",
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.\nNext id: 12",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the ScanRun. The name follows the format of\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}\/scanRuns\/{scanRunId}'.\nThe ScanRun IDs are generated by the system.",
          "type": "string"
        },
        "executionState": {
          "description": "The execution state of the ScanRun.",
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value\nshould never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ]
        },
        "resultState": {
          "description": "The result state of the ScanRun. This field is only available after the\nexecution state reaches \"FINISHED\".",
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet\nfinished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ],
          "type": "string",
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ]
        },
        "startTime": {
          "description": "The time at which the ScanRun started.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time at which the ScanRun reached termination state - that the ScanRun\nis either finished or stopped by user.",
          "type": "string",
          "format": "google-datetime"
        },
        "urlsCrawledCount": {
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs crawled up to now.",
          "type": "string",
          "format": "int64"
        },
        "urlsTestedCount": {
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs tested up to now. The number of\nURLs tested is usually larger than the number URLS crawled because\ntypically a crawled URL is tested with multiple test payloads.",
          "type": "string",
          "format": "int64"
        },
        "hasVulnerabilities": {
          "description": "Whether the scan run has found any vulnerabilities.",
          "type": "boolean"
        },
        "progressPercent": {
          "description": "The percentage of total completion ranging from 0 to 100.\nIf the scan is in queue, the value is 0.\nIf the scan is running, the value ranges from 0 to 100.\nIf the scan is finished, the value is 100.",
          "type": "integer",
          "format": "int32"
        },
        "errorTrace": {
          "description": "If result_state is an ERROR, this field provides the primary reason for\nscan's termination and more details, if such are available.",
          "$ref": "ScanRunErrorTrace"
        },
        "warningTraces": {
          "description": "A list of warnings, if such are encountered during this scan run.",
          "type": "array",
          "items": {
            "$ref": "ScanRunWarningTrace"
          }
        }
      }
    },
    "ScanRunErrorTrace": {
      "id": "ScanRunErrorTrace",
      "description": "Output only.\nDefines an error trace message for a ScanRun.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Indicates the error reason code.",
          "enumDescriptions": [
            "Default value is never used.",
            "Indicates that the scan run failed due to an internal server error.",
            "Indicates a scan configuration error, usually due to outdated ScanConfig\nsettings, such as starting_urls or the DNS configuration.",
            "Indicates an authentication error, usually due to outdated ScanConfig\nauthentication settings.",
            "Indicates a scan operation timeout, usually caused by a very large site.",
            "Indicates that a scan encountered excessive redirects, either to\nauthentication or some other page outside of the scan scope.",
            "Indicates that a scan encountered numerous errors from the web site\npages. When available, most_common_http_error_code field indicates the\nmost common HTTP error code encountered during the scan."
          ],
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "SCAN_CONFIG_ISSUE",
            "AUTHENTICATION_CONFIG_ISSUE",
            "TIMED_OUT_WHILE_SCANNING",
            "TOO_MANY_REDIRECTS",
            "TOO_MANY_HTTP_ERRORS"
          ]
        },
        "scanConfigError": {
          "description": "If the scan encounters SCAN_CONFIG_ISSUE error, this field has the error\nmessage encountered during scan configuration validation that is performed\nbefore each scan run.",
          "$ref": "ScanConfigError"
        },
        "mostCommonHttpErrorCode": {
          "description": "If the scan encounters TOO_MANY_HTTP_ERRORS, this field indicates the most\ncommon HTTP error code, if such is available. For example, if this code is\n404, the scan has encountered too many NOT_FOUND responses.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ScanConfigError": {
      "id": "ScanConfigError",
      "description": "Defines a custom error message used by CreateScanConfig and UpdateScanConfig\nAPIs when scan configuration validation fails. It is also reported as part of\na ScanRunErrorTrace message if scan validation fails due to a scan\nconfiguration error.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Indicates the reason code for a configuration failure.",
          "enumDescriptions": [
            "There is no error.",
            "There is no error.",
            "Indicates an internal server error.\nPlease DO NOT USE THIS ERROR CODE unless the root cause is truly unknown.",
            "One of the seed URLs is an App Engine URL but we cannot validate the scan\nsettings due to an App Engine API backend error.",
            "One of the seed URLs is an App Engine URL but we cannot access the\nApp Engine API to validate scan settings.",
            "One of the seed URLs is an App Engine URL but the Default Host of the\nApp Engine is not set.",
            "Google corporate accounts can not be used for scanning.",
            "The account of the scan creator can not be used for scanning.",
            "This scan targets Compute Engine, but we cannot validate scan settings\ndue to a Compute Engine API backend error.",
            "This scan targets Compute Engine, but we cannot access the Compute Engine\nAPI to validate the scan settings.",
            "The Custom Login URL does not belong to the current project.",
            "The Custom Login URL is malformed (can not be parsed).",
            "The Custom Login URL is mapped to a non-routable IP address in DNS.",
            "The Custom Login URL is mapped to an IP address which is not reserved for\nthe current project.",
            "The Custom Login URL has a non-routable IP address.",
            "The Custom Login URL has an IP address which is not reserved for the\ncurrent project.",
            "Another scan with the same name (case-sensitive) already exists.",
            "A field is set to an invalid value.",
            "There was an error trying to authenticate to the scan target.",
            "Finding type value is not specified in the list findings request.",
            "Scan targets Compute Engine, yet current project was not whitelisted for\nGoogle Compute Engine Scanning Alpha access.",
            "User tries to update managed scan",
            "The supplied filter is malformed. For example, it can not be parsed, does\nnot have a filter type in expression, or the same filter type appears\nmore than once.",
            "The supplied resource name is malformed (can not be parsed).",
            "The current project is not in an active state.",
            "A required field is not set.",
            "Project id, scanconfig id, scanrun id, or finding id are not consistent\nwith each other in resource name.",
            "The scan being requested to start is already running.",
            "The scan that was requested to be stopped is not running.",
            "One of the seed URLs does not belong to the current project.",
            "One of the seed URLs is malformed (can not be parsed).",
            "One of the seed URLs is mapped to a non-routable IP address in DNS.",
            "One of the seed URLs is mapped to an IP address which is not reserved\nfor the current project.",
            "One of the seed URLs has on-routable IP address.",
            "One of the seed URLs has an IP address that is not reserved\nfor the current project.",
            "The Cloud Security Scanner service account is not configured under the\nproject.",
            "A project has reached the maximum number of scans.",
            "Resolving the details of the current project fails.",
            "One or more blacklist patterns were in the wrong format.",
            "The supplied filter is not supported.",
            "The supplied finding type is not supported. For example, we do not\nprovide findings of the given finding type.",
            "The URL scheme of one or more of the supplied URLs is not supported."
          ],
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "INTERNAL_ERROR",
            "APPENGINE_API_BACKEND_ERROR",
            "APPENGINE_API_NOT_ACCESSIBLE",
            "APPENGINE_DEFAULT_HOST_MISSING",
            "CANNOT_USE_GOOGLE_COM_ACCOUNT",
            "CANNOT_USE_OWNER_ACCOUNT",
            "COMPUTE_API_BACKEND_ERROR",
            "COMPUTE_API_NOT_ACCESSIBLE",
            "CUSTOM_LOGIN_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT",
            "CUSTOM_LOGIN_URL_MALFORMED",
            "CUSTOM_LOGIN_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS",
            "CUSTOM_LOGIN_URL_MAPPED_TO_UNRESERVED_ADDRESS",
            "CUSTOM_LOGIN_URL_HAS_NON_ROUTABLE_IP_ADDRESS",
            "CUSTOM_LOGIN_URL_HAS_UNRESERVED_IP_ADDRESS",
            "DUPLICATE_SCAN_NAME",
            "INVALID_FIELD_VALUE",
            "FAILED_TO_AUTHENTICATE_TO_TARGET",
            "FINDING_TYPE_UNSPECIFIED",
            "FORBIDDEN_TO_SCAN_COMPUTE",
            "FORBIDDEN_UPDATE_TO_MANAGED_SCAN",
            "MALFORMED_FILTER",
            "MALFORMED_RESOURCE_NAME",
            "PROJECT_INACTIVE",
            "REQUIRED_FIELD",
            "RESOURCE_NAME_INCONSISTENT",
            "SCAN_ALREADY_RUNNING",
            "SCAN_NOT_RUNNING",
            "SEED_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT",
            "SEED_URL_MALFORMED",
            "SEED_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS",
            "SEED_URL_MAPPED_TO_UNRESERVED_ADDRESS",
            "SEED_URL_HAS_NON_ROUTABLE_IP_ADDRESS",
            "SEED_URL_HAS_UNRESERVED_IP_ADDRESS",
            "SERVICE_ACCOUNT_NOT_CONFIGURED",
            "TOO_MANY_SCANS",
            "UNABLE_TO_RESOLVE_PROJECT_INFO",
            "UNSUPPORTED_BLACKLIST_PATTERN_FORMAT",
            "UNSUPPORTED_FILTER",
            "UNSUPPORTED_FINDING_TYPE",
            "UNSUPPORTED_URL_SCHEME"
          ]
        },
        "fieldName": {
          "description": "Indicates the full name of the ScanConfig field that triggers this error,\nfor example \"scan_config.max_qps\". This field is provided for\ntroubleshooting purposes only and its actual value can change in the\nfuture.",
          "type": "string"
        }
      }
    },
    "ScanRunWarningTrace": {
      "id": "ScanRunWarningTrace",
      "description": "Output only.\nDefines a warning trace message for ScanRun. Warning traces provide customers\nwith useful information that helps make the scanning process more effective.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Indicates the warning code.",
          "enumDescriptions": [
            "Default value is never used.",
            "Indicates that a scan discovered an unexpectedly low number of URLs. This\nis sometimes caused by complex navigation features or by using a single\nURL for numerous pages.",
            "Indicates that a scan discovered too many URLs to test, or excessive\nredundant URLs.",
            "Indicates that too many tests have been generated for the scan. Customer\nshould try reducing the number of starting URLs, increasing the QPS rate,\nor narrowing down the scope of the scan using the excluded patterns.",
            "Indicates that a scan is blocked by IAP."
          ],
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "INSUFFICIENT_CRAWL_RESULTS",
            "TOO_MANY_CRAWL_RESULTS",
            "TOO_MANY_FUZZ_TASKS",
            "BLOCKED_BY_IAP"
          ]
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "description": "Response for the `ListScanConfigs` method.",
      "type": "object",
      "properties": {
        "scanConfigs": {
          "description": "The list of ScanConfigs returned.",
          "type": "array",
          "items": {
            "$ref": "ScanConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      }
    },
    "StartScanRunRequest": {
      "id": "StartScanRunRequest",
      "description": "Request for the `StartScanRun` method.",
      "type": "object",
      "properties": {
      }
    },
    "ListScanRunsResponse": {
      "id": "ListScanRunsResponse",
      "description": "Response for the `ListScanRuns` method.",
      "type": "object",
      "properties": {
        "scanRuns": {
          "description": "The list of ScanRuns returned.",
          "type": "array",
          "items": {
            "$ref": "ScanRun"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      }
    },
    "StopScanRunRequest": {
      "id": "StopScanRunRequest",
      "description": "Request for the `StopScanRun` method.",
      "type": "object",
      "properties": {
      }
    },
    "ListCrawledUrlsResponse": {
      "id": "ListCrawledUrlsResponse",
      "description": "Response for the `ListCrawledUrls` method.",
      "type": "object",
      "properties": {
        "crawledUrls": {
          "description": "The list of CrawledUrls returned.",
          "type": "array",
          "items": {
            "$ref": "CrawledUrl"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      }
    },
    "CrawledUrl": {
      "id": "CrawledUrl",
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web\nSecurity Scanner Service crawls the web applications, following all links\nwithin the scope of sites, to find the URLs to test against.",
      "type": "object",
      "properties": {
        "httpMethod": {
          "description": "The http method of the request that was used to visit the URL, in\nuppercase.",
          "type": "string"
        },
        "url": {
          "description": "The URL that was crawled.",
          "type": "string"
        },
        "body": {
          "description": "The body of the request that was used to visit the URL.",
          "type": "string"
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "description": "A Finding resource represents a vulnerability instance identified during a\nScanRun.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the Finding. The name follows the format of\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}\/scanruns\/{scanRunId}\/findings\/{findingId}'.\nThe finding IDs are generated by the system.",
          "type": "string"
        },
        "findingType": {
          "description": "The type of the Finding.\nDetailed and up-to-date information on findings can be found here:\nhttps:\/\/cloud.google.com\/security-scanner\/docs\/scan-result-details",
          "type": "string"
        },
        "severity": {
          "description": "The severity level of the reported vulnerability.",
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "httpMethod": {
          "description": "The http method of the request that triggered the vulnerability, in\nuppercase.",
          "type": "string"
        },
        "fuzzedUrl": {
          "description": "The URL produced by the server-side fuzzer and used in the request that\ntriggered the vulnerability.",
          "type": "string"
        },
        "body": {
          "description": "The body of the request that triggered the vulnerability.",
          "type": "string"
        },
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        },
        "reproductionUrl": {
          "description": "The URL containing human-readable payload that user can leverage to\nreproduce the vulnerability.",
          "type": "string"
        },
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate\nparent IFrame is reported.",
          "type": "string"
        },
        "finalUrl": {
          "description": "The URL where the browser lands when the vulnerability is detected.",
          "type": "string"
        },
        "trackingId": {
          "description": "The tracking ID uniquely identifies a vulnerability instance across\nmultiple ScanRuns.",
          "type": "string"
        },
        "form": {
          "description": "An addon containing information reported for a vulnerability with an HTML\nform, if any.",
          "$ref": "Form"
        },
        "outdatedLibrary": {
          "description": "An addon containing information about outdated libraries.",
          "$ref": "OutdatedLibrary"
        },
        "violatingResource": {
          "description": "An addon containing detailed information regarding any resource causing the\nvulnerability such as JavaScript sources, image, audio files, etc.",
          "$ref": "ViolatingResource"
        },
        "vulnerableHeaders": {
          "description": "An addon containing information about vulnerable or missing HTTP headers.",
          "$ref": "VulnerableHeaders"
        },
        "vulnerableParameters": {
          "description": "An addon containing information about request parameters which were found\nto be vulnerable.",
          "$ref": "VulnerableParameters"
        },
        "xss": {
          "description": "An addon containing information reported for an XSS, if any.",
          "$ref": "Xss"
        }
      }
    },
    "Form": {
      "id": "Form",
      "description": "! Information about a vulnerability with an HTML.",
      "type": "object",
      "properties": {
        "actionUri": {
          "description": "! The URI where to send the form when it's submitted.",
          "type": "string"
        },
        "fields": {
          "description": "! The names of form fields related to the vulnerability.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OutdatedLibrary": {
      "id": "OutdatedLibrary",
      "description": "Information reported for an outdated library.",
      "type": "object",
      "properties": {
        "libraryName": {
          "description": "The name of the outdated library.",
          "type": "string"
        },
        "version": {
          "description": "The version number.",
          "type": "string"
        },
        "learnMoreUrls": {
          "description": "URLs to learn more information about the vulnerabilities in the library.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ViolatingResource": {
      "id": "ViolatingResource",
      "description": "Information regarding any resource causing the vulnerability such\nas JavaScript sources, image, audio files, etc.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The MIME type of this resource.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "URL of this violating resource.",
          "type": "string"
        }
      }
    },
    "VulnerableHeaders": {
      "id": "VulnerableHeaders",
      "description": "Information about vulnerable or missing HTTP Headers.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "List of vulnerable headers.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        },
        "missingHeaders": {
          "description": "List of missing headers.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        }
      }
    },
    "Header": {
      "id": "Header",
      "description": "Describes a HTTP Header.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "description": "Header value.",
          "type": "string"
        }
      }
    },
    "VulnerableParameters": {
      "id": "VulnerableParameters",
      "description": "Information about vulnerable request parameters.",
      "type": "object",
      "properties": {
        "parameterNames": {
          "description": "The vulnerable parameter names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Xss": {
      "id": "Xss",
      "description": "Information reported for an XSS.",
      "type": "object",
      "properties": {
        "stackTraces": {
          "description": "Stack traces leading to the point where the XSS occurred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errorMessage": {
          "description": "An error message generated by a javascript breakage.",
          "type": "string"
        }
      }
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "description": "Response for the `ListFindings` method.",
      "type": "object",
      "properties": {
        "findings": {
          "description": "The list of Findings returned.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
          "type": "string"
        }
      }
    },
    "ListFindingTypeStatsResponse": {
      "id": "ListFindingTypeStatsResponse",
      "description": "Response for the `ListFindingTypeStats` method.",
      "type": "object",
      "properties": {
        "findingTypeStats": {
          "description": "The list of FindingTypeStats returned.",
          "type": "array",
          "items": {
            "$ref": "FindingTypeStats"
          }
        }
      }
    },
    "FindingTypeStats": {
      "id": "FindingTypeStats",
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType\nof Findings under a given ScanRun.",
      "type": "object",
      "properties": {
        "findingType": {
          "description": "The finding type associated with the stats.",
          "type": "string"
        },
        "findingCount": {
          "description": "The count of findings belonging to this finding type.",
          "type": "integer",
          "format": "int32"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "create": {
              "id": "websecurityscanner.projects.scanConfigs.create",
              "path": "v1beta/{+parent}/scanConfigs",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the scan is created, which should be a\nproject resource name in the format 'projects\/{projectId}'.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ScanConfig"
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new ScanConfig."
            },
            "delete": {
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the\nformat of 'projects\/{projectId}\/scanConfigs\/{scanConfigId}'.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an existing ScanConfig and its child resources."
            },
            "get": {
              "id": "websecurityscanner.projects.scanConfigs.get",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the\nformat of 'projects\/{projectId}\/scanConfigs\/{scanConfigId}'.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a ScanConfig."
            },
            "list": {
              "id": "websecurityscanner.projects.scanConfigs.list",
              "path": "v1beta/{+parent}/scanConfigs",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, which should be a project resource name in the\nformat 'projects\/{projectId}'.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of ScanConfigs to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists ScanConfigs under a given project."
            },
            "patch": {
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The resource name of the ScanConfig. The name follows the format of\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}'. The ScanConfig IDs are\ngenerated by the system.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition,\nsee\nhttps:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ScanConfig"
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig."
            },
            "start": {
              "id": "websecurityscanner.projects.scanConfigs.start",
              "path": "v1beta/{+name}:start",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the\nformat of 'projects\/{projectId}\/scanConfigs\/{scanConfigId}'.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "response": {
                "$ref": "ScanRun"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Start a ScanRun according to the given ScanConfig."
            }
          }
          ,
          "resources": {
            "scanRuns": {
              "methods": {
                "get": {
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the\nformat of\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}\/scanRuns\/{scanRunId}'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+\/scanRuns\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a ScanRun."
                },
                "list": {
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "path": "v1beta/{+parent}/scanRuns",
                  "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, which should be a scan resource name in the\nformat 'projects\/{projectId}\/scanConfigs\/{scanConfigId}'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of ScanRuns to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun\nstop time."
                },
                "stop": {
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "path": "v1beta/{+name}:stop",
                  "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the\nformat of\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}\/scanRuns\/{scanRunId}'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+\/scanRuns\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Stops a ScanRun. The stopped ScanRun is returned."
                }
              }
              ,
              "resources": {
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "path": "v1beta/{+parent}/crawledUrls",
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the\nformat\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}\/scanRuns\/{scanRunId}'.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+\/scanRuns\/[^\/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of CrawledUrls to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List CrawledUrls under a given ScanRun."
                    }
                  }
                },
                "findings": {
                  "methods": {
                    "get": {
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Finding to be returned. The name follows the\nformat of\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}\/scanRuns\/{scanRunId}\/findings\/{findingId}'.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+\/scanRuns\/[^\/]+\/findings\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Finding"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a Finding."
                    },
                    "list": {
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "path": "v1beta/{+parent}/findings",
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the\nformat\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}\/scanRuns\/{scanRunId}'.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+\/scanRuns\/[^\/]+$",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Required. The filter expression. The expression must be in the format: <field>\n<operator> <value>.\nSupported field: 'finding_type'.\nSupported operator: '='.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of Findings to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List Findings under a given ScanRun."
                    }
                  }
                },
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "path": "v1beta/{+parent}/findingTypeStats",
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the\nformat\n'projects\/{projectId}\/scanConfigs\/{scanConfigId}\/scanRuns\/{scanRunId}'.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/scanConfigs\/[^\/]+\/scanRuns\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List all FindingTypeStats under a given ScanRun."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}