{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "workflowexecutions:v1alpha1",
  "name": "workflowexecutions",
  "canonicalName": "Workflow Executions",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Workflow Executions API",
  "description": "Manages user-provided workflows.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://sites.google.com/corp/google.com/cloudworkflows",
  "protocol": "rest",
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "description": "Response for the `ListExecutions` method.",
      "type": "object",
      "properties": {
        "executions": {
          "description": "The workflow executions which match the request.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more workflow executions that\nmatch the request; this value should be passed in a new\ncloud.eventworkflows.v1alpha.ListWorkflowExecutionsRequest\nto get more workflows.",
          "type": "string"
        }
      }
    },
    "Execution": {
      "id": "Execution",
      "description": "A running instance of Cloud Workflow.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the Cloud Workflow Execution. It must have\nthe format of \"projects\/*\/locations\/*\/workflows\/*\/executions\/*\".\nFor example:\n\"projects\/project1\/locations\/us-central1\/workflows\/workflow1\/executions\/execution1\".",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Marks the beginning of execution.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Marks the end of execution, successful or not.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Current state of Cloud Workflow Execution.",
          "enumDescriptions": [
            "Invalid state.",
            "The Workflow Execution is in progress.",
            "The Workflow Execution has finished successfully.",
            "The Workflow Execution failed with an error.",
            "The Workflow Execution has been stopped intentionally."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "argument": {
          "description": "Input parameters of the Cloud Workflow represented as a JSON string.",
          "type": "string"
        },
        "result": {
          "description": "Output only. Output of the Cloud Workflow represented as a JSON string. The\nvalue is only present if the execution's state is FINISHED.",
          "type": "string"
        },
        "error": {
          "description": "Output only. The error which caused the execution to fail. The value is\nonly present if the execution's state is FAILED.",
          "type": "string"
        },
        "workflowVersionId": {
          "description": "Output only. The version of the workflow used.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CancelExecutionRequest": {
      "id": "CancelExecutionRequest",
      "description": "Request for the `CancelExecution` method.",
      "type": "object",
      "properties": {
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "list": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "path": "v1alpha1/{+parent}/executions",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the workflow from which the executions should be listed,\nfor example, \"projects\/project1\/locations\/us-central1\/workflows\/workflow1\".",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workflows\/[^\/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum number of workflow executions to return per call.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "The value returned by the last\n`ListExecutionsResponse` indicates that\nthis is a continuation of a prior `ListExecutions` call, and that\nthe system should return the next page of data.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "The filter expression.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns a list of workflow executions which belong to the workflow with\nthe specified name. The method returns executions from all workflow\nversions."
                    },
                    "create": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "path": "v1alpha1/{+parent}/executions",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the workflow for which an execution should be created,\nfor example, \"projects\/project1\/locations\/us-central1\/workflows\/workflow1\".",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workflows\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Execution"
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new workflow execution using the latest version of the workflow."
                    },
                    "cancel": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "path": "v1alpha1/{+name}:cancel",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the workflow execution which should be cancelled.\n\"projects\/project1\/locations\/us-central1\/workflows\/workflow1\/executions\/execution1\"",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workflows\/[^\/]+\/executions\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Cancels a workflow execution of the given name."
                    },
                    "get": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "path": "v1alpha1/{+name}",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the workflow execution which information should be\nretrieved, for example,\n\"projects\/project1\/locations\/us-central1\/workflows\/workflow1\/executions\/execution1\"",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workflows\/[^\/]+\/executions\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns a workflow execution with the specified name."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}