{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "bigquery:v2",
  "name": "bigquery",
  "version": "v2",
  "revision": "0",
  "title": "BigQuery API",
  "description": "A data platform for customers to create, manage, share and query data.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://developers.google.com/bigquery/",
  "protocol": "rest",
  "rootUrl": "https://bigquery.googleapis.com/",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://bigquery.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery.readonly": {
          "description": "View your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        }
      }
    }
  },
  "schemas": {
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. The resource type.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The fully-qualified unique name of the dataset in the format\nprojectId:datasetId. The dataset name without the project name is given in\nthe datasetId field. When creating a new dataset, leave this field blank,\nand instead specify the datasetId field.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A URL that can be used to access the resource again. You can\nuse this URL in Get or Update requests to the resource.",
          "type": "string"
        },
        "datasetReference": {
          "description": "Required. A reference that identifies the dataset.",
          "$ref": "DatasetReference"
        },
        "friendlyName": {
          "description": "Optional. A descriptive name for the dataset.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A user-friendly description of the dataset.",
          "type": "string"
        },
        "defaultTableExpirationMs": {
          "description": "Optional. The default lifetime of all tables in the dataset, in milliseconds\nThe minimum value is 3600000 milliseconds (one hour).\nOnce this property is set, all newly-created tables in the dataset will\nhave an expirationTime property set to the creation time plus the value in\nthis property, and changing the value will only affect new tables, not\nexisting ones. When the expirationTime for a given table is reached, that\ntable will be deleted automatically.\nIf a table's expirationTime is modified or removed before the table\nexpires, or if you provide an explicit expirationTime when creating a\ntable, that value takes precedence over the default expiration time\nindicated by this property.",
          "type": "string",
          "format": "int64"
        },
        "defaultPartitionExpirationMs": {
          "description": "This default partition expiration, expressed in milliseconds.\n\nWhen new time-partitioned tables are created in a dataset where this\nproperty is set, the table will inherit this value, propagated as the\n`TimePartitioning.expirationMs` property on the new table.  If you set\n`TimePartitioning.expirationMs` explicitly when creating a table,\nthe `defaultPartitionExpirationMs` of the containing dataset is ignored.\n\nWhen creating a partitioned table, if `defaultPartitionExpirationMs`\nis set, the `defaultTableExpirationMs` value is ignored and the table\nwill not be inherit a table expiration deadline.",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "description": "The labels associated with this dataset. You can use these\nto organize and group your datasets.\nYou can set this property when inserting or updating a dataset.\nSee <a\nhref=\"\/bigquery\/docs\/creating-managing-labels#creating_and_updating_dataset_labels\">Creating\nand Updating Dataset Labels<\/a> for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "access": {
          "description": "Optional. An array of objects that define dataset access for one or more\nentities. You can set this property when inserting or updating a dataset in\norder to control who is allowed to access the data. If unspecified at\ndataset creation time, BigQuery adds default dataset access for the\nfollowing entities: access.specialGroup: projectReaders; access.role:\nREADER; access.specialGroup: projectWriters; access.role: WRITER;\naccess.specialGroup: projectOwners; access.role: OWNER;\naccess.userByEmail: [dataset creator email]; access.role: OWNER;",
          "type": "array",
          "items": {
            "description": "An object that defines dataset access for an entity.",
            "type": "object",
            "properties": {
              "role": {
                "description": "Required. An IAM role ID that should be granted to the user, group,\nor domain specified in this access entry.\nThe following legacy mappings will be applied:\n  OWNER <=> roles\/bigquery.dataOwner\n  WRITER <=> roles\/bigquery.dataEditor\n  READER <=> roles\/bigquery.dataViewer\nThis field will accept any of the above formats, but will return only\nthe legacy format. For example, if you set this field to\n\"roles\/bigquery.dataOwner\", it will be returned back as \"OWNER\".",
                "type": "string"
              },
              "userByEmail": {
                "description": "[Pick one] An email address of a user to grant access to. For example:\nfred@example.com. Maps to IAM policy member \"user:EMAIL\" or\n\"serviceAccount:EMAIL\".",
                "type": "string"
              },
              "groupByEmail": {
                "description": "[Pick one] An email address of a Google Group to grant access to.\nMaps to IAM policy member \"group:GROUP\".",
                "type": "string"
              },
              "domain": {
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain\nspecified will be granted the specified access. Example: \"example.com\".\nMaps to IAM policy member \"domain:DOMAIN\".",
                "type": "string"
              },
              "specialGroup": {
                "description": "[Pick one] A special group to grant access to. Possible values include:\n  projectOwners: Owners of the enclosing project.\n  projectReaders: Readers of the enclosing project.\n  projectWriters: Writers of the enclosing project.\n  allAuthenticatedUsers: All authenticated BigQuery users.\nMaps to similarly-named IAM members.",
                "type": "string"
              },
              "iamMember": {
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but\nisn't a user, group, domain, or special group.",
                "type": "string"
              },
              "view": {
                "description": "[Pick one] A view from a different dataset to grant access to. Queries\nexecuted against that view will have read access to tables in this dataset.\nThe role field is not required when this field is set. If that view is\nupdated by any user, access to the view needs to be granted again via an\nupdate operation.",
                "$ref": "TableReference"
              }
            }
          }
        },
        "creationTime": {
          "description": "Output only. The time when this dataset was created, in milliseconds since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedTime": {
          "description": "Output only. The date when this dataset or any of its tables was last modified, in\nmilliseconds since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "location": {
          "description": "The geographic location where the dataset should reside. Possible\nvalues include EU and US. The default value is US.",
          "type": "string"
        },
        "defaultEncryptionConfiguration": {
          "description": "The default encryption key for all tables in the dataset.\nOnce this property is set, all newly-created partitioned tables in the\ndataset will have encryption key set to this value, unless table creation\nrequest (or query) overrides the key.",
          "$ref": "EncryptionConfiguration"
        }
      }
    },
    "DatasetReference": {
      "id": "DatasetReference",
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "Required. A unique ID for this dataset, without the project name. The ID\nmust contain only letters (a-z, A-Z), numbers (0-9), or underscores (_).\nThe maximum length is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. The ID of the project containing this dataset.",
          "type": "string"
        }
      }
    },
    "TableReference": {
      "id": "TableReference",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the project containing this table.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The ID of the dataset containing this table.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The ID of the table. The ID must contain only\nletters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum\nlength is 1,024 characters.  Certain operations allow\nsuffixing of the table ID with a partition decorator, such as\n`sample_table$20190123`.",
          "type": "string"
        }
      }
    },
    "EncryptionConfiguration": {
      "id": "EncryptionConfiguration",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. Describes the Cloud KMS encryption key that will be used to\nprotect destination BigQuery table. The BigQuery Service Account associated\nwith your project requires access to this encryption key.",
          "type": "string"
        }
      }
    },
    "DatasetList": {
      "id": "DatasetList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. The resource type.\nThis property always returns the value \"bigquery#datasetList\"",
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash value of the results page. You can use this property to\ndetermine if the page has changed since the last request.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next results page. This property is\nomitted on the final results page.",
          "type": "string"
        },
        "datasets": {
          "description": "An array of the dataset resources in the project.\nEach resource contains basic information.\nFor full information about a particular dataset resource, use the Datasets:\nget method. This property is omitted when there are no datasets in the\nproject.",
          "type": "array",
          "items": {
            "description": "A dataset resource with only a subset of fields, to be returned in a list of\ndatasets.",
            "type": "object",
            "properties": {
              "kind": {
                "description": "The resource type.\nThis property always returns the value \"bigquery#dataset\"",
                "type": "string"
              },
              "id": {
                "description": "The fully-qualified, unique, opaque ID of the dataset.",
                "type": "string"
              },
              "datasetReference": {
                "description": "The dataset reference.\nUse this property to access specific parts of the dataset's ID, such as\nproject ID or dataset ID.",
                "$ref": "DatasetReference"
              },
              "labels": {
                "description": "The labels associated with this dataset.\nYou can use these to organize and group your datasets.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "friendlyName": {
                "description": "An alternate name for the dataset.  The friendly name is purely\ndecorative in nature.",
                "type": "string"
              },
              "location": {
                "description": "The geographic location where the dataset resides.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "Model": {
      "id": "Model",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Output only. A hash of this resource.",
          "type": "string"
        },
        "modelReference": {
          "description": "Required. Unique identifier for this model.",
          "$ref": "ModelReference"
        },
        "creationTime": {
          "description": "Output only. The time when this model was created, in millisecs since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedTime": {
          "description": "Output only. The time when this model was last modified, in millisecs since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Optional. A user-friendly description of this model.",
          "type": "string"
        },
        "friendlyName": {
          "description": "Optional. A descriptive name for this model.",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this model. You can use these to organize\nand group your models. Label keys and values can be no longer\nthan 63 characters, can only contain lowercase letters, numeric\ncharacters, underscores and dashes. International characters are allowed.\nLabel values are optional. Label keys must start with a letter and each\nlabel in the list must have a different key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expirationTime": {
          "description": "Optional. The time when this model expires, in milliseconds since the epoch.\nIf not present, the model will persist indefinitely. Expired models\nwill be deleted and their storage reclaimed.  The defaultTableExpirationMs\nproperty of the encapsulating dataset can be used to set a default\nexpirationTime on newly created models.",
          "type": "string",
          "format": "int64"
        },
        "location": {
          "description": "Output only. The geographic location where the model resides. This value\nis inherited from the dataset.",
          "type": "string"
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys). This shows the\nencryption configuration of the model data while stored in BigQuery\nstorage. This field can be used with PatchModel to update encryption key\nfor an already encrypted model.",
          "$ref": "EncryptionConfiguration"
        },
        "modelType": {
          "description": "Output only. Type of the model resource.",
          "enumDescriptions": [
            "",
            "Linear regression model.",
            "Logistic regression based classification model.",
            "K-means clustering model.",
            "Matrix factorization model.",
            "DNN classifier model.",
            "[Beta] An imported TensorFlow model.",
            "DNN regressor model.",
            "Boosted tree regressor model.",
            "Boosted tree classifier model.",
            "AutoML Tables regression model.",
            "AutoML Tables classification model."
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LINEAR_REGRESSION",
            "LOGISTIC_REGRESSION",
            "KMEANS",
            "MATRIX_FACTORIZATION",
            "DNN_CLASSIFIER",
            "TENSORFLOW",
            "DNN_REGRESSOR",
            "BOOSTED_TREE_REGRESSOR",
            "BOOSTED_TREE_CLASSIFIER",
            "AUTOML_REGRESSOR",
            "AUTOML_CLASSIFIER"
          ]
        },
        "trainingRuns": {
          "description": "Output only. Information for all training runs in increasing order of start_time.",
          "type": "array",
          "items": {
            "$ref": "TrainingRun"
          }
        },
        "featureColumns": {
          "description": "Output only. Input feature columns that were used to train this model.",
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        },
        "labelColumns": {
          "description": "Output only. Label columns that were used to train this model.\nThe output of the model will have a \"predicted_\" prefix to these columns.",
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        }
      }
    },
    "ModelReference": {
      "id": "ModelReference",
      "description": "Id path of a model.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the project containing this model.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The ID of the dataset containing this model.",
          "type": "string"
        },
        "modelId": {
          "description": "Required. The ID of the model. The ID must contain only\nletters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum\nlength is 1,024 characters.",
          "type": "string"
        }
      }
    },
    "TrainingRun": {
      "id": "TrainingRun",
      "description": "Information about a single training query run for the model.",
      "type": "object",
      "properties": {
        "trainingOptions": {
          "description": "Options that were used for this training run, includes\nuser specified and default options that were used.",
          "$ref": "TrainingOptions"
        },
        "startTime": {
          "description": "The start time of this training run.",
          "type": "string",
          "format": "google-datetime"
        },
        "results": {
          "description": "Output of each iteration run, results.size() <= max_iterations.",
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        },
        "evaluationMetrics": {
          "description": "The evaluation metrics over training\/eval data that were computed at the\nend of training.",
          "$ref": "EvaluationMetrics"
        },
        "dataSplitResult": {
          "description": "Data split result of the training run. Only set when the input data is\nactually split.",
          "$ref": "DataSplitResult"
        }
      }
    },
    "TrainingOptions": {
      "id": "TrainingOptions",
      "type": "object",
      "properties": {
        "maxIterations": {
          "description": "The maximum number of iterations in training. Used only for iterative\ntraining algorithms.",
          "type": "string",
          "format": "int64"
        },
        "lossType": {
          "description": "Type of loss function used during training run.",
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "type": "string",
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ]
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "l1Regularization": {
          "description": "L1 regularization coefficient.",
          "type": "number",
          "format": "double"
        },
        "l2Regularization": {
          "description": "L2 regularization coefficient.",
          "type": "number",
          "format": "double"
        },
        "minRelativeProgress": {
          "description": "When early_stop is true, stops training when accuracy improvement is\nless than 'min_relative_progress'. Used only for iterative training\nalgorithms.",
          "type": "number",
          "format": "double"
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "earlyStop": {
          "description": "Whether to stop early when the loss doesn't improve significantly\nany more (compared to min_relative_progress). Used only for iterative\ntraining algorithms.",
          "type": "boolean"
        },
        "inputLabelColumns": {
          "description": "Name of input label columns in training data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataSplitMethod": {
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small.\nOtherwise uses RANDOM."
          ],
          "type": "string",
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ]
        },
        "dataSplitEvalFraction": {
          "description": "The fraction of evaluation data over the whole input data. The rest\nof data will be used as training data. The format should be double.\nAccurate to two decimal places.\nDefault value is 0.2.",
          "type": "number",
          "format": "double"
        },
        "dataSplitColumn": {
          "description": "The column to split data with. This column won't be used as a\nfeature.\n1. When data_split_method is CUSTOM, the corresponding column should\nbe boolean. The rows with true value tag are eval data, and the false\nare training data.\n2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION\nrows (from smallest to largest) in the corresponding column are used\nas training data, and the rest are eval data. It respects the order\nin Orderable data types:\nhttps:\/\/cloud.google.com\/bigquery\/docs\/reference\/standard-sql\/data-types#data-type-properties",
          "type": "string"
        },
        "learnRateStrategy": {
          "description": "The strategy to determine learn rate for the current iteration.",
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "type": "string",
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ]
        },
        "initialLearnRate": {
          "description": "Specifies the initial learning rate for the line search learn rate\nstrategy.",
          "type": "number",
          "format": "double"
        },
        "labelClassWeights": {
          "description": "Weights associated with each label class, for rebalancing the\ntraining data. Only applicable for classification models.",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        },
        "userColumn": {
          "description": "User column specified for matrix factorization models.",
          "type": "string"
        },
        "itemColumn": {
          "description": "Item column specified for matrix factorization models.",
          "type": "string"
        },
        "distanceType": {
          "description": "Distance type for clustering models.",
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ],
          "type": "string",
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ]
        },
        "numClusters": {
          "description": "Number of clusters for clustering models.",
          "type": "string",
          "format": "int64"
        },
        "modelUri": {
          "description": "[Beta] Google Cloud Storage URI from which the model was imported. Only\napplicable for imported models.",
          "type": "string"
        },
        "optimizationStrategy": {
          "description": "Optimization strategy for training linear regression models.",
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "type": "string",
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ]
        },
        "hiddenUnits": {
          "description": "Hidden units for dnn models.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "batchSize": {
          "description": "Batch size for dnn models.",
          "type": "string",
          "format": "int64"
        },
        "dropout": {
          "description": "Dropout probability for dnn models.",
          "type": "number",
          "format": "double"
        },
        "maxTreeDepth": {
          "description": "Maximum depth of a tree for boosted tree models.",
          "type": "string",
          "format": "int64"
        },
        "subsample": {
          "description": "Subsample fraction of the training data to grow tree to prevent\noverfitting for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "minSplitLoss": {
          "description": "Minimum split loss for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "numFactors": {
          "description": "Num factors specified for matrix factorization models.",
          "type": "string",
          "format": "int64"
        },
        "feedbackType": {
          "description": "Feedback type that specifies which algorithm to run for matrix\nfactorization.",
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "type": "string",
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ]
        },
        "walsAlpha": {
          "description": "Hyperparameter for matrix factoration when implicit feedback type is\nspecified.",
          "type": "number",
          "format": "double"
        },
        "kmeansInitializationMethod": {
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "enumDescriptions": [
            "",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in\nkmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "type": "string",
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ]
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm\nwhen kmeans_initialization_method is CUSTOM.",
          "type": "string"
        }
      }
    },
    "IterationResult": {
      "id": "IterationResult",
      "description": "Information about a single iteration of the training run.",
      "type": "object",
      "properties": {
        "index": {
          "description": "Index of the iteration, 0 based.",
          "type": "integer",
          "format": "int32"
        },
        "durationMs": {
          "description": "Time taken to run the iteration in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "trainingLoss": {
          "description": "Loss computed on the training data at the end of iteration.",
          "type": "number",
          "format": "double"
        },
        "evalLoss": {
          "description": "Loss computed on the eval data at the end of iteration.",
          "type": "number",
          "format": "double"
        },
        "learnRate": {
          "description": "Learn rate used for this iteration.",
          "type": "number",
          "format": "double"
        },
        "clusterInfos": {
          "description": "Information about top clusters for clustering models.",
          "type": "array",
          "items": {
            "$ref": "ClusterInfo"
          }
        },
        "arimaResult": {
          "$ref": "ArimaResult"
        }
      }
    },
    "ClusterInfo": {
      "id": "ClusterInfo",
      "description": "Information about a single cluster for clustering model.",
      "type": "object",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "type": "string",
          "format": "int64"
        },
        "clusterRadius": {
          "description": "Cluster radius, the average distance from centroid\nto each point assigned to the cluster.",
          "type": "number",
          "format": "double"
        },
        "clusterSize": {
          "description": "Cluster size, the total number of points assigned to the cluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ArimaResult": {
      "id": "ArimaResult",
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier\nrefactoring if we want to use model-specific iteration results.",
      "type": "object",
      "properties": {
        "arimaModelInfo": {
          "description": "This message is repeated because there are multiple arima models\nfitted in auto-arima. For non-auto-arima model, its size is one.",
          "type": "array",
          "items": {
            "$ref": "ArimaModelInfo"
          }
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for\none time series.",
          "enumDescriptions": [
            "",
            "No seasonality",
            "Daily period, 24 hours.",
            "Weekly period, 7 days.",
            "Monthly period, can be as 30 days or irregular.",
            "Quarterly period, can be as 90 days or irregular.",
            "Yearly period, can be as 365 days or irregular."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        }
      }
    },
    "ArimaModelInfo": {
      "id": "ArimaModelInfo",
      "description": "Arima model information.",
      "type": "object",
      "properties": {
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "arimaCoefficients": {
          "description": "Arima coefficients.",
          "$ref": "ArimaCoefficients"
        },
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        }
      }
    },
    "ArimaOrder": {
      "id": "ArimaOrder",
      "description": "Arima order, can be used for both non-seasonal and seasonal parts.",
      "type": "object",
      "properties": {
        "p": {
          "description": "Order of the autoregressive part.",
          "type": "string",
          "format": "int64"
        },
        "d": {
          "description": "Order of the differencing part.",
          "type": "string",
          "format": "int64"
        },
        "q": {
          "description": "Order of the moving-average part.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ArimaCoefficients": {
      "id": "ArimaCoefficients",
      "description": "Arima coefficients.",
      "type": "object",
      "properties": {
        "autoRegressiveCoefficients": {
          "description": "Auto-regressive coefficients, an array of double.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "movingAverageCoefficients": {
          "description": "Moving-average coefficients, an array of double.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "interceptCoefficient": {
          "description": "Intercept coefficient, just a double not an array.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ArimaFittingMetrics": {
      "id": "ArimaFittingMetrics",
      "description": "ARIMA model fitting metrics.",
      "type": "object",
      "properties": {
        "logLikelihood": {
          "description": "log-likelihood",
          "type": "number",
          "format": "double"
        },
        "aic": {
          "description": "AIC",
          "type": "number",
          "format": "double"
        },
        "variance": {
          "description": "variance.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "EvaluationMetrics": {
      "id": "EvaluationMetrics",
      "description": "Evaluation metrics of a model. These are either computed on all training\ndata or just the eval data based on whether eval data was used during\ntraining. These are not present for imported models.",
      "type": "object",
      "properties": {
        "regressionMetrics": {
          "description": "Populated for regression models and explicit feedback type matrix\nfactorization models.",
          "$ref": "RegressionMetrics"
        },
        "binaryClassificationMetrics": {
          "description": "Populated for binary classification\/classifier models.",
          "$ref": "BinaryClassificationMetrics"
        },
        "multiClassClassificationMetrics": {
          "description": "Populated for multi-class classification\/classifier models.",
          "$ref": "MultiClassClassificationMetrics"
        },
        "clusteringMetrics": {
          "description": "Populated for clustering models.",
          "$ref": "ClusteringMetrics"
        },
        "rankingMetrics": {
          "description": "[Alpha] Populated for implicit feedback type matrix factorization\nmodels.",
          "$ref": "RankingMetrics"
        }
      }
    },
    "RegressionMetrics": {
      "id": "RegressionMetrics",
      "description": "Evaluation metrics for regression and explicit feedback type matrix\nfactorization models.",
      "type": "object",
      "properties": {
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredError": {
          "description": "Mean squared error.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredLogError": {
          "description": "Mean squared log error.",
          "type": "number",
          "format": "double"
        },
        "medianAbsoluteError": {
          "description": "Median absolute error.",
          "type": "number",
          "format": "double"
        },
        "rSquared": {
          "description": "R^2 score.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BinaryClassificationMetrics": {
      "id": "BinaryClassificationMetrics",
      "description": "Evaluation metrics for binary classification\/classifier models.",
      "type": "object",
      "properties": {
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "binaryConfusionMatrixList": {
          "description": "Binary confusion matrix at multiple thresholds.",
          "type": "array",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          }
        },
        "positiveLabel": {
          "description": "Label representing the positive class.",
          "type": "string"
        },
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        }
      }
    },
    "AggregateClassificationMetrics": {
      "id": "AggregateClassificationMetrics",
      "description": "Aggregate metrics for classification\/classifier models. For multi-class\nmodels, the metrics are either macro-averaged or micro-averaged. When\nmacro-averaged, the metrics are calculated for each label and then an\nunweighted average is taken of those values. When micro-averaged, the\nmetric is calculated globally by counting the total number of correctly\npredicted rows.",
      "type": "object",
      "properties": {
        "precision": {
          "description": "Precision is the fraction of actual positive predictions that had\npositive actual labels. For multiclass this is a macro-averaged\nmetric treating each class as a binary classifier.",
          "type": "number",
          "format": "double"
        },
        "recall": {
          "description": "Recall is the fraction of actual positive labels that were given a\npositive prediction. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "accuracy": {
          "description": "Accuracy is the fraction of predictions given the correct label. For\nmulticlass this is a micro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "threshold": {
          "description": "Threshold at which the metrics are computed. For binary\nclassification models this is the positive class threshold.\nFor multi-class classfication models this is the confidence\nthreshold.",
          "type": "number",
          "format": "double"
        },
        "f1Score": {
          "description": "The F1 score is an average of recall and precision. For multiclass\nthis is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "logLoss": {
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "rocAuc": {
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged\nmetric.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BinaryConfusionMatrix": {
      "id": "BinaryConfusionMatrix",
      "description": "Confusion matrix for binary classification models.",
      "type": "object",
      "properties": {
        "positiveClassThreshold": {
          "description": "Threshold value used when computing each of the following metric.",
          "type": "number",
          "format": "double"
        },
        "truePositives": {
          "description": "Number of true samples predicted as true.",
          "type": "string",
          "format": "int64"
        },
        "falsePositives": {
          "description": "Number of false samples predicted as true.",
          "type": "string",
          "format": "int64"
        },
        "trueNegatives": {
          "description": "Number of true samples predicted as false.",
          "type": "string",
          "format": "int64"
        },
        "falseNegatives": {
          "description": "Number of false samples predicted as false.",
          "type": "string",
          "format": "int64"
        },
        "precision": {
          "description": "The fraction of actual positive predictions that had positive actual\nlabels.",
          "type": "number",
          "format": "double"
        },
        "recall": {
          "description": "The fraction of actual positive labels that were given a positive\nprediction.",
          "type": "number",
          "format": "double"
        },
        "f1Score": {
          "description": "The equally weighted average of recall and precision.",
          "type": "number",
          "format": "double"
        },
        "accuracy": {
          "description": "The fraction of predictions given the correct label.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "MultiClassClassificationMetrics": {
      "id": "MultiClassClassificationMetrics",
      "description": "Evaluation metrics for multi-class classification\/classifier models.",
      "type": "object",
      "properties": {
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "confusionMatrixList": {
          "description": "Confusion matrix at different thresholds.",
          "type": "array",
          "items": {
            "$ref": "ConfusionMatrix"
          }
        }
      }
    },
    "ConfusionMatrix": {
      "id": "ConfusionMatrix",
      "description": "Confusion matrix for multi-class classification models.",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "description": "Confidence threshold used when computing the entries of the\nconfusion matrix.",
          "type": "number",
          "format": "double"
        },
        "rows": {
          "description": "One row per actual label.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "Row": {
      "id": "Row",
      "description": "A single row in the confusion matrix.",
      "type": "object",
      "properties": {
        "actualLabel": {
          "description": "The original label of this row.",
          "type": "string"
        },
        "entries": {
          "description": "Info describing predicted label distribution.",
          "type": "array",
          "items": {
            "$ref": "Entry"
          }
        }
      }
    },
    "Entry": {
      "id": "Entry",
      "description": "A single entry in the confusion matrix.",
      "type": "object",
      "properties": {
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold > 0, we will\nalso add an entry indicating the number of items under the\nconfidence threshold.",
          "type": "string"
        },
        "itemCount": {
          "description": "Number of items being predicted as this label.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ClusteringMetrics": {
      "id": "ClusteringMetrics",
      "description": "Evaluation metrics for clustering models.",
      "type": "object",
      "properties": {
        "daviesBouldinIndex": {
          "description": "Davies-Bouldin index.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredDistance": {
          "description": "Mean of squared distances between each sample to its cluster centroid.",
          "type": "number",
          "format": "double"
        },
        "clusters": {
          "description": "[Beta] Information for all clusters.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "Message containing the information about one cluster.",
      "type": "object",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "type": "string",
          "format": "int64"
        },
        "featureValues": {
          "description": "Values of highly variant features for this cluster.",
          "type": "array",
          "items": {
            "$ref": "FeatureValue"
          }
        },
        "count": {
          "description": "Count of training data rows that were assigned to this cluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "FeatureValue": {
      "id": "FeatureValue",
      "description": "Representative value of a single feature within the cluster.",
      "type": "object",
      "properties": {
        "featureColumn": {
          "description": "The feature column name.",
          "type": "string"
        },
        "numericalValue": {
          "description": "The numerical feature value. This is the centroid value for this\nfeature.",
          "type": "number",
          "format": "double"
        },
        "categoricalValue": {
          "description": "The categorical feature value.",
          "$ref": "CategoricalValue"
        }
      }
    },
    "CategoricalValue": {
      "id": "CategoricalValue",
      "description": "Representative value of a categorical feature.",
      "type": "object",
      "properties": {
        "categoryCounts": {
          "description": "Counts of all categories for the categorical feature. If there are\nmore than ten categories, we return top ten (by count) and return\none more CategoryCount with category \"_OTHER_\" and count as\naggregate counts of remaining categories.",
          "type": "array",
          "items": {
            "$ref": "CategoryCount"
          }
        }
      }
    },
    "CategoryCount": {
      "id": "CategoryCount",
      "description": "Represents the count of a single category within the cluster.",
      "type": "object",
      "properties": {
        "category": {
          "description": "The name of category.",
          "type": "string"
        },
        "count": {
          "description": "The count of training samples matching the category within the\ncluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RankingMetrics": {
      "id": "RankingMetrics",
      "description": "Evaluation metrics used by weighted-ALS models specified by\nfeedback_type=implicit.",
      "type": "object",
      "properties": {
        "meanAveragePrecision": {
          "description": "Calculates a precision per user for all the items by ranking them and\nthen averages all the precisions across all the users.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredError": {
          "description": "Similar to the mean squared error computed in regression and explicit\nrecommendation models except instead of computing the rating directly,\nthe output from evaluate is computed against a preference which is 1 or 0\ndepending on if the rating exists or not.",
          "type": "number",
          "format": "double"
        },
        "normalizedDiscountedCumulativeGain": {
          "description": "A metric to determine the goodness of a ranking calculated from the\npredicted confidence by comparing it to an ideal rank measured by the\noriginal ratings.",
          "type": "number",
          "format": "double"
        },
        "averageRank": {
          "description": "Determines the goodness of a ranking by computing the percentile rank\nfrom the predicted confidence and dividing it by the original rank.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "DataSplitResult": {
      "id": "DataSplitResult",
      "description": "Data split result. This contains references to the training and evaluation\ndata tables that were used to train the model.",
      "type": "object",
      "properties": {
        "trainingTable": {
          "description": "Table reference of the training data after split.",
          "$ref": "TableReference"
        },
        "evaluationTable": {
          "description": "Table reference of the evaluation data after split.",
          "$ref": "TableReference"
        }
      }
    },
    "StandardSqlField": {
      "id": "StandardSqlField",
      "description": "A field or a column.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The name of this field. Can be absent for struct fields.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of this parameter. Absent if not explicitly\nspecified (e.g., CREATE FUNCTION statement can omit the return type;\nin this case the output parameter does not have this \"type\" field).",
          "$ref": "StandardSqlDataType"
        }
      }
    },
    "StandardSqlDataType": {
      "id": "StandardSqlDataType",
      "description": "The type of a variable, e.g., a function argument.\nExamples:\nINT64: {type_kind=\"INT64\"}\nARRAY<STRING>: {type_kind=\"ARRAY\", array_element_type=\"STRING\"}\nSTRUCT<x STRING, y ARRAY<DATE>>:\n  {type_kind=\"STRUCT\",\n   struct_type={fields=[\n     {name=\"x\", type={type_kind=\"STRING\"}},\n     {name=\"y\", type={type_kind=\"ARRAY\", array_element_type=\"DATE\"}}\n   ]}}",
      "type": "object",
      "properties": {
        "typeKind": {
          "description": "Required. The top level type of this field.\nCan be any standard SQL data type (e.g., \"INT64\", \"DATE\", \"ARRAY\").",
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string:\n1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Encoded as a list with types matching Type.array_type.",
            "Encoded as a list with fields of type Type.struct_type[i]. List is used\nbecause a JSON object cannot have duplicate field names."
          ],
          "type": "string",
          "enum": [
            "TYPE_KIND_UNSPECIFIED",
            "INT64",
            "BOOL",
            "FLOAT64",
            "STRING",
            "BYTES",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "DATETIME",
            "GEOGRAPHY",
            "NUMERIC",
            "ARRAY",
            "STRUCT"
          ]
        },
        "arrayElementType": {
          "description": "The type of the array's elements, if type_kind = \"ARRAY\".",
          "$ref": "StandardSqlDataType"
        },
        "structType": {
          "description": "The fields of this struct, in order, if type_kind = \"STRUCT\".",
          "$ref": "StandardSqlStructType"
        }
      }
    },
    "StandardSqlStructType": {
      "id": "StandardSqlStructType",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        }
      }
    },
    "ListModelsResponse": {
      "id": "ListModelsResponse",
      "type": "object",
      "properties": {
        "models": {
          "description": "Models in the requested dataset. Only the following fields are populated:\nmodel_reference, model_type, creation_time, last_modified_time and\nlabels.",
          "type": "array",
          "items": {
            "$ref": "Model"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      }
    },
    "JobCancelResponse": {
      "id": "JobCancelResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The resource type of the response.",
          "type": "string"
        },
        "job": {
          "description": "The final state of the job.",
          "$ref": "Job"
        }
      }
    },
    "Job": {
      "id": "Job",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. The type of the resource.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash of this resource.",
          "type": "string"
        },
        "id": {
          "description": "Output only. Opaque ID field of the job.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A URL that can be used to access the resource again.",
          "type": "string"
        },
        "user_email": {
          "description": "Output only. Email address of the user who ran the job.",
          "type": "string"
        },
        "configuration": {
          "description": "Required. Describes the job configuration.",
          "$ref": "JobConfiguration"
        },
        "jobReference": {
          "description": "Optional. Reference describing the unique-per-user name of the job.",
          "$ref": "JobReference"
        },
        "statistics": {
          "description": "Output only. Information about the job, including starting time and ending\ntime of the job.",
          "$ref": "JobStatistics"
        },
        "status": {
          "description": "Output only. The status of this job. Examine this value when polling an\nasynchronous job to see if the job is complete.",
          "$ref": "JobStatus"
        }
      }
    },
    "JobConfiguration": {
      "id": "JobConfiguration",
      "type": "object",
      "properties": {
        "jobType": {
          "description": "Output only. The type of the job. Can be QUERY, LOAD, EXTRACT, COPY or\nUNKNOWN.",
          "type": "string"
        },
        "query": {
          "description": "[Pick one] Configures a query job.",
          "$ref": "JobConfigurationQuery"
        },
        "load": {
          "description": "[Pick one] Configures a load job.",
          "$ref": "JobConfigurationLoad"
        },
        "copy": {
          "description": "[Pick one] Copies a table.",
          "$ref": "JobConfigurationTableCopy"
        },
        "extract": {
          "description": "[Pick one] Configures an extract job.",
          "$ref": "JobConfigurationExtract"
        },
        "dryRun": {
          "description": "[Optional] If set, don't actually run this job. A valid query will return\na mostly empty response with some processing statistics, while an invalid\nquery will return the same error it would if it wasn't a dry run. Behavior\nof non-query jobs is undefined.",
          "type": "boolean"
        },
        "jobTimeoutMs": {
          "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded,\nBigQuery may attempt to terminate the job.",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "description": "The labels associated with this job. You can use these to organize and\ngroup your jobs.\nLabel keys and values can be no longer than 63 characters, can only contain\nlowercase letters, numeric characters, underscores and dashes.\nInternational characters are allowed. Label values are optional.  Label\nkeys must start with a letter and each label in the list must have a\ndifferent key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "JobConfigurationQuery": {
      "id": "JobConfigurationQuery",
      "description": "JobConfigurationQuery configures a BigQuery query job.",
      "type": "object",
      "properties": {
        "query": {
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used\nto indicate whether the query uses legacy SQL or standard SQL.",
          "type": "string"
        },
        "destinationTable": {
          "description": "[Optional] Describes the table where the query results should be stored.\nThis property must be set for large results that exceed the maximum\nresponse size.  For queries that produce anonymous (cached) results, this\nfield will be populated by BigQuery.",
          "$ref": "TableReference"
        },
        "tableDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          }
        },
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "type": "array",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          }
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables.\nThe following values are supported:\n\n* CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the\ntable.\n* CREATE_NEVER: The table must already exist. If it does not,\na 'notFound' error is returned in the job result.\n\nThe default value is CREATE_IF_NEEDED.\nCreation, truncation and append actions occur as one atomic update\nupon job completion.",
          "type": "string"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table\nalready exists. The following values are supported:\n\n* WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the\ntable data and uses the schema from the query result.\n* WRITE_APPEND: If the table already exists, BigQuery appends the data to\nthe table.\n* WRITE_EMPTY: If the table already exists and contains data, a 'duplicate'\nerror is returned in the job result.\n\nThe default value is WRITE_EMPTY. Each action is atomic and only occurs if\nBigQuery is able to complete the job successfully. Creation, truncation and\nappend actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default dataset to use for unqualified\ntable names in the query. Note that this does not alter behavior of\nunqualified dataset names.",
          "$ref": "DatasetReference"
        },
        "priority": {
          "description": "[Optional] Specifies a priority for the query. Possible values include\nINTERACTIVE and BATCH. The default value is INTERACTIVE.",
          "type": "string"
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "allowLargeResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query\nto produce arbitrarily large result tables at a slight cost in performance.\nRequires destinationTable to be set.\nFor standard SQL queries, this flag is ignored and large results are\nalways allowed.  However, you must still set destinationTable when result\nsize exceeds the allowed maximum response size.",
          "type": "boolean"
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query\ncache is a best-effort cache that will be flushed whenever tables in the\nquery are modified. Moreover, the query cache is only available when a\nquery does not have a destination table specified. The default value is\ntrue.",
          "default": "true",
          "type": "boolean"
        },
        "flattenResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested\nand repeated fields in the query results.\nallowLargeResults must be true if this is set to false.\nFor standard SQL queries, this flag is ignored and results are never\nflattened.",
          "type": "boolean"
        },
        "maximumBillingTier": {
          "description": "[Optional] Limits the billing tier for this job. Queries that have resource\nusage beyond this tier will fail (without incurring a charge).\nIf unspecified, this will be set to your project default.",
          "type": "integer",
          "format": "int32"
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have\nbytes billed beyond this limit will fail (without incurring a charge).\nIf unspecified, this will be set to your project default.",
          "type": "string",
          "format": "int64"
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query.\nThe default value is true. If set to false, the query will use\nBigQuery's standard SQL:\nhttps:\/\/cloud.google.com\/bigquery\/sql-reference\/\n\nWhen useLegacySql is set to false, the value of flattenResults is ignored;\nquery will be run as if flattenResults is false.",
          "type": "boolean"
        },
        "parameterMode": {
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters\nor to NAMED to use named (@myparam) query parameters in this query.",
          "type": "string"
        },
        "queryParameters": {
          "description": "Query parameters for standard SQL queries.",
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect\nof the query job. Schema update options are supported in two cases:\nwhen writeDisposition is WRITE_APPEND;\nwhen writeDisposition is WRITE_TRUNCATE and the destination table is a\npartition of a table, specified by partition decorators. For normal tables,\nWRITE_TRUNCATE will always overwrite the schema.\nOne or more of the following values are specified:\n\n* ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema.\n* ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original\nschema to nullable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for the destination table. Only one\nof timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "rangePartitioning": {
          "description": "[Experimental] Range partitioning specification for the destination table.\nOnly one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "clustering": {
          "description": "[Experimental] Clustering specification for the destination table. Must be\nspecified with time-based partitioning, data in the table will be first\npartitioned and subsequently clustered.",
          "$ref": "Clustering"
        },
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)",
          "$ref": "EncryptionConfiguration"
        },
        "scriptOptions": {
          "description": "Options controlling the execution of scripts.",
          "$ref": "ScriptOptions"
        },
        "connectionProperties": {
          "description": "Connection properties which can modify the query behavior.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          }
        }
      }
    },
    "ExternalDataConfiguration": {
      "id": "ExternalDataConfiguration",
      "type": "object",
      "properties": {
        "sourceUris": {
          "description": "[Required] The fully-qualified URIs that point to your data in Google\nCloud. For Google Cloud Storage URIs:\n  Each URI can contain one '*' wildcard character and it must come after\n  the 'bucket' name.\n  Size limits related to load jobs apply to external data sources.\nFor Google Cloud Bigtable URIs:\n  Exactly one URI can be specified and it has be a fully specified and\n  valid HTTPS URL for a Google Cloud Bigtable table.\nFor Google Cloud Datastore backups, exactly one URI can be specified. Also,\nthe '*' wildcard character is not allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schema": {
          "description": "[Optional] The schema for the data.\nSchema is required for CSV and JSON formats.\nSchema is disallowed for Google Cloud Bigtable, Cloud Datastore backups,\nand Avro formats.",
          "$ref": "TableSchema"
        },
        "sourceFormat": {
          "description": "[Required] The data format.\nFor CSV files, specify \"CSV\".\nFor Google sheets, specify \"GOOGLE_SHEETS\".\nFor newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\".\nFor Avro files, specify \"AVRO\".\nFor Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\".\n[Beta] For Google Cloud Bigtable, specify \"BIGTABLE\".",
          "type": "string"
        },
        "maxBadRecords": {
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when\nreading data. If the number of bad records exceeds this value, an invalid\nerror is returned in the job result. The default value is 0, which requires\nthat all records are valid. This setting is ignored for Google Cloud\nBigtable, Google Cloud Datastore backups and Avro formats.",
          "type": "integer",
          "format": "int32"
        },
        "autodetect": {
          "description": "Try to detect schema and format options automatically.\nAny option specified explicitly will be honored.",
          "type": "boolean"
        },
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not\nrepresented in the table schema.\nIf true, the extra values are ignored.\nIf false, records with extra columns are treated as bad records, and if\nthere are too many bad records, an invalid error is returned in the job\nresult.\nThe default value is false.\nThe sourceFormat property determines what BigQuery treats as an extra\nvalue:\n  CSV: Trailing columns\n  JSON: Named values that don't match any column names\n  Google Cloud Bigtable: This setting is ignored.\n  Google Cloud Datastore backups: This setting is ignored.\n  Avro: This setting is ignored.",
          "type": "boolean"
        },
        "compression": {
          "description": "[Optional] The compression type of the data source.\nPossible values include GZIP and NONE. The default value is NONE.\nThis setting is ignored for Google Cloud Bigtable, Google Cloud Datastore\nbackups and Avro formats. An empty string is an invalid value.",
          "type": "string"
        },
        "csvOptions": {
          "description": "Additional properties to set if sourceFormat is set to CSV.",
          "$ref": "CsvOptions"
        },
        "bigtableOptions": {
          "description": "[Optional] Additional options if sourceFormat is set to BIGTABLE.",
          "$ref": "BigtableOptions"
        },
        "googleSheetsOptions": {
          "description": "[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS.",
          "$ref": "GoogleSheetsOptions"
        },
        "hivePartitioningMode": {
          "description": "[Optional, Trusted Tester] When set, what mode of hive partitioning to use\nwhen reading data.  Two modes are supported.\n* AUTO: automatically infer partition key name(s) and type(s).\n* STRINGS: automatically infer partition key name(s).  All types are\nstrings.\nNot all storage formats support hive partitioning -- requesting hive\npartitioning on an unsupported format will lead to an error.",
          "type": "string"
        },
        "hivePartitioningOptions": {
          "description": "[Optional, Trusted Tester] When set, configures hive partitioning support.\nNot all storage formats support hive partitioning -- requesting hive\npartitioning on an unsupported format will lead to an error, as will\nproviding an invalid specification.",
          "$ref": "HivePartitioningOptions"
        },
        "connectionId": {
          "description": "Optional This field is in testing and should not yet be\nused.",
          "type": "string"
        }
      }
    },
    "TableSchema": {
      "id": "TableSchema",
      "description": "Schema of a table",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Describes the fields in a table.",
          "type": "array",
          "items": {
            "$ref": "TableFieldSchema"
          }
        }
      }
    },
    "TableFieldSchema": {
      "id": "TableFieldSchema",
      "description": "A field in TableSchema",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The field name. The name must contain only letters (a-z, A-Z),\nnumbers (0-9), or underscores (_), and must start with a letter or\nunderscore. The maximum length is 128 characters.",
          "type": "string"
        },
        "type": {
          "description": "Required. The field data type. Possible values include STRING, BYTES,\nINTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), BOOLEAN,\nBOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, RECORD (where\nRECORD indicates that the field contains a nested schema) or STRUCT (same\nas RECORD).",
          "type": "string"
        },
        "mode": {
          "description": "Optional. The field mode. Possible values include NULLABLE, REQUIRED and\nREPEATED. The default value is NULLABLE.",
          "type": "string"
        },
        "fields": {
          "description": "Optional. Describes the nested schema fields if the type property is set\nto RECORD.",
          "type": "array",
          "items": {
            "$ref": "TableFieldSchema"
          }
        },
        "description": {
          "description": "Optional. The field description. The maximum length is 1,024 characters.",
          "type": "string"
        },
        "policyTags": {
          "description": "Optional. The policy tags attached to this field, used for field-level access\ncontrol. If not set, defaults to empty policy_tags.",
          "type": "object",
          "properties": {
            "names": {
              "description": "A list of policy tag resource names. For example,\n\"projects\/1\/locations\/eu\/taxonomies\/2\/policyTags\/3\". At most 1 policy tag\nis currently allowed.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "CsvOptions": {
      "id": "CsvOptions",
      "type": "object",
      "properties": {
        "fieldDelimiter": {
          "description": "[Optional] The separator for fields in a CSV file. BigQuery converts\nthe string to ISO-8859-1 encoding, and then uses the first byte of the\nencoded string to split the data in its raw, binary state. BigQuery also\nsupports the escape sequence \"\\t\" to specify a tab separator.\nThe default value is a comma (',').",
          "type": "string"
        },
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will\nskip when reading the data. The default value is 0. This property is\nuseful if you have header rows in the file that should be skipped.\nWhen autodetect is on, the behavior is the following:\n\n* skipLeadingRows unspecified - Autodetect tries to detect headers in the\n  first row. If they are not detected, the row is read as data. Otherwise\n  data is read starting from the second row.\n* skipLeadingRows is 0 - Instructs autodetect that there are no headers and\n  data should be read starting from the first row.\n* skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect\n  headers in row N. If headers are not detected, row N is just skipped.\n  Otherwise row N is used to extract column names for the detected schema.",
          "type": "string",
          "format": "int64"
        },
        "quote": {
          "description": "[Optional] The value that is used to quote data sections in a CSV file.\nBigQuery converts the string to ISO-8859-1 encoding, and then uses the\nfirst byte of the encoded string to split the data in its raw, binary\nstate.\nThe default value is a double-quote (\").\nIf your data does not contain quoted sections,\nset the property value to an empty string.\nIf your data contains quoted newline characters, you must also set the\nallowQuotedNewlines property to true.",
          "pattern": ".?",
          "type": "string"
        },
        "allowQuotedNewlines": {
          "description": "[Optional] Indicates if BigQuery should allow quoted data sections that\ncontain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "allowJaggedRows": {
          "description": "[Optional] Indicates if BigQuery should accept rows that are missing\ntrailing optional columns. If true, BigQuery treats missing trailing\ncolumns as null values.\nIf false, records with missing trailing columns are treated as bad records,\nand if there are too many bad records, an invalid error is returned in the\njob result. The default value is false.",
          "type": "boolean"
        },
        "encoding": {
          "description": "[Optional] The character encoding of the data.\nThe supported values are UTF-8 or ISO-8859-1. The default value is UTF-8.\nBigQuery decodes the data after the raw, binary data has been split using\nthe values of the quote and fieldDelimiter properties.",
          "type": "string"
        }
      }
    },
    "BigtableOptions": {
      "id": "BigtableOptions",
      "type": "object",
      "properties": {
        "columnFamilies": {
          "description": "[Optional] List of column families to expose in the table schema along with\ntheir types.\nThis list restricts the column families that can be referenced in queries\nand specifies their value types.\nYou can use this list to do type conversions - see the 'type' field for\nmore details.\nIf you leave this list empty, all column families are present in the table\nschema and their values are read as BYTES.\nDuring a query only the column families referenced in that query are read\nfrom Bigtable.",
          "type": "array",
          "items": {
            "$ref": "BigtableColumnFamily"
          }
        },
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not\nspecified in columnFamilies list are not exposed in the table schema.\nOtherwise, they are read with BYTES type values.\nThe default value is false.",
          "type": "boolean"
        },
        "readRowkeyAsString": {
          "description": "[Optional] If field is true, then the rowkey column families will be read\nand converted to string. Otherwise they are read with BYTES type values and\nusers need to manually cast them with CAST if necessary.\nThe default value is false.",
          "type": "boolean"
        }
      }
    },
    "BigtableColumnFamily": {
      "id": "BigtableColumnFamily",
      "type": "object",
      "properties": {
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column family.\nThe values are expected to be encoded using HBase Bytes.toBytes function\nwhen using the BINARY encoding value.\nFollowing BigQuery types are allowed (case-sensitive) -\n  BYTES\n  STRING\n  INTEGER\n  FLOAT\n  BOOLEAN\nDefault type is BYTES.\nThis can be overridden for a specific column by listing that column in\n'columns' and specifying a type for it.",
          "type": "string"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING.\nAcceptable encoding values are:\n  TEXT - indicates values are alphanumeric text strings.\n  BINARY - indicates values are encoded using HBase Bytes.toBytes family of\n           functions.\nThis can be overridden for a specific column by listing that column in\n'columns' and specifying an encoding for it.",
          "type": "string"
        },
        "columns": {
          "description": "[Optional] Lists of columns that should be exposed as individual fields as\nopposed to a list of (column name, value) pairs.\nAll columns whose qualifier matches a qualifier in this list can be\naccessed as <family field name>.<column field name>.\nOther columns can be accessed as a list through <family field name>.Column\nfield.",
          "type": "array",
          "items": {
            "$ref": "BigtableColumn"
          }
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for\nall columns in this column family.\nThis can be overridden for a specific column by listing that column in\n'columns' and specifying a different setting\nfor that column.",
          "type": "boolean"
        }
      }
    },
    "BigtableColumn": {
      "id": "BigtableColumn",
      "type": "object",
      "properties": {
        "qualifierEncoded": {
          "description": "[Required] Qualifier of the column.\nColumns in the parent column family that has this exact qualifier are\nexposed as <family field name>.<column field name> field.\nIf the qualifier is valid UTF-8 string, it can be specified in the\nqualifier_string field.  Otherwise, a base-64 encoded value must be set to\nqualifier_encoded.\nThe column field name is the same as the column qualifier. However, if the\nqualifier is not a valid BigQuery field identifier i.e. does not match\na-zA-Z*, a valid identifier must be provided as field_name.",
          "type": "string",
          "format": "byte"
        },
        "qualifierString": {
          "type": "string"
        },
        "fieldName": {
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e.\ndoes not match a-zA-Z*,  a valid identifier must be provided\nas the column field name and is used as field name in queries.",
          "type": "string"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column.\nThe values are expected to be encoded using HBase Bytes.toBytes function\nwhen using the BINARY encoding value.\nFollowing BigQuery types are allowed (case-sensitive) -\n  BYTES\n  STRING\n  INTEGER\n  FLOAT\n  BOOLEAN\nDefault type is BYTES.\n'type' can also be set at the column family level. However, the setting at\nthis level takes precedence if 'type' is set at both levels.",
          "type": "string"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING.\nAcceptable encoding values are:\n  TEXT - indicates values are alphanumeric text strings.\n  BINARY - indicates values are encoded using HBase Bytes.toBytes family of\n           functions.\n'encoding' can also be set at the column family level. However, the setting\nat this level takes precedence if 'encoding' is set at both levels.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set, only the latest version of value in this column\n            are exposed.\n'onlyReadLatest' can also be set at the column family level. However, the\nsetting at this level takes precedence if 'onlyReadLatest' is set at both\nlevels.",
          "type": "boolean"
        }
      }
    },
    "GoogleSheetsOptions": {
      "id": "GoogleSheetsOptions",
      "type": "object",
      "properties": {
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a sheet that BigQuery will skip\nwhen reading the data. The default value is 0. This property is useful if\nyou have header rows that should be skipped. When autodetect is on,\nthe behavior is the following:\n* skipLeadingRows unspecified - Autodetect tries to detect headers in the\n  first row. If they are not detected, the row is read as data. Otherwise\n  data is read starting from the second row.\n* skipLeadingRows is 0 - Instructs autodetect that there are no headers and\n  data should be read starting from the first row.\n* skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect\n  headers in row N. If headers are not detected, row N is just skipped.\n  Otherwise row N is used to extract column names for the detected schema.",
          "type": "string",
          "format": "int64"
        },
        "range": {
          "description": "[Optional] Range of a sheet to query from. Only used when non-empty.\nTypical format: sheet_name!top_left_cell_id:bottom_right_cell_id\nFor example: sheet1!A1:B20",
          "type": "string"
        }
      }
    },
    "HivePartitioningOptions": {
      "id": "HivePartitioningOptions",
      "description": "Options for configuring hive partitioning detect.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Optional. [Experimental] When set, what mode of hive partitioning to use\nwhen reading data.  Two modes are supported.\n* AUTO: automatically infer partition key name(s) and type(s).\n* STRINGS: automatically infer partition key name(s).  All types are\nNot all storage formats support hive partitioning. Requesting hive\npartitioning on an unsupported format will lead to an error.\nCurrently supported formats are: JSON, CSV, ORC, Avro and Parquet.",
          "type": "string"
        },
        "sourceUriPrefix": {
          "description": "Optional. [Experimental] When hive partition detection is requested,\na common for all source uris must be required.  The prefix must end\nimmediately before the partition key encoding begins.\nFor example, consider files following this data layout.\ngs:\/\/bucket\/path_to_table\/dt=2019-06-01\/country=USA\/id=7\/file.avro\ngs:\/\/bucket\/path_to_table\/dt=2019-05-31\/country=CA\/id=3\/file.avro\nWhen hive partitioning is requested with either AUTO or STRINGS detection,\nthe common prefix can be either of gs:\/\/bucket\/path_to_table or\ngs:\/\/bucket\/path_to_table\/.",
          "type": "string"
        },
        "requirePartitionFilter": {
          "description": "Optional. [Experimental]  If set to true, queries over this table require\na partition filter that can be used for partition elimination to be\nspecified. Note that this field should only be true when creating\na permanent external table or querying a temporary external table.\nHive-partitioned loads with require_partition_filter explicitly set to\ntrue will fail.",
          "default": "false",
          "type": "boolean"
        },
        "fields": {
          "description": "Output only. [Experimental] For permanent external tables, this field is populated with\nthe hive partition keys in the order they were inferred. The types of the\npartition keys can be deduced by checking the table schema (which will\ninclude the partition keys). Not every API will populate this field in the\noutput. For example, Tables.Get will populate it, but Tables.List will not\ncontain this field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UserDefinedFunctionResource": {
      "id": "UserDefinedFunctionResource",
      "type": "object",
      "properties": {
        "resourceUri": {
          "description": "[Pick one] A code resource to load from a Google Cloud Storage URI\n(gs:\/\/bucket\/path).",
          "type": "string"
        },
        "inlineCode": {
          "description": "[Pick one] An inline resource that contains code for a user-defined\nfunction (UDF). Providing a inline code resource is equivalent to providing\na URI for a file containing the same code.",
          "type": "string"
        }
      }
    },
    "QueryParameter": {
      "id": "QueryParameter",
      "description": "A parameter given to a query.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. If unset, this is a positional parameter. Otherwise, should be\nunique within a query.",
          "type": "string"
        },
        "parameterType": {
          "description": "Required. The type of this parameter.",
          "$ref": "QueryParameterType"
        },
        "parameterValue": {
          "description": "Required. The value of this parameter.",
          "$ref": "QueryParameterValue"
        }
      }
    },
    "QueryParameterType": {
      "id": "QueryParameterType",
      "description": "The type of a query parameter.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The top level type of this field.",
          "type": "string"
        },
        "arrayType": {
          "description": "Optional. The type of the array's elements, if this is an array.",
          "$ref": "QueryParameterType"
        },
        "structTypes": {
          "description": "Optional. The types of the fields of this struct, in order, if this is a\nstruct.",
          "type": "array",
          "items": {
            "description": "The type of a struct parameter.",
            "type": "object",
            "properties": {
              "name": {
                "description": "Optional. The name of this field.",
                "type": "string"
              },
              "type": {
                "description": "Required. The type of this field.",
                "$ref": "QueryParameterType"
              },
              "description": {
                "description": "Optional. Human-oriented description of the field.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "QueryParameterValue": {
      "id": "QueryParameterValue",
      "description": "The value of a query parameter.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. The value of this value, if a simple scalar type.",
          "type": "string"
        },
        "arrayValues": {
          "description": "Optional. The array values, if this is an array type.",
          "type": "array",
          "items": {
            "$ref": "QueryParameterValue"
          }
        },
        "structValues": {
          "description": "The struct field values.",
          "type": "object",
          "additionalProperties": {
            "$ref": "QueryParameterValue"
          }
        }
      }
    },
    "TimePartitioning": {
      "id": "TimePartitioning",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The supported types are DAY, which will generate one partition per day,\nand HOUR, which will generate one partition per hour.",
          "type": "string"
        },
        "expirationMs": {
          "description": "Optional. Number of milliseconds for which to keep the storage for a\npartition.\nA wrapper is used here because 0 is an invalid value.",
          "type": "string",
          "format": "int64"
        },
        "field": {
          "description": "Optional. If not set, the table is partitioned by pseudo\ncolumn '_PARTITIONTIME'; if set, the table is partitioned by this field.\nThe field must be a top-level TIMESTAMP or DATE field. Its mode must be\nNULLABLE or REQUIRED.\nA wrapper is used here because an empty string is an invalid value.",
          "type": "string"
        },
        "requirePartitionFilter": {
          "description": "If set to true, queries over this table require a\npartition filter that can be used for partition elimination to be\nspecified. This field is deprecated; please set the field with the same\nname on the table itself instead.\nThis field needs a wrapper because we want to output the default value,\nfalse, if the user explicitly set it.",
          "default": "false",
          "type": "boolean"
        }
      }
    },
    "RangePartitioning": {
      "id": "RangePartitioning",
      "type": "object",
      "properties": {
        "field": {
          "description": "Required. [Experimental] The table is partitioned by this field. The field\nmust be a top-level NULLABLE\/REQUIRED field. The only supported type is\nINTEGER\/INT64.",
          "type": "string"
        },
        "range": {
          "description": "[Experimental] Defines the ranges for range partitioning.",
          "type": "object",
          "properties": {
            "start": {
              "description": "Required. [Experimental] The start of range partitioning, inclusive.",
              "type": "string"
            },
            "end": {
              "description": "Required. [Experimental] The end of range partitioning, exclusive.",
              "type": "string"
            },
            "interval": {
              "description": "Required. [Experimental] The width of each interval.",
              "type": "string"
            }
          }
        }
      }
    },
    "Clustering": {
      "id": "Clustering",
      "description": "Configures table clustering.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "One or more fields on which data should be clustered. Only top-level,\nnon-repeated, simple-type fields are supported. The order of the fields\nwill determine how clusters will be generated, so it is important.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ScriptOptions": {
      "id": "ScriptOptions",
      "type": "object",
      "properties": {
        "statementTimeoutMs": {
          "description": "Timeout period for each statement in a script.",
          "type": "string",
          "format": "int64"
        },
        "statementByteBudget": {
          "description": "Limit on the number of bytes billed per statement. Exceeding this budget\nresults in an error.",
          "type": "string",
          "format": "int64"
        },
        "keyResultStatement": {
          "description": "Determines which statement in the script represents the \"key result\",\nused to populate the schema and query results of the script job.\nDefault is LAST.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "KEY_RESULT_STATEMENT_KIND_UNSPECIFIED",
            "LAST",
            "FIRST_SELECT"
          ]
        }
      }
    },
    "ConnectionProperty": {
      "id": "ConnectionProperty",
      "description": "A connection-level property to customize query behavior. Under JDBC, these\ncorrespond directly to connection properties passed to the DriverManager.\nUnder ODBC, these correspond to properties in the connection string.\n\nCurrently, the only supported connection property is \"time_zone\", whose value\nrepresents the default timezone used to run the query. Additional properties\nare allowed, but ignored. Specifying multiple connection properties with the\nsame key is an error.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key of the property to set.",
          "type": "string"
        },
        "value": {
          "description": "The value of the property to set.",
          "type": "string"
        }
      }
    },
    "JobConfigurationLoad": {
      "id": "JobConfigurationLoad",
      "description": "JobConfigurationLoad contains the configuration properties for loading data\ninto a destination table.",
      "type": "object",
      "properties": {
        "sourceUris": {
          "description": "[Required] The fully-qualified URIs that point to your data in Google\nCloud.\nFor Google Cloud Storage URIs:\n  Each URI can contain one '*' wildcard character and it must come after\n  the 'bucket' name. Size limits related to load jobs apply to external\n  data sources.\nFor Google Cloud Bigtable URIs:\n  Exactly one URI can be specified and it has be a fully specified and\n  valid HTTPS URL for a Google Cloud Bigtable table.\nFor Google Cloud Datastore backups:\n Exactly one URI can be specified. Also, the '*' wildcard character is not\n allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schema": {
          "description": "[Optional] The schema for the destination table. The schema can be\nomitted if the destination table already exists, or if you're loading data\nfrom Google Cloud Datastore.",
          "$ref": "TableSchema"
        },
        "destinationTable": {
          "description": "[Required] The destination table to load the data into.",
          "$ref": "TableReference"
        },
        "destinationTableProperties": {
          "description": "Experimental Properties with which to create the destination\ntable if it is new.",
          "$ref": "DestinationTableProperties"
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables.\nThe following values are supported:\n\n* CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the\ntable.\n* CREATE_NEVER: The table must already exist. If it does not,\na 'notFound' error is returned in the job result.\nThe default value is CREATE_IF_NEEDED.\nCreation, truncation and append actions occur as one atomic update\nupon job completion.",
          "type": "string"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table\nalready exists. The following values are supported:\n\n* WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the\ntable data.\n* WRITE_APPEND: If the table already exists, BigQuery appends the data to\nthe table.\n* WRITE_EMPTY: If the table already exists and contains data, a 'duplicate'\nerror is returned in the job result.\n\nThe default value is WRITE_APPEND.\nEach action is atomic and only occurs if BigQuery is able to complete the\njob successfully.\nCreation, truncation and append actions occur as one atomic update\nupon job completion.",
          "type": "string"
        },
        "nullMarker": {
          "description": "[Optional] Specifies a string that represents a null value in a CSV file.\nFor example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value\nwhen loading a CSV file.\nThe default value is the empty string. If you set this property to a custom\nvalue, BigQuery throws an error if an empty string is present for all data\ntypes except for STRING and BYTE. For STRING and BYTE columns, BigQuery\ninterprets the empty string as an empty value.",
          "type": "string"
        },
        "fieldDelimiter": {
[...]
