.spaceList-pc{
    width: '100%';
    position: 'relative';
    overflow: 'auto';
    max-height: 700;
}

.spaceList-inline {
    display: 'inline';
    color: grey;
}

.spaceList-ul{
    padding:0
}
