.spaceGrid-grid{
    /* background-color: grey; */
    background-size: 100%;
    background-repeat: 'no-repeat';
    border-style: outset;
    border-radius: 7px;
}

.spaceGrid-grid-static{
    /* background-color: #ffffcc; */
    background-size: 100%;
    background-repeat: 'no-repeat';
    border-style: outset;
    border-radius: 7px;
}


.spaceGrid-select{
    position: "absolute";
    right: "2px";
    top: 0;
    cursor: "pointer";
}

.spaceGrid-editPanel{
    position: absolute;
    bottom: 0;
    right: 0;
    /* background-color: white; */
    background: rgb(255, 255, 255,0.7);
    border-radius: 25px;
    border: 1px dashed;
}

.spaceGrid-idPanel{
    background-color: white;
    border: 1px dashed blue;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    width: 40px;
}

.spaceGrid-newIdPanel{
    background-color: white;
    border: 1px dashed red;
    color: red;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    width: 90px;
}
