.spaceGrid-grid{
    background-color: #BFC9CA;
    background-position: center;
    background-repeat: no-repeat;
    border-style: outset;
    border-radius: 7px;
}

.spaceGrid-grid-static{
    background-color: #ffffcc;
    background-position: center;
    background-repeat: no-repeat;
    border-style: outset;
    border-radius: 7px;
}


.spaceGrid-changeMode{
    top: 12px;
}

.spaceGrid-editPanel{
    position: absolute;
    bottom: 0;
    /* background-color: white; */
    background: rgb(255, 255, 255,0.7);
    border-radius: 25px;
    border: 1px dashed;
}


.spaceGrid-dragTips{
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
}


.spaceGrid-idPanel{
    background-color: white;
    border: 1px dashed blue;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    width: 40px;
}

.spaceGrid-newIdPanel{
    background-color: white;
    border: 1px dashed red;
    color: red;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    width: 90px;
}
